Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Compact tooltip in maps
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/types.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
  src/shared/types/config/wizard/index.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/wizard/index.ts
  src/shared/types/wizard/misc.ts
  src/ui/libs/DatalensChartkit/ChartKit/modules/yandex-map/yandex-map.js
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/utils.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/wizard/actions/tooltip.ts
  src/ui/units/wizard/actions/visualization.ts
  src/ui/units/wizard/components/Dialogs/DialogTooltipSettings/DialogTooltipSettings.scss
  src/ui/units/wizard/components/Dialogs/DialogTooltipSettings/DialogTooltipSettings.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/TooltipsPlaceholder/TooltipsPlaceholder.tsx
  src/ui/units/wizard/reducers/visualization.ts
  src/ui/units/wizard/selectors/visualization.ts
  src/ui/units/wizard/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/ui/libs/DatalensChartkit/ChartKit/modules/yandex-map/yandex-map.js
  src/ui/units/wizard/components/Dialogs/DialogTooltipSettings/DialogTooltipSettings.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/TooltipsPlaceholder/TooltipsPlaceholder.tsx
  src/ui/units/wizard/selectors/visualization.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix lang in DLUserSettings type
  src/shared/types/common.ts
  src/ui/components/AsideHeaderAdapter/Settings/LanguageSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translations update from Weblate Gravity for PR #1492 (#1544)
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
Due: none

Revert to link
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/components/DialogChangeDatasetFields/DialogChangeDatasetFields.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (Russian)
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
Due: none

Translations update from Weblate Gravity for PR #1492 (#1548)
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
Due: none

Fix ready state called before element is loaded (#1545)
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2106.0 [release]
  package-lock.json
  package.json
Due: none

fix geopolygon tooltips
  src/server/modes/charts/plugins/datalens/preparers/geopolygon.ts
  src/shared/constants/visualization.ts
  src/ui/units/wizard/components/Dialogs/DialogField/utils/misc.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix type
  src/server/modes/charts/plugins/datalens/preparers/geopolygon.ts
Due: none

Remove flag usage for wizard and ql runners
  src/server/components/features/features-list/QlChartRunner.ts
  src/server/components/features/features-list/WorkerChartBuilder.ts
  src/shared/types/feature.ts
Due: none

Fix dash img bg
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Due: prettier --write, stylelint --fix --quiet

Remove flag usage for wizard and ql runners (#1549)
  src/server/components/features/features-list/QlChartRunner.ts
  src/server/components/features/features-list/WorkerChartBuilder.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.2107.0 [release]
  package-lock.json
  package.json
Due: none

Fix note p margin in yfm
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Due: prettier --write, stylelint --fix --quiet

Clickable links in labels (markup)
  package-lock.json
  package.json
  src/server/components/features/features-list/MarkupInLabels.ts
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/server/modes/charts/plugins/datalens/config/types.ts
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
Due: none

fix
  src/server/components/features/features-list/MarkupInLabels.ts
Due: none

Fix dash img bg (#1550)
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.2108.0 [release]
  package-lock.json
  package.json
Due: none

Clickable links in labels (markup) + up @gravity-ui/chartkit 5.11.2 -> 5.12.0 (#1552)
  package-lock.json
  package.json
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/server/modes/charts/plugins/datalens/config/types.ts
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
Due: none

Bump version to 0.2109.0 [release]
  package-lock.json
  package.json
Due: none

Fix note p margin in yfm (#1551)
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.2110.0 [release]
  package-lock.json
  package.json
Due: none

если пользователь базовый (в данный момент master) то дать ему возможность менять только пароль.
  src/ui/datalens/pages/AdminPage/UserAdminFields.jsx
  src/ui/datalens/pages/AdminPage/UsersPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed saving as a picture for empty tables
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/useCellSizes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

update snapsht
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-screenshot-1.png
Due: none

fix test
  tests/opensource-suites/ql/visualizations/flat-table/column-settings.test.ts
Due: none

fix type
  tests/opensource-suites/ql/visualizations/flat-table/column-settings.test.ts
Due: none

Fixed saving as a picture for empty tables (#1553)
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/useCellSizes.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-screenshot-1.png
  tests/opensource-suites/ql/visualizations/flat-table/column-settings.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2111.0 [release]
  package-lock.json
  package.json
Due: none

Enable markup and markdown in fields without using the flag
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepare-bar-x.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap.ts
  src/ui/constants/visualizations/pie.ts
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/utils/visualizations/line.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

remove from Feature
  src/server/components/features/features-list/MarkupInLabels.ts
  src/server/components/features/features-list/WizardMarkdownFields.ts
  src/shared/types/feature.ts
Due: none

fix test
  src/server/modes/charts/plugins/datalens/preparers/line/__tests__/mocks/line.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/mocks/pie.mock.ts
Due: none

теперь для пользователя datalens доступны для включения только права на чтение элементов dl.
  src/i18n-keysets/component.open-dialog-assign-claims/en.json
  src/i18n-keysets/component.open-dialog-assign-claims/ru.json
  src/ui/components/OpenDialogAssignClaims/OpenDialogAssignClaims.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add data-print-hidden attribute
  src/shared/constants/index.ts
  src/shared/constants/print.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Paginator/Paginator.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix scroll in CollectionStructureDialog, when denied and empty state
  src/ui/components/CollectionsStructure/CollectionStructureDialog/StructureItemSelect/StructureItemSelect.scss
  src/ui/components/CollectionsStructure/CollectionStructureDialog/StructureItemSelect/StructureItemSelect.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add data-print-hidden attribute (#1555)
  src/shared/constants/index.ts
  src/shared/constants/print.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Paginator/Paginator.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2112.0 [release]
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
