Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Support goTo click event for HC
  src/shared/types/chartkit/dl-chartkit.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1893.0 [release]
  package-lock.json
  package.json
Due: none

Support group controls in old links
  src/ui/units/dash/containers/Dialogs/Connections/Connections.js
  src/ui/units/dash/containers/Dialogs/Connections/Item/Item.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add ce bundle
  ce-bundle.webpack.config.js
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/bundled-libs.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/index.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/libs/bundle.ts
Due: none

Support group controls in old links (#1294)
  src/ui/units/dash/containers/Dialogs/Connections/Connections.js
  src/ui/units/dash/containers/Dialogs/Connections/Item/Item.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1894.0 [release]
  package-lock.json
  package.json
Due: none

Fix sandbox V2 modules error
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-modules-sandbox.ts
Due: none

fix
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-modules-sandbox.ts
Due: none

Fix sanbox modules error (#1295)
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-modules-sandbox.ts
Due: none

Bump version to 0.1895.0 [release]
  package-lock.json
  package.json
Due: none

Fix items selector in connections for group control
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix after review
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add dash fixed header feature flag
  src/server/components/features/features-list/EnableDashFixedHeader.ts
  src/shared/types/feature.ts
Due: none

Create dataset dialog on error fix (#1290)
  src/ui/units/datasets/containers/Dataset/Dataset.js
  src/ui/units/datasets/store/actions/creators/dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1896.0 [release]
  package-lock.json
  package.json
Due: none

Use unset min-height for dashes only on message event
  src/ui/styles/dash.scss
  src/ui/units/dash/containers/App/App.scss
  src/ui/units/dash/hooks/useIframeFeatures.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove unused args
  src/ui/units/dash/hooks/useIframeFeatures.tsx
  src/ui/units/dash/modules/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add dash fixed header feature flag (#1297)
  src/server/components/features/features-list/EnableDashFixedHeader.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.1897.0 [release]
  package-lock.json
  package.json
Due: none

Fix items selector in connections for group control (#1296)
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1898.0 [release]
  package-lock.json
  package.json
Due: none

Add flag
  src/server/components/features/features-list/RemoveEmbedUnsetDashHeight.ts
  src/shared/types/feature.ts
  src/ui/units/dash/containers/App/App.scss
  src/ui/units/dash/containers/App/App.tsx
  src/ui/units/dash/hooks/useIframeFeatures.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

add description to search and i18n
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Removing EnableDashDNDPanel check in code
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Use unset min-height for dashes only on message event & add flag RemoveEmbedUnsetDashHeight (#1298)
  src/server/components/features/features-list/RemoveEmbedUnsetDashHeight.ts
  src/shared/types/feature.ts
  src/ui/styles/dash.scss
  src/ui/units/dash/containers/App/App.scss
  src/ui/units/dash/containers/App/App.tsx
  src/ui/units/dash/hooks/useIframeFeatures.tsx
  src/ui/units/dash/modules/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1899.0 [release]
  package-lock.json
  package.json
Due: none

Support goTo click event for HC (#1293)
  src/shared/types/chartkit/dl-chartkit.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1900.0 [release]
  package-lock.json
  package.json
Due: none

wip
  .eslintignore
  ce-bundle.webpack.config.js
  ce-dist/bundle.js
  ce-dist/bundled-libs.js
  package-lock.json
  package.json
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/index.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/libs/bundle.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/libs/dataset-v2-prepare.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/libs/dataset-v2.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-tab-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/prepare.ts
  src/server/modes/charts/plugins/dataset/v2.ts
Due: none

wip
  .gitignore
  ce-dist/bundle.js
  ce-dist/bundled-libs.js
Due: none

add selector for debug
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add id sorting
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Removing EnableDashDNDPanel check in code (#1299)
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1901.0 [release]
  package-lock.json
  package.json
Due: none

Removing EnableDashDNDPanel flag
  src/server/components/features/features-list/EnableDashDNDPanel.ts
  src/shared/types/feature.ts
Due: none

Update @gravity-ui/dashkit 8.8.1 -> 8.9.0
  package-lock.json
  package.json
Due: none

Update @gravity-ui/dashkit 8.8.1 -> 8.9.0 (#1301)
  package-lock.json
  package.json
Due: none

Bump version to 0.1902.0 [release]
  package-lock.json
  package.json
Due: none

add sort to dropdown
  src/ui/units/wizard/components/AddField/AddField.tsx
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/AddField/AddField.tsx
  src/ui/units/wizard/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
