Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2051.0 [release]
  package-lock.json
  package.json
Due: none

Add collectChartkitStats to sdk (#1472)
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/types/dash.ts
  src/shared/types/charts.ts
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/ChartsInsights/ChartsInsights.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Inspector/Timings/Timings.tsx
  src/ui/libs/DatalensChartkit/components/SideMarkdown/SideMarkdown.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/register.tsx
  src/ui/units/dash/modules/pushStats.ts
  src/ui/utils/getDistinctsApiV2.ts
  src/ui/utils/renderMarkdown.ts
  src/ui/utils/sdkRequests.ts
  tests/suites/dash/statistics/collectChartStats.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2052.0 [release]
  package-lock.json
  package.json
Due: none

Connector form fixes (#1475)
  src/ui/units/connections/components/ConnectorForm/ConnectorForm.tsx
  src/ui/units/connections/components/ConnectorForm/FormActions/selectors.ts
  src/ui/units/connections/components/ConnectorForm/components/Select/Select.tsx
  src/ui/units/connections/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2053.0 [release]
  package-lock.json
  package.json
Due: none

Fix row grouping with markup values
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/useCellSizes.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Grouping-rows-with-markup-values-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pivot-table/header.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Enable new table
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
Due: none

Fix row grouping with markup values (#1479)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/useCellSizes.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Grouping-rows-with-markup-values-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pivot-table/header.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2054.0 [release]
  package-lock.json
  package.json
Due: none

Fix autoheight controls in fixed header and minimal area for default dash group
  src/ui/components/DashKit/constants.ts
  src/ui/components/DashKit/utils.ts
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix autoheight controls in fixed header and minimal area for default group (#1482)
  src/ui/components/DashKit/constants.ts
  src/ui/components/DashKit/utils.ts
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2055.0 [release]
  package-lock.json
  package.json
Due: none

Add bundle for libs/datalens
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/bundled-libs.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/require-shim.ts
  src/server/components/charts-engine/runners/editor.ts
  src/server/modes/charts/plugins/datalens/chart-editor-module.ts
  src/server/modes/charts/plugins/datalens/js/index.ts
  src/server/modes/charts/plugins/datalens/js/js-v1.5-private.ts
  src/server/modes/charts/plugins/datalens/js/js-v1.5.ts
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/datalens/utils/constants.ts
  src/server/modes/charts/plugins/ql/utils/constants.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/server/modes/charts/plugins/ql/utils/value-helpers.ts
Due: none

Add Markup support in Labels
  src/server/components/features/features-list/MarkupInLabels.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepare-bar-x.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/prepareLines.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/types.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
  src/server/modes/charts/plugins/datalens/utils/misc-helpers.ts
  src/shared/constants/index.ts
  src/shared/constants/markup.ts
  src/shared/types/feature.ts
  src/shared/utils/index.ts
  src/shared/utils/markup.ts
  src/ui/constants/visualizations/pie.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/utils/visualizations/line.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove EnableFavoritesNameAliases feature flag
  src/server/components/features/features-list/EnableFavoritesNameAliases.ts
  src/shared/types/feature.ts
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/Navigation/Core/TableView/Row/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add `libs/datalens/v3` bundle (#1481)
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/bundled-libs.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/require-shim.ts
  src/server/components/charts-engine/runners/editor.ts
  src/server/modes/charts/plugins/datalens/chart-editor-module.ts
  src/server/modes/charts/plugins/datalens/js/index.ts
  src/server/modes/charts/plugins/datalens/js/js-v1.5-private.ts
  src/server/modes/charts/plugins/datalens/js/js-v1.5.ts
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/datalens/utils/constants.ts
  src/server/modes/charts/plugins/ql/utils/constants.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/server/modes/charts/plugins/ql/utils/value-helpers.ts
Due: none

Bump version to 0.2056.0 [release]
  package-lock.json
  package.json
Due: none

Return EnableFavoritesNameAliases
  src/server/components/features/features-list/EnableFavoritesNameAliases.ts
  src/shared/types/feature.ts
Due: none

Remove on of forbidden fields from api run
  src/server/components/charts-engine/controllers/embeds.ts
Due: none

Remove EnableFavoritesNameAliases feature flag (#1484)
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/Navigation/Core/TableView/Row/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2057.0 [release]
  package-lock.json
  package.json
Due: none

Remove EnableFavoritesNameAliases feature flag
  src/server/components/features/features-list/EnableFavoritesNameAliases.ts
  src/shared/types/feature.ts
Due: none

Add Markup support in Labels (#1483)
  src/server/components/features/features-list/MarkupInLabels.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepare-bar-x.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/prepareLines.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/types.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
  src/server/modes/charts/plugins/datalens/utils/misc-helpers.ts
  src/shared/constants/index.ts
  src/shared/constants/markup.ts
  src/shared/types/feature.ts
  src/shared/utils/index.ts
  src/shared/utils/markup.ts
  src/ui/constants/visualizations/pie.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/utils/visualizations/line.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2058.0 [release]
  package-lock.json
  package.json
Due: none

Remove one of forbidden fields from api run (#1485)
  src/server/components/charts-engine/controllers/embeds.ts
Due: none

Bump version to 0.2059.0 [release]
  package-lock.json
  package.json
Due: none

Remove EnableFavoritesNameAliases feature flag (#1486)
  src/server/components/features/features-list/EnableFavoritesNameAliases.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.2060.0 [release]
  package-lock.json
  package.json
Due: none

Add i18n keysets
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/components/DialogChangeDatasetFields/DialogChangeDatasetFields.scss
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/components/DialogChangeDatasetFields/DialogChangeDatasetFields.tsx
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/components/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Replace icon for alert tooltip
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/AlertTooltip/AlertTooltip.scss
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/AlertTooltip/AlertTooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix for getLoadedData
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api.ts
Due: none

wip
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api.ts
Due: none

Fix elements autoheight disable recalculate height
  src/ui/components/DashKit/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update ShareButton props (#1457)
  src/ui/units/dash/components/ShareButton/ShareButton.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2061.0 [release]
  package-lock.json
  package.json
Due: none

Add menuType to editor preview
  src/ui/libs/DatalensChartkit/menu/Menu.tsx
  src/ui/units/editor/components/Preview/Preview.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Revert "Update ShareButton props (#1457)"
  src/ui/units/dash/components/ShareButton/ShareButton.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix for getLoadedData (#1488)
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api.ts
Due: none

Bump version to 0.2062.0 [release]
  package-lock.json
  package.json
Due: none

Fix elements autoheight disable recalculate height (#1489)
  src/ui/components/DashKit/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
