Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Fix
  src/shared/utils/array/assert-non-empty-array.ts
  src/shared/utils/array/index.ts
Due: none

Fix
  src/shared/utils/array/assert-non-empty-array.ts
Due: none

Fix
  src/shared/schema/us/schemas/entries/list-directory.ts
Due: none

Поменял стиль авторизации на базовый
  src/i18n-keysets/auth.sign-in-custom/en.json
  src/i18n-keysets/auth.sign-in-custom/ru.json
  src/i18n-keysets/pages.auth/en.json
  src/i18n-keysets/pages.auth/ru.json
  src/ui/datalens/pages/AuthPage/CustomAuthPage.jsx
  src/ui/datalens/pages/AuthPage/CustomAuthPage.tsx
  src/ui/registry/units/auth/types/components/CustomSignin.ts
  src/ui/units/auth/components/Signin/CustomSignin.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add access dialog func and component
  src/i18n-keysets/component.iam-access-dialog/en.json
  src/i18n-keysets/component.iam-access-dialog/ru.json
  src/shared/schema/extensions/types/iam-access-dialog.ts
  src/ui/components/MultiSelectInput/MultiSelectInput.scss
  src/ui/components/MultiSelectInput/index.tsx
  src/ui/registry/units/common/components-map.tsx
  src/ui/registry/units/common/types/components/AclSubjectSelect.ts
  src/ui/registry/units/common/types/functions/useSubjectsListId.ts
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

improve layout
  src/i18n-keysets/dash.widget-dialog.edit/en.json
  src/i18n-keysets/dash.widget-dialog.edit/ru.json
  src/ui/components/ControlComponents/TwoColumnDialog/TwoColumnDialog.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogGroupControl/DialogGroupControl.scss
  src/ui/components/TabMenu/TabMenu.scss
  src/ui/components/TabMenu/TabMenu.tsx
  src/ui/components/TabMenu/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

remove comment
  src/ui/components/TabMenu/TabMenu.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix chart recipe for tables
  src/shared/types/config/wizard/index.ts
  src/ui/units/wizard/utils/chart-recipe/index.ts
  src/ui/units/wizard/utils/chart-recipe/map-from-recipe.ts
  src/ui/units/wizard/utils/chart-recipe/map-ro-recipe.ts
  src/ui/units/wizard/utils/chart-recipe/slice.js
  src/ui/units/wizard/utils/chart-recipe/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Поправил баг при назначении связанных прав, сгруппировал доступы по ролям.
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
  src/ui/datalens/pages/AuthPage/CustomAuthPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

rename dialog create connection
  src/ui/components/CollectionsStructure/CreateEntryInCollectionDialog.tsx
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/connections/components/ConnectorForm/FormActions/FormActions.tsx
  src/ui/units/connections/components/Page/components/S3BasedConnButton.tsx
  src/ui/units/connections/components/dialogs/CreateConnectionInWbOrCollection/CreateConnectionInWbOrCollection.tsx
  src/ui/units/connections/components/dialogs/index.ts
  src/ui/units/connections/components/hooks/useCreationHandler/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Return show-title field
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix test
  tests/opensource-suites/dataset/field-settings/colors.test.ts
Due: none

fix
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/WizardActionPanel.tsx
  src/ui/units/wizard/utils/chart-recipe/index.ts
  src/ui/units/wizard/utils/chart-recipe/map-to-recipe.ts
  src/ui/units/wizard/utils/chart-recipe/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix assign the same color to several fields in a row (#3084)
  src/shared/constants/qa/datasets.ts
  src/ui/units/datasets/components/ColorsDialog/ColorsDialog.scss
  src/ui/units/datasets/components/ColorsDialog/ColorsDialog.tsx
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/columns/FieldSettings.tsx
  src/ui/units/datasets/components/DatasetTable/columns/Title.tsx
  src/ui/units/datasets/components/DatasetTable/components/TableTextInput.tsx
  src/ui/units/datasets/components/FieldSettingsDialog/FieldSettingsDialog.tsx
  tests/opensource-suites/dataset/field-settings/colors.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3438.0 [release]
  package-lock.json
  package.json
Due: none

add new access roles translations
  src/i18n-keysets/component.iam-access-dialog/en.json
  src/i18n-keysets/component.iam-access-dialog/ru.json
Due: none

Fix chart recipe for tables (#3092)
  src/shared/types/config/wizard/index.ts
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/WizardActionPanel.tsx
  src/ui/units/wizard/utils/chart-recipe/index.ts
  src/ui/units/wizard/utils/chart-recipe/map-from-recipe.ts
  src/ui/units/wizard/utils/chart-recipe/map-to-recipe.ts
  src/ui/units/wizard/utils/chart-recipe/slice.js
  src/ui/units/wizard/utils/chart-recipe/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3439.0 [release]
  package-lock.json
  package.json
Due: none

fix connection destination arguments
  src/ui/registry/units/connections/types/getNewConnectionDestination.ts
  src/ui/units/connections/components/ConnectorForm/FormActions/FormActions.tsx
  src/ui/units/connections/utils/entry.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix destination arguments in s3
  src/ui/units/connections/components/Page/components/S3BasedConnButton.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

review fixes
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/MarkdownControl/MarkdownControl.tsx
  src/ui/components/TabMenu/TabMenu.scss
  src/ui/components/TabMenu/TabMenu.tsx
  src/ui/registry/units/common/types/components/MarkdownControl.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix scroll in dialog without sidebar
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

refactor ConnectionsPage test object
  tests/page-objects/connections/ConnectionsPage.ts
Due: none

Refactor ConnectionsPage test object (#3094)
  tests/page-objects/connections/ConnectionsPage.ts
Due: none

Bump version to 0.3440.0 [release]
  package-lock.json
  package.json
Due: none

Add creation shared connection (#3090)
  src/server/components/features/features-list/EnableSharedEntries.ts
  src/shared/schema/us/types/collections.ts
  src/shared/types/feature.ts
  src/ui/components/CollectionsStructure/CreateEntryInCollectionDialog.tsx
  src/ui/components/CollectionsStructure/index.ts
  src/ui/components/EntryDialogues/DialogCreateWorkbookEntry/DialogCreateWorkbookEntry.tsx
  src/ui/constants/workbooks.ts
  src/ui/registry/units/connections/types/getNewConnectionDestination.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/collections/components/CollectionActions/CollectionActions.scss
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/connections/components/ConnectorForm/FormActions/FormActions.tsx
  src/ui/units/connections/components/ConnectorsList/ConnectorsList.tsx
  src/ui/units/connections/components/ConnectorsList/ListItem.tsx
  src/ui/units/connections/components/ConnectorsList/utils/index.ts
  src/ui/units/connections/components/Page/components/S3BasedConnButton.tsx
  src/ui/units/connections/components/Router/Router.tsx
  src/ui/units/connections/components/dialogs/CreateConnectionInWbOrCollection/CreateConnectionInWbOrCollection.tsx
  src/ui/units/connections/components/dialogs/index.ts
  src/ui/units/connections/components/hooks/useCreationHandler/index.ts
  src/ui/units/connections/constants/form.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/actions/s3-based.ts
  src/ui/units/connections/utils/entry.ts
  src/ui/utils/index.ts
  src/ui/utils/workbooks.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3441.0 [release]
  package-lock.json
  package.json
Due: none

adding renderSubject prop for custom subject rendering
  src/ui/registry/units/common/types/components/AclSubjectSelect.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Dash public api actions
  src/server/components/sdk/dash.ts
  src/server/components/workbook-transfer/dash.ts
  src/server/controllers/workbook-transfer.ts
  src/shared/modules/dash-scheme-converter.ts
  src/shared/schema/mix/actions/dash/create-dashboard.ts
  src/shared/schema/mix/actions/dash/delete-dashboard.ts
  src/shared/schema/mix/actions/dash/get-dashboard.ts
  src/shared/schema/mix/actions/dash/index.ts
  src/shared/schema/mix/actions/dash/update-dashboard.ts
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/actions/entries.ts
  src/shared/schema/mix/schemas/dash.ts
  src/shared/schema/mix/types/dash.ts
  src/shared/schema/mix/utils/__tests__/editor.test.ts
  src/shared/schema/mix/utils/dash/index.ts
  src/shared/schema/mix/utils/dash/migrate-dash-to-v1.ts
  src/shared/schema/mix/utils/editor/index.ts
  src/shared/schema/mix/utils/editor/validation.ts
  src/shared/schema/mix/utils/entries.ts
  src/shared/schema/mix/utils/index.ts
  src/shared/schema/mix/utils/validation.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/useDialogPublicState.ts
  src/ui/units/dash/store/actions/base/actions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Redesign chart widget settings dialog (#3089)
  src/i18n-keysets/dash.widget-dialog.edit/en.json
  src/i18n-keysets/dash.widget-dialog.edit/ru.json
  src/ui/components/ControlComponents/TwoColumnDialog/TwoColumnDialog.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogGroupControl/DialogGroupControl.scss
  src/ui/components/MarkdownControl/MarkdownControl.tsx
  src/ui/components/TabMenu/TabMenu.scss
  src/ui/components/TabMenu/TabMenu.tsx
  src/ui/components/TabMenu/types.ts
  src/ui/registry/units/common/types/components/MarkdownControl.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3442.0 [release]
  package-lock.json
  package.json
Due: none

Dash public api actions
  src/server/components/public-api/config/v0.ts
  src/shared/schema/mix/actions/dash/get-dashboard-v1.ts
  src/shared/schema/mix/actions/dash/index.ts
Due: none

Fix
  src/shared/schema/us/actions/editor.ts
  src/shared/schema/us/types/editor.ts
Due: none

Extend InterpolatedTextComponent with code
  src/ui/components/InterpolatedText/InterpolatedText.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Extend InterpolatedTextComponent with code (#3096)
  src/ui/components/InterpolatedText/InterpolatedText.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3443.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/chartkit 7.20.0 > 7.21.0
  package-lock.json
  package.json
Due: none

Fix dialog field height
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.scss
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix dialog field height (#3098)
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.scss
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3444.0 [release]
  package-lock.json
  package.json
Due: none
