Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fixes
  src/server/components/charts-engine/components/storage/base.ts
  src/server/components/charts-engine/components/storage/united-storage/provider.ts
  src/server/components/charts-engine/controllers/embedded-entry.ts
Due: none

Temporarily remove new dialog from registry
  src/ui/components/DialogCreateTextWidget/index.tsx
  src/ui/registry/units/dash/register.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed header
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Small typings fix
  src/ui/components/DialogCreateTextWidget/DialogCreateTextWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

@gravity-ui/dashkit 8.3.0 -> 8.5.0-beta.1
  package-lock.json
  package.json
Due: none

Add feature flag - MassRemoveCollectionsWorkbooks
  src/server/components/features/features-list/MassRemoveCollectionsWorkbooks.ts
  src/shared/types/feature.ts
  src/ui/units/collections/components/CollectionBatchPanel/CollectionBatchPanel.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fixed header styles editMode
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix dash transitions
  src/ui/components/DashKit/DashKit.scss
Due: prettier --write, stylelint --fix --quiet

Add feature flag - MassRemoveCollectionsWorkbooks (#1241)
  src/server/components/features/features-list/MassRemoveCollectionsWorkbooks.ts
  src/shared/types/feature.ts
  src/ui/units/collections/components/CollectionBatchPanel/CollectionBatchPanel.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1838.0 [release]
  package-lock.json
  package.json
Due: none

PR fixes
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogChartWidget/TabMenu/TabMenu.scss
  src/ui/components/DialogChartWidget/TabMenu/TabMenu.tsx
  src/ui/components/DialogChartWidget/TabMenu/types.ts
  src/ui/components/DialogTextWidget/DialogTextWidget.scss
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTextWidget/index.tsx
  src/ui/components/ListWithMenu/ListWithMenu.tsx
  src/ui/registry/units/dash/components-map.tsx
  src/ui/registry/units/dash/register.tsx
  src/ui/units/dash/containers/Dialogs/Dialogs.js
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

More pr fixes
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move renderHtml to shared (#1230)
  src/server/components/charts-engine/components/markdown.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/controllers/markdown.ts
  src/shared/modules/markdown/markdown-plugins/unify-terms.ts
  src/shared/modules/markdown/markdown.ts
  src/ui/hooks/useMarkdown.tsx
  src/ui/registry/units/common/register.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1839.0 [release]
  package-lock.json
  package.json
Due: none

переделал компоненты
  src/i18n-keysets/component.admin-pages/en.json
  src/i18n-keysets/component.admin-pages/ru.json
  src/ui/datalens/pages/AdminPage/BaseAdmin.scss
  src/ui/datalens/pages/AdminPage/BaseAdminFields.jsx
  src/ui/datalens/pages/AdminPage/BaseAdminForm.jsx
  src/ui/datalens/pages/AdminPage/BaseAdminForm.scss
  src/ui/datalens/pages/AdminPage/BaseAdminPageToolbar.jsx
  src/ui/datalens/pages/AdminPage/ProjectsPage.jsx
  src/ui/datalens/pages/AdminPage/ProjectsPage.tsx
  src/ui/datalens/pages/AdminPage/RolesPage.jsx
  src/ui/datalens/pages/AdminPage/RolesPage.tsx
  src/ui/datalens/pages/AdminPage/UserAdminFields.jsx
  src/ui/datalens/pages/AdminPage/UsersPage.jsx
  src/ui/datalens/pages/AdminPage/UsersPage.tsx
  src/ui/datalens/pages/AdminPage/UsersPageToolbar.jsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add tooltip support in generateHtml
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartAlert.tsx
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/ChartKitTooltip/ChartKitTooltip.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/ChartKitBase.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Chart/Chart.tsx
  src/ui/libs/DatalensChartkit/modules/html-generator/constants.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add svg attrs to generatHtml allow list
  src/ui/libs/DatalensChartkit/modules/html-generator/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix dash transitions (#1242)
  src/ui/components/DashKit/DashKit.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1840.0 [release]
  package-lock.json
  package.json
Due: none

Fix getDerivedStateFromProps
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix DialogTextWidgetWrapper
  src/ui/components/DialogTextWidget/index.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update chartkit to v5.10.1
  package-lock.json
  package.json
Due: none

Add svg attrs to generateHtml allow list (#1243)
  src/ui/libs/DatalensChartkit/modules/html-generator/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1841.0 [release]
  package-lock.json
  package.json
Due: none

Remove usage of RelatedEntitiesList flag
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix tests
  src/ui/components/EntryContextMenu/test/withConfiguredEntryContextMenu.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Upgrade expresskit to 1.3.0 version (#1238)
  package-lock.json
  package.json
Due: none

Bump version to 0.1842.0 [release]
  package-lock.json
  package.json
Due: none

Add InterpolatedText component for simple use of Interpolate
  src/ui/components/InterpolatedText/InterpolatedText.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move dash dialogs to ui/components - part 1 (#1239)
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogChartWidget/TabMenu/TabMenu.scss
  src/ui/components/DialogChartWidget/TabMenu/TabMenu.tsx
  src/ui/components/DialogChartWidget/TabMenu/types.ts
  src/ui/components/DialogTextWidget/DialogTextWidget.scss
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTextWidget/index.tsx
  src/ui/components/ListWithMenu/ListWithMenu.tsx
  src/ui/constants/dialogs.ts
  src/ui/registry/units/dash/components-map.tsx
  src/ui/registry/units/dash/register.tsx
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/components/EmptyState/EmptyState.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/containers/Dialogs/Connections/Connections.js
  src/ui/units/dash/containers/Dialogs/Connections/Item/Item.js
  src/ui/units/dash/containers/Dialogs/Dialogs.js
  src/ui/units/dash/containers/Dialogs/GroupControl/ControlsPlacementDialog/ControlPlacementRow/ControlPlacementRow.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/ControlsPlacementDialog/ControlsPlacementDialog.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/Tabs.tsx
  src/ui/units/dash/containers/Dialogs/Text/TextWrapper.tsx
  src/ui/units/dash/containers/Dialogs/Title/Title.tsx
  src/ui/units/dash/modules/constants.ts
  src/ui/units/dash/modules/helpers.ts
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/actions/dialogs/actions.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/utils/getActionPanelItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1843.0 [release]
  package-lock.json
  package.json
Due: none

Remove usage of RelatedEntitiesList flag (#1245)
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/test/withConfiguredEntryContextMenu.test.ts
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1844.0 [release]
  package-lock.json
  package.json
Due: none

Add InterpolatedText component for simple use of Interpolate (#1246)
  src/ui/components/InterpolatedText/InterpolatedText.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1845.0 [release]
  package-lock.json
  package.json
Due: none

Dash embedding (#1233)
  src/server/components/charts-engine/components/storage/united-storage/provider.ts
  src/server/components/charts-engine/controllers/embedded-entry.ts
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/index.ts
Due: none

Bump version to 0.1846.0 [release]
  package-lock.json
  package.json
Due: none

Unify deletion confirm dialogs layout on collections page (#1228)
  src/ui/components/CollectionsStructure/DeleteDialog/DeleteDialog.tsx
  src/ui/components/DialogCommon/DialogCommon.scss
  src/ui/units/workbooks/components/DeleteEntryDialog/DeleteEntryDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1847.0 [release]
  package-lock.json
  package.json
Due: none

Fix ChartKitAdapter onRender property
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
