Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

fix test
  src/server/modes/charts/plugins/datalens/preparers/flat-table/__tests__/flat-table.test.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
Due: none

Disable flags
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
  src/server/components/features/features-list/PinnedColumns.ts
Due: none

Bump version to 0.1509.0 [release]
  package-lock.json
  package.json
Due: none

Allow to create connection without initial workbook id (#858)
  src/ui/components/CollectionsStructure/CollectionStructureDialog/CollectionStructureDialog.tsx
  src/ui/components/CollectionsStructure/CreateEntryInWorkbookDialog.tsx
  src/ui/components/EntryDialogues/DialogCreateWorkbookEntry/DialogCreateWorkbookEntry.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/registry/units/connections/functions-map.ts
  src/ui/registry/units/connections/register.tsx
  src/ui/registry/units/connections/types/getNewConnectionDestination.ts
  src/ui/units/connections/components/ConnectorForm/FormActions/FormActions.tsx
  src/ui/units/connections/components/Page/components/S3BasedConnButton.tsx
  src/ui/units/connections/components/dialogs/CreateConnectionInWb/CreateConnectionInWb.tsx
  src/ui/units/connections/components/hooks/index.ts
  src/ui/units/connections/components/hooks/useCreationHandler/index.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/actions/s3-based.ts
  src/ui/units/connections/utils/entry.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1510.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
  src/server/components/features/features-list/PinnedColumns.ts
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/components/TableBody/TableBody.tsx
  src/ui/components/Table/hooks/use-table-dimensions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add props 'accessDescription' and 'hideTitle' to ErrorContent
  src/ui/components/ErrorContent/ErrorContent.js
  src/ui/components/Navigation/NavigationModal.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add tenantId to telemetry log (#855)
  src/@types/nodekit.d.ts
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/storage/base.ts
  src/server/components/charts-engine/types.ts
  src/server/middlewares/x-dl-context.ts
  src/server/modes/charts/init-charts-engine.ts
Due: none

Bump version to 0.1511.0 [release]
  package-lock.json
  package.json
Due: none

Add getFakeEntry to registry
  src/ui/registry/units/connections/functions-map.ts
  src/ui/registry/units/connections/register.tsx
  src/ui/registry/units/connections/types/getFakeEntry.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/utils/entry.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add type for getFakeEntry definition
  src/ui/units/connections/store/utils/entry.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up gateway to 2.1.0
  package-lock.json
  package.json
Due: none

Add gateway errors to error utils
  src/server/utils/index.ts
Due: none

Add new init illustration type
  src/ui/components/Illustration/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Разрешён вывод пункта меню - поделиться
  src/ui/libs/DatalensChartkit/modules/menu/menu.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix propTypes and call
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/NavigationEntries.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add props 'accessDescription' and 'hideTitle' to ErrorContent (#859)
  src/server/utils/index.ts
  src/ui/components/ErrorContent/ErrorContent.js
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/NavigationEntries.js
  src/ui/components/Navigation/NavigationModal.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1512.0 [release]
  package-lock.json
  package.json
Due: none

Up gateway to 2.1.0 (#861)
  package-lock.json
  package.json
Due: none

Bump version to 0.1513.0 [release]
  package-lock.json
  package.json
Due: none

Fix connections fake entry & s3 button (#860)
  src/ui/registry/units/connections/functions-map.ts
  src/ui/registry/units/connections/register.tsx
  src/ui/registry/units/connections/types/getFakeEntry.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/utils/entry.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1514.0 [release]
  package-lock.json
  package.json
Due: none

add extensions for workbook/collection actions
  src/ui/registry/index.ts
  src/ui/registry/units/collections/components-map.tsx
  src/ui/registry/units/collections/functionts-map.ts
  src/ui/registry/units/collections/index.ts
  src/ui/registry/units/collections/register.ts
  src/ui/registry/units/workbooks/components-map.tsx
  src/ui/registry/utils/register-app-plugins.tsx
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContent/utils.ts
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Removed unused final-forms dependencies
  package-lock.json
  package.json
Due: none

Add new init illustration type (#862)
  src/ui/components/Illustration/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1515.0 [release]
  package-lock.json
  package.json
Due: none

fix scale
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/components/TableBody/TableBody.tsx
  src/ui/components/Table/components/TableHead/TableHead.tsx
  src/ui/components/Table/hooks/use-table-dimensions.ts
  src/ui/components/Table/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update @gravity-ui/uikit 6.9.0 -> 6.10.2
  package-lock.json
  package.json
Due: none

Update @gravity-ui/uikit 6.9.0 -> 6.10.2 (#865)
  package-lock.json
  package.json
Due: none

Bump version to 0.1516.0 [release]
  package-lock.json
  package.json
Due: none

add extensions for workbook/collection actions (#864)
  src/ui/registry/index.ts
  src/ui/registry/units/collections/components-map.tsx
  src/ui/registry/units/collections/functionts-map.ts
  src/ui/registry/units/collections/index.ts
  src/ui/registry/units/collections/register.ts
  src/ui/registry/units/workbooks/components-map.tsx
  src/ui/registry/utils/register-app-plugins.tsx
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContent/utils.ts
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1517.0 [release]
  package-lock.json
  package.json
Due: none

Some fixes
  src/ui/components/Navigation/Base/NavigationBase.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix rerender onChangeData
  src/ui/components/Table/Table.scss
  src/ui/components/Table/components/TableHead/TableHead.tsx
  src/ui/components/Table/hooks/use-table-dimensions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/ui/components/Table/hooks/use-table-dimensions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add unique fieldName validation for group controls
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/ui/components/FieldWrapper/FieldWrapper.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.scss
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlBody/GroupControlBody.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/actions/controls/helpers.ts
  src/ui/units/dash/store/reducers/controls/helpers.ts
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix save
  src/ui/units/dash/store/actions/controls/actions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update @gravity-ui/chartkit to v5.3.1
  package-lock.json
  package.json
Due: none

fix zoom border offset issue
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/components/TableBody/TableBody.tsx
  src/ui/components/Table/hooks/use-device-pixel-ratio.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet
