Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Translated using Weblate (English) (#717)
  src/i18n-keysets/connections.yadocs.view/en.json
Due: none

Update statoscope_tests.yml (#716)
  .github/workflows/statoscope_tests.yml
Due: none

Bump version to 0.1399.0 [release]
  package-lock.json
  package.json
Due: none

Bump version to 0.1400.0 [release]
  package-lock.json
  package.json
Due: none

Fix old params in dash state for controls and chart-chart (#715)
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1401.0 [release]
  package-lock.json
  package.json
Due: none

Add support processing for connection based control (#705)
  src/server/components/charts-engine/types.ts
  src/server/modes/charts/plugins/control/constants/misc.ts
  src/server/modes/charts/plugins/control/js/helpers/dataset/process-dataset-content.ts
  src/server/modes/charts/plugins/control/js/helpers/dataset/process-fields.ts
  src/server/modes/charts/plugins/control/js/helpers/process-content.ts
  src/server/modes/charts/plugins/control/js/helpers/typed-query/process-typed-query-content.ts
  src/server/modes/charts/plugins/control/js/index.ts
  src/server/modes/charts/plugins/control/js/types.ts
  src/server/modes/charts/plugins/control/types.ts
  src/server/modes/charts/plugins/control/url/constants.ts
  src/server/modes/charts/plugins/control/url/index.ts
  src/server/modes/charts/plugins/control/url/typed-query/index.ts
  src/server/modes/charts/plugins/control/url/types.ts
Due: none

Bump version to 0.1402.0 [release]
  package-lock.json
  package.json
Due: none

Fix i18n for yadocs form (#701)
  src/i18n-keysets/connections.yadocs.view/en.json
  src/i18n-keysets/connections.yadocs.view/ru.json
  src/ui/units/connections/components/custom-forms/Yadocs/components/AdditionalTitleContent.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/DialogAddDocument/DialogAddDocument.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/DocsList.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/Workspace.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/constants.ts
  src/ui/units/connections/components/custom-forms/Yadocs/containers/useYadocsDialogs.ts
  src/ui/units/connections/components/custom-forms/components/ButtonLogout/ButtonLogout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1403.0 [release]
  package-lock.json
  package.json
Due: none

Add e2e test for labels in pie chart(QL)
  tests/opensource-suites/__screenshots__/ql/visualizations/pie/labels.test.ts/QL-Pie-chart-Column-names-in-Labels-section-screenshot-1.png
  tests/opensource-suites/ql/visualizations/pie/labels.test.ts
  tests/page-objects/wizard/SectionVisualization.ts
Due: none

Fix parameter with a default value of 0
  src/server/modes/charts/plugins/datalens/url/helpers/__tests__/parameters.test.ts
  src/server/modes/charts/plugins/datalens/url/helpers/parameters.ts
Due: none

Fix parameter with a default value of 0 (#719)
  src/server/modes/charts/plugins/datalens/url/helpers/__tests__/parameters.test.ts
  src/server/modes/charts/plugins/datalens/url/helpers/parameters.ts
Due: none

Bump version to 0.1404.0 [release]
  package-lock.json
  package.json
Due: none

fix error preview when duplicate failed
  src/i18n-keysets/new-workbooks/en.json
  src/i18n-keysets/new-workbooks/ru.json
  src/ui/units/workbooks/components/DuplicateEntryDialog/DuplicateEntryDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

statoscope improvements
  .github/workflows/statoscope-comment.mustache
  .github/workflows/statoscope_tests.yml
  package-lock.json
  package.json
  scripts/ci/createStatoscopeComment.js
  scripts/ci/statoscope-comment.jora
  scripts/ci/statoscope-comment.tmpl
  statoscope.config.js
Due: none

wip
  scripts/ci/createStatoscopeComment.js
Due: none

statoscope improvements (#722)
  .github/workflows/statoscope-comment.mustache
  .github/workflows/statoscope_tests.yml
  package-lock.json
  package.json
  scripts/ci/createStatoscopeComment.js
  scripts/ci/statoscope-comment.jora
  scripts/ci/statoscope-comment.tmpl
  statoscope.config.js
Due: none

Bump version to 0.1405.0 [release]
  package-lock.json
  package.json
Due: none

Up @gravity-ui/components
  package-lock.json
  package.json
Due: none

Up @gravity-ui/navigation
  package-lock.json
  package.json
Due: none

Fix copying entries between workbooks
  src/ui/components/CollectionsStructure/CopyEntriesDialog.tsx
  src/ui/components/CopyEntriesToWorkbookDialog/CopyEntriesToWorkbookDialog.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/WorkbookMainTabContent/WorkbookMainTabContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add getConnectionsWithForceSkippedCopyTemplateInWorkbooks
  src/ui/registry/units/connections/functions-map.ts
  src/ui/units/connections/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix copying entries between workbooks (#724)
  src/ui/components/CollectionsStructure/CopyEntriesDialog.tsx
  src/ui/components/CopyEntriesToWorkbookDialog/CopyEntriesToWorkbookDialog.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/WorkbookMainTabContent/WorkbookMainTabContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1406.0 [release]
  package-lock.json
  package.json
Due: none

Add getConnectionsWithForceSkippedCopyTemplateInWorkbooks (#726)
  src/ui/registry/units/connections/functions-map.ts
  src/ui/units/connections/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1407.0 [release]
  package-lock.json
  package.json
Due: none

Add e2e test for labels in pie chart(QL) (#718)
  tests/opensource-suites/__screenshots__/ql/visualizations/pie/labels.test.ts/QL-Pie-chart-Column-names-in-Labels-section-screenshot-1.png
  tests/opensource-suites/ql/visualizations/pie/labels.test.ts
  tests/page-objects/wizard/SectionVisualization.ts
Due: none

Bump version to 0.1408.0 [release]
  package-lock.json
  package.json
Due: none

Up navigation & components (#723)
  package-lock.json
  package.json
Due: none

Bump version to 0.1409.0 [release]
  package-lock.json
  package.json
Due: none

Add two action buttons for group and editor selectors
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
  src/shared/constants/qa/dash.ts
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Control2.tsx
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Moved entryId getter from dash store
  src/ui/libs/DatalensChartkit/ChartKit/init.ts
  src/ui/libs/DatalensChartkit/DatalensChartKitOld.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Edit adding selector in tests
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/params/params.test.ts
Due: none

Moved entryId getter from dash store (#729)
  src/ui/libs/DatalensChartkit/ChartKit/init.ts
  src/ui/libs/DatalensChartkit/DatalensChartKitOld.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1410.0 [release]
  package-lock.json
  package.json
Due: none

fix tests
  tests/page-objects/common/DialogControl.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/selectors/selectorsLabels.test.ts
  tests/utils/index.ts
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
