Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.1611.0 [release]
  package-lock.json
  package.json
Due: none

Fix passing of format settings
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/prepareLines.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
Due: none

Fix tab styles
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.scss
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.scss
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove updateParams from api
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/sandbox.ts
  src/server/registry/units/common/functions-map.ts
  src/server/registry/units/common/register.ts
  src/server/registry/units/common/types/functions/extendSandboxAPI.ts
  src/server/registry/units/common/types/index.ts
  src/ui/registry/units/editor/functions-map.ts
  src/ui/registry/units/editor/register.tsx
  src/ui/registry/units/editor/types/functions/getEditorTypeDefinitions.ts
  src/ui/units/editor/libs/monaco/getEditorTypeDefinitions.ts
  src/ui/units/editor/libs/monaco/utils.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add chart builder as an additional abstraction for chart processing
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/sandbox.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/components/processor/utils.ts
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/charts-engine/runners/serverlessEditor.ts
Due: none

Fix dataset source table styles
  src/ui/units/datasets/components/DatasetTable/DatasetTable.scss
  src/ui/units/datasets/components/DatasetTable/columns/Source.tsx
  src/ui/units/datasets/components/DatasetTable/components/TypeSelect/TypeSelect.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix dataset source table styles (#969)
  src/ui/units/datasets/components/DatasetTable/DatasetTable.scss
  src/ui/units/datasets/components/DatasetTable/columns/Source.tsx
  src/ui/units/datasets/components/DatasetTable/components/TypeSelect/TypeSelect.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1612.0 [release]
  package-lock.json
  package.json
Due: none

Fix markup item check
  src/shared/modules/markup.ts
Due: none

fix chart builder args
  src/server/components/charts-engine/components/processor/index.ts
Due: none

Update chartkit to v5.4.0
  package-lock.json
  package.json
Due: none

Update chartkit to v5.4.0 (#972)
  package-lock.json
  package.json
Due: none

Bump version to 0.1613.0 [release]
  package-lock.json
  package.json
Due: none

fix params
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/types.ts
Due: none

Fix markup item check (#971)
  src/shared/modules/markup.ts
Due: none

Bump version to 0.1614.0 [release]
  package-lock.json
  package.json
Due: none

Add tooltip type
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/dash.control-dialog.edit/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dash.control-dialog.edit/en.json
Due: none

Add isObject check
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translations update from Weblate Gravity for PR #923 (#973)
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
Due: none

wip
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix lint
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/libs/DatalensChartkit/components/Control/Items/withWrapForControls.js
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlBody/GroupControlBody.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix lint
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/libs/DatalensChartkit/components/Control/Items/withWrapForControls.js
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlBody/GroupControlBody.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix MetricWidget rendering after data updating
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Metric/renderer/MetricTile.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add isObject check to shouldUseUISandbox (#974)
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1615.0 [release]
  package-lock.json
  package.json
Due: none

Warning dialog text
  src/i18n-keysets/dash.action-panel.view/en.json
  src/i18n-keysets/dash.action-panel.view/ru.json
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix control inner title translation (#923)
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
Due: none

Bump version to 0.1616.0 [release]
  package-lock.json
  package.json
Due: none

Add e2e-tests for group controls
  src/shared/constants/qa/control.ts
  src/shared/constants/qa/dash.ts
  src/shared/constants/qa/dl-navigation.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/ListWithMenu/ListWithMenu.scss
  src/ui/components/ListWithMenu/ListWithMenu.tsx
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/units/dash/containers/Dialogs/GroupControl/ControlsPlacementDialog/ControlsPlacementDialog.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  tests/opensource-suites/dash/base/loading.test.ts
  tests/opensource-suites/dash/base/relations.test.ts
  tests/opensource-suites/dash/params/params.test.ts
  tests/opensource-suites/dash/relations/ignore.test.ts
  tests/opensource-suites/dash/relations/relations.test.ts
  tests/opensource-suites/dash/relations/relationsWithErrorChart.test.ts
  tests/opensource-suites/dash/selectors/groupBaseActions.test.ts
  tests/opensource-suites/dash/selectors/groupButtonActions.test.ts
  tests/opensource-suites/dash/state/stateChange.test.ts
  tests/opensource-suites/dash/tabs/tabsWidgetOrder.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/constants.ts
  tests/suites/dash/helpers.ts
  tests/suites/dash/params/params.test.ts
  tests/suites/dash/selectors/acceptableValues.test.ts
  tests/suites/dash/selectors/selectorsLabels.test.ts
  tests/suites/dash/state/stateChange.test.ts
  tests/suites/dash/tabs/tabsWidgetOrder.test.ts
  tests/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix clickFirstControlSettingsButton
  tests/opensource-suites/dash/selectors/groupBaseActions.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dash.widget-dialog.edit/en.json
  src/i18n-keysets/dash.widget-dialog.edit/ru.json
Due: none

Fix skipping test
  tests/opensource-suites/dash/selectors/groupBaseActions.test.ts
  tests/opensource-suites/dash/selectors/groupButtonActions.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Fix `MetricWidget` rendering after data updating (#975)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Metric/renderer/MetricTile.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1617.0 [release]
  package-lock.json
  package.json
Due: none

Translations update from Weblate Gravity for PR #850 (#977)
  src/i18n-keysets/dash.widget-dialog.edit/en.json
  src/i18n-keysets/dash.widget-dialog.edit/ru.json
Due: none

fix skip 2
  tests/opensource-suites/dash/selectors/groupBaseActions.test.ts
  tests/opensource-suites/dash/selectors/groupButtonActions.test.ts
Due: none
