Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.1581.0 [release]
  package-lock.json
  package.json
Due: none

Add metrica events
  src/ui/libs/metrica/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix latex render after edit
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/YfmWrapper/YfmWrapper.tsx
  src/ui/constants/yfm.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Hint option for dataset fields draft
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/shared/types/chartkit/table.ts
  src/shared/types/dash.ts
  src/shared/types/wizard/field.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/FieldHintSetting/FieldHintSetting.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.scss
  src/ui/libs/DatalensChartkit/components/Control/Items/withWrapForControls.js
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/AppearanceSection.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/HintRow/HintRow.tsx
  src/ui/units/dash/store/actions/controls/helpers.ts
  src/ui/units/dash/store/actions/controls/types.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add feature flag
  src/server/components/features/features-list/DatasetFieldHint.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-head-generator.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/shared/types/config/wizard/v10.ts
  src/shared/types/dash.ts
  src/shared/types/feature.ts
  src/shared/types/wizard/field.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/FieldHintSetting/FieldHintSetting.tsx
  src/ui/components/MarkdownControl/MarkdownControl.tsx
  src/ui/registry/units/common/components-map.tsx
  src/ui/registry/units/common/register.tsx
  src/ui/registry/units/common/types/components/MarkdownControl.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/AppearanceSection.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/HintRow/HintRow.tsx
  src/ui/units/dash/store/actions/controls/helpers.ts
  src/ui/units/dash/store/actions/controls/types.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Comment rewrite
  src/ui/components/DashKit/plugins/Text/Text.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Upddate test compose file
  tests/docker-compose.e2e.yml
Due: none

Add useMarkdown hook
  src/ui/hooks/useMarkdown.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/libs/DatalensChartkit/components/Control/Items/withWrapForControls.js
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/AppearanceSection.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/HintRow/HintRow.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

temp fix for e2e tests
  .github/workflows/e2e_tests.yml
Due: none

Fixes
  src/ui/libs/metrica/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  .github/workflows/e2e_tests.yml
Due: none

fix
  tests/docker-compose.e2e.yml
Due: none

настройка ролей
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/OpenDialogAssignClaims/OpenDialogAssignClaims.tsx
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update test compose file (#934)
  .github/workflows/e2e_tests.yml
  tests/docker-compose.e2e.yml
Due: none

Bump version to 0.1582.0 [release]
  package-lock.json
  package.json
Due: none

Fix latex render after edit (#933)
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/YfmWrapper/YfmWrapper.tsx
  src/ui/constants/yfm.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1583.0 [release]
  package-lock.json
  package.json
Due: none

Add Footer component to registry
  src/server/components/features/features-list/EnableFooter.ts
  src/shared/types/feature.ts
  src/ui/registry/units/common/components-map.tsx
  src/ui/units/dash/containers/App/App.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update Typescript version
  package-lock.json
  package.json
  src/server/configs/shared/datalens-chart-template.ts
  src/server/modes/charts/plugins/request-with-dataset/request-dataset.ts
  src/shared/modules/charts-shared.ts
  src/shared/schema/mix/actions/entries.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Metric/renderer/metricHelpers.ts
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/containers/DatasetTabViewer/DatasetTabViewer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

wip
  package-lock.json
  src/shared/modules/charts-shared.ts
Due: none

wip
  src/server/configs/shared/datalens-chart-template.ts
Due: none

Update Typescript version (#935)
  package-lock.json
  package.json
  src/server/configs/shared/datalens-chart-template.ts
  src/server/modes/charts/plugins/request-with-dataset/request-dataset.ts
  src/shared/modules/charts-shared.ts
  src/shared/schema/mix/actions/entries.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Metric/renderer/metricHelpers.ts
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/containers/DatasetTabViewer/DatasetTabViewer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1584.0 [release]
  package-lock.json
  package.json
Due: none

Fix for magic links
  src/ui/components/YfmWrapper/YfmWrapper.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

удаление и запись pd_accesses
  src/ui/components/OpenDialogAssignClaims/OpenDialogAssignClaims.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Hide duplicate btn
  src/ui/components/EntryContextMenu/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

упростил сохранение ролей
  src/ui/components/OpenDialogAssignClaims/OpenDialogAssignClaims.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

changelog
  CHANGELOG.md
Due: none

Fix for magic links (#937)
  src/ui/components/YfmWrapper/YfmWrapper.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1585.0 [release]
  package-lock.json
  package.json
Due: none

Remove some feature flags (charts)
  src/server/components/features/features-list/CustomColorPalettes.ts
  src/server/components/features/features-list/PivotTableSortWithTotals.ts
  src/server/components/features/features-list/WizardChartChartFilteringAvailable.ts
  src/server/modes/charts/plugins/datalens/url/build-sources/index.ts
  src/server/modes/charts/plugins/ql/url.ts
  src/shared/types/feature.ts
  src/ui/units/dash/containers/Dialogs/utils.ts
  src/ui/units/main/containers/ServiceSettings/ServiceSettings.tsx
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/components/Dialogs/DialogColor/ColorSettingsContainer/ColorSettingsContainer.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/ButtonColorDialog/ButtonColorDialog.tsx
  src/ui/units/wizard/selectors/dialogColor.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add metrica events (#932)
  src/ui/libs/metrica/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1586.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/server/components/features/features-list/CustomColorPalettes.ts
  src/server/components/features/features-list/PivotTableSortWithTotals.ts
  src/server/components/features/features-list/WizardChartChartFilteringAvailable.ts
Due: none

fix test
  src/ui/units/dash/containers/Dialogs/__tests__/utils.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Support dash share
  src/ui/components/DashKit/plugins/Widget/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/units/dash/components/DashActionPanel/DashActionPanelMobile.scss
  src/ui/units/dash/components/DashActionPanel/DashActionPanelMobile.tsx
  src/ui/units/dash/modules/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove some feature flags (charts) (#940)
  src/server/components/features/features-list/PivotTableSortWithTotals.ts
  src/server/modes/charts/plugins/datalens/url/build-sources/index.ts
  src/server/modes/charts/plugins/ql/url.ts
  src/shared/types/feature.ts
  src/ui/units/dash/containers/Dialogs/__tests__/utils.test.ts
  src/ui/units/dash/containers/Dialogs/utils.ts
  src/ui/units/main/containers/ServiceSettings/ServiceSettings.tsx
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/components/Dialogs/DialogColor/ColorSettingsContainer/ColorSettingsContainer.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/ButtonColorDialog/ButtonColorDialog.tsx
  src/ui/units/wizard/selectors/dialogColor.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1587.0 [release]
  package-lock.json
  package.json
Due: none

Support dash share (#941)
  src/ui/components/DashKit/plugins/Widget/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/units/dash/components/DashActionPanel/DashActionPanelMobile.scss
  src/ui/units/dash/components/DashActionPanel/DashActionPanelMobile.tsx
  src/ui/units/dash/modules/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1588.0 [release]
  package-lock.json
  package.json
Due: none
