Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Fix type
  src/ui/components/DashKit/helpers.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix report link
  .github/workflows/e2e-tests-farm.yaml
Due: none

Split api and public api (#2839)
  api/server/app-env.ts
  src/server/app-env.ts
  src/server/components/features/features-list/PublicApi.ts
  src/server/components/features/features-list/PublicApiSwagger.ts
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/server/controllers/public-api.ts
  src/server/modes/opensource/app.ts
  src/server/registry/index.ts
  src/shared/constants/common.ts
  src/shared/types/feature.ts
Due: none

Support DECODE_ID_FAILED error for getEntryMetaStatus (#2848)
  src/shared/schema/mix/actions/entries.ts
Due: none

Bump version to 0.3225.0 [release]
  package-lock.json
  package.json
Due: none

Add packages
  package-lock.json
  package.json
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/server/registry/index.ts
Due: none

Fix data fetching timeout (#2838)
  deploy/nginx/nginx.conf
  src/server/components/charts-engine/constants/index.ts
  src/server/configs/common.ts
Due: none

Bump version to 0.3226.0 [release]
  package-lock.json
  package.json
Due: none

Save annotation with fallback
  src/server/components/charts-engine/controllers/charts.ts
Due: none

Add support for displaying BusinessLabel in menus
  src/ui/components/Navigation/Base/NavigationBase.scss
  src/ui/components/Navigation/Base/configure.ts
  src/ui/components/Navigation/Core/CreateEntry/getCreateEntryItems.tsx
  src/ui/registry/units/chart/functions-map.ts
  src/ui/registry/units/chart/types/functions/getVisualSelectorBottomPlaceholder.ts
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationSelector/VisualizationSelector.tsx
  src/ui/units/workbooks/components/CreateEntry/CreateEntry.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fixes
  src/server/components/public-api/constants.ts
  src/server/registry/index.ts
Due: none

Remove unused dash old relations logic (#2855)
  src/i18n-keysets/dash.connections-dialog.edit/en.json
  src/i18n-keysets/dash.connections-dialog.edit/ru.json
  src/shared/constants/qa/components.ts
  src/ui/assets/icons/arrows-opposite.svg
  src/ui/assets/icons/bar-chart.svg
  src/ui/assets/icons/cancel.svg
  src/ui/assets/icons/control.svg
  src/ui/assets/icons/table.svg
  src/ui/components/DashKit/helpers.tsx
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/types.ts
  src/ui/components/DashKit/plugins/Widget/types.ts
  src/ui/components/DashKit/plugins/types.ts
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/constants/dialogs.ts
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Connections/ConnectByAlias/ConnectByAlias.js
  src/ui/units/dash/containers/Dialogs/Connections/ConnectByAlias/ConnectByAlias.scss
  src/ui/units/dash/containers/Dialogs/Connections/Connections.js
  src/ui/units/dash/containers/Dialogs/Connections/Connections.scss
  src/ui/units/dash/containers/Dialogs/Connections/Context/Context.js
  src/ui/units/dash/containers/Dialogs/Connections/Item/Item.js
  src/ui/units/dash/containers/Dialogs/Connections/Item/Item.scss
  src/ui/units/dash/containers/Dialogs/Connections/ManageAlias/ManageAlias.js
  src/ui/units/dash/containers/Dialogs/Connections/ManageAlias/ManageAlias.scss
  src/ui/units/dash/containers/Dialogs/Connections/Param/Param.js
  src/ui/units/dash/containers/Dialogs/Connections/Param/Param.scss
  src/ui/units/dash/containers/Dialogs/Dialogs.js
  src/ui/units/dash/store/actions/index.ts
  src/ui/units/dash/store/actions/relations/actions.ts
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/units/dash/utils/context.ts
  src/ui/utils/getActionPanelItems.tsx
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3227.0 [release]
  package-lock.json
  package.json
Due: none

Save editor annotation with fallback
  src/shared/schema/us/actions/editor.ts
  src/shared/schema/us/types/editor.ts
Due: none

Fix
  src/shared/old-schema/charts.ts
  src/shared/types/common.ts
Due: none

delete unused css
  src/ui/components/Navigation/Base/NavigationBase.scss
  src/ui/units/workbooks/components/CreateEntry/CreateEntry.scss
Due: prettier --write, stylelint --fix --quiet

Fixes
  src/server/components/api-docs/constants.ts
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/gateway-utils.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/actions/wizard.ts
Due: none

Remove unused add-holidays logic (#2854)
  src/ui/libs/DatalensChartkit/ChartKit/modules/graph/add-holidays.js
  src/ui/libs/DatalensChartkit/ChartKit/modules/graph/config/config.js
  src/ui/libs/DatalensChartkit/ChartKit/modules/graph/graph.js
  src/ui/libs/DatalensChartkit/ChartKit/modules/graph/prepare-data.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3228.0 [release]
  package-lock.json
  package.json
Due: none

Fix saving entry description (#2840)
  src/server/components/charts-engine/components/storage/united-storage/provider.ts
  src/server/components/charts-engine/controllers/charts.ts
  src/server/components/workbook-transfer/charts.ts
  src/server/components/workbook-transfer/dash.ts
  src/server/controllers/workbook-transfer.ts
  src/shared/old-schema/charts.ts
  src/shared/schema/us-private/actions/entries.ts
  src/shared/schema/us-private/types/entries.ts
  src/shared/schema/us/actions/editor.ts
  src/shared/types/common.ts
  src/ui/components/EntryDialogues/DialogCreateDashboard/DialogCreateDashboard.tsx
  src/ui/components/EntryDialogues/DialogCreateEditorChart/DialogCreateEditorChart.tsx
  src/ui/components/EntryDialogues/DialogCreateQLChart/DialogCreateQLChart.tsx
  src/ui/components/EntryDialogues/DialogCreateWizardChart/DialogCreateWizardChart.tsx
  src/ui/libs/sdk/index.ts
  src/ui/store/actions/chartWidget.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/units/ql/containers/QL/QLActionPanel/QLActionPanel.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/wizard/actions/widget.ts
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
  src/ui/units/wizard/selectors/preview.ts
  src/ui/units/wizard/selectors/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3229.0 [release]
  package-lock.json
  package.json
Due: none

Update chartkit to v7.9.0
  package-lock.json
  package.json
Due: none

Fixes
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/server/controllers/public-api.ts
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/gateway-utils.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/actions/wizard.ts
Due: none

Update chartkit to v7.9.0 (#2856)
  package-lock.json
  package.json
Due: none

Bump version to 0.3230.0 [release]
  package-lock.json
  package.json
Due: none

add create dash state error handler
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add dynamic middleware to reducer registry
  src/ui/store/configure.ts
  src/ui/store/reducer-registry.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add comment for getMiddlewares
  src/ui/store/reducer-registry.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add error title handle
  src/i18n-keysets/dash.main.view/ru.json
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  .github/workflows/e2e-tests-farm.yaml
Due: none

add pluginize func to collections
  src/ui/registry/units/collections/functionts-map.ts
  src/ui/registry/units/collections/register.ts
  src/ui/registry/units/collections/types/getPublicGalleryEntry.ts
  src/ui/registry/units/collections/types/index.ts
  src/ui/units/collections/components/CollectionContent/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add new illustarations for empty state
  src/ui/assets/images/new/dark/403.svg
  src/ui/assets/images/new/dark/404.svg
  src/ui/assets/images/new/dark/500.svg
  src/ui/assets/images/new/dark/bad_request.svg
  src/ui/assets/images/new/dark/empty_directory.svg
  src/ui/assets/images/new/dark/empty_state.svg
  src/ui/assets/images/new/dark/no_accounts.svg
  src/ui/assets/images/new/dark/no_permission.svg
  src/ui/assets/images/new/dark/nothing_found.svg
  src/ui/assets/images/new/dark/project.svg
  src/ui/assets/images/new/dark/success_operation.svg
  src/ui/assets/images/new/light/403.svg
  src/ui/assets/images/new/light/404.svg
  src/ui/assets/images/new/light/500.svg
  src/ui/assets/images/new/light/bad_request.svg
  src/ui/assets/images/new/light/empty_directory.svg
  src/ui/assets/images/new/light/empty_state.svg
  src/ui/assets/images/new/light/no_accounts.svg
  src/ui/assets/images/new/light/no_permission.svg
  src/ui/assets/images/new/light/nothing_found.svg
  src/ui/assets/images/new/light/project.svg
  src/ui/assets/images/new/light/success_operation.svg
  src/ui/components/ErrorContent/ErrorContent.tsx
  src/ui/components/Illustration/getIllustrationStore.ts
  src/ui/components/Illustration/getNewIllustrationStore.ts
  src/ui/components/Illustration/types.ts
  src/ui/registry/units/common/register.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixes
  src/server/components/public-api/constants.ts
  src/server/components/public-api/index.ts
  src/server/components/public-api/utils/index.ts
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/server/components/public-api/utils/register-action-to-open-api.ts
  src/server/controllers/public-api.ts
  src/server/types/gateway.ts
Due: none

Rename
  src/ui/components/Illustration/getRebrandingIllustrationStore.ts
  src/ui/registry/units/common/register.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix
  src/ui/components/Illustration/getRebrandingIllustrationStore.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Check dataset/connection export setting
  tests/suites/charts/export/forbiddenExport.test.ts
  tests/utils/constants.ts
Due: none

fix tests
  tests/suites/charts/export/forbiddenExport.test.ts
Due: none

Hide openAsTable menu item if export forbidden
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/libs/DatalensChartkit/menu/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

replace types
  src/ui/registry/units/collections/types/getPublicGalleryEntry.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
