Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

update
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedTabSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/prepare.ts
Due: none

add perations and orders
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedTabSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/prepare.ts
Due: none

wip
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedTabSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/prepare.ts
Due: none

parent 2f0efc8cad4d5e221fcdaca67e570c3ecca45e5a author melikhov <melikhov@yandex-team.ru> 1718356715 +0300 committer Andrey Melikhov <melikhov@yandex-team.ru> 1718690401 +0800
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolated-sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedModulesSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedTabSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/prepare.ts
Due: none

add ivm
  package-lock.json
  package.json
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolated-sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedModulesSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedTabSandbox.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/charts-engine/runners/editor.ts
  src/shared/types/charts.ts
Due: none

fix
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedTabSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/prepare.ts
Due: none

исправлено отображение пользователя
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Изменена фунцкция отображения логина
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.tsx
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/interop/chartEditorApi.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedTabSandbox.ts
  src/shared/types/charts.ts
Due: none

add feature flag
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/features/features-list/EnableIsolatedSandbox.ts
  src/shared/types/feature.ts
Due: none

add isolatedSandbox
  package-lock.json
  package.json
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/interop/chartEditorApi.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/interop/index.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/interop/libs/controlV1.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/interop/libs/datalensV3.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/interop/libs/datasetV2.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/interop/libs/qlChartV1.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/interop/libs/types.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolated-sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedModulesSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/isolatedTabSandbox.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/prepare.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/features/features-list/EnableIsolatedSandbox.ts
  src/shared/types/charts.ts
  src/shared/types/feature.ts
  tests/suites/editor/errorProxy.test.ts
Due: none

Add custom onClick handler support for navigation (#1206)
  src/ui/components/Navigation/Base/NavigationBase.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1811.0 [release]
  package-lock.json
  package.json
Due: none

Correct passing of custom click handler in Navigation
  src/ui/components/Navigation/Base/NavigationBase.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Allow to use markup in yamap tooltip
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/geopolygon.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/YandexMapComponent.js
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/utils.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Extract API prepare
  src/server/components/charts-engine/components/processor/isolatedSandbox/interop/chartEditorApi.ts
  src/server/components/charts-engine/components/processor/isolatedSandbox/prepare.ts
Due: none

Correct passing of custom click handler in Navigation (#1208)
  src/ui/components/Navigation/Base/NavigationBase.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1812.0 [release]
  package-lock.json
  package.json
Due: none

Do not send text field in case of markup
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/geopolygon.ts
Due: none

Fix ui sandbox limits
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix ui sandbox limits (#1210)
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1813.0 [release]
  package-lock.json
  package.json
Due: none

Replace waiting for loaders with requests
  tests/opensource-suites/dash/selectors/autoupdateRelatedSelectors.test.ts
  tests/opensource-suites/dash/selectors/externalInfluencesOnGroup.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Fix after review
  src/shared/schema/us/actions/workbooks.ts
  src/ui/assets/icons/collections/workbook-colored.svg
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksContent/DeleteCollectionsWorkbooksContent.scss
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksContent/DeleteCollectionsWorkbooksContent.tsx
  src/ui/components/Navigation/components/BatchPanel/BatchPanel.tsx
  src/ui/components/Navigation/types.ts
  src/ui/units/collections/components/CollectionBatchPanel/CollectionBatchPanel.tsx
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/CollectionPage/hooks/useSelection.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Allow to use markup in Yamap tooltip (#1209)
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/geopolygon.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/YandexMapComponent.js
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/utils.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1814.0 [release]
  package-lock.json
  package.json
Due: none

fix after review
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksDialog.tsx
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

добавлен пример для вывод ролей
  package-lock.json
  package.json
  src/i18n-keysets/component.roles/en.json
  src/i18n-keysets/component.roles/ru.json
  src/server/components/layout/opensource-layout-config.ts
  src/ui/datalens/index.tsx
  src/ui/datalens/pages/RolesPage/RolesPage.jsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Display shape settings icon for Y2
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapes.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/ShapesPlaceholder/ShapesPlaceholder.tsx
  src/ui/units/wizard/utils/helpers.ts
  src/ui/units/wizard/utils/shapes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix aliases behavior in group control with Apply button
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix typecheck
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/types.ts
  src/ui/components/DashKit/plugins/GroupControl/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

созданы два новых раздела: проекты и роли
  src/i18n-keysets/component.admin-pages/en.json
  src/i18n-keysets/component.admin-pages/ru.json
  src/i18n-keysets/component.aside-header.view/en.json
  src/i18n-keysets/component.aside-header.view/ru.json
  src/i18n-keysets/component.roles/en.json
  src/i18n-keysets/component.roles/ru.json
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/datalens/index.tsx
  src/ui/datalens/pages/AdminPage/ProjectsPage.jsx
  src/ui/datalens/pages/AdminPage/RolesPage.jsx
  src/ui/datalens/pages/RolesPage/RolesPage.jsx
  src/ui/styles/admin.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix lint 2
  src/ui/components/DashKit/plugins/GroupControl/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Display shape settings icon for Y2 (#1211)
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapes.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/ShapesPlaceholder/ShapesPlaceholder.tsx
  src/ui/units/wizard/utils/helpers.ts
  src/ui/units/wizard/utils/shapes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1815.0 [release]
  package-lock.json
  package.json
Due: none

Изменил положение кнопки Выйти
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/datalens/index.tsx
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

добавлена возможность редактирования проектов и ролей
  CHANGELOG.md
  src/i18n-keysets/collections/ru.json
  src/i18n-keysets/component.collections-structure/en.json
  src/i18n-keysets/component.collections-structure/ru.json
  src/i18n-keysets/new-workbooks/en.json
  src/shared/schema/us/actions/collections.ts
  src/shared/schema/us/actions/workbooks.ts
  src/shared/schema/us/types/collections.ts
  src/shared/schema/us/types/workbooks.ts
  src/ui/components/CollectionsStructure/CollectionDialog/CollectionDialog.tsx
  src/ui/components/CollectionsStructure/CreateCollectionDialog.tsx
  src/ui/components/CollectionsStructure/CreateWorkbookDialog.tsx
  src/ui/components/CollectionsStructure/EditCollectionDialog.tsx
  src/ui/components/CollectionsStructure/EditWorkbookDialog.tsx
  src/ui/components/CollectionsStructure/WorkbookDialog/WorkbookDialog.tsx
  src/ui/store/actions/collectionsStructure.ts
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionPage/hooks/useLayout.tsx
  src/ui/units/workbooks/components/WorkbookPage/hooks/useLayout.tsx
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Refactoring stateChange test
  src/server/components/charts-engine/runners/index.ts
  src/server/configs/shared/control-dash-chart-template.ts
  src/server/modes/charts/plugins/control/types.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  tests/opensource-suites/dash/state/stateChange.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix locator for os
  tests/opensource-suites/dash/state/stateChange.test.ts
Due: none

Fix map tooltip with null values
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/utils.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
