Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Add text widget with markdown screenshot test
  tests/data/us-e2e-data.sql
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
Due: none

Update screenshot
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
Due: none

Add dashboards to public api
  api/server/components.ts
  api/server/constants.ts
  src/server/components/index.ts
  src/server/components/public-api/constants.ts
  src/server/components/workbook-transfer/dash.ts
  src/server/constants/axios.ts
  src/server/controllers/workbook-transfer.ts
  src/server/modes/charts/plugins/dash-api.ts
  src/server/utils/axios.ts
  src/server/utils/gateway.ts
  src/shared/components/sdk/axios.ts
  src/shared/components/sdk/dash.ts
  src/shared/components/sdk/index.ts
  src/shared/components/sdk/us.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/schemas/dash.ts
  src/shared/schema/mix/types/dash.ts
  src/shared/server/axios.ts
  src/shared/zod-schemas/dash.ts
Due: none

add userPrompt to user settings
  src/shared/types/common.ts
Due: none

fix
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/processor/sources.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Revert "Update screenshot"
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
Due: none

Revert "Add text widget with markdown screenshot test"
  tests/data/us-e2e-data.sql
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
Due: none

Migrate to new dataExport field (#2896)
  src/i18n-keysets/chartkit.menu.export/en.json
  src/i18n-keysets/chartkit.menu.export/ru.json
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/charts-engine/components/wizard-worker/types.ts
  src/server/components/features/features-list/EnableBackendExportInfo.ts
  src/server/modes/charts/plugins/control/url/constants.ts
  src/server/modes/charts/plugins/ql/module/chart-editor-module.ts
  src/server/modes/charts/plugins/ql/module/url/build-sources.ts
  src/server/modes/charts/plugins/ql/module/url/index.ts
  src/server/modes/charts/plugins/ql/module/url/types.ts
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/server/modes/charts/plugins/ql/worker.ts
  src/shared/types/bi-api/v2.ts
  src/shared/types/feature.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/wizard.js
  src/ui/libs/DatalensChartkit/types/widget.ts
  tests/suites/charts/export/forbiddenExport.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3269.0 [release]
  package-lock.json
  package.json
Due: none

Add DashboardWithMarkdownWidgets test url type
  tests/types/config/dash.ts
Due: none

Update @gravity-ui/chartkit 7.9.1 -> 7.10.0
  package-lock.json
  package.json
Due: none

bar-y legend
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/legend.ts
  src/server/modes/charts/plugins/datalens/preparers/line/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/gravity-charts.ts
Due: none

up
  package-lock.json
  package.json
Due: none

Fixed updating the default palette data without reloading the page
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/DefaultPaletteSelect/DefaultPaletteSelect.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up chartkit
  package-lock.json
  package.json
Due: none

Fixed updating the default palette data without reloading the page (#2909)
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/DefaultPaletteSelect/DefaultPaletteSelect.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3270.0 [release]
  package-lock.json
  package.json
Due: none

Update schema
  src/shared/schema/bi/types/connections.ts
  src/shared/schema/bi/types/datasets.ts
  src/shared/zod-schemas/dataset.ts
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/actions/s3-based.ts
  src/ui/units/connections/store/selectors/form.ts
  src/ui/units/datasets/store/actions/creators/dataset.js
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix types
  src/shared/schema/bi/actions/datasets.ts
  src/ui/units/connections/components/Page/components/DescriptionButton.tsx
  src/ui/units/connections/store/selectors/index.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix lint
  src/ui/units/connections/store/actions/base.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix
  src/shared/schema/bi/actions/datasets.ts
  src/ui/units/connections/components/Page/components/DescriptionButton.tsx
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/s3-based.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Use colors for the chart only if they are not defined in the config
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix
  src/ui/units/connections/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up chartkit
  package-lock.json
  package.json
  src/ui/units/wizard/components/AddField/AddField.scss
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-5.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Point-color-set-by-the-fake-title-of-the-field-screenshot-1.png
Due: prettier --write, stylelint --fix --quiet

Add getAuthArgsProxyBiPrivate and getAuthArgsProxyUSPrivate
  api/shared/registry.ts
  src/server/controllers/navigate.ts
  src/server/controllers/workbook-transfer.ts
  src/server/registry/units/common/auth-functions-map.ts
  src/server/registry/units/common/index.ts
  src/server/registry/units/common/register.ts
  src/server/registry/utils/register-app-plugins.ts
  src/shared/components/auth/gateway-auth-helpers/bi-auth-helpers.ts
  src/shared/components/auth/gateway-auth-helpers/index.ts
  src/shared/components/auth/gateway-auth-helpers/us-auth-helpers.ts
  src/shared/registry/index.ts
  src/shared/registry/units/gateway-auth/functions-map.ts
  src/shared/registry/units/gateway-auth/index.ts
  src/shared/registry/units/gateway-auth/register.ts
  src/shared/schema/bi/actions/connections.ts
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/bi/types/connections.ts
  src/shared/schema/bi/types/datasets.ts
  src/shared/schema/us-private/index.ts
  src/shared/schema/us/actions/entries.ts
Due: none

Use colors for the chart only if they are not defined in the config (#2910)
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3271.0 [release]
  package-lock.json
  package.json
Due: none

Fixes
  src/server/controllers/workbook-transfer.ts
  src/shared/components/auth/gateway-auth-helpers/us-auth-helpers.ts
  src/shared/registry/units/gateway-auth/functions-map.ts
  src/shared/registry/units/gateway-auth/register.ts
Due: none

Update test
  tests/constants/config/dash.ts
  tests/constants/test-entities/dash.ts
  tests/data/us-e2e-data.sql
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-wi-cd0ad-kdown-widgets-with-special-blocks-screenshot-1.png
  tests/opensource-suites/dash/screenshots/markdownCases.test.ts
  tests/types/config/dash.ts
Due: none

Quick fix us-dump.sh
  scripts/e2e/us-dump.sh
Due: none

Fix
  tests/data/us-e2e-data.sql
Due: none

Move version to header
  api/server/components.ts
  src/server/components/public-api/constants/common.ts
  src/server/components/public-api/constants/index.ts
  src/server/components/public-api/constants/v0.ts
  src/server/components/public-api/constants/vNull.ts
  src/server/components/public-api/index.ts
  src/server/components/public-api/types.ts
  src/server/components/public-api/utils/index.ts
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/server/components/public-api/utils/is-public-api-version.ts
  src/server/components/public-api/utils/register-action-to-open-api.ts
  src/server/controllers/public-api/constants.ts
  src/server/controllers/public-api/index.ts
  src/server/controllers/public-api/utils.ts
Due: none

Fixes
  src/shared/components/auth/gateway-auth-helpers/bi-auth-helpers.ts
  src/shared/components/auth/gateway-auth-helpers/us-auth-helpers.ts
  src/shared/registry/units/gateway-auth/functions-map.ts
  src/shared/registry/units/gateway-auth/register.ts
Due: none

Fixes
  src/server/controllers/workbook-transfer.ts
Due: none

Fixes
  src/shared/registry/units/gateway-auth/functions-map.ts
Due: none

Clear e2e data from deleted entries
  scripts/e2e/us-dump.sh
  tests/data/us-e2e-data.sql
Due: none

fix
  tests/data/post-init.sh
  tests/data/us-e2e-data.sql
Due: none

fix
  tests/data/post-init.sh
Due: none

up chartkit
  package-lock.json
  package.json
Due: none

update screenshots
  tests/opensource-suites/__screenshots__/ql/visualizations/column/column.test.ts/QL-Column-chart-Check-that-fields-order-does-not-affect-axis-settings-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/negative-values.test.ts/Wizard-Bar-x-chart-Negative-Y-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/axis.test.ts/Wizard-Line-chart-Date-and-time-on-the-Y-axis-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Point-color-set-by-the-fake-title-of-the-field-screenshot-1.png
Due: none
