Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

DialogShare, icons
  src/i18n-keysets/component.dialog-share.view/en.json
  src/i18n-keysets/component.dialog-share.view/ru.json
  src/shared/types/feature.ts
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Temp support old prop
  src/ui/components/EntryRow/EntryRow.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix theme export
  api/ui/constants/common.ts
Due: none

fix import
  api/ui/constants/common.ts
Due: none

fix
  src/server/components/charts-engine/components/processor/index.ts
Due: none

Add onLoad's for widgets
  src/ui/components/DashKit/helpers.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update dashkit 8.9.0 -> 8.10.0
  package-lock.json
  package.json
Due: none

changed export
  api/ui/constants/common.ts
Due: none

Small update params refactoring (#1376)
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/paramsUtils.ts
Due: none

Bump version to 0.1967.0 [release]
  package-lock.json
  package.json
Due: none

One more typecheck fix
  src/ui/components/EntryRow/EntryRow.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix theme export (#1379)
  api/ui/constants/common.ts
Due: none

Bump version to 0.1968.0 [release]
  package-lock.json
  package.json
Due: none

Clean the Wizard modules from registry (#1377)
  src/server/components/charts-engine/components/worker/index.ts
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/server/modes/charts/plugins/datalens/config/constants.ts
  src/server/modes/charts/plugins/datalens/config/index.ts
  src/server/modes/charts/plugins/datalens/config/types.ts
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
  src/server/modes/charts/plugins/datalens/highcharts/index.ts
  src/server/modes/charts/plugins/datalens/js/index.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/module.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/server/modes/charts/plugins/datalens/private-module.ts
  src/server/modes/charts/plugins/datalens/url/build-sources/build-sources.ts
  src/server/modes/charts/plugins/datalens/url/build-sources/index.ts
Due: none

Bump version to 0.1969.0 [release]
  package-lock.json
  package.json
Due: none

Move useBeforeLoad to hooks
  src/ui/components/DashKit/helpers.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/hooks/useBeforeLoad.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix EntryRow props (#1378)
  src/shared/schema/us/types/embeds.ts
  src/ui/components/EntitiesList/EntitiesList.tsx
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/RelationsList/RelationsList.scss
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/RelationsList/RelationsList.tsx
  src/ui/components/EntryRow/EntryRow.scss
  src/ui/components/EntryRow/EntryRow.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1970.0 [release]
  package-lock.json
  package.json
Due: none

Add usedParams
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/bundled-libs.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-tab-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/prepare.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/runners/editor.ts
Due: none

Move params into isolate
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-tab-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/prepare.ts
  src/server/components/charts-engine/runners/editor.ts
Due: none

Move to a separate runner with workers for QL charts
  api/ui/constants/common.ts
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/charts-engine/components/storage/types.ts
  src/server/components/charts-engine/components/wizard-worker/index.ts
  src/server/components/charts-engine/components/wizard-worker/types.ts
  src/server/components/charts-engine/runners/wizard.ts
  src/server/components/charts-engine/runners/worker.ts
  src/server/components/charts-engine/types.ts
  src/server/components/features/features-list/QlChartRunner.ts
  src/server/modes/charts/plugins/ql/config.ts
  src/server/modes/charts/plugins/ql/index.ts
  src/server/modes/charts/plugins/ql/module/config/build-chart-config.ts
  src/server/modes/charts/plugins/ql/module/config/index.ts
  src/server/modes/charts/plugins/ql/module/d3.ts
  src/server/modes/charts/plugins/ql/module/highcharts.ts
  src/server/modes/charts/plugins/ql/module/index.ts
  src/server/modes/charts/plugins/ql/module/js/build-graph.ts
  src/server/modes/charts/plugins/ql/module/js/index.ts
  src/server/modes/charts/plugins/ql/module/library-config/build-library-config.ts
  src/server/modes/charts/plugins/ql/module/library-config/index.ts
  src/server/modes/charts/plugins/ql/module/private-module.ts
  src/server/modes/charts/plugins/ql/module/url/build-sources.ts
  src/server/modes/charts/plugins/ql/module/url/index.ts
  src/server/modes/charts/plugins/ql/module/url/types.ts
  src/server/modes/charts/plugins/ql/ql-chart-runner.ts
  src/server/modes/charts/plugins/ql/worker.ts
  src/shared/types/feature.ts
Due: none

Move params into isolate (#1374)
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/bundled-libs.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-tab-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/prepare.ts
  src/server/components/charts-engine/components/processor/types.ts
Due: none

Bump version to 0.1971.0 [release]
  package-lock.json
  package.json
Due: none

Fix wizard worker path
  src/server/components/charts-engine/runners/wizard.ts
Due: none

Fix useBeforeLoad for mobile
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/hooks/useBeforeLoad.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add onLoad's for widgets (#1381)
  package-lock.json
  package.json
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/hooks/useBeforeLoad.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1972.0 [release]
  package-lock.json
  package.json
Due: none

добавлена переменная - таймаут на получение информации о связи двух таблиц по связанному ключу, по умолчанию занчение 10000 ms
  CHANGELOG.md
  README.md
  src/server/app-env.ts
  src/server/components/charts-engine/components/storage/united-storage/provider.ts
Due: none

обработка ошибок с учетом возврата вида {data:[{message: "error"}]}
  src/ui/datalens/pages/AdminPage/ProjectsPage.tsx
  src/ui/datalens/pages/AdminPage/RolesPage.tsx
  src/ui/datalens/pages/AdminPage/UsersPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

сообщение об ошибке: не выбрана одна из обязательных ролей
  src/ui/datalens/pages/AdminPage/UsersPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add copy and exit btn, params
  src/i18n-keysets/component.dialog-share.view/en.json
  src/i18n-keysets/component.dialog-share.view/ru.json
  src/ui/components/DialogShare/DialogShare.scss
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

onClose type
  src/ui/components/DialogShare/DialogShare.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Processing urls result with safe stringify
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-tab-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/prepare.ts
Due: none

declaration-block-no-redundant-longhand-properties
  .stylelintrc
Due: none

Remove ChartEditor API method setErrorTransformer
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/sandbox.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/features/features-list/NoErrorTransformer.ts
  src/shared/types/charts.ts
  src/shared/types/feature.ts
Due: none

add DialogShareEntry component
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/components/EntryDialogues/DialogShareEntry/DialogShareEntry.tsx
  src/ui/components/EntryDialogues/DialogShareEntry/index.ts
  src/ui/components/EntryDialogues/EntryDialogues.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

remove log, lint fix
  src/ui/components/EntryDialogues/EntryDialogues.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

remove icon
  src/ui/components/DialogShare/DialogShare.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

revert onClose in EntryDialogoues
  src/ui/components/EntryDialogues/EntryDialogues.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add feature flag
  src/server/components/features/features-list/EnableEmbedsInDialogShare.ts
Due: none
