Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

fix
  src/server/components/charts-engine/components/storage/base.ts
Due: none

Cleanup Processor from using Express Request (#1940)
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/storage/base.ts
  src/server/components/charts-engine/controllers/embedded-entry.ts
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/runners/common.ts
Due: none

Bump version to 0.2452.0 [release]
  package-lock.json
  package.json
Due: none

Remove features EnableBIConnectorIcons GSheetsV2Enabled GSheetGoogleAuthEnabled (#1941)
  src/server/components/features/features-list/EnableBIConnectorIcons.ts
  src/server/components/features/features-list/GSheetGoogleAuthEnabled.ts
  src/server/components/features/features-list/GSheetsV2Enabled.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.2453.0 [release]
  package-lock.json
  package.json
Due: none

Fix run tests for remote trigger
  .github/workflows/e2e_tests.yml
Due: none

fix
  .github/workflows/e2e_tests.yml
Due: none

Update e2e_tests.yml
  .github/workflows/e2e_tests.yml
Due: none

Fix run tests for remote trigger (#1942)
  .github/workflows/e2e_tests.yml
Due: none

Bump version to 0.2454.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/dash.control-dialog.edit/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dash.control-dialog.edit/en.json
Due: none

Improve source typings
  src/@types/nodekit.d.ts
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/types.ts
  src/server/configs/opensource/common.ts
Due: none

no create collection permissions dialog
  package-lock.json
  package.json
  src/i18n-keysets/component.dialog-collection-no-create-permission.view/en.json
  src/i18n-keysets/component.dialog-collection-no-create-permission.view/ru.json
  src/i18n-keysets/component.dialog-info.view/en.json
  src/i18n-keysets/component.dialog-info.view/ru.json
  src/ui/components/CollectionsStructure/CollectionNoCreatePermissionDialog/CollectionNoCreatePermissionDialog.tsx
  src/ui/components/DialogInfo/DialogInfo.tsx
  src/ui/components/DialogInfo/index.ts
  src/ui/units/collections/components/CollectionPage/hooks/useLayout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Improve sources configuration typings (#1944)
  src/@types/nodekit.d.ts
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/types.ts
  src/server/configs/opensource/common.ts
Due: none

Bump version to 0.2455.0 [release]
  package-lock.json
  package.json
Due: none

Translations update from Weblate Gravity for PR #1925 (#1943)
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
Due: none

Support accent setting for selectors (#1925)
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/shared/types/dash.ts
  src/ui/components/ControlComponents/Sections/AppearanceSection/AppearanceSection.scss
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/ColorAccentRow/ColorAccentRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/HintRow/HintRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/InnerTitleRow/InnerTitleRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/TitlePlacementRow/TitlePlacementRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/TitleRow/TitleRow.tsx
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DialogGroupControl/GroupControlBody/GroupControlBody.tsx
  src/ui/components/common/YCSelect/YCSelect.scss
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.scss
  src/ui/store/reducers/controlDialog.ts
  src/ui/store/typings/controlDialog.ts
  src/ui/store/utils/controlDialog.ts
  src/ui/units/editor/constants/templates/control.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2456.0 [release]
  package-lock.json
  package.json
Due: none

Add scope for fake dash entry
  src/ui/units/dash/store/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add scope for fake dash entry (#1947)
  src/ui/units/dash/store/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2457.0 [release]
  package-lock.json
  package.json
Due: none

Move from req to ctx
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/types.ts
  src/server/modes/charts/plugins/control/url/distincts/build-distincts-body.ts
  src/server/modes/charts/plugins/request-with-dataset/middlewareAdapters/charts-with-dataset.ts
  src/server/modes/charts/plugins/request-with-dataset/middlewareAdapters/controls-with-dataset.ts
  src/server/modes/charts/plugins/request-with-dataset/request-dataset.ts
Due: none

Add nullMode to GradientColorConfig
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/backgroundColor.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/color.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/background-settings/get-background-colors-map-by-continuous-column.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/shared/constants/gradients/index.ts
  src/shared/types/config/wizard/v12.ts
  src/shared/types/wizard/background-settings.ts
  src/shared/types/wizard/index.ts
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/actions/dialogColor.ts
  src/ui/units/wizard/components/Dialogs/DialogColor/ColorSettingsContainer/ColorSettingsContainer.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorGradient/DialogColorGradient.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorGradient/DialogColorGradient.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/BackgroundSettings/BackgroundSettings.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/BackgroundSettings/hooks/useBackgroundNullModeSettings.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/ButtonColorDialog/ButtonColorDialog.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/utils/backgroundSettings.ts
  src/ui/units/wizard/constants/dialogColor.ts
  src/ui/units/wizard/reducers/utils/clearUnusedVisualizationItems.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

make CollectionNoCreatePermissionDialog customizable
  src/i18n-keysets/component.dialog-collection-no-create-permission.view/en.json
  src/i18n-keysets/component.dialog-collection-no-create-permission.view/ru.json
  src/ui/components/CollectionsStructure/CollectionNoCreatePermissionDialog/CollectionNoCreatePermissionDialog.tsx
  src/ui/registry/units/collections/functionts-map.ts
  src/ui/registry/units/collections/register.ts
  src/ui/registry/units/collections/types/customizeNoCreatePermissionDialog.ts
  src/ui/registry/units/collections/types/index.ts
  src/ui/units/collections/components/CollectionContent/utils.ts
  src/ui/units/collections/components/CollectionPage/hooks/useLayout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move zitadel from req
  src/@types/express.d.ts
  src/@types/nodekit.d.ts
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/controllers/charts.ts
  src/server/components/charts-engine/controllers/utils.ts
  src/server/controllers/navigate.ts
  src/server/controllers/navigation.ts
  src/server/middlewares/auth-zitadel.ts
  src/server/utils/index.ts
  src/shared/schema/gateway-utils.ts
Due: none

Add blank chart events and state
  src/ui/libs/DatalensChartkit/ChartKit/plugins/BlankChart/renderer/BlankChartWidget.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/BlankChart/renderer/BlankChartWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/BlankChart/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add xl title size
  package-lock.json
  package.json
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Up @gravity-ui/dashkit more
  package-lock.json
  package.json
Due: none

Fix axis visbility
  src/ui/constants/visualizations/line.ts
  src/ui/constants/visualizations/scatter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix axis visibility (#1950)
  src/ui/constants/visualizations/line.ts
  src/ui/constants/visualizations/scatter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2458.0 [release]
  package-lock.json
  package.json
Due: none

Add chart widget title hint
  src/i18n-keysets/dash.widget-dialog.edit/en.json
  src/i18n-keysets/dash.widget-dialog.edit/ru.json
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Widget/types.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Lint fix
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix title with hint style
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/ChartWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix displayed title & types
  src/ui/components/DashKit/plugins/Widget/types.ts
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

move
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/types.ts
Due: none
