Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Add content-type for API connector
  src/server/components/charts-engine/components/processor/sources.ts
  src/server/components/charts-engine/types.ts
Due: none

improve logic
  src/server/components/charts-engine/components/processor/sources.ts
  src/server/components/charts-engine/types.ts
Due: none

Add content-type for API connector (#2293)
  src/server/components/charts-engine/components/processor/sources.ts
  src/server/components/charts-engine/types.ts
Due: none

Bump version to 0.2745.0 [release]
  package-lock.json
  package.json
Due: none

Update @datalens-tech/ui-sandbox-modules
  package-lock.json
  package.json
Due: none

Update @gravity-ui/chartkit
  package-lock.json
  package.json
Due: none

Update @datalens-tech/ui-sandbox-modules (#2294)
  package-lock.json
  package.json
Due: none

Bump version to 0.2746.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/chartkit (#2295)
  package-lock.json
  package.json
Due: none

Bump version to 0.2747.0 [release]
  package-lock.json
  package.json
Due: none

Make dash data optional if possible (#2257)
  api/server/plugins.ts
  src/server/components/features/features-list/DashServerMigrationEnable.ts
  src/server/components/features/features-list/DashServerValidationEnabled.ts
  src/server/components/sdk/dash.ts
  src/server/modes/charts/plugins/dash-api.ts
  src/server/modes/charts/plugins/data-api-json-schema.ts
  src/shared/constants/dash.ts
  src/shared/constants/index.ts
  src/shared/constants/widgets.ts
  src/shared/modules/dash-scheme-converter.ts
  src/shared/types/feature.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/constants/widgets.ts
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/containers/Dialogs/constants.ts
  src/ui/units/dash/store/actions/base/actions.ts
  src/ui/units/dash/store/actions/helpers.ts
  src/ui/units/dash/store/reducers/dash.js
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/tabs/tabsWidgetOrder.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2748.0 [release]
  package-lock.json
  package.json
Due: none

Redirect to start page for empty draft
  src/ui/units/editor/components/App/App.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix chart tab validation
  src/server/components/charts-engine/components/chart-validator.ts
Due: none

fix
  src/ui/units/editor/components/App/App.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix chart tab validation (#2297)
  src/server/components/charts-engine/components/chart-validator.ts
Due: none

Bump version to 0.2749.0 [release]
  package-lock.json
  package.json
Due: none

chart main tab option
  src/ui/units/editor/configs/chart/chart-editor-types.ts
  src/ui/units/editor/types/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix workbookSelectionMode in CollectionStructureDialog
  src/ui/components/CollectionsStructure/CollectionStructureDialog/CollectionStructureDialog.tsx
  src/ui/store/actions/collectionsStructure.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix test
  tests/suites/editor/errorProxy.test.ts
  tests/suites/editor/templateExistance.test.ts
  tests/utils/constants.ts
Due: none

Fix workbookSelectionMode in CollectionStructureDialog (#2299)
  src/ui/components/CollectionsStructure/CollectionStructureDialog/CollectionStructureDialog.tsx
  src/ui/store/actions/collectionsStructure.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2750.0 [release]
  package-lock.json
  package.json
Due: none

Redirect to start page for empty draft (#2296)
  src/ui/units/editor/components/App/App.tsx
  tests/suites/editor/errorProxy.test.ts
  tests/suites/editor/templateExistance.test.ts
  tests/utils/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2751.0 [release]
  package-lock.json
  package.json
Due: none

Remove fetch config from processor
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/runners/common.ts
Due: none

revert async
  src/server/components/charts-engine/runners/common.ts
Due: none

Remove extra rls config from bi handles due to EnableRLSV2 flag
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/bi/helpers/datasets.ts
  src/ui/units/datasets/store/actions/creators/dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add pendings status
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/CreateWorkbookDialog.tsx
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/ImportWorkbookView/ImportWorkbookView.tsx
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/utils.ts
  src/ui/components/CollectionsStructure/ExportWorkbookDialog/ExportWorkbookDialog.tsx
  src/ui/components/CollectionsStructure/components/EntriesNotificationCut/EntriesNotificationCut.tsx
  src/ui/components/CollectionsStructure/components/EntriesNotificationCut/helpers.ts
  src/ui/components/CollectionsStructure/components/EntriesNotificationCut/types.ts
  src/ui/components/CollectionsStructure/types.ts
  src/ui/components/EntryIcon/EntryIcon.tsx
  src/ui/components/EntryRow/EntryRow.tsx
  src/ui/store/actions/collectionsStructure.ts
  src/ui/store/constants/collectionsStructure.ts
  src/ui/store/reducers/collectionsStructure.ts
  src/ui/store/selectors/collectionsStructure.ts
  src/ui/store/utils/collectionStructure.ts
  src/ui/utils/getScopeTypeIcon.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Delete unused file
  .rooignore
Due: none

Remove fetch config from processor (#2300)
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/runners/common.ts
Due: none

Bump version to 0.2752.0 [release]
  package-lock.json
  package.json
Due: none

Reset files
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.scss
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionCheckboxCell.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionLinkRow.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionTitleCell.tsx
  src/ui/utils/getScopeTypeIcon.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix after fixes
  src/ui/components/CollectionsStructure/ExportWorkbookDialog/ExportWorkbookDialog.tsx
  src/ui/store/reducers/collectionsStructure.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bugfix DialogErrorWithTabs height
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.scss
Due: prettier --write, stylelint --fix --quiet

Update DialogErrorWithTabs.scss
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.scss
Due: prettier --write, stylelint --fix --quiet

Remove extra rls config from bi handles due to EnableRLSV2 flag (#2301)
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/bi/helpers/datasets.ts
  src/ui/units/datasets/store/actions/creators/dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2753.0 [release]
  package-lock.json
  package.json
Due: none

wip
  .github/workflows/statoscope_tests.yml
Due: none
