Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix lint
  src/ui/units/auth/components/Signin/Signin.scss
Due: prettier --write, stylelint --fix --quiet

Add AUTH_MANAGE_LOCAL_USERS_DISABLED & small fixes (#2203)
  src/@types/nodekit.d.ts
  src/server/configs/opensource/common.ts
  src/shared/schema/auth/types/users.ts
  src/shared/types/common.ts
  src/ui/constants/common.ts
  src/ui/registry/units/auth/functions-map.ts
  src/ui/registry/units/auth/types/components/Signin.ts
  src/ui/registry/units/auth/types/functions/getAdditionalProfileFields.ts
  src/ui/units/auth/components/Signin/Signin.scss
  src/ui/units/auth/components/Signin/Signin.tsx
  src/ui/units/auth/components/Signup/Signup.tsx
  src/ui/units/auth/components/Signup/components/Back.tsx
  src/ui/units/auth/components/UserProfile/UserProfile.tsx
  src/ui/units/auth/containers/UserProfile/UserProfile.tsx
  src/ui/units/service-settings/components/UsersList/UsersList.tsx
  src/ui/units/service-settings/components/UsersList/utils.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2668.0 [release]
  package-lock.json
  package.json
Due: none

Remove unused auth keysets
  src/i18n-keysets/main.service-settings.view/en.json
  src/i18n-keysets/main.service-settings.view/ru.json
  src/i18n-keysets/service-settings.main.view/en.json
  src/i18n-keysets/service-settings.main.view/ru.json
  src/i18n-keysets/service-settings.users-list.view/en.json
  src/i18n-keysets/service-settings.users-list.view/ru.json
  src/ui/registry/units/auth/types/components/AdditionalUsersFilters.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

batch dialog actions
  src/ui/units/dash/store/actions/relations/actions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix lint
  src/ui/units/service-settings/components/UsersList/UsersFilters/UsersFilters.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

revert keyset
  src/i18n-keysets/main.service-settings.view/en.json
  src/i18n-keysets/main.service-settings.view/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/service-settings.users-list.view/en.json
Due: none

Test keysets flow
  src/i18n-keysets/sql/en.json
  src/i18n-keysets/sql/ru.json
  src/i18n-keysets/test.keyset/en.json
  src/i18n-keysets/test.keyset/ru.json
Due: none

Remove the use of flags for escaping in wizard (#2201)
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/helpers/tooltip.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepare-scatter.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap/highcharts.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/chartkit-handlers.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/utils.ts
  src/ui/units/wizard/components/Dialogs/DialogField/utils/misc.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix navigation for script entry (#2199)
  src/ui/components/Navigation/Base/NavigationBase.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2669.0 [release]
  package-lock.json
  package.json
Due: none

Bump version to 0.2670.0 [release]
  package-lock.json
  package.json
Due: none

Add RelationsWidgetSelect selector
  src/shared/constants/qa/dash.ts
  src/ui/components/DialogRelations/DialogRelations.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove native modules from the charts engine (#2200)
  src/server/components/charts-engine/index.ts
  src/server/configs/opensource/common.ts
  src/server/modes/charts/init-charts-engine.ts
Due: none

Bump version to 0.2671.0 [release]
  package-lock.json
  package.json
Due: none

Add global relations dialog test
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/base/relations.test.ts
Due: none

Update gravity-ui/icons pack (#2202)
  package-lock.json
  package.json
Due: none

Bump version to 0.2672.0 [release]
  package-lock.json
  package.json
Due: none

Added new relations test for opensource
  tests/opensource-suites/dash/base/relations.test.ts
Due: none

Add lost translations
  src/ui/units/auth/components/ChangeUserRoleDialog/ChangeUserRoleDialog.tsx
  src/ui/units/auth/store/actions/userInfoForm.ts
  src/ui/units/auth/store/actions/userProfile.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove unused auth keysets & fix registry type (#2204)
  src/i18n-keysets/service-settings.main.view/en.json
  src/i18n-keysets/service-settings.main.view/ru.json
  src/i18n-keysets/service-settings.users-list.view/en.json
  src/i18n-keysets/service-settings.users-list.view/ru.json
  src/ui/registry/units/auth/types/components/AdditionalUsersFilters.ts
  src/ui/units/service-settings/components/UsersList/UsersFilters/UsersFilters.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2673.0 [release]
  package-lock.json
  package.json
Due: none

Add lost translations (#2207)
  src/ui/units/auth/components/ChangeUserRoleDialog/ChangeUserRoleDialog.tsx
  src/ui/units/auth/store/actions/userInfoForm.ts
  src/ui/units/auth/store/actions/userProfile.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2674.0 [release]
  package-lock.json
  package.json
Due: none

CustomShapeRenderer for GravityCharts + some ui-sandbox improvements
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/utils.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox-runtime.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Register onNavigationCreateMenuClick
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/CreateEntry/CreateEntry.tsx
  src/ui/components/Navigation/NavigationModal.js
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/types/functions/onNavigationCreateMenuClick.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

New version of logic
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.tsx
  src/ui/components/CollectionsStructure/CreateEntryInWorkbookDialog.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/index.ts
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/types/functions/onNavigationCreateMenuClick.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

CustomShapeRenderer for GravityCharts + some ui-sandbox improvements (#2208)
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/utils.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox-runtime.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2675.0 [release]
  package-lock.json
  package.json
Due: none

Revert unused changes
  src/ui/components/Navigation/NavigationModal.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Return export
  src/ui/components/Navigation/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move NavigationModal to closed (#2210)
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.tsx
  src/ui/components/CollectionsStructure/CreateEntryInWorkbookDialog.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/CreateEntry/CreateEntry.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2676.0 [release]
  package-lock.json
  package.json
Due: none

Fix bugs for auth interface
  src/shared/schema/auth/types/users.ts
  src/ui/registry/units/auth/types/components/AdditionalUsersFilters.ts
  src/ui/units/auth/components/ChangePasswordDialog/ChangePasswordDialog.tsx
  src/ui/units/auth/components/Signin/Signin.tsx
  src/ui/units/auth/components/Signin/components/Login.tsx
  src/ui/units/auth/components/Signup/Signup.scss
  src/ui/units/auth/components/Signup/Signup.tsx
  src/ui/units/auth/components/formControls/Password.tsx
  src/ui/units/auth/components/formControls/RowButton.tsx
  src/ui/units/auth/store/actions/userInfoForm.ts
  src/ui/units/auth/utils/fields.ts
  src/ui/units/auth/utils/validation.ts
  src/ui/units/service-settings/components/CreateUserForm/CreateUserForm.tsx
  src/ui/units/service-settings/store/actions/serviceSettings.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix lint
  src/ui/units/auth/components/Signup/Signup.scss
Due: prettier --write, stylelint --fix --quiet

Fix bugs for auth interface (#2211)
  src/shared/schema/auth/types/users.ts
  src/ui/registry/units/auth/types/components/AdditionalUsersFilters.ts
  src/ui/units/auth/components/ChangePasswordDialog/ChangePasswordDialog.tsx
  src/ui/units/auth/components/Signin/Signin.tsx
  src/ui/units/auth/components/Signin/components/Login.tsx
  src/ui/units/auth/components/Signup/Signup.tsx
  src/ui/units/auth/components/formControls/Password.tsx
  src/ui/units/auth/components/formControls/RowButton.tsx
  src/ui/units/auth/store/actions/userInfoForm.ts
  src/ui/units/auth/utils/fields.ts
  src/ui/units/auth/utils/validation.ts
  src/ui/units/service-settings/components/CreateUserForm/CreateUserForm.tsx
  src/ui/units/service-settings/store/actions/serviceSettings.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2677.0 [release]
  package-lock.json
  package.json
Due: none

Fix chartActions
  src/@types/nodekit.d.ts
  src/server/components/charts-engine/components/storage/base.ts
  src/server/components/charts-engine/components/storage/types.ts
  src/server/components/charts-engine/components/storage/united-storage/provider.ts
  src/server/components/charts-engine/controllers/run.ts
  src/server/components/charts-engine/index.ts
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/helpers/chart-actions.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
