Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add a field to the chart config for html escaping (#1093)
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/components/processor/utils.ts
  src/server/modes/charts/plugins/datalens/config.ts
  src/shared/constants/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/units/editor/store/reducers/editor/editorTypedReducer.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1726.0 [release]
  package-lock.json
  package.json
Due: none

Clean up the code associated with the PivotTableMeasureNames flag
  src/server/components/features/features-list/WorkerChartBuilder.ts
  src/shared/modules/helpers.ts
  src/shared/types/wizard/field.ts
  src/shared/types/wizard/misc.ts
  src/ui/constants/visualizations/pivotTable.ts
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/utils/misc.ts
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

remove unused Feature flag
  src/server/components/features/features-list/PivotTableMeasureNames.ts
  src/shared/types/feature.ts
Due: none

Добавлена функция "Поделиться" в главное меню
  src/i18n-keysets/component.entry-context-menu.view/en.json
  src/i18n-keysets/component.entry-context-menu.view/ru.json
  src/i18n-keysets/dash.action-panel.view/en.json
  src/i18n-keysets/dash.action-panel.view/ru.json
  src/server/components/features/features-list/EnableShareWidget.ts
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/OpenDialogShare/OpenDialogShare.tsx
  src/ui/libs/DatalensChartkit/modules/menu/menu.ts
  src/ui/store/actions/openDialogTypes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix empty charts layout that is outside of widget boundaries
  src/ui/components/Widgets/Chart/Chart.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fixed saving the hint in the wizard chart
  src/server/components/features/features-list/WorkerChartBuilder.ts
  src/ui/units/wizard/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix empty charts layout that is outside of widget boundaries (#1101)
  src/ui/components/Widgets/Chart/Chart.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1727.0 [release]
  package-lock.json
  package.json
Due: none

Созданы функции по работе с пользователями
  CHANGELOG.md
  src/shared/schema/us/actions/entries.ts
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove flag CHARTS-9587-Remove-flag-CustomAccessDescription
  src/server/components/features/features-list/CustomAccessDescription.ts
  src/shared/types/feature.ts
Due: none

Remove unused keys from keyset
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
Due: none

Пункт меню поделиться добавлен в группу
  src/ui/components/EntryContextMenu/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix error view for PLATFORM_PERMISSION_REQUIRED
  src/shared/constants/error-codes.ts
  src/ui/units/connections/components/ErrorView/ErrorView.scss
  src/ui/units/connections/components/ErrorView/ErrorView.tsx
  src/ui/units/datasets/containers/Dataset/Dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add title options for indicator chart
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/components/features/features-list/WorkerChartBuilder.ts
  src/server/modes/charts/plugins/datalens/preparers/metric/utils.ts
  src/server/modes/charts/plugins/datalens/preparers/metric/variants/basic.ts
  src/server/modes/charts/plugins/datalens/preparers/metric/variants/markup.ts
  src/server/modes/charts/plugins/ql/library-config.ts
  src/shared/modules/config/wizard/__test__/mapChartsConfigToLatestVersion.test.ts
  src/shared/modules/config/wizard/mapChartsConfigToLatestVersion.ts
  src/shared/modules/config/wizard/v10/mapV10ConfigToV11.ts
  src/shared/types/config/wizard/index.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/wizard/index.ts
  src/shared/types/wizard/versions.ts
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.scss
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.tsx
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
  src/ui/units/wizard/reducers/utils/getConfigData.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix cancellation of request in charts and selectors
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/utils.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update comments
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove flag CustomAccessDescription (#1103)
  src/server/components/features/features-list/CustomAccessDescription.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.1728.0 [release]
  package-lock.json
  package.json
Due: none

Add test
  src/server/modes/charts/plugins/datalens/preparers/metric/utils.ts
  src/shared/constants/qa/wizard.ts
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.tsx
  tests/opensource-suites/wizard/visualizations/metric/title.test.ts
  tests/page-objects/wizard/ChartKit.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix unit test
  src/ui/units/wizard/reducers/__tests__/preview.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Clean up the code associated with the PivotTableMeasureNames flag (#1100)
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/components/features/features-list/PivotTableMeasureNames.ts
  src/server/components/features/features-list/WorkerChartBuilder.ts
  src/shared/modules/helpers.ts
  src/shared/types/feature.ts
  src/shared/types/wizard/field.ts
  src/shared/types/wizard/misc.ts
  src/ui/constants/visualizations/pivotTable.ts
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/utils/misc.ts
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1729.0 [release]
  package-lock.json
  package.json
Due: none

Integration with docker
  dev/env/opensource/development.env
  src/@types/nodekit.d.ts
  src/server/components/zitadel/init-zitadel.ts
  src/server/components/zitadel/utils.ts
  src/server/configs/opensource/common.ts
Due: none

Integration with docker (#1107)
  dev/env/opensource/development.env
  src/@types/nodekit.d.ts
  src/server/components/zitadel/init-zitadel.ts
  src/server/components/zitadel/utils.ts
  src/server/configs/opensource/common.ts
Due: none

Bump version to 0.1730.0 [release]
  package-lock.json
  package.json
Due: none

исправлен инфтерфейс "Поделиться", добавлена кнопка "Обновить ссылку"
  CHANGELOG.md
  src/i18n-keysets/component.dialog-share.view/en.json
  src/i18n-keysets/component.dialog-share.view/ru.json
  src/shared/schema/us/actions/entries.ts
  src/ui/components/DialogShare/DialogShare.scss
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Show confirmation dialog in case of changing field visibility
  src/ui/units/datasets/store/reducers/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed saving the hint in the wizard chart (#1102)
  src/ui/units/wizard/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1731.0 [release]
  package-lock.json
  package.json
Due: none

Fix error of selector execution
  src/i18n-keysets/chartkit.control/en.json
  src/i18n-keysets/chartkit.control/ru.json
  src/ui/components/DashKit/plugins/Control/Error/Error.tsx
  src/ui/libs/DatalensChartkit/ChartKit/modules/i18n/keysets/en.js
  src/ui/libs/DatalensChartkit/ChartKit/modules/i18n/keysets/ru.js
  src/ui/libs/DatalensChartkit/components/Control/Control.scss
  src/ui/libs/DatalensChartkit/components/Control/Control.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Show confirmation dialog in case of changing field visibility (#1109)
  src/ui/units/datasets/store/reducers/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1732.0 [release]
  package-lock.json
  package.json
Due: none

When sorting a pivot table with a column\row with a calculated field by parameter, it returns an error
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/utils.ts
  tests/opensource-suites/wizard/visualizations/pivot-table/sorting.test.ts
  tests/page-objects/wizard/SectionVisualization.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Apply dashkit beta
  package-lock.json
  package.json
Due: none

fix
  src/ui/components/Widgets/Chart/utils.ts
  tests/opensource-suites/wizard/visualizations/pivot-table/sorting.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Review fixes
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/hooks/useMountedState.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix absence of includeClickableType in EntrySelector
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/EntrySelector/EntrySelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ExternalSelectorSettings/ExternalSelectorSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
