Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add line width setting for wizard line charts
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/utils/shape-helpers.ts
  src/shared/constants/qa/wizard.ts
  src/shared/types/config/wizard/v15.ts
  src/shared/types/wizard/index.ts
  src/ui/components/NumberFormatSettings/NumberInput/NumberInput.scss
  src/ui/components/NumberFormatSettings/NumberInput/NumberInput.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineWidth/DialogLineWidth.scss
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineWidth/DialogLineWidth.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapes.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapesPalette/DialogShapesPalette.scss
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapesPalette/DialogShapesPalette.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogValueList/DialogValueList.scss
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogValueList/DialogValueList.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/hooks/useShapesPalette.ts
  src/ui/units/wizard/components/LineWidthSelect/LineWidthSelect.scss
  src/ui/units/wizard/components/LineWidthSelect/LineWidthSelect.tsx
  src/ui/units/wizard/constants/shapes.ts
  tests/page-objects/wizard/ChartKit.ts
  tests/page-objects/wizard/ShapeDialog.ts
  tests/suites/wizard/placeholders/shapesPlaceholder.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add shape settings scope tabs
  src/server/modes/charts/plugins/datalens/utils/shape-helpers.ts
  src/shared/constants/qa/wizard.ts
  src/shared/types/config/wizard/v15.ts
  src/shared/types/wizard/index.ts
  src/ui/components/NumberFormatSettings/NumberInput/NumberInput.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineWidth/DialogLineWidth.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapes.scss
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapes.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogValueList/DialogValueList.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/tabs/DialogShapesChartSettingsTab.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/tabs/DialogShapesGraphSettingsTab.tsx
  src/ui/units/wizard/components/LineWidthSelect/LineWidthSelect.tsx
  src/ui/units/wizard/constants/shapes.ts
  tests/opensource-suites/wizard/visualizations/line/shapes.test.ts
  tests/page-objects/wizard/ShapeDialog.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix line width range test
  src/ui/units/wizard/components/LineWidthSelect/LineWidthSelect.tsx
  tests/opensource-suites/wizard/visualizations/line/shapes.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add additional PAPI headers getter func
  src/server/components/public-api/utils/index.ts
  src/server/components/public-api/utils/pick-additional-public-api-headers.ts
  src/server/registry/units/common/functions-map.ts
  src/server/registry/units/common/register.ts
  src/server/utils/index.ts
Due: none

Add line cap and join settings
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/shared/types/config/wizard/v15.ts
  src/shared/types/wizard/index.ts
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineCapAndJoin/DialogLineCapAndJoin.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineCapAndJoin/icons/LineCapRoundIcon.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineCapAndJoin/icons/LineCapSquareIcon.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineCapAndJoin/icons/LineJoinRoundIcon.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineCapAndJoin/icons/LineJoinSquareIcon.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapes.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/tabs/DialogShapesChartSettingsTab.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/tabs/DialogShapesGraphSettingsTab.tsx
  src/ui/units/wizard/constants/shapes.ts
  src/ui/units/wizard/typings/shapes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add getBatchListAccessBindingsFilter to registry
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/types/functions/getBatchListAccessBindingsFilter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

up chartkit
  package-lock.json
  package.json
Due: none

Add chart modeling menu to widget
  package-lock.json
  package.json
  src/@types/ml-regression.d.ts
  src/i18n-keysets/chartkit.menu/en.json
  src/i18n-keysets/chartkit.menu/ru.json
  src/server/components/features/features-list/ChartAnalytics.ts
  src/shared/types/charts.ts
  src/shared/types/feature.ts
  src/shared/types/menu.ts
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/helpers/analytics.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Content/store/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.js
  src/ui/libs/DatalensChartkit/menu/chart-modeling.tsx
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/components/Widgets/Chart/helpers/analytics.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update chartkit v7.37.1
  package-lock.json
  package.json
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
Due: none

Add dash bg color selector
  src/i18n-keysets/dash.settings-dialog.edit/en.json
  src/i18n-keysets/dash.settings-dialog.edit/ru.json
  src/ui/components/DashKit/utils.ts
  src/ui/registry/units/dash/functions-map.ts
  src/ui/registry/units/dash/register.tsx
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Body/components/Content/Content.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/DashkitWrapper.tsx
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/Display.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  src/ui/units/dash/utils/colors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

add restricted state for workbook entry
  src/shared/schema/us/types/entries.ts
  src/shared/schema/us/types/workbooks.ts
  src/shared/types/entry.ts
  src/ui/components/EntryRow/EntryRow.tsx
  src/ui/components/WorkbookNavigationMinimal/WorkbookNavigationMinimal.tsx
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/registry/units/workbooks/types/components/workbookTableRowExtendedContent.ts
  src/ui/registry/units/workbooks/types/functions/getWorkbookEntryUrl.ts
  src/ui/units/workbooks/components/CreateEntry/CreateEntry.tsx
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/types.ts
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/utils.ts
  src/ui/units/workbooks/components/WorkbookTabContent/WorkbookTabContent.tsx
  src/ui/units/workbooks/components/WorkbookTabContent/useChunkedEntries.ts
  src/ui/units/workbooks/store/actions/index.ts
  src/ui/units/workbooks/store/reducers/workbook-page.ts
  src/ui/units/workbooks/types/index.ts
  src/ui/utils/shared-entries/get-is-restricted-shared-entry.ts
  src/ui/utils/shared-entries/get-is-shared-entry.ts
  src/ui/utils/shared-entries/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

restrict the display of menus for graph types and visualizations
  src/ui/components/Widgets/Chart/helpers/analytics.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/libs/DatalensChartkit/menu/chart-modeling.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Address naming issues
  src/server/modes/charts/plugins/datalens/utils/shape-helpers.ts
  src/shared/types/config/wizard/v15.ts
  src/shared/types/wizard/index.ts
  src/ui/components/NumberFormatSettings/NumberFormatSettings.tsx
  src/ui/components/NumberInput/NumberInput.scss
  src/ui/components/NumberInput/NumberInput.tsx
  src/ui/components/NumberInput/StepButton.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineWidth/DialogLineWidth.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapes.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/tabs/DialogShapesChartSettingsTab.tsx
  tests/opensource-suites/wizard/visualizations/line/shapes.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix screenshot
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/split.test.ts/Wizard-Line-chart-Split-with-two-Y-axes-left-and-right-screenshot-1.png
Due: none

fix tooltip
  src/ui/components/Widgets/Chart/helpers/analytics.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update chartkit v7.37.1 (#3455)
  package-lock.json
  package.json
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/split.test.ts/Wizard-Line-chart-Split-with-two-Y-axes-left-and-right-screenshot-1.png
Due: none

Bump version to 0.3762.0 [release]
  package-lock.json
  package.json
Due: none

Add context menu for revision row (#3449)
  src/i18n-keysets/component.revisions-panel.view/en.json
  src/i18n-keysets/component.revisions-panel.view/ru.json
  src/ui/assets/icons/file-diff.svg
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/Revisions/Revisions.tsx
  src/ui/components/Revisions/RevisionsList/RevisionsList.tsx
  src/ui/components/Revisions/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3763.0 [release]
  package-lock.json
  package.json
Due: none

Fix usage chart-chart filtration with global selectors
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remvoe comment
  src/ui/components/DashKit/plugins/Control/Control.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix usage chart-chart filtration with global selectors (#3459)
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3764.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dash.settings-dialog.edit/en.json
Due: none

Translations update from Weblate Gravity for PR #3456 (#3460)
  src/i18n-keysets/dash.settings-dialog.edit/en.json
Due: none

Add ChartModelingSettings drawer
  src/i18n-keysets/chartkit.menu/en.json
  src/i18n-keysets/chartkit.menu/ru.json
  src/i18n-keysets/component.chart-modeling-settings/en.json
  src/i18n-keysets/component.chart-modeling-settings/ru.json
  src/shared/types/menu.ts
  src/ui/components/ChartModelingSettings/ChartModelingSettings.scss
  src/ui/components/ChartModelingSettings/ChartModelingSettings.tsx
  src/ui/components/ChartModelingSettings/SmothSettings.tsx
  src/ui/components/ChartModelingSettings/TrendSettings.tsx
  src/ui/components/ChartModelingSettings/constants.ts
  src/ui/components/Widgets/Chart/helpers/analytics.ts
  src/ui/index.ts
  src/ui/libs/DatalensChartkit/menu/chart-modeling.tsx
  src/ui/store/chart-modeling/actions.ts
  src/ui/store/chart-modeling/reducer.ts
  src/ui/store/chart-modeling/selectors.ts
  src/ui/store/chart-modeling/typings.ts
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add dash bg color selector (#3456)
  src/i18n-keysets/dash.settings-dialog.edit/en.json
  src/i18n-keysets/dash.settings-dialog.edit/ru.json
  src/ui/components/DashKit/utils.ts
  src/ui/registry/units/dash/functions-map.ts
  src/ui/registry/units/dash/register.tsx
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Body/components/Content/Content.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/DashkitWrapper.tsx
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/Display.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  src/ui/units/dash/utils/colors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3765.0 [release]
  package-lock.json
  package.json
Due: none

refactor
  src/shared/schema/us/types/entries.ts
  src/ui/units/workbooks/types/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

WIP: add shared entry to workbook test
  src/shared/constants/qa/collections.ts
  src/shared/constants/qa/shared-entries.ts
  src/shared/constants/qa/workbooks.ts
  src/ui/components/DialogAddSharedEntryFromLink/DialogAddSharedEntryFromLink.tsx
  src/ui/components/DialogSelectSharedEntry/DialogSelectSharedEntry.tsx
  src/ui/components/DialogSharedRelatedEntities/DialogSharedRelatedEntities.tsx
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/connections/components/Page/useAdditionalContextMenuItems.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/utils.ts
  tests/constants/constants.ts
  tests/page-objects/collections/CollectionsPage.ts
  tests/page-objects/workbook/Workbook.ts
  tests/suites/shared-entries/add-shared-entry-to-workbook.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
  tests/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add shared entries creation test
  src/shared/constants/qa/collections.ts
  src/shared/constants/qa/datasets.ts
  src/shared/constants/qa/index.ts
  src/shared/constants/qa/shared-entries.ts
  src/ui/components/DialogSharedEntryBindings/components/SharedBindingsFooter.tsx
  src/ui/components/DialogSharedEntryPermissions/DialogSharedEntryPermissions.tsx
  src/ui/components/DialogSharedEntryPermissions/components/PermissionButton/PermissionButton.tsx
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionActions/utils.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/datasets/components/Source/Source.js
  tests/constants/constants.ts
  tests/page-objects/collections/CollectionsPage.ts
  tests/page-objects/connections/ConnectionsPage.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/dataset/avatars/avatars.test.ts
  tests/suites/dataset/sourceEditorDialog.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add test check shared dataset create from connection
  src/shared/constants/qa/connections.ts
  src/ui/units/connections/components/Page/components/CreateDatasetButton.tsx
  tests/opensource-suites/connections/clickhouse.test.ts
  tests/opensource-suites/connections/postgres.test.ts
  tests/opensource-suites/connections/ytsaurus.test.ts
  tests/page-objects/connections/ConnectionsPage.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/shared-entries/add-shared-entry-to-workbook.test.ts
  tests/suites/shared-entries/check-creation-root-collection.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

refactor creation test, add constants
  tests/constants/constants.ts
  tests/page-objects/collections/CollectionsPage.ts
  tests/page-objects/connections/ConnectionsPage.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/shared-entries/add-shared-entry-to-workbook.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
Due: none

Pass extraOptions to export menu item config (#3446)
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/DownloadCsv/DownloadCsv.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/CsvExport/CsvExport.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/types.ts
  src/ui/libs/DatalensChartkit/menu/Menu.tsx
  src/ui/store/actions/dialog.ts
  src/ui/units/ql/containers/PanePreview/PanePreview.tsx
  src/ui/units/wizard/containers/Wizard/SectionPreview/SectionPreview.tsx
  src/ui/utils/custom-export-menu-item.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3766.0 [release]
  package-lock.json
  package.json
Due: none

Add restricted state for workbook entry (#3457)
  src/shared/schema/us/types/entries.ts
  src/shared/schema/us/types/workbooks.ts
  src/shared/types/entry.ts
  src/ui/components/EntryRow/EntryRow.tsx
  src/ui/components/WorkbookNavigationMinimal/WorkbookNavigationMinimal.tsx
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/registry/units/workbooks/types/components/workbookTableRowExtendedContent.ts
  src/ui/registry/units/workbooks/types/functions/getWorkbookEntryUrl.ts
  src/ui/units/workbooks/components/CreateEntry/CreateEntry.tsx
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/types.ts
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/utils.ts
  src/ui/units/workbooks/components/WorkbookTabContent/WorkbookTabContent.tsx
  src/ui/units/workbooks/components/WorkbookTabContent/useChunkedEntries.ts
  src/ui/units/workbooks/store/actions/index.ts
  src/ui/units/workbooks/store/reducers/workbook-page.ts
  src/ui/units/workbooks/types/index.ts
  src/ui/utils/shared-entries/get-is-restricted-shared-entry.ts
  src/ui/utils/shared-entries/get-is-shared-entry.ts
  src/ui/utils/shared-entries/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3767.0 [release]
  package-lock.json
  package.json
Due: none

Use markup in addText
  tests/opensource-suites/dash/widgets/autoheightDynamicCases.test.ts
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
