Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1444.0 [release]
  package-lock.json
  package.json
Due: none

review fixes
  package.json
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/store/actions/controls/actions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Added new line in keysets
  src/i18n-keysets/common.data-types/en.json
  src/i18n-keysets/common.data-types/ru.json
  src/i18n-keysets/component.dialog-aliases.view/en.json
  src/i18n-keysets/component.dl-field-editor.view/en.json
  src/i18n-keysets/component.dl-field-editor.view/ru.json
  src/i18n-keysets/component.field-editor.view/en.json
  src/i18n-keysets/component.field-editor.view/ru.json
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.params-button-dialog.view/en.json
  src/i18n-keysets/dash.params-button-dialog.view/ru.json
  src/i18n-keysets/dash.popup-widgets-order.view/en.json
  src/i18n-keysets/dash.popup-widgets-order.view/ru.json
  src/i18n-keysets/dash.text-dialog.edit/en.json
  src/i18n-keysets/dash.text-dialog.edit/ru.json
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/i18n-keysets/sql/en.json
  src/i18n-keysets/sql/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
Due: none

Added new line in keysets (#778)
  src/i18n-keysets/common.data-types/en.json
  src/i18n-keysets/common.data-types/ru.json
  src/i18n-keysets/component.dialog-aliases.view/en.json
  src/i18n-keysets/component.dl-field-editor.view/en.json
  src/i18n-keysets/component.dl-field-editor.view/ru.json
  src/i18n-keysets/component.field-editor.view/en.json
  src/i18n-keysets/component.field-editor.view/ru.json
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.params-button-dialog.view/en.json
  src/i18n-keysets/dash.params-button-dialog.view/ru.json
  src/i18n-keysets/dash.popup-widgets-order.view/en.json
  src/i18n-keysets/dash.popup-widgets-order.view/ru.json
  src/i18n-keysets/dash.text-dialog.edit/en.json
  src/i18n-keysets/dash.text-dialog.edit/ru.json
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/i18n-keysets/sql/en.json
  src/i18n-keysets/sql/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
Due: none

Bump version to 0.1445.0 [release]
  package-lock.json
  package.json
Due: none

Some fixes
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.scss
  src/ui/units/collections/components/CollectionPage/hooks/useData.ts
  src/ui/units/collections/store/reducers/index.ts
  src/ui/units/workbooks/components/WorkbookMainTabContent/WorkbookMainTabContent.tsx
  src/ui/units/workbooks/components/WorkbookPage/hooks/useLayout.tsx
  src/ui/units/workbooks/components/WorkbookTabContent/WorkbookTabContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Revert reset wizard store change, add reset history
  src/ui/store/actions/editHistory.ts
  src/ui/store/reducers/colorPaletteEditor.ts
  src/ui/store/reducers/editHistory.ts
  src/ui/units/wizard/actions/preview.ts
  src/ui/units/wizard/constants/index.ts
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/WizardActionPanel.tsx
  src/ui/units/wizard/reducers/dataset.ts
  src/ui/units/wizard/reducers/hierarchyEditor.ts
  src/ui/units/wizard/reducers/index.ts
  src/ui/units/wizard/reducers/preview.ts
  src/ui/units/wizard/reducers/settings.ts
  src/ui/units/wizard/reducers/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

добавледобавлена возможность "Поделиться"на возможность
  CHANGELOG.md
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/libs/DatalensChartkit/menu/helpers.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix namespace lost
  src/ui/components/DashKit/plugins/DebugInfoTool/DebugInfoTool.scss
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

add serverless runner
  package-lock.json
  src/server/components/charts-engine/runners/chart.ts
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/serverlessEditor.ts
  src/server/components/features/features-list/EnableServerlessEditor.ts
  src/server/configs/opensource/common.ts
  src/shared/types/feature.ts
Due: none

wip
  src/server/configs/opensource/common.ts
Due: none

Add pivot table dnd e2e test
  tests/opensource-suites/wizard/visualizations/pivot-table/drag-n-drop.test.ts
Due: none

Add dnd e2e test for flat table
  tests/opensource-suites/wizard/visualizations/flat-table/drag-n-drop.test.ts
Due: none

Add pie dnd e2e test
  tests/opensource-suites/wizard/utils.ts
  tests/opensource-suites/wizard/visualizations/pie/drag-n-drop.test.ts
  tests/page-objects/wizard/WizardPage.ts
Due: none

Translated using Weblate (English)
  src/i18n-keysets/component.dialog-relations.view/en.json
Due: none

Translated using Weblate (English) (#780)
  src/i18n-keysets/component.dialog-relations.view/en.json
Due: none

Add wizard drag-and-drop e2e tests (#779)
  tests/opensource-suites/wizard/utils.ts
  tests/opensource-suites/wizard/visualizations/flat-table/drag-n-drop.test.ts
  tests/opensource-suites/wizard/visualizations/pie/drag-n-drop.test.ts
  tests/opensource-suites/wizard/visualizations/pivot-table/drag-n-drop.test.ts
  tests/page-objects/wizard/WizardPage.ts
Due: none

Bump version to 0.1446.0 [release]
  package-lock.json
  package.json
Due: none

revert package-lock
  package-lock.json
Due: none

wip
  package-lock.json
Due: none

fix envs
  src/server/components/charts-engine/runners/serverlessEditor.ts
Due: none

wip
  src/server/components/charts-engine/runners/serverlessEditor.ts
Due: none

Fix error control and dialog relations
  src/ui/components/DashKit/plugins/Control/Control.scss
  src/ui/components/DashKit/plugins/Control/Error/Error.scss
  src/ui/components/DashKit/plugins/Control/Error/Error.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/helpers.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/useFilteredRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix columns sorting for rows with markup
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/misc.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-rows-generator.ts
  src/shared/modules/index.ts
  src/shared/modules/markup.ts
  src/shared/types/wizard/misc.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/misc.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/libs/DatalensChartkit/modules/export/export.js
  src/ui/libs/DatalensChartkit/modules/table.ts
  tests/opensource-suites/wizard/visualizations/pivot-table/sorting.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add serverless chart editor runner (#757)
  src/server/components/charts-engine/runners/chart.ts
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/serverlessEditor.ts
  src/server/components/features/features-list/EnableServerlessEditor.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.1447.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/shared/modules/wizard-helpers.ts
Due: none

add param validation error
  src/ui/units/dash/components/ParamsSettings/helpers.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ParametersSection/ParametersSection.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add support validation
  src/ui/units/dash/containers/Dialogs/Control2/Control2.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/QueryTypeControl/components/EditLabelControl/EditLabelControl.tsx
  src/ui/units/dash/store/actions/controls/helpers.ts
  src/ui/units/dash/store/actions/controls/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

revert
  src/ui/units/dash/components/ParamsSettings/helpers.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ParametersSection/ParametersSection.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

refactoring
  src/ui/units/dash/containers/Dialogs/Control2/Control2.scss
  src/ui/units/dash/containers/Dialogs/Control2/Control2.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

no sending empty params
  src/shared/modules/typed-query-api/mappers/parameters.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/ConnectionSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add on retry
  src/ui/components/Select/wrappers/SelectFeatured.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/ConnectionSettings.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ListValueControl/ValueSelector/DynamicValueSelect.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ListValueControl/ValueSelector/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/units/dash/containers/Dialogs/Control2/Control2.scss
Due: prettier --write, stylelint --fix --quiet

error text position
  src/ui/units/dash/containers/Dialogs/Control2/Control2.scss
Due: prettier --write, stylelint --fix --quiet

Fix dialog relations with errors
  src/i18n-keysets/component.dialog-relations.view/en.json
  src/i18n-keysets/component.dialog-relations.view/ru.json
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix documentation link for aliases of editor charts (#769)
  src/i18n-keysets/component.dialog-relations.view/en.json
  src/i18n-keysets/component.dialog-relations.view/ru.json
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1448.0 [release]
  package-lock.json
  package.json
Due: none

Refactor usage mobile header component
  src/ui/components/DashKit/plugins/DebugInfoTool/DebugInfoTool.scss
  src/ui/components/MobileHeader/MobileHeaderComponent/MobileHeaderComponent.tsx
  src/ui/components/MobileTocToggle/MobileTocToggle.scss
  src/ui/datalens/index.tsx
  src/ui/registry/units/common/components-map.tsx
  src/ui/registry/units/common/types/components/MobileHeaderComponent.ts
  src/ui/styles/base.scss
  src/ui/units/dash/containers/App/App.tsx
  src/ui/units/preview/components/App/App.tsx
  src/ui/units/wizard/containers/App.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
