Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Refactor color picker (#3128)
  src/shared/constants/widgets.ts
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorItem/ColorItem.scss
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorItem/ColorItem.tsx
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.scss
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/dash/containers/Dialogs/components/ColorPicker/ColorPicker.scss
  src/ui/units/dash/containers/Dialogs/components/ColorPicker/ColorPicker.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteText/PaletteText.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3477.0 [release]
  package-lock.json
  package.json
Due: none

Improve ColorInput component
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix transparent title bg color
  src/shared/constants/widgets.ts
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update @gravity-ui/chartkit 7.22.0 > 7.23.0
  package-lock.json
  package.json
Due: none

Fix screenshots
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/data-labels.test.ts/Wizard-Bar-y-chart-Datetime-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/data-labels.test.ts/Wizard-Bar-y-chart-Markup-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/data-labels.test.ts/Wizard-Bar-y-chart-String-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
Due: none

Update @gravity-ui/chartkit 7.22.0 > 7.23.0 (#3138)
  package-lock.json
  package.json
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/data-labels.test.ts/Wizard-Bar-y-chart-Datetime-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/data-labels.test.ts/Wizard-Bar-y-chart-Markup-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/data-labels.test.ts/Wizard-Bar-y-chart-String-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
Due: none

Bump version to 0.3478.0 [release]
  package-lock.json
  package.json
Due: none

Set min/max for gravity charts
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
Due: none

Add ref to ColorInput; change opacity from 0 to 1 on color change (#3137)
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3479.0 [release]
  package-lock.json
  package.json
Due: none

Fix transparent title bg color (#3125)
  src/shared/constants/widgets.ts
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3480.0 [release]
  package-lock.json
  package.json
Due: none

Handle chart activity errors
  src/shared/types/charts.ts
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/hooks/useChartActivities.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Set min/max for gravity charts (#3139)
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
Due: none

Bump version to 0.3481.0 [release]
  package-lock.json
  package.json
Due: none

Support new widgets color pickers
  src/shared/constants/widgets.ts
  src/shared/modules/dash-scheme-converter.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/DashKit.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/Display.tsx
  src/ui/units/dash/containers/Dialogs/components/ColorInputsGroup/ColorInputsGroup.scss
  src/ui/units/dash/containers/Dialogs/components/ColorInputsGroup/ColorInputsGroup.tsx
  src/ui/units/dash/containers/Dialogs/components/ColorPickerInputWithPreset/ColorPickerInputWithPreset.scss
  src/ui/units/dash/containers/Dialogs/components/ColorPickerInputWithPreset/ColorPickerInputWithPreset.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteText/PaletteText.tsx
  src/ui/utils/copyItems.ts
  src/ui/utils/widgetColors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Draft
  src/ui/components/ColorPaletteEditorContainer/ColorPaletteEditorContainer.scss
  src/ui/components/ColorPaletteEditorContainer/ColorPaletteEditorContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Pass options for getDistincts request for controls
  src/server/components/charts-engine/controllers/embeds.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/DashKit/plugins/Control/utils.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add shared dataset creation
  src/shared/schema/bi/types/datasets.ts
  src/shared/schema/us/actions/entries/index.ts
  src/shared/schema/us/types/collections.ts
  src/shared/schema/us/types/entries.ts
  src/ui/components/CollectionFilters/CollectionFilters.scss
  src/ui/components/CollectionFilters/CollectionFilters.tsx
  src/ui/components/CollectionsStructure/CollectionStructureDialog/CollectionStructureDialog.tsx
  src/ui/components/CollectionsStructure/CollectionStructureDialog/StructureItemSelect/Item/Item.scss
  src/ui/components/CollectionsStructure/CollectionStructureDialog/StructureItemSelect/Item/Item.tsx
  src/ui/components/CollectionsStructure/CollectionStructureDialog/StructureItemSelect/StructureItemSelect.tsx
  src/ui/components/CollectionsStructure/hooks/useCollectionStructureDialogState.ts
  src/ui/components/DialogSelectSharedEntry/DialogSelectSharedEntry.scss
  src/ui/components/DialogSelectSharedEntry/DialogSelectSharedEntry.tsx
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/collections/components/constants.ts
  src/ui/units/connections/components/Page/components/CreateDatasetButton.tsx
  src/ui/units/connections/store/selectors/connection-data.ts
  src/ui/units/connections/store/selectors/index.ts
  src/ui/units/datasets/components/DatasetRouter/DatasetRouter.tsx
  src/ui/units/datasets/components/DialogCreateDataset/DialogCreateDataset.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.tsx
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/containers/Dataset/Dataset.tsx
  src/ui/units/datasets/containers/DatasetPage/DatasetPage.tsx
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.js
  src/ui/units/datasets/containers/DatasetTabViewer/DatasetTabViewer.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update width for new settings (#3140)
  src/ui/components/ColorPaletteEditorContainer/ColorPaletteEditorContainer.scss
  src/ui/components/ColorPaletteEditorContainer/ColorPaletteEditorContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3482.0 [release]
  package-lock.json
  package.json
Due: none

test dashkit 9-2-1-beta
  package-lock.json
  package.json
Due: none

wip
  src/ui/components/DialogRelations/hooks/useRelations.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix gradient coloring
  src/server/modes/charts/plugins/datalens/preparers/helpers/legend.ts
Due: none

Fix gradient coloring (#3144)
  src/server/modes/charts/plugins/datalens/preparers/helpers/legend.ts
Due: none

Bump version to 0.3483.0 [release]
  package-lock.json
  package.json
Due: none

Revert "Remove react-data-table from dataset preview (#3091)"
  src/ui/units/connections/components/custom-forms/utils/render.tsx
  src/ui/units/datasets/components/PreviewHeader/PreviewHeader.tsx
  src/ui/units/datasets/components/PreviewTable/PreviewTable.js
  src/ui/units/datasets/components/PreviewTable/PreviewTable.scss
  src/ui/units/datasets/components/PreviewTable/PreviewTable.tsx
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/containers/DatasetPreview/DatasetPreview.js
  src/ui/units/datasets/containers/DatasetPreview/DatasetPreview.tsx
  src/ui/units/datasets/store/constants.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Revert "Remove react-data-table from dataset preview" (#3145)
  src/ui/units/connections/components/custom-forms/utils/render.tsx
  src/ui/units/datasets/components/PreviewHeader/PreviewHeader.tsx
  src/ui/units/datasets/components/PreviewTable/PreviewTable.js
  src/ui/units/datasets/components/PreviewTable/PreviewTable.scss
  src/ui/units/datasets/components/PreviewTable/PreviewTable.tsx
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/containers/DatasetPreview/DatasetPreview.js
  src/ui/units/datasets/containers/DatasetPreview/DatasetPreview.tsx
  src/ui/units/datasets/store/constants.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3484.0 [release]
  package-lock.json
  package.json
Due: none

remove mock from shared entry bindings dialog
  src/shared/schema/us/actions/entries/index.ts
  src/shared/schema/us/types/entries.ts
  src/ui/components/DialogSharedEntryBindings/DialogSharedEntryBindings.tsx
  src/ui/components/DialogSharedEntryBindings/mock.ts
  src/ui/components/DialogSharedEntryPermissions/DialogSharedEntryPermissions.tsx
  src/ui/components/DialogSharedEntryUnbind/DialogSharedEntryUnbind.tsx
  src/ui/components/EntityLink/EntityLink.tsx
  src/ui/components/EntityRow/EntityRow.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/SharedBindingsList/SharedBindingsList.tsx
  src/ui/units/collections/components/constants.ts
  src/ui/units/connections/components/Page/Page.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Rename chart action to activity
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/components/storage/types.ts
  src/shared/types/chartkit/dl-chartkit.ts
  src/shared/types/charts.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/helpers/chart-actions.tsx
  src/ui/components/Widgets/Chart/hooks/useChartActivities.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Chart/Chart.tsx
  src/ui/libs/DatalensChartkit/components/Control/Control.tsx
  src/ui/libs/DatalensChartkit/components/Control/types.ts
  src/ui/libs/DatalensChartkit/modules/constants/constants.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/types/control.ts
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Refactor plugins
  src/shared/types/dash.ts
  src/ui/components/DashKit/DashKit.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fire event when dash is empty
  src/ui/units/dash/components/EmptyState/EmptyState.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

comment
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add ff EnableNewDashSettings
  src/server/components/features/features-list/EnableNewDashSettings.ts
  src/shared/types/feature.ts
Due: none

rename api method
  src/shared/schema/us/actions/entries/index.ts
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Rename chart action to activity (#3148)
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/components/storage/types.ts
  src/shared/types/chartkit/dl-chartkit.ts
  src/shared/types/charts.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/helpers/chart-actions.tsx
  src/ui/components/Widgets/Chart/hooks/useChartActivities.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Chart/Chart.tsx
  src/ui/libs/DatalensChartkit/components/Control/Control.tsx
  src/ui/libs/DatalensChartkit/components/Control/types.ts
  src/ui/libs/DatalensChartkit/modules/constants/constants.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/types/control.ts
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3485.0 [release]
  package-lock.json
  package.json
Due: none
