Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add numberFormat for ui sandbox (#1255)
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1855.0 [release]
  package-lock.json
  package.json
Due: none

Fix chartkit tooltip in case of markup in anchor (#1254)
  src/ui/libs/DatalensChartkit/ChartKit/components/ChartKitTooltip/ChartKitTooltip.tsx
  src/ui/libs/DatalensChartkit/modules/html-generator/constants.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1856.0 [release]
  package-lock.json
  package.json
Due: none

Fix layout of DeleteDialog in workbooks
  src/ui/components/CollectionsStructure/DeleteDialog/DeleteDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix action panel items for group controls
  src/ui/utils/getActionPanelItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/utils/getActionPanelItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix layout of DeleteDialog in workbooks (#1256)
  src/ui/components/CollectionsStructure/DeleteDialog/DeleteDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1857.0 [release]
  package-lock.json
  package.json
Due: none

Fix action panel items on dash for group controls (#1257)
  src/ui/utils/getActionPanelItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1858.0 [release]
  package-lock.json
  package.json
Due: none

Move entities list to common components
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
  src/ui/components/EntitiesList/EntitiesList.scss
  src/ui/components/EntitiesList/EntitiesList.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Move entities list to common components (#1258)
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
  src/ui/components/EntitiesList/EntitiesList.scss
  src/ui/components/EntitiesList/EntitiesList.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1859.0 [release]
  package-lock.json
  package.json
Due: none

Fix coloring zero values(pivot table)
  src/server/modes/charts/plugins/datalens/utils/color-helpers.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Coloring-zero-values-with-a-gradient-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pivot-table/coloring.test.ts
Due: none

Fix coloring zero values (pivot table) (#1259)
  src/server/modes/charts/plugins/datalens/utils/color-helpers.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Coloring-zero-values-with-a-gradient-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pivot-table/coloring.test.ts
Due: none

Bump version to 0.1860.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/i18n to v1.6.0
  package-lock.json
  package.json
Due: none

Update @gravity-ui/i18n to v1.6.0 (#1260)
  package-lock.json
  package.json
Due: none

Bump version to 0.1861.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/dashkit 8.3.0 -> 8.6.0
  package-lock.json
  package.json
Due: none

Update @gravity-ui/dashkit 8.3.0 -> 8.6.0 (#1261)
  package-lock.json
  package.json
Due: none

Bump version to 0.1862.0 [release]
  package-lock.json
  package.json
Due: none

Refactoring dash components for separate usage
  src/i18n-keysets/dash.store.view/en.json
  src/i18n-keysets/dash.store.view/ru.json
  src/server/components/charts-engine/controllers/embedded-entry.ts
  src/server/components/charts-engine/controllers/embeds.ts
  src/shared/types/dash.ts
  src/ui/components/ViewError/ViewError.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/utils.ts
  src/ui/units/dash/containers/App/App.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/containers/Error/Error.js
  src/ui/units/dash/containers/Tabs/Tabs.tsx
  src/ui/units/dash/hooks/useIframeFeatures.tsx
  src/ui/units/dash/store/actions/base/actions.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/actions/helpers.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/utils/embedded.ts
  src/ui/utils/errors/manual.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Created:
  CHANGELOG.md
  dev/env/opensource/development.env
  src/server/components/charts-engine/constants/index.ts
  src/server/configs/common.ts
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
Due: none

Correcting errors
  src/i18n-keysets/dash.error.view/en.json
  src/i18n-keysets/dash.error.view/ru.json
  src/i18n-keysets/dash.store.view/en.json
  src/i18n-keysets/dash.store.view/ru.json
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Error/Error.tsx
  src/ui/units/dash/modules/constants.ts
  src/ui/units/dash/store/actions/base/actions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Enable GroupControls flag
  src/server/components/features/features-list/GroupControls.ts
Due: none

Fix state selectors in group controls
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix state selectors in group controls (#1264)
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1863.0 [release]
  package-lock.json
  package.json
Due: none

Fix worker pool initialization for wizard runner
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/wizard.ts
  src/server/components/features/features-list/WorkerChartBuilder.ts
  src/server/modes/charts/init-charts-engine.ts
Due: none

Bump version to 0.1858.1 [hotfix]
  package-lock.json
  package.json
Due: none

Rename prop rowsRenderLimit -> tableRowsRenderLimit
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Chart/Chart.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix worker pool initialization for wizard runner (#1265)
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/wizard.ts
  src/server/components/features/features-list/WorkerChartBuilder.ts
  src/server/modes/charts/init-charts-engine.ts
Due: none

Bump version to 0.1864.0 [release]
  package-lock.json
  package.json
Due: none

Add new scope in navigation
  src/server/controllers/navigation.ts
  src/shared/constants/navigation.ts
  src/ui/components/EntityIcon/EntityIcon.tsx
  src/ui/components/EntryIcon/EntryIcon.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Other navigation improvements
  src/server/controllers/navigation.ts
  src/shared/types/common.ts
  src/ui/components/EntryIcon/EntryIcon.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add new scope support in navigation (#1266)
  src/server/controllers/navigation.ts
  src/shared/constants/navigation.ts
  src/shared/types/common.ts
  src/ui/components/EntityIcon/EntityIcon.tsx
  src/ui/components/EntryIcon/EntryIcon.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1865.0 [release]
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
