Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update @gravity-ui/chartkit 7.9.1 -> 7.11.1 (#2908)
  package-lock.json
  package.json
  src/ui/units/wizard/components/AddField/AddField.scss
  tests/opensource-suites/__screenshots__/ql/visualizations/column/column.test.ts/QL-Column-chart-Check-that-fields-order-does-not-affect-axis-settings-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/negative-values.test.ts/Wizard-Bar-x-chart-Negative-Y-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/axis.test.ts/Wizard-Line-chart-Date-and-time-on-the-Y-axis-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-5.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Point-color-set-by-the-fake-title-of-the-field-screenshot-1.png
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.3272.0 [release]
  package-lock.json
  package.json
Due: none

revert
  tests/data/us-e2e-data.sql
Due: none

fix
  tests/data/us-e2e-data.sql
Due: none

fix
  scripts/e2e/us-dump.sh
  tests/data/us-e2e-data.sql
Due: none

clear revisions
  scripts/e2e/us-dump.sh
  tests/data/us-e2e-data.sql
Due: none

fix us dump script
  scripts/e2e/us-dump.sh
Due: none

Fix title error in field editor
  src/ui/components/FieldEditor/components/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix
  src/ui/components/FieldEditor/components/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Clear deleted entries and not actual revisions from e2e data (#2912)
  scripts/e2e/us-dump.sh
  tests/data/us-e2e-data.sql
Due: none

Bump version to 0.3273.0 [release]
  package-lock.json
  package.json
Due: none

Remove name
  src/ui/components/FieldEditor/components/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix update connection
  src/ui/units/connections/store/actions/base.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/actions/s3-based.ts
  src/ui/units/connections/store/reducers/index.ts
  src/ui/units/connections/store/typings/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix build
  Dockerfile
  README.md
  package-lock.json
  package.json
  patches/@types+cacheable-request+6.0.3.patch
Due: none

Move version to header
  src/server/components/public-api/constants/common.ts
  src/server/components/public-api/constants/index.ts
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/server/components/public-api/utils/register-action-to-open-api.ts
Due: none

fix bar-y gradient coloring
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/color-helpers/colorizeByGradient.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/coloring.test.ts/Wizard-Bar-y-chart-Coloring-bay-measure-field-gradient-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/bar-y/coloring.test.ts
Due: none

fix
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
Due: none

screenshots
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/coloring.test.ts/Wizard-Bar-y-chart-Coloring-by-measure-field-gradient-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Coloring-by-measure-field-gradient-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/bar-y/coloring.test.ts
  tests/opensource-suites/wizard/visualizations/scatter/coloring.test.ts
Due: none

Fix bar-x gradient coloring
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/color-helpers/colorizeByGradient.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/coloring.test.ts/Wizard-Bar-x-chart-Coloring-by-measure-field-gradient-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/bar-x/coloring.test.ts
Due: none

fix bar-y percent stacking
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
Due: none

Fix
  src/ui/units/datasets/store/actions/creators/dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix entry delete actions
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/actions/wizard.ts
  src/shared/schema/us/types/entries.ts
Due: none

Clear old E2E entries
  tests/data/us-e2e-data.sql
Due: none

Fixes
  src/server/components/public-api/constants/common.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/schemas/dash.ts
Due: none

The default palette for the color selection dialog in charts
  src/ui/units/wizard/components/Dialogs/DialogColor/ColorSettingsContainer/ColorSettingsContainer.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorPalette/DialogColorPalette.tsx
  src/ui/units/wizard/components/Dialogs/DialogMetricSettings/DialogMetricSettings.tsx
  src/ui/units/wizard/components/MinifiedPalette/MinifiedPalette.tsx
  src/ui/units/wizard/constants/dialogColor.ts
  src/ui/units/wizard/utils/palette.tsx
  src/ui/utils/colors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

обновление интерфейса, добавлен offline HC
  .gitignore
  Dockerfile
  README.md
  dist/public/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7SUc.woff2
  dist/public/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2
  dist/public/highcharts/8.2.2/highcharts-more.js
  dist/public/highcharts/8.2.2/highcharts.js
  dist/public/highcharts/8.2.2/modules/annotations.js
  dist/public/highcharts/8.2.2/modules/bullet.js
  dist/public/highcharts/8.2.2/modules/drilldown.js
  dist/public/highcharts/8.2.2/modules/export-data.js
  dist/public/highcharts/8.2.2/modules/exporting.js
  dist/public/highcharts/8.2.2/modules/funnel.js
  dist/public/highcharts/8.2.2/modules/heatmap.js
  dist/public/highcharts/8.2.2/modules/histogram-bellcurve.js
  dist/public/highcharts/8.2.2/modules/networkgraph.js
  dist/public/highcharts/8.2.2/modules/parallel-coordinates.js
  dist/public/highcharts/8.2.2/modules/pattern-fill.js
  dist/public/highcharts/8.2.2/modules/sankey.js
  dist/public/highcharts/8.2.2/modules/series-label.js
  dist/public/highcharts/8.2.2/modules/solid-gauge.js
  dist/public/highcharts/8.2.2/modules/stock.js
  dist/public/highcharts/8.2.2/modules/streamgraph.js
  dist/public/highcharts/8.2.2/modules/timeline.js
  dist/public/highcharts/8.2.2/modules/treemap.js
  dist/public/highcharts/8.2.2/modules/variwide.js
  dist/public/highcharts/8.2.2/modules/venn.js
  dist/public/highcharts/8.2.2/modules/wordcloud.js
  dist/public/highcharts/8.2.2/modules/xrange.js
  fonts-load.sh
  highcharts-load.sh
  package-lock.json
  package.json
  src/ui/datalens/pages/AdminPage/UserAdminFields.jsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

обновление changelog
  CHANGELOG.md
Due: none

Clear old E2E entries (#2915)
  tests/data/us-e2e-data.sql
Due: none

Bump version to 0.3274.0 [release]
  package-lock.json
  package.json
Due: none

Tenant setting to select the default palette
  dev/env/opensource/development.env
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/features/features-list/EnableTenantSettingPalettes.ts
  src/server/components/features/features-list/NewDefaultPalette.ts
  src/server/components/layout/opensource-layout-config.ts
  src/server/middlewares/tenant-settings.ts
  src/server/modes/charts/plugins/datalens/js/helpers/colors/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/server/modes/opensource/routes.ts
  src/shared/schema/us-private/actions/index.ts
  src/shared/schema/us-private/actions/tenant.ts
  src/shared/schema/us/types/fields.ts
  src/shared/schema/us/types/tenant.ts
Due: none

Fix e2e us dump run
  package.json
Due: none

fix
  package.json
Due: none

Fix title error in field editor (#2913)
  src/ui/components/FieldEditor/components/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3275.0 [release]
  package-lock.json
  package.json
Due: none

Fixes
  src/server/controllers/workbook-transfer.ts
  src/shared/components/auth/gateway-auth-helpers/bi-auth-helpers.ts
  src/shared/registry/units/gateway-auth/functions-map.ts
Due: none

fix table color settings
  src/shared/types/wizard/bars.ts
  src/ui/units/wizard/components/Dialogs/DialogField/components/BarsSettings/BarsSettings.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/BarsSettings/components/ColorControls/ColorsControl.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/ButtonColorDialog/ButtonColorDialog.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/utils/barsSettings.ts
  src/ui/units/wizard/utils/palette.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/units/wizard/components/Dialogs/DialogField/components/ButtonColorDialog/ButtonColorDialog.tsx
  src/ui/units/wizard/components/Dialogs/DialogMetricSettings/DialogMetricSettings.tsx
  src/ui/units/wizard/utils/palette.tsx
  src/ui/utils/colors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/server/middlewares/tenant-settings.ts
  tests/docker-compose.e2e.yml
Due: none

fix
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Point-color-set-by-the-fake-title-of-the-field-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/scatter/coloring.test.ts
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
