Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix public gallery scroll, card click
  src/ui/units/gallery/components/App.tsx
  src/ui/units/gallery/components/blocks/GalleryCardPreview/GalleryCardPreview.scss
  src/ui/units/gallery/components/blocks/GalleryCardPreview/GalleryCardPreview.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add hasClose to search field
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add mainPage property to GetMetaRespose
  src/shared/schema/anonymous-schema/public-gallery/actions.ts
Due: none

Review fixes
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix public gallery scroll, card click (#2544)
  src/shared/schema/anonymous-schema/public-gallery/actions.ts
  src/ui/units/gallery/components/App.tsx
  src/ui/units/gallery/components/blocks/GalleryCardPreview/GalleryCardPreview.scss
  src/ui/units/gallery/components/blocks/GalleryCardPreview/GalleryCardPreview.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2955.0 [release]
  package-lock.json
  package.json
Due: none

wip
  src/ui/components/ActionPanel/components/ChartSaveControls/components/SaveDropdown/SaveDropdown.tsx
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.tsx
  src/ui/components/DialogRelations/DialogRelations.tsx
  src/ui/components/DialogRelations/components/Content/Row.tsx
  src/ui/components/ListWithMenu/ListWithMenu.tsx
  src/ui/components/Navigation/Core/CreateEntry/CreateEntry.tsx
  src/ui/components/Navigation/Core/CreateEntry/getCreateEntryItems.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.js
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/dash/components/DashActionPanel/SaveDropDown/SaveDropDown.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.js
  src/ui/units/datasets/components/Source/Source.js
  src/ui/units/datasets/components/SourceEditorDialog/components/ParamSelector.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
  src/ui/units/wizard/components/DatasetSelect/DatasetSelectItem.tsx
  src/ui/units/wizard/components/Dialogs/DialogMultidataset.tsx
  src/ui/units/wizard/components/GeolayersSelect/GeolayersSelect.tsx
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationSelector/VisualizationSelector.tsx
  src/ui/units/workbooks/components/CreateEntry/CreateEntry.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translations update from Weblate Gravity for PR #2543 (#2545)
  src/i18n-keysets/gallery.card-page.view/ru.json
Due: none

Remove garbage code
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add gallery dropdown menu (#2543)
  src/i18n-keysets/gallery.card-page.view/en.json
  src/i18n-keysets/gallery.card-page.view/ru.json
  src/ui/units/gallery/components/pages/CardPage/CardPage.scss
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2956.0 [release]
  package-lock.json
  package.json
Due: none

Fix typings
  src/i18n-keysets/gallery.view/en.json
  src/i18n-keysets/gallery.view/ru.json
  src/ui/components/ErrorContent/ErrorContent.tsx
  src/ui/typings/error.ts
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/utils/errors/parse.ts
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix CardPage errors handling
  src/i18n-keysets/gallery.view/en.json
  src/i18n-keysets/gallery.view/ru.json
  src/shared/utils/manualError.ts
  src/ui/components/ErrorContent/ErrorContent.tsx
  src/ui/typings/error.ts
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/utils/errors/manual.ts
  src/ui/utils/errors/parse.ts
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix Public Gallery header
  src/ui/assets/images/illustration/dark/gallery-header.png
  src/ui/assets/images/illustration/dark/gallery-header.svg
  src/ui/assets/images/illustration/light/gallery-header.png
  src/ui/assets/images/illustration/light/gallery-header.svg
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
  src/ui/units/gallery/components/utils/i18n.ts
  src/ui/units/gallery/components/utils/navigation.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix header actions
  src/i18n-keysets/gallery.landing.view/en.json
  src/i18n-keysets/gallery.landing.view/ru.json
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add preview toggle via url param in public gallery
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Public Gallery: change header image, add header actions (#2546)
  src/i18n-keysets/gallery.landing.view/en.json
  src/i18n-keysets/gallery.landing.view/ru.json
  src/ui/assets/images/illustration/dark/gallery-header.png
  src/ui/assets/images/illustration/dark/gallery-header.svg
  src/ui/assets/images/illustration/light/gallery-header.png
  src/ui/assets/images/illustration/light/gallery-header.svg
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
  src/ui/units/gallery/components/utils/i18n.ts
  src/ui/units/gallery/components/utils/navigation.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2957.0 [release]
  package-lock.json
  package.json
Due: none

Fix public gallery search startsWith -> includes
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Can be used filter
  src/i18n-keysets/gallery.all-page.view/en.json
  src/i18n-keysets/gallery.all-page.view/ru.json
Due: none

Fix CardPage errors handling (#2542)
  src/i18n-keysets/gallery.view/en.json
  src/i18n-keysets/gallery.view/ru.json
  src/shared/utils/manualError.ts
  src/ui/components/ErrorContent/ErrorContent.tsx
  src/ui/typings/error.ts
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/utils/errors/manual.ts
  src/ui/utils/errors/parse.ts
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2958.0 [release]
  package-lock.json
  package.json
Due: none

Add canBeUsed filter
  src/shared/types/public-gallery.ts
  src/ui/units/gallery/components/pages/AllPage/AllPage.scss
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove commented text
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix i18n for categories and add arrow back
  src/i18n-keysets/gallery.all-page.view/en.json
  src/i18n-keysets/gallery.all-page.view/ru.json
  src/shared/constants/public-gallery.ts
  src/ui/units/gallery/components/blocks/PageHeader/PageHeader.scss
  src/ui/units/gallery/components/blocks/PageHeader/PageHeader.tsx
  src/ui/units/gallery/components/blocks/index.ts
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
  src/ui/units/gallery/components/utils/gallery-item.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Added mobile modifier for filters
  src/ui/units/gallery/components/pages/AllPage/AllPage.scss
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Replace ActionPanel prop pageOffset to styles (#2536)
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/hooks/useActionPanelLayout.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2959.0 [release]
  package-lock.json
  package.json
Due: none

Update public gallery use texts
  src/i18n-keysets/gallery.card-page.view/ru.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/gallery.all-page.view/ru.json
Due: none

Translations update from Weblate Gravity for PR #2550 (#2552)
  src/i18n-keysets/gallery.all-page.view/ru.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/gallery.card-page.view/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/gallery.all-page.view/en.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/gallery.card-page.view/en.json
Due: none

Fix public gallery search startsWith -> includes (#2548)
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add preview toggle via url param in public gallery (#2547)
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2960.0 [release]
  package-lock.json
  package.json
Due: none

Bump version to 0.2961.0 [release]
  package-lock.json
  package.json
Due: none

Translations update from Weblate Gravity for PR #2549 (#2553)
  src/i18n-keysets/gallery.all-page.view/en.json
  src/i18n-keysets/gallery.card-page.view/en.json
  src/i18n-keysets/gallery.card-page.view/ru.json
Due: none

Can be used filter (#2549)
  src/i18n-keysets/gallery.all-page.view/en.json
  src/i18n-keysets/gallery.all-page.view/ru.json
  src/i18n-keysets/gallery.card-page.view/en.json
  src/i18n-keysets/gallery.card-page.view/ru.json
  src/shared/types/public-gallery.ts
  src/ui/units/gallery/components/pages/AllPage/AllPage.scss
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
