Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

fix typo
  tests/page-objects/wizard/ColorDialog.ts
Due: none

Add custom hex color input to wizard (#3540)
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/backgroundColor.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/background-settings/get-flat-table-background-styles.ts
  src/shared/constants/qa/wizard.ts
  src/ui/components/ColorPickerInput/utils.ts
  src/ui/components/ColorValueItem/ColorValueItem.scss
  src/ui/components/ColorValueItem/ColorValueItem.tsx
  src/ui/constants/common.ts
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/datasets/components/ColorsDialog/ColorsDialog.scss
  src/ui/units/datasets/components/ColorsDialog/ColorsDialog.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/ColorSettingsContainer/ColorSettingsContainer.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorPalette/DialogColorPalette.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorPalette/DialogColorPalette.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/PaletteWithCustomColor/PaletteWithCustomColor.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/PaletteWithCustomColor/PaletteWithCustomColor.tsx
  src/ui/units/wizard/components/MinifiedPalette/MinifiedPalette.scss
  src/ui/units/wizard/components/MinifiedPalette/MinifiedPalette.tsx
  src/ui/units/wizard/components/Palette/Palette.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/coloring.test.ts/Wizard-Bar-x-chart-Coloring-with-hex-colors-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/bar-x/coloring.test.ts
  tests/page-objects/wizard/ColorDialog.ts
  tests/suites/wizard/metric/metricCustomization.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3833.0 [release]
  package-lock.json
  package.json
Due: none

Remove EnableSecureParamsV2 usage
  src/server/components/charts-engine/controllers/embeds.ts
Due: none

Fix stack setting in area chart
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/shared/constants/qa/wizard.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/stacking.test.ts/Wizard-Area-chart-Stacking-disabled-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/area/stacking.test.ts
  tests/page-objects/wizard/ChartSettings.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix stack setting in area chart (#3546)
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/shared/constants/qa/wizard.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/stacking.test.ts/Wizard-Area-chart-Stacking-disabled-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/area/stacking.test.ts
  tests/page-objects/wizard/ChartSettings.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3834.0 [release]
  package-lock.json
  package.json
Due: none

Fix gravity-charts area data labels and tooltip formatting
  package-lock.json
  package.json
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/data-labels.test.ts/Wizard-Area-chart-Datetime-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/data-labels.test.ts/Wizard-Area-chart-Markup-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/data-labels.test.ts/Wizard-Area-chart-String-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/data-labels.test.ts/Wizard-Area-normalised-chart-Percentage-as-labels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/tooltip.test.ts/Wizard-Area-chart-Different-format-of-the-two-measures-in-tooltip-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/tooltip.test.ts/Wizard-Area-normalised-chart-Percentage-formatting-in-tooltip-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/area/data-labels.test.ts
  tests/opensource-suites/wizard/visualizations/area/tooltip.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixes after review
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/store/actions/controlDialog/controlDialog.ts
  src/ui/units/dash/store/actions/copy-and-paste/helpers.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove EnableSecureParamsV2 usage (#3545)
  src/server/components/charts-engine/controllers/embeds.ts
Due: none

Bump version to 0.3835.0 [release]
  package-lock.json
  package.json
Due: none

Review fixes
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/data-labels.test.ts/Wizard-Area-chart-String-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/data-labels.test.ts/Wizard-Bar-x-chart-String-dataLabels-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/area/data-labels.test.ts
  tests/opensource-suites/wizard/visualizations/bar-x/data-labels.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Show error is selector dialog if field was deleted
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/DatasetSelectorSettings/DatasetSelectorSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix gravity-charts area data labels and tooltip formatting (#3547)
  package-lock.json
  package.json
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/data-labels.test.ts/Wizard-Area-chart-Datetime-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/data-labels.test.ts/Wizard-Area-chart-Markup-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/data-labels.test.ts/Wizard-Area-chart-String-dataLabels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/data-labels.test.ts/Wizard-Area-normalised-chart-Percentage-as-labels-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/tooltip.test.ts/Wizard-Area-chart-Different-format-of-the-two-measures-in-tooltip-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/tooltip.test.ts/Wizard-Area-normalised-chart-Percentage-formatting-in-tooltip-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/data-labels.test.ts/Wizard-Bar-x-chart-String-dataLabels-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/area/data-labels.test.ts
  tests/opensource-suites/wizard/visualizations/area/tooltip.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3836.0 [release]
  package-lock.json
  package.json
Due: none

Show error in selector dialog if field was deleted
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/DatasetSelectorSettings/DatasetSelectorSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add embedded dash limit error
  src/i18n-keysets/dash.error.view/en.json
  src/i18n-keysets/dash.error.view/ru.json
  src/shared/constants/error-codes.ts
  src/ui/units/dash/containers/DashError/DashError.tsx
  src/ui/units/dash/modules/constants.ts
  src/ui/utils/errorContentTypes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove EnableSecureParamsV2 flag
  src/server/components/features/features-list/EnableSecureParamsV2.ts
  src/shared/types/feature.ts
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/dash.main.view/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dash.main.view/en.json
Due: none

Update DashError.tsx
  src/ui/units/dash/containers/DashError/DashError.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translations update from Weblate Gravity for PR #3542 (#3551)
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
Due: none

Add link dialog when pasting a selector (#3542)
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
  src/shared/types/dash.ts
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/ConnectionSelector.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/DatasetSelectorSettings/DatasetSelectorSettings.tsx
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogEditItem/DialogEditItem.tsx
  src/ui/components/DialogExternalControl/DialogExternalControl.tsx
  src/ui/components/DialogGroupControl/DialogGroupControl.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/registry/units/dash/types/GetExtendedItemData.ts
  src/ui/store/actions/controlDialog/controlDialog.ts
  src/ui/store/reducers/controlDialog/controlDialog.ts
  src/ui/store/selectors/controlDialog.ts
  src/ui/store/typings/controlDialog.ts
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/usePreparedCopyItemOptions.ts
  src/ui/units/dash/containers/Dialogs/Dialogs.tsx
  src/ui/units/dash/modules/helpers.ts
  src/ui/units/dash/store/actions/copy-and-paste/helpers.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/actions/helpers.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/reducers/dashHelpers.ts
  src/ui/units/dash/utils/selectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Set startOnTick & endOnTick to false for gravity-charts x-axis (area, bar-x, line)
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/axis.test.ts/Wizard-Line-chart-Chart-starts-and-ends-on-data-points-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/line/axis.test.ts
Due: none

Set startOnTick & endOnTick to false for gravity-charts x-axis (#3523)
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/axis.test.ts/Wizard-Line-chart-Chart-starts-and-ends-on-data-points-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/line/axis.test.ts
Due: none

Bump version to 0.3837.0 [release]
  package-lock.json
  package.json
Due: none

Fox
  src/ui/units/dash/containers/DashError/DashError.tsx
  src/ui/units/dash/modules/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add embedded dash limit error (#3549)
  src/i18n-keysets/dash.error.view/en.json
  src/i18n-keysets/dash.error.view/ru.json
  src/shared/constants/error-codes.ts
  src/ui/units/dash/containers/DashError/DashError.tsx
  src/ui/units/dash/modules/constants.ts
  src/ui/utils/errorContentTypes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3838.0 [release]
  package-lock.json
  package.json
Due: none

Remove EnableSecureParamsV2 flag (#3550)
  src/server/components/features/features-list/EnableSecureParamsV2.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.3839.0 [release]
  package-lock.json
  package.json
Due: none

Show error in selector dialog if field was deleted (#3548)
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/DatasetSelectorSettings/DatasetSelectorSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3840.0 [release]
  package-lock.json
  package.json
Due: none

fix wait validate dataset response
  tests/page-objects/dataset/DatasetPage.ts
Due: none

Remove mode from create-dashboard
  src/shared/schema/mix/actions/dash/create-dashboard-v1.ts
  src/shared/schema/mix/schemas/dash/create-dashboard-v1.ts
Due: none

Remove mode from create-dashboard
  src/shared/schema/mix/schemas/dash/create-dashboard-v1.ts
Due: none

fix dataset history tests
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  tests/suites/dataset/history.test.ts
  tests/utils/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
