Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.3171.0 [release]
  package-lock.json
  package.json
Due: none

fix runtime undefined
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldMainSection/DialogFieldMainSection.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix double escaping in markup dataLabels
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/utils/markup.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix according to a prettier configuration to finally achieve a green check
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Apply i18n-keysets-check: reorder keys
  src/i18n-keysets/component.dialog-related-entities.view/en.json
  src/i18n-keysets/component.dialog-related-entities.view/ru.json
Due: none

Add entry description dialog usage (#2789)
  src/shared/constants/qa/components.ts
  src/ui/components/DialogEntryDescription/DialogEntryDescription.tsx
  src/ui/components/EntryDialogues/DialogDashMeta/DialogDashMeta.scss
  src/ui/components/EntryDialogues/DialogDashMeta/DialogDashMeta.tsx
  src/ui/components/EntryDialogues/DialogDashMeta/DialogDashMetaWrapper.tsx
  src/ui/components/EntryDialogues/EntryDialogues.tsx
  src/ui/registry/units/dash/register.tsx
  src/ui/units/dash/components/DashActionPanel/Description/Description.tsx
  src/ui/units/dash/components/DashActionPanel/EditControls/EditControls.tsx
  src/ui/units/dash/components/DashActionPanel/ViewControls/ViewControls.tsx
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/actions/index.ts
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3172.0 [release]
  package-lock.json
  package.json
Due: none

fix + add e2e
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/markup.test.ts/Wizard-Pie-chart-Markup-with-special-characters-in-dataLabels-with-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pie/markup.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move a 'Retry' button from Dialog footer to a renderAction prop of PlaceholderIllustration component (error state)
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.scss
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix icons for relations dialog dropdowns
  src/ui/components/DialogRelations/components/Content/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add view for PromoBlockRow
  src/ui/styles/rebranding-theme.scss
  src/ui/units/gallery/components/blocks/PromoBlockRow/PromoBlockRow.scss
  src/ui/units/gallery/components/blocks/PromoBlockRow/PromoBlockRow.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

add yadocs field to set initial state action
  src/ui/units/connections/store/reducers/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Public api features
  api/server/components.ts
  api/server/constants.ts
  src/server/components/app-docs/index.ts
  src/server/components/charts-engine/components/storage/united-storage/provider.ts
  src/server/constants/public-api.ts
  src/server/controllers/public-api.ts
  src/server/expresskit.ts
  src/server/utils/index.ts
  src/shared/schema/gateway-utils.ts
  src/shared/schema/mix/actions/wizard.ts
  src/shared/types/feature.ts
Due: none

Add type
  src/ui/components/DialogRelations/components/Content/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Skip very unstable test
  tests/opensource-suites/dash/selectors/autoupdateRelatedSelectors.test.ts
Due: none

Clear unnecessary flag (#2790)
  src/shared/constants/qa/control.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/Widgets/Chart/Chart.scss
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/Legend/Legend.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/Legend/Legend.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/ChartsInsights/ChartsInsights.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/ChartsInsights/components/ChartsInsightsIcon/getIconData.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.js
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.scss
  tests/opensource-suites/dash/selectors/autoupdateRelatedSelectors.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3173.0 [release]
  package-lock.json
  package.json
Due: none

Fix not using React.useCallback as a wrapper for a callback
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix icons for relations dialog dropdowns (#2798)
  src/ui/components/DialogRelations/components/Content/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3174.0 [release]
  package-lock.json
  package.json
Due: none

proxyMap to registry
  api/server/components.ts
  src/server/components/public-api/constants.ts
  src/server/components/public-api/index.ts
  src/server/components/public-api/types.ts
  src/server/controllers/public-api.ts
  src/server/registry/index.ts
  src/server/utils/routes.ts
Due: none

Remove unused flag
  src/server/components/features/features-list/DashFloatControls.ts
  src/shared/types/feature.ts
Due: none

Remove unused flag (#2801)
  src/server/components/features/features-list/DashFloatControls.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.3175.0 [release]
  package-lock.json
  package.json
Due: none

Up chartkit -> 7.6.2
  package-lock.json
  package.json
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
Due: none

Charts description button
  src/i18n-keysets/component.editor-action-panel/en.json
  src/i18n-keysets/component.editor-action-panel/ru.json
  src/i18n-keysets/sql/en.json
  src/i18n-keysets/sql/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/shared/schema/us/actions/editor.ts
  src/shared/schema/us/types/editor.ts
  src/shared/schema/us/types/fields.ts
  src/shared/types/common.ts
  src/ui/components/DialogEntryDescription/EntryDescriptionButton.tsx
  src/ui/store/actions/chartWidget.ts
  src/ui/units/ql/containers/QL/QLActionPanel/QLActionPanel.tsx
  src/ui/units/ql/containers/QL/QLActionPanel/useQLActionPanel.ts
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/typings/ql.ts
  src/ui/units/ql/store/utils/grid.ts
  src/ui/units/wizard/actions/preview.ts
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/WizardActionPanel.scss
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/useWizardActionPanel.ts
  src/ui/units/wizard/reducers/preview.ts
  src/ui/units/wizard/selectors/preview.ts
  src/ui/units/wizard/selectors/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

axis formatting settings in placeholder modal
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldMainSection/DialogFieldMainSection.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.scss
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add autofocus to a RenameEntryDialog's input
  src/ui/units/workbooks/components/RenameEntryDialog/RenameEntryDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove DialogDashMeta from registry
  src/shared/constants/qa/dash.ts
  src/ui/registry/units/dash/components-map.tsx
  src/ui/registry/units/dash/types/DialogDashMeta.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Reset yadocs state on new connection (#2799)
  src/ui/units/connections/store/reducers/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3176.0 [release]
  package-lock.json
  package.json
Due: none

fix lint errors
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add swagger security
  api/server/components.ts
  api/server/controllers.ts
  src/server/components/api-docs/index.ts
  src/server/components/api-docs/types.ts
  src/server/components/api-docs/utils.ts
  src/server/components/public-api/constants.ts
  src/server/components/public-api/index.ts
  src/server/components/public-api/types.ts
  src/server/controllers/index.ts
  src/server/controllers/public-api.ts
  src/server/registry/index.ts
  src/server/types/controllers.ts
  src/server/utils/routes.ts
Due: none

Fix
  src/server/components/features/features-list/PublicApi.ts
  src/server/components/features/features-list/PublicApiSwagger.ts
Due: none

fix screenshots
  package-lock.json
  package.json
  tests/opensource-suites/__screenshots__/ql/visualizations/column/column.test.ts/QL-Column-chart-Check-that-fields-order-does-not-affect-axis-settings-screenshot-1.png
  tests/opensource-suites/__screenshots__/ql/visualizations/pie/labels.test.ts/QL-Pie-chart-Column-names-in-Labels-section-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-3.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-4.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-5.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-6.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Point-color-set-by-the-fake-title-of-the-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/html-in-chart.test.ts/Wizard-Treemap-chart-Markdown-dimension-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/tooltip.test.ts/Wizard-Treemap-chart-Tooltip-when-hovering-chart-area-screenshot-1.png
Due: none

Add a request cancellation on onMounted state
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove DialogDashMeta from registry (#2804)
  src/shared/constants/qa/dash.ts
  src/ui/registry/units/dash/components-map.tsx
  src/ui/registry/units/dash/types/DialogDashMeta.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3177.0 [release]
  package-lock.json
  package.json
Due: none

fix
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Point-color-set-by-the-fake-title-of-the-field-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/scatter/coloring.test.ts
Due: none

Add autofocus to a RenameEntryDialog's input (#2805)
  src/ui/units/workbooks/components/RenameEntryDialog/RenameEntryDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
