Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add MinMax axis autoScale mode
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/components/features/features-list/UsDynamicMasterToken.ts
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/shared/types/config/wizard/v15.ts
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/constants/radio-buttons.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update @gravity-ui/chartkit 7.32.0 > 7.33.0 (#3373)
  package-lock.json
  package.json
Due: none

Bump version to 0.3699.0 [release]
  package-lock.json
  package.json
Due: none

Support activities for hc charts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix line width in range slider
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
Due: none

Fixes after review
  src/ui/components/DialogRelations/DialogRelations.tsx
  src/ui/components/DialogRelations/components/Content/Content.scss
  src/ui/components/DialogRelations/components/Content/Content.tsx
  src/ui/components/DialogRelations/components/Content/Row.tsx
  src/ui/components/DialogRelations/components/Content/helpers.tsx
  src/ui/components/DialogRelations/hooks/helpers.ts
  src/ui/components/DialogRelations/hooks/useRelations.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Support activities for hc charts (#3376)
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3700.0 [release]
  package-lock.json
  package.json
Due: none

remove unused options
  src/ui/registry/units/common/types/components/AccessDialog.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up weblate-action@v1.50.0
  .github/workflows/i18n-check.yml
Due: none

Up weblate-action@1.50.0 in i18n-check workflow (#3378)
  .github/workflows/i18n-check.yml
Due: none

Bump version to 0.3701.0 [release]
  package-lock.json
  package.json
Due: none

Use @gravity-ui/markdown-editor
  src/ui/components/DialogEntryDescription/DialogEntryDescription.scss
  src/ui/components/DialogEntryDescription/DialogEntryDescription.tsx
  src/ui/components/DialogEntryDescription/EntryDescriptionButton.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.scss
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/TextEditor/TextEditor.scss
  src/ui/components/TextEditor/TextEditor.tsx
  src/ui/components/WysiwygEditor/MarkdownEditorDefault.tsx
  src/ui/components/WysiwygEditor/WysiwygEditor.scss
  src/ui/components/WysiwygEditor/WysiwygEditor.tsx
  src/ui/components/WysiwygEditor/mixins.scss
  src/ui/components/WysiwygEditor/preset.ts
  src/ui/components/WysiwygEditor/variables.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add dependency
  package-lock.json
  package.json
Due: none

In the tooltip, display the name of the section along with the name of the series (split)
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
Due: none

Disable UsDynamicMasterToken for dev
  src/server/components/features/features-list/UsDynamicMasterToken.ts
Due: none

Disable UsDynamicMasterToken for dev (#3381)
  src/server/components/features/features-list/UsDynamicMasterToken.ts
Due: none

Bump version to 0.3702.0 [release]
  package-lock.json
  package.json
Due: none

Fix typo
  src/ui/components/DashKit/plugins/types.ts
  src/ui/components/DialogRelations/DialogRelations.scss
  src/ui/components/DialogRelations/DialogRelations.tsx
  src/ui/components/DialogRelations/components/Content/Content.tsx
  src/ui/components/DialogRelations/components/Content/Row.tsx
  src/ui/components/DialogRelations/hooks/useRelations.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/units/dash/contexts/WidgetMetaContext.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix line width in range slider (#3377)
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
Due: none

Bump version to 0.3703.0 [release]
  package-lock.json
  package.json
Due: none

Display the split section title along with the series name (#3380)
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
Due: none

Bump version to 0.3704.0 [release]
  package-lock.json
  package.json
Due: none

fix after review
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Load non-active charts in dialog relations on click (#3358)
  src/ui/components/DashKit/plugins/types.ts
  src/ui/components/DialogRelations/DialogRelations.scss
  src/ui/components/DialogRelations/DialogRelations.tsx
  src/ui/components/DialogRelations/components/Content/Content.scss
  src/ui/components/DialogRelations/components/Content/Content.tsx
  src/ui/components/DialogRelations/components/Content/Row.tsx
  src/ui/components/DialogRelations/components/Content/helpers.ts
  src/ui/components/DialogRelations/components/Content/helpers.tsx
  src/ui/components/DialogRelations/components/Content/types.ts
  src/ui/components/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/components/DialogRelations/helpers.tsx
  src/ui/components/DialogRelations/hooks/helpers.ts
  src/ui/components/DialogRelations/hooks/useRelations.tsx
  src/ui/components/DialogRelations/types.ts
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useOverlay/useOverlay.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/contexts/WidgetMetaContext.tsx
  src/ui/units/dash/store/actions/relations/actions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3705.0 [release]
  package-lock.json
  package.json
Due: none

Fix holidays on chart (must depend on config.hideHolidaysBands)
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix holidays on chart (must depend on config.hideHolidaysBands) (#3382)
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3706.0 [release]
  package-lock.json
  package.json
Due: none

Fix useWidgetMetaContext
  src/ui/units/dash/contexts/WidgetMetaContext.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix useWidgetMetaContext (#3383)
  src/ui/units/dash/contexts/WidgetMetaContext.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3707.0 [release]
  package-lock.json
  package.json
Due: none

Add getCollectionContent method to PAPI
  src/server/components/public-api/config/v1.ts
  src/shared/schema/us/actions/collections/get-structure-items.ts
  src/shared/schema/us/schemas/collections/index.ts
  src/shared/schema/us/schemas/workbooks/index.ts
  src/shared/schema/us/types/collections.ts
  src/shared/schema/us/types/workbooks.ts
Due: none

Fix types
  src/shared/schema/us/types/collections.ts
  src/shared/schema/us/types/fields.ts
  src/shared/schema/us/types/workbooks.ts
Due: none

Fix
  src/ui/components/MarkdownControl/MarkdownControl.scss
  src/ui/components/MarkdownControl/MarkdownControl.tsx
  src/ui/components/WysiwygEditor/MarkdownEditorDefault.tsx
  src/ui/registry/units/common/types/components/MarkdownControl.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix disabled
  src/ui/components/WysiwygEditor/WysiwygEditor.scss
  src/ui/components/WysiwygEditor/WysiwygEditor.tsx
  src/ui/registry/units/common/types/components/MarkdownControl.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix disabled
  src/ui/components/MarkdownControl/MarkdownControl.tsx
  src/ui/components/WysiwygEditor/WysiwygEditor.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add getCollectionContent method to PAPI (#3384)
  src/server/components/public-api/config/v1.ts
  src/shared/schema/us/actions/collections/get-structure-items.ts
  src/shared/schema/us/schemas/collections/index.ts
  src/shared/schema/us/schemas/workbooks/index.ts
  src/shared/schema/us/types/collections.ts
  src/shared/schema/us/types/fields.ts
  src/shared/schema/us/types/workbooks.ts
Due: none

Bump version to 0.3708.0 [release]
  package-lock.json
  package.json
Due: none

Fix
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/components/MarkdownControl/MarkdownControl.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
