Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.2175.0 [release]
  package-lock.json
  package.json
Due: none

Remove sorting entries by updatedAt (#1626)
  src/shared/schema/us/types/sort.ts
Due: none

Bump version to 0.2176.0 [release]
  package-lock.json
  package.json
Due: none

Add requestId and traceId to the configs preloading (#1628)
  src/server/components/charts-engine/components/storage/base.ts
Due: none

Bump version to 0.2177.0 [release]
  package-lock.json
  package.json
Due: none

Fix column width of the table with virtualization
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/TableBody.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/useCellSizes.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Dynamic-column-width-during-row-virtualization-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Dynamic-column-width-during-row-virtualization-screenshot-2.png
  tests/opensource-suites/wizard/visualizations/flat-table/virtualization.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add boards submenu (#1627)
  src/ui/components/Navigation/Core/CreateEntry/getCreateEntryItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2178.0 [release]
  package-lock.json
  package.json
Due: none

fix types
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/TableHead.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  tests/opensource-suites/wizard/visualizations/flat-table/virtualization.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix change config
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add handleUpdate after chart render
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Converted Markdown to tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Removed log
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Changed props receivivng
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Support generating new requestId in selectors after inner params changed
  src/ui/components/Widgets/Chart/ChartSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Changed props for Markdown.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/TableHead.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Dynamic-column-width-during-row-virtualization-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Dynamic-column-width-during-row-virtualization-screenshot-2.png
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix gradient coloring for null values (flat table)
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-for-null-values-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/flat-table/coloring.test.ts
Due: none

Revert data dependency to generatedId
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix gradient coloring for null values (flat table) (#1633)
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-for-null-values-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/flat-table/coloring.test.ts
Due: none

Bump version to 0.2179.0 [release]
  package-lock.json
  package.json
Due: none

Add useChangedProps hook
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/hooks/useChangedProp.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed sorting of dates with null values
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  tests/opensource-suites/wizard/visualizations/flat-table/sorting.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

More use of hook
  src/ui/components/Widgets/Chart/ChartSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Clean new sandox engine flags
  src/server/components/features/features-list/NewSandbox_100p.ts
  src/server/components/features/features-list/SandboxEngineSelectSwitch.ts
  src/shared/types/feature.ts
  src/ui/store/selectors/user.ts
  src/ui/units/editor/components/ActionPanel/ActionPanel.js
  src/ui/units/editor/components/SandboxEngineSelect/SandboxEngineSelect.scss
  src/ui/units/editor/components/SandboxEngineSelect/SandboxEngineSelect.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

wip
  src/shared/types/common.ts
Due: none

Add qa attributes
  src/shared/constants/qa/dash.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

wip
  src/server/components/features/features-list/EnableIsolatedSandbox.ts
  src/shared/types/feature.ts
Due: none

Changed type of MarkdownWidget
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.tsx
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add handleUpdate after chart render (#1630)
  src/shared/constants/qa/dash.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2180.0 [release]
  package-lock.json
  package.json
Due: none

Fix lodash import
  src/ui/hooks/useChangedProp.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Duplicate newFetchSubjects body for fetchSubjects
  src/ui/components/IamAccessDialog/AddSubjects/SubjectsList/SubjectsList.tsx
  src/ui/registry/units/common/types/components/AclSubjectSuggest.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Cleanup new sandbox engine flags (#1635)
  src/server/components/features/features-list/EnableIsolatedSandbox.ts
  src/server/components/features/features-list/NewSandbox_100p.ts
  src/server/components/features/features-list/SandboxEngineSelectSwitch.ts
  src/shared/types/common.ts
  src/shared/types/feature.ts
  src/ui/store/selectors/user.ts
  src/ui/units/editor/components/ActionPanel/ActionPanel.js
  src/ui/units/editor/components/SandboxEngineSelect/SandboxEngineSelect.scss
  src/ui/units/editor/components/SandboxEngineSelect/SandboxEngineSelect.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2181.0 [release]
  package-lock.json
  package.json
Due: none

Duplicate newFetchSubjects body for fetchSubjects (#1636)
  src/ui/components/IamAccessDialog/AddSubjects/SubjectsList/SubjectsList.tsx
  src/ui/registry/units/common/types/components/AclSubjectSuggest.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2182.0 [release]
  package-lock.json
  package.json
Due: none

Converted Markdown to .tsx (#1631)
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.tsx
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2183.0 [release]
  package-lock.json
  package.json
Due: none
