Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Rename entity type
  src/server/components/charts-engine/components/chart-validator.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/features/features-list/BlankChart.ts
  src/shared/constants/entry.ts
  src/shared/constants/qa/editor.ts
  src/shared/types/feature.ts
  src/shared/types/widget.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/BlankChart/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/BlankChart/renderer/BlankChartWidget.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/BlankChart/renderer/BlankChartWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/BlankChart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/WhiteBox/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/units/dash/modules/constants.ts
  src/ui/units/editor/configs/chart/chart-editor-types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

remove temp libs
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/d3-array.js
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/d3-chord.js
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/d3-format.js
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/d3-selection.js
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/d3-shape.js
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/d3.js
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/light-js-dom.js
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix paddings for mobile
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
Due: prettier --write, stylelint --fix --quiet

One more fix of padding
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
Due: prettier --write, stylelint --fix --quiet

Fix table head with totals (#1804)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/totals.test.ts/Wizard-Pivot-table-Subtotals-for-Columns-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pivot-table/totals.test.ts
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.2335.0 [release]
  package-lock.json
  package.json
Due: none

Review fixes
  src/server/components/charts-engine/controllers/embeds.ts
  src/shared/types/charts.ts
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.js
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/registry/units/chart/types/functions/getChartkitMenuByType.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix paddings for checkbox and buttons in group controls (#1802)
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2336.0 [release]
  package-lock.json
  package.json
Due: none

update screenshots
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
Due: none

fix screenshot
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/totals.test.ts/Wizard-Pivot-table-Subtotals-for-Columns-screenshot-1.png
Due: none

Add type
  src/shared/constants/entry.ts
Due: none

Remove usage of customOptions
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Support backward compatibility
  src/ui/constants/common.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

добавление функционала выноса заголовка шаблона отчетов в отдельный файл
  .gitignore
  Dockerfile
  export/.gitignore
  export/dash2sheets.py
  src/server/controllers/export-entries.ts
  src/server/controllers/xlsx-converter.ts
  src/ui/libs/DatalensChartkit/modules/export/export.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixes
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/libs/DatalensChartkit/modules/export/export.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2337.0 [release]
  package-lock.json
  package.json
Due: none

Remove chartkitDefault useless endpoint
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move Controls types to shared dialogControl
  src/ui/constants/dialogs.ts
  src/ui/index.ts
  src/ui/registry/units/dash/functions-map.ts
  src/ui/store/reducers/controlDialog.ts
  src/ui/store/reducers/index.tsx
  src/ui/store/typings/controlDialog.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/InnerTitleRow/InnerTitleRow.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/InputTypeSelector/InputTypeSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ListValueControl/Acceptable/Acceptable.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ListValueControl/ValueSelector/hooks.ts
  src/ui/units/dash/containers/Dialogs/GroupControl/ControlsPlacementDialog/ControlPlacementRow/ControlPlacementRow.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/ControlsPlacementDialog/ControlsPlacementDialog.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/actions/controls/helpers.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/controls/helpers.ts
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove chartkitDefault useless endpoint (#1805)
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2338.0 [release]
  package-lock.json
  package.json
Due: none

Moved reduce helpers
  src/shared/types/dash.ts
  src/ui/store/reducers/controlDialog.ts
  src/ui/store/typings/controlDialog.ts
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove controlDialog from reducer while migrating
  src/ui/index.ts
  src/ui/store/reducers/index.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix typing
  src/ui/units/dash/containers/Dialogs/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Improve scroll
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/mixins.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/TableOfContent/TableOfContent.tsx
  src/ui/units/dash/utils/scrollUtils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix lint
  src/ui/components/DashKit/plugins/mixins.scss
Due: prettier --write, stylelint --fix --quiet

Update @gravity-ui/dashkit 8.18.0 -> 8.19.0
  package-lock.json
  package.json
Due: none

Move controls types and initial helpers to shared (#1806)
  src/shared/types/dash.ts
  src/ui/constants/dialogs.ts
  src/ui/registry/units/dash/functions-map.ts
  src/ui/store/reducers/controlDialog.ts
  src/ui/store/typings/controlDialog.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/InnerTitleRow/InnerTitleRow.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/InputTypeSelector/InputTypeSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ListValueControl/Acceptable/Acceptable.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ListValueControl/ValueSelector/hooks.ts
  src/ui/units/dash/containers/Dialogs/GroupControl/ControlsPlacementDialog/ControlPlacementRow/ControlPlacementRow.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/ControlsPlacementDialog/ControlsPlacementDialog.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/containers/Dialogs/constants.ts
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/actions/controls/helpers.ts
  src/ui/units/dash/store/actions/controls/types.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/controls/helpers.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2339.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/dashkit 8.18.0 -> 8.19.0 (#1807)
  package-lock.json
  package.json
Due: none

Bump version to 0.2340.0 [release]
  package-lock.json
  package.json
Due: none

Delete tenant folder
  api/ui/constants/common.ts
  src/i18n-keysets/datalens.landing.error/en.json
  src/i18n-keysets/datalens.landing.error/ru.json
  src/server/components/features/features-list/ShowActionPanelTreeSelect.ts
  src/shared/constants/error-codes.ts
  src/shared/types/feature.ts
  src/ui/constants/common.ts
  src/ui/constants/mobile.ts
  src/ui/registry/units/common/components-map.tsx
  src/ui/registry/units/common/types/components/CloudTreeSelectBase.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanelMobile.tsx
  src/ui/utils/tenant.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Delete tenant folder (#1808)
  api/ui/constants/common.ts
  src/i18n-keysets/datalens.landing.error/en.json
  src/i18n-keysets/datalens.landing.error/ru.json
  src/server/components/features/features-list/ShowActionPanelTreeSelect.ts
  src/shared/constants/error-codes.ts
  src/shared/types/feature.ts
  src/ui/constants/common.ts
  src/ui/constants/mobile.ts
  src/ui/registry/units/common/components-map.tsx
  src/ui/registry/units/common/types/components/CloudTreeSelectBase.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanelMobile.tsx
  src/ui/utils/tenant.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2341.0 [release]
  package-lock.json
  package.json
Due: none

Fix label translation for creating QL chart (#1799)
  src/i18n-keysets/sql/ru.json
Due: none

Bump version to 0.2342.0 [release]
  package-lock.json
  package.json
Due: none

Fix for loadOnlyVisible setting
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up @gravity-ui/dashkit 8.19.0 -> 8.19.1
  package-lock.json
  package.json
Due: none
