Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

When converting from wizard to Chart Editor, old links remain in entry
  src/server/configs/shared/datalens-chart-template.ts
  src/shared/modules/wizard/config.ts
  src/shared/modules/wizard/index.ts
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/helpers/editor.ts
  src/shared/schema/mix/helpers/index.ts
  src/shared/schema/us/actions/editor.ts
  src/shared/schema/us/types/editor.ts
Due: none

When converting from wizard to Chart Editor, old links remain in entry (#883)
  src/server/configs/shared/datalens-chart-template.ts
  src/shared/modules/wizard/config.ts
  src/shared/modules/wizard/index.ts
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/helpers/editor.ts
  src/shared/schema/mix/helpers/index.ts
  src/shared/schema/us/actions/editor.ts
  src/shared/schema/us/types/editor.ts
Due: none

Bump version to 0.1534.0 [release]
  package-lock.json
  package.json
Due: none

Switch from recompose to react-recompose
  package-lock.json
  package.json
Due: none

Update snyk_container.yaml
  .github/workflows/snyk_container.yaml
Due: none

Add comment for variable
  src/ui/store/reducers/asideHeader.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix AsideHeader re-render warning (#879)
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/store/actions/asideHeader/index.ts
  src/ui/store/reducers/asideHeader.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1535.0 [release]
  package-lock.json
  package.json
Due: none

Update snyk_container.yaml (#794)
  .github/workflows/snyk_container.yaml
Due: none

Bump version to 0.1536.0 [release]
  package-lock.json
  package.json
Due: none

обновление с main ветки 0.1488.0 -> 0.1532.0
  CHANGELOG.md
Due: none

Исправление механизма поделиться
  src/ui/libs/DatalensChartkit/modules/menu/menu.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove offsets for better yfm displaying
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Due: prettier --write, stylelint --fix --quiet

пункт меню Поделится отображается только для пользователей, у которых есть права на редактирование
  CHANGELOG.md
  README.md
  src/ui/datalens/index.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix color and ellipsis styles in Breadcrumbs (#882)
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.scss
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.tsx
  src/ui/components/EntryBreadcrumbs/EntryBreadcrumbs.scss
  src/ui/components/EntryBreadcrumbs/EntryBreadcrumbs.tsx
  src/ui/components/Navigation/Core/NavigationBreadcrumbs/NavigationBreadcrumbs.scss
  src/ui/styles/mixins.scss
  src/ui/units/collections-navigation/components/CollectionBreadcrumbs/CollectionBreadcrumbs.scss
  src/ui/units/collections-navigation/components/CollectionBreadcrumbs/CollectionBreadcrumbs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1537.0 [release]
  package-lock.json
  package.json
Due: none

Fix date values in xlsx export
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/modules/export/export.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove offsets for better yfm displaying (#885)
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1538.0 [release]
  package-lock.json
  package.json
Due: none

Fix date values in xlsx export (#886)
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/modules/export/export.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1539.0 [release]
  package-lock.json
  package.json
Due: none

Switch from recompose to react-recompose (#884)
  package-lock.json
  package.json
Due: none

Bump version to 0.1540.0 [release]
  package-lock.json
  package.json
Due: none

Add user data and trace id to telemetry
  src/shared/schema/mix/actions/dash.ts
  src/shared/types/dash.ts
  src/ui/units/dash/modules/pushStats.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix error displaying the map with only one point
  src/ui/libs/DatalensChartkit/ChartKit/modules/yandex-map/yandex-map.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Rename css var
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add user data and trace id to telemetry (#887)
  src/shared/schema/mix/actions/dash.ts
  src/shared/types/dash.ts
  src/ui/units/dash/modules/pushStats.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1541.0 [release]
  package-lock.json
  package.json
Due: none

Fix error displaying the map with only one point (#888)
  src/ui/libs/DatalensChartkit/ChartKit/modules/yandex-map/yandex-map.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1542.0 [release]
  package-lock.json
  package.json
Due: none

Fix markdown chart autoheight on cut expand
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/constants/yfm.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add markdown term, remove overflow on higher widget wrapper
  src/server/components/charts-engine/components/markdown.ts
  src/ui/components/DashKit/DashKit.scss
Due: prettier --write, stylelint --fix --quiet

Fix markdown chart autoheight on cut expand (#889)
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/constants/yfm.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1543.0 [release]
  package-lock.json
  package.json
Due: none

Add markdown-it-color
  package-lock.json
  package.json
Due: none

Add markdown-it-color (#891)
  package-lock.json
  package.json
Due: none

Bump version to 0.1544.0 [release]
  package-lock.json
  package.json
Due: none
