Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Test E2E detailed report comment
  README.md
Due: none

Test self-hosted runners
  .github/workflows/e2e_tests.yml
Due: none

fix test
  .github/workflows/e2e_tests.yml
Due: none

check
  .github/workflows/e2e_tests.yml
  tests/docker-compose.e2e.yml
Due: none

fix report
  .github/workflows/e2e_tests.yml
Due: none

fix
  .github/workflows/e2e_tests.yml
  tests/docker-compose.e2e.yml
Due: none

Add DefaultPaletteSelect component
  src/i18n-keysets/component.color-palette-editor/en.json
  src/i18n-keysets/component.color-palette-editor/ru.json
  src/ui/components/ColorPaletteEditorContainer/ColorPaletteEditorContainer.tsx
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/ColorPalettesCard.tsx
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/DefaultPaletteSelect/DefaultPaletteSelect.scss
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/DefaultPaletteSelect/DefaultPaletteSelect.tsx
  src/ui/units/service-settings/components/SectionColorPalettes/SectionColorPalettes.scss
  src/ui/units/service-settings/components/SectionColorPalettes/SectionColorPalettes.tsx
  src/ui/units/wizard/utils/palette.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add action
  src/shared/schema/us/actions/index.ts
  src/shared/schema/us/actions/tenant.ts
  src/shared/schema/us/types/fields.ts
  src/shared/schema/us/types/index.ts
  src/shared/schema/us/types/tenant.ts
Due: none

update screenshot
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-1.png
Due: none

up chartkit
  package-lock.json
  package.json
Due: none

Update GetUsersByIds response type
  src/shared/schema/auth/types/users.ts
Due: none

Add ui-preflight and defaultTenantId tenant setting
  src/server/components/layout/opensource-layout-config.ts
  src/server/middlewares/index.ts
  src/server/middlewares/ui-preflight.ts
  src/server/modes/opensource/routes.ts
  src/shared/schema/us/actions/index.ts
  src/shared/schema/us/actions/tenant.ts
  src/shared/schema/us/types/fields.ts
  src/shared/schema/us/types/index.ts
  src/shared/schema/us/types/tenant.ts
  src/shared/types/common.ts
  src/shared/utils/extractCollectionId.ts
  src/shared/utils/extractEntryId.ts
  src/shared/utils/extractWorkbookId.ts
Due: none

fix
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update screenshots
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
Due: none

Fix wrong userId in the stats
  src/server/modes/charts/plugins/dash-api.ts
Due: none

Fix wrong userId in the stats (#2754)
  src/server/modes/charts/plugins/dash-api.ts
Due: none

Bump version to 0.3136.0 [release]
  package-lock.json
  package.json
Due: none

Fix migration logic for some type of ql-config
  src/shared/modules/config/ql/v5/mapV4ConfigToV5.ts
Due: none

Fix migration logic for some type of ql-config (#2755)
  src/shared/modules/config/ql/v5/mapV4ConfigToV5.ts
Due: none

Bump version to 0.3137.0 [release]
  package-lock.json
  package.json
Due: none

Up @gravity-ui/chartkit + some chart improvements (#2748)
  package-lock.json
  package.json
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/format.ts
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-1.png
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3138.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/component.color-palette-editor/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/component.color-palette-editor/en.json
Due: none

Translations update from Weblate Gravity for PR #2752 (#2756)
  src/i18n-keysets/component.color-palette-editor/en.json
  src/i18n-keysets/component.color-palette-editor/ru.json
Due: none

Remove unused mdb related typings
  src/shared/constants/connections.ts
Due: none

Remove unused mdb related typings (#2757)
  src/shared/constants/connections.ts
Due: none

Bump version to 0.3139.0 [release]
  package-lock.json
  package.json
Due: none

fix nullMode setting when used with only one not null value
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/background-settings/get-background-colors-map-by-continuous-column.ts
  src/shared/constants/qa/wizard.ts
  src/ui/units/wizard/components/Dialogs/DialogField/components/BackgroundSettings/BackgroundSettings.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Empty-values---ignore-nulls-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/flat-table/coloring.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add DefaultPaletteSelect component (#2752)
  src/i18n-keysets/component.color-palette-editor/en.json
  src/i18n-keysets/component.color-palette-editor/ru.json
  src/shared/schema/us/actions/index.ts
  src/shared/schema/us/actions/tenant.ts
  src/shared/schema/us/types/fields.ts
  src/shared/schema/us/types/index.ts
  src/shared/schema/us/types/tenant.ts
  src/ui/components/ColorPaletteEditorContainer/ColorPaletteEditorContainer.tsx
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/ColorPalettesCard.tsx
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/DefaultPaletteSelect/DefaultPaletteSelect.scss
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/DefaultPaletteSelect/DefaultPaletteSelect.tsx
  src/ui/units/service-settings/components/SectionColorPalettes/SectionColorPalettes.scss
  src/ui/units/service-settings/components/SectionColorPalettes/SectionColorPalettes.tsx
  src/ui/units/wizard/utils/palette.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix the offset in the drop-down list in the public gallery
  src/ui/units/gallery/components/pages/CardPage/ImportDropdown/ImportDropdown.scss
Due: prettier --write, stylelint --fix --quiet

Fix nullMode setting when used with only one not null value (#2758)
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/background-settings/get-background-colors-map-by-continuous-column.ts
  src/shared/constants/qa/wizard.ts
  src/ui/units/wizard/components/Dialogs/DialogField/components/BackgroundSettings/BackgroundSettings.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Empty-values---ignore-nulls-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/flat-table/coloring.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3140.0 [release]
  package-lock.json
  package.json
Due: none

Add temporary condition for trino check connection button visibility
  src/ui/units/connections/components/ConnectorForm/FormActions/selectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Dash descriptions
  src/shared/sdk/zod-shemas/dash-api.schema.ts
Due: none

Update GetUsersByIds response type (#2753)
  src/shared/schema/auth/types/users.ts
Due: none

Bump version to 0.3141.0 [release]
  package-lock.json
  package.json
Due: none

Fix the offset in the drop-down list in the public gallery (#2759)
  src/ui/units/gallery/components/pages/CardPage/ImportDropdown/ImportDropdown.scss
Due: prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
