Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Add stacking switcher
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
  src/shared/modules/config/wizard/v10/mapV10ConfigToV11.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/wizard/index.ts
  src/ui/constants/visualizations/index.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove "Stacked" from chart name
  src/i18n-keysets/sql/en.json
  src/i18n-keysets/sql/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
Due: none

Fix ql-monitoring stacking
  src/server/modes/charts/plugins/ql/yagr.ts
  src/shared/modules/config/wizard/v10/mapV10ConfigToV11.ts
Due: none

Remove defining stacking with default value from migration
  src/shared/modules/config/wizard/v10/mapV10ConfigToV11.ts
Due: none

Add stacking switcher in area charts (#1818)
  src/i18n-keysets/sql/en.json
  src/i18n-keysets/sql/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
  src/server/modes/charts/plugins/ql/yagr.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/wizard/index.ts
  src/ui/constants/visualizations/index.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2355.0 [release]
  package-lock.json
  package.json
Due: none

Replace visualization.id usage from string to enum
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
Due: none

Replace visualization.id usage from string to enum (#1824)
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
Due: none

Bump version to 0.2356.0 [release]
  package-lock.json
  package.json
Due: none

Add @litejs/dom + update generateHtml method
  package-lock.json
  package.json
  src/@types/light-js-dom.d.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/modules/html-generator/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Use markdown for toast
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2357.0 [release]
  package-lock.json
  package.json
Due: none

Remove background enabling checkboxes & change title size switcher
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.scss
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.scss
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/components/DialogTitleWidget/HoverRadioButton/HoverRadioButton.scss
  src/ui/components/DialogTitleWidget/HoverRadioButton/HoverRadioButton.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.scss
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Convert transparent background to opaque(table cell background) (#1815)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/TableBody.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2358.0 [release]
  package-lock.json
  package.json
Due: none

Fix spacing
  src/ui/components/DialogTitleWidget/DialogTitleWidget.scss
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix formatting apply to Y1 instead of Y2
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/highcharts.ts
Due: none

Fix bar-y case
  src/server/modes/charts/plugins/datalens/preparers/bar-y/highcharts.ts
Due: none

Enable TableSize feature by default
  src/server/components/features/features-list/TableSize.ts
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/shared/types/feature.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove unneccessary parts for bar charts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/highcharts.ts
Due: none

Add @litejs/dom + update generateHtml method (#1825)
  package-lock.json
  package.json
  src/@types/light-js-dom.d.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/modules/html-generator/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2359.0 [release]
  package-lock.json
  package.json
Due: none

Fix formatting apply to Y1 instead of Y2 (#1827)
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/highcharts.ts
Due: none

Bump version to 0.2360.0 [release]
  package-lock.json
  package.json
Due: none

Move to navigate route by default
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/libs/DatalensChartkit/modules/menu/menu.ts
  src/ui/units/dash/modules/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add default autoheight value for control dialogs
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/CommonSettingsSection.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ExternalSelectorSettings/ExternalSelectorSettings.tsx
  src/ui/components/DialogEditItem/DialogEditItem.tsx
  src/ui/components/DialogExternalControl/DialogExternalControl.tsx
  src/ui/components/DialogGroupControl/DialogGroupControl.tsx
  src/ui/components/DialogGroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update @gravity-ui/dashkit@8.20.0
  package-lock.json
  package.json
Due: none

fix
  src/ui/units/dash/modules/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update src/ui/units/dash/modules/helpers.ts
  src/ui/units/dash/modules/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Enable TableSize feature by default (#1828)
  src/server/components/features/features-list/TableSize.ts
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/shared/types/feature.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2361.0 [release]
  package-lock.json
  package.json
Due: none

Add Dialog Controls autoheoght default (#1830)
  package-lock.json
  package.json
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/CommonSettingsSection.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ExternalSelectorSettings/ExternalSelectorSettings.tsx
  src/ui/components/DialogEditItem/DialogEditItem.tsx
  src/ui/components/DialogExternalControl/DialogExternalControl.tsx
  src/ui/components/DialogGroupControl/DialogGroupControl.tsx
  src/ui/components/DialogGroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2362.0 [release]
  package-lock.json
  package.json
Due: none

Fix items click after navigation between dash and presentations
  src/ui/utils/getActionPanelItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix items click after navigation between dash and presentations (#1831)
  src/ui/utils/getActionPanelItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
