Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.3401.0 [release]
  package-lock.json
  package.json
Due: none

Add tests without auth (#3051)
  .github/workflows/e2e-tests-farm.yaml
  .github/workflows/e2e-tests-no-auth.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/i18n-check.yml
  .github/workflows/tracker-ticket-farm-link.yaml
  .github/workflows/tracker-ticket-link.yaml
  .github/workflows/tracker-ticket-pr-merged.yaml
  package.json
Due: none

Bump version to 0.3402.0 [release]
  package-lock.json
  package.json
Due: none

Add E2E trace names
  .github/workflows/e2e-tests-no-auth.yml
  .github/workflows/e2e-tests.yml
Due: none

Add cut for traces
  .github/workflows/e2e-tests-no-auth.yml
  .github/workflows/e2e-tests.yml
Due: none

fix cut
  .github/workflows/e2e-tests-no-auth.yml
  .github/workflows/e2e-tests.yml
Due: none

fix race when replace connection
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Support sources listing on create dataset (#3053)
  src/shared/schema/bi/actions/datasets.ts
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.js
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3403.0 [release]
  package-lock.json
  package.json
Due: none

Add E2E trace names (#3055)
  .github/workflows/e2e-tests-no-auth.yml
  .github/workflows/e2e-tests.yml
Due: none

Bump version to 0.3404.0 [release]
  package-lock.json
  package.json
Due: none

Bump @gravity-ui/dashkit
  package-lock.json
  package.json
Due: none

enable connection revisions in prod
  src/server/components/features/features-list/EnableConnectionRevisions.ts
Due: none

Refactor public api actions
  src/server/components/public-api/config/v0.ts
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/bi/schemas/connections.ts
  src/shared/schema/bi/schemas/datasets.ts
  src/shared/schema/bi/types/connections.ts
  src/shared/schema/bi/types/datasets.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/actions/ql.ts
  src/shared/schema/mix/actions/wizard.ts
  src/shared/schema/mix/schemas/dash.ts
  src/shared/schema/mix/schemas/ql.ts
  src/shared/schema/mix/schemas/wizard.ts
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/wizard/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Use the field type from the dataset if it is not specified in the placeholder
  src/server/modes/charts/plugins/helpers/misc.ts
Due: none

Fix test
  tests/suites/wizard/datasets/requestDataset.test.ts
Due: none

Fix height of fullscreen on mobile (#3045)
  src/ui/components/Widgets/Chart/Chart.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.3405.0 [release]
  package-lock.json
  package.json
Due: none

Fix
  src/server/components/public-api/config/v0.ts
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/bi/types/datasets.ts
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/wizard/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Use the field type from the dataset if it is not specified in the placeholder (#3059)
  src/server/modes/charts/plugins/helpers/misc.ts
Due: none

Bump version to 0.3406.0 [release]
  package-lock.json
  package.json
Due: none

Review fixes
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/bi/schemas/datasets.ts
  src/shared/schema/bi/types/datasets.ts
  tests/suites/wizard/datasets/requestDataset.test.ts
Due: none

Fix an error when creating a chart if start from the Y axis
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
Due: none

Fix an error when creating a chart if start from the Y axis (#3060)
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
Due: none

Bump version to 0.3407.0 [release]
  package-lock.json
  package.json
Due: none

Refactor public api actions (#3058)
  src/server/components/public-api/config/v0.ts
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/bi/schemas/connections.ts
  src/shared/schema/bi/schemas/datasets.ts
  src/shared/schema/bi/types/connections.ts
  src/shared/schema/bi/types/datasets.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/actions/ql.ts
  src/shared/schema/mix/actions/wizard.ts
  src/shared/schema/mix/schemas/dash.ts
  src/shared/schema/mix/schemas/ql.ts
  src/shared/schema/mix/schemas/wizard.ts
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/wizard/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3408.0 [release]
  package-lock.json
  package.json
Due: none

Enable connection revisions in prod (#3057)
  src/server/components/features/features-list/EnableConnectionRevisions.ts
Due: none

Bump version to 0.3409.0 [release]
  package-lock.json
  package.json
Due: none
