Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Make i18n key value more general
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
Due: none

Fix s3 proxy endpoint env (#2617)
  src/shared/endpoints/constants/opensource.ts
  src/shared/schema/bi-converter/actions/index.ts
Due: none

Bump version to 0.3016.0 [release]
  package-lock.json
  package.json
Due: none

Support actionWrapper in csv-export menu item (#2618)
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/menu/Menu.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3017.0 [release]
  package-lock.json
  package.json
Due: none

Add e2e page objects for gallery unit
  src/shared/constants/qa/gallery.ts
  src/shared/constants/qa/index.ts
  src/shared/constants/qa/workbooks.ts
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/CreateWorkbookDialog.tsx
  src/ui/components/CollectionsStructure/WorkbookDialog/WorkbookDialog.tsx
  src/ui/components/CollectionsStructure/WorkbookDialog/types.ts
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/CardPage/ImportDropdown/ImportDropdown.scss
  src/ui/units/gallery/components/pages/CardPage/ImportDropdown/ImportDropdown.tsx
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
  tests/page-objects/gallery/GalleryPage.ts
  tests/page-objects/gallery/ImportDropdown.ts
  tests/page-objects/workbook/ActionsMoreDropdown.ts
  tests/page-objects/workbook/DialogDeleteWorkbook.ts
  tests/page-objects/workbook/DialogWorkbook.ts
  tests/page-objects/workbook/Workbook.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

up uikit
  package-lock.json
  package.json
Due: none

Add e2e page objects for gallery unit (#2619)
  src/shared/constants/qa/gallery.ts
  src/shared/constants/qa/index.ts
  src/shared/constants/qa/workbooks.ts
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/CreateWorkbookDialog.tsx
  src/ui/components/CollectionsStructure/WorkbookDialog/WorkbookDialog.tsx
  src/ui/components/CollectionsStructure/WorkbookDialog/types.ts
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/CardPage/ImportDropdown/ImportDropdown.scss
  src/ui/units/gallery/components/pages/CardPage/ImportDropdown/ImportDropdown.tsx
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
  tests/page-objects/gallery/GalleryPage.ts
  tests/page-objects/gallery/ImportDropdown.ts
  tests/page-objects/workbook/ActionsMoreDropdown.ts
  tests/page-objects/workbook/DialogDeleteWorkbook.ts
  tests/page-objects/workbook/DialogWorkbook.ts
  tests/page-objects/workbook/Workbook.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3018.0 [release]
  package-lock.json
  package.json
Due: none

Fix dash spacings
  src/ui/components/Tabs/withDatalensSpecific.tsx
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  src/ui/units/dash/containers/Tabs/Tabs.scss
  src/ui/units/dash/containers/Tabs/Tabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix help mark tooltip
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/ImportFileField/ImportFileField.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/ColorAccentRow/ColorAccentRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/InnerTitleRow/InnerTitleRow.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ParameterNameInput/ParameterNameInput.tsx
  src/ui/components/ControlComponents/Sections/OperationSelector/OperationSelector.tsx
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogExtendedSettings/DialogExtendedSettings.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/constants/components.ts
  src/ui/constants/index.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Inspector/Timings/Timings.tsx
  src/ui/styles/mixins.scss
  src/ui/units/connections/components/custom-forms/File/components/AddFileButton.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/LoadPriority.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/MaxConnection.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/OtherSettings.tsx
  src/ui/units/datasets/components/ParametersSection/components/HeaderWithTooltip/HeaderWithTooltip.tsx
  src/ui/units/datasets/components/RelationDialog/RelationDialog.tsx
  src/ui/units/datasets/components/SourceEditorDialog/components/SourceHelpTooltip.tsx
  src/ui/units/datasets/containers/Dataset/ActionPanelRightItems.tsx
  src/ui/units/wizard/components/Dialogs/DialogColumnSettings/components/Subheader/Subheader.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/components/HierarchyEditor/HierarchyEditor.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix anchor fade color in fixed header
  src/ui/components/DashKit/plugins/mixins.scss
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
Due: prettier --write, stylelint --fix --quiet

Fix i18n for ds templating patameters
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/i18n-keysets/dataset.parameters-tab.modify/en.json
  src/i18n-keysets/dataset.parameters-tab.modify/ru.json
  src/ui/units/datasets/components/ParametersSection/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Rename css-variable
  src/ui/components/DashKit/plugins/mixins.scss
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
Due: prettier --write, stylelint --fix --quiet

Fix onItemSelect call in Navigation
  src/ui/components/Navigation/Core/TableView/useBatchSelect.ts
  src/ui/components/Navigation/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix dash spacings (#2620)
  src/ui/components/Tabs/withDatalensSpecific.tsx
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  src/ui/units/dash/containers/Tabs/Tabs.scss
  src/ui/units/dash/containers/Tabs/Tabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix anchor fade color in fixed header (#2621)
  src/ui/components/DashKit/plugins/mixins.scss
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.3019.0 [release]
  package-lock.json
  package.json
Due: none

Bump version to 0.3020.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dataset.parameters-tab.modify/en.json
Due: none

Translations update from Weblate Gravity for PR #2622 (#2623)
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.parameters-tab.modify/en.json
Due: none

Update datset settings by actions
  src/server/components/features/features-list/EnableUpdatingDsSettingsByAction.ts
  src/shared/types/feature.ts
  src/ui/units/datasets/containers/Dataset/ActionPanelRightItems.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Pass chartRevId to csv-download dialog
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/DownloadCsv/DownloadCsv.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Change Shift key logic as in uikit
  src/ui/components/CheckboxWithEvent/CheckboxWithEvent.tsx
  src/ui/components/Navigation/Core/TableView/Row/Row.tsx
  src/ui/components/Navigation/Core/TableView/useBatchSelect.ts
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/columns/IndexColumn.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix i18n for ds templating patameters (#2622)
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/i18n-keysets/dataset.parameters-tab.modify/en.json
  src/i18n-keysets/dataset.parameters-tab.modify/ru.json
  src/ui/units/datasets/components/ParametersSection/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3021.0 [release]
  package-lock.json
  package.json
Due: none

Update datset settings by actions (#2625)
  src/server/components/features/features-list/EnableUpdatingDsSettingsByAction.ts
  src/shared/types/feature.ts
  src/ui/units/datasets/containers/Dataset/ActionPanelRightItems.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3022.0 [release]
  package-lock.json
  package.json
Due: none

fix breadcrumbs
  src/ui/components/EntryBreadcrumbs/EntryBreadcrumbs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Conflict
  src/ui/components/DashKit/plugins/mixins.scss
Due: prettier --write, stylelint --fix --quiet

Fix shiftKey checking
  src/ui/components/Navigation/Core/TableView/Row/Row.tsx
  src/ui/units/datasets/components/DatasetTable/columns/IndexColumn.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Pass chartRevId from wizard to csv-download dialog (#2624)
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/DownloadCsv/DownloadCsv.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3023.0 [release]
  package-lock.json
  package.json
Due: none

Row selection in Dataset table by Shift key (#2611)
  src/ui/components/Navigation/Core/TableView/List/List.tsx
  src/ui/components/Navigation/Core/TableView/Row/Row.tsx
  src/ui/components/Navigation/Core/TableView/types.ts
  src/ui/components/Navigation/Core/TableView/useBatchSelect.ts
  src/ui/components/Navigation/types.ts
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/columns/IndexColumn.tsx
  src/ui/units/datasets/components/DatasetTable/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3024.0 [release]
  package-lock.json
  package.json
Due: none

Remove unused images
  src/ui/units/main/assets/dash-examples/dark/covid.png
  src/ui/units/main/assets/dash-examples/dark/dl-demo.png
  src/ui/units/main/assets/dash-examples/dark/geo.png
  src/ui/units/main/assets/dash-examples/dark/marketplace.png
  src/ui/units/main/assets/dash-examples/dark/metrica.png
  src/ui/units/main/assets/dash-examples/dark/weather.png
  src/ui/units/main/assets/dash-examples/light/covid.png
  src/ui/units/main/assets/dash-examples/light/dl-demo.png
  src/ui/units/main/assets/dash-examples/light/geo.png
  src/ui/units/main/assets/dash-examples/light/marketplace.png
  src/ui/units/main/assets/dash-examples/light/metrica.png
  src/ui/units/main/assets/dash-examples/light/weather.png
Due: none

Remove unused images (#2626)
  src/ui/units/main/assets/dash-examples/dark/covid.png
  src/ui/units/main/assets/dash-examples/dark/dl-demo.png
  src/ui/units/main/assets/dash-examples/dark/geo.png
  src/ui/units/main/assets/dash-examples/dark/marketplace.png
  src/ui/units/main/assets/dash-examples/dark/metrica.png
  src/ui/units/main/assets/dash-examples/dark/weather.png
  src/ui/units/main/assets/dash-examples/light/covid.png
  src/ui/units/main/assets/dash-examples/light/dl-demo.png
  src/ui/units/main/assets/dash-examples/light/geo.png
  src/ui/units/main/assets/dash-examples/light/marketplace.png
  src/ui/units/main/assets/dash-examples/light/metrica.png
  src/ui/units/main/assets/dash-examples/light/weather.png
Due: none

Bump version to 0.3025.0 [release]
  package-lock.json
  package.json
Due: none

Fix terms placement in fixed header
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
