Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Removed GoalIds (#1364)
  src/ui/libs/metrica/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1958.0 [release]
  package-lock.json
  package.json
Due: none

Fix clearing arguments for the ui-sandbox
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Send correct error code to response (#1365)
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/controllers/run.ts
Due: none

Bump version to 0.1959.0 [release]
  package-lock.json
  package.json
Due: none

Fix clearing arguments for the ui-sandbox (#1366)
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1960.0 [release]
  package-lock.json
  package.json
Due: none

add helper
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Improve config fetching error
  src/server/components/charts-engine/components/storage/base.ts
  src/server/components/charts-engine/controllers/embedded-entry.ts
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/controllers/run.ts
Due: none

Block clicks around checkboxes in collections to prevent unexpected navigation into collection item
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionCheckboxCell.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix wizard geo-chart with old config
  src/ui/units/wizard/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix wizard geo-chart with old config (#1369)
  src/ui/units/wizard/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1961.0 [release]
  package-lock.json
  package.json
Due: none

Improve config fetching error (#1367)
  src/server/components/charts-engine/components/storage/base.ts
  src/server/components/charts-engine/controllers/embedded-entry.ts
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/controllers/run.ts
Due: none

Bump version to 0.1962.0 [release]
  package-lock.json
  package.json
Due: none

Show tooltip with absolute modification date for collections table
  src/shared/constants/common.ts
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Docs for adding/updating screenshot tests
  tests/README.md
Due: none

fix
  tests/README.md
Due: none

Use user settings to format tooltip date collections table
  src/shared/constants/common.ts
  src/shared/types/common.ts
  src/ui/store/selectors/user.ts
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add hideTitle prop for EntriesList
  src/ui/components/EntitiesList/EntitiesList.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

call DialogShare, modified DialogShare, change icons
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.tsx
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/EntryDialogues/EntryDialogues.tsx
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add hideTitle prop for EntriesList (#1372)
  src/ui/components/EntitiesList/EntitiesList.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1963.0 [release]
  package-lock.json
  package.json
Due: none

Additional libs in the sandbox
  .eslintignore
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/utils.ts
  src/shared/types/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/ui-sandbox/libs/date-utils.v2.4.0.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Docs for adding/updating screenshot tests (#1371)
  tests/README.md
Due: none

Bump version to 0.1964.0 [release]
  package-lock.json
  package.json
Due: none

Block clicks around checkboxes in collections (#1368)
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionCheckboxCell.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Show tooltip with absolute modification date for collections table (#1370)
  src/shared/constants/common.ts
  src/shared/types/common.ts
  src/ui/store/selectors/user.ts
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1965.0 [release]
  package-lock.json
  package.json
Due: none

Bump version to 0.1966.0 [release]
  package-lock.json
  package.json
Due: none

fix import
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Dash fixed bar moved i18n moved
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
Due: none

Translations changed
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix table width
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/useCellSizes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (English)
  src/i18n-keysets/dash.main.view/en.json
Due: none

Translations update from Weblate Gravity for PR #1240 (#1375)
  src/i18n-keysets/dash.main.view/en.json
Due: none

Fix EntryRow props
  src/shared/schema/us/types/embeds.ts
  src/ui/components/EntitiesList/EntitiesList.tsx
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/RelationsList/RelationsList.scss
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/RelationsList/RelationsList.tsx
  src/ui/components/EntryRow/EntryRow.scss
  src/ui/components/EntryRow/EntryRow.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Clean the Wizard modules from registry
  src/server/components/charts-engine/components/worker/index.ts
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/server/modes/charts/plugins/datalens/config/constants.ts
  src/server/modes/charts/plugins/datalens/config/index.ts
  src/server/modes/charts/plugins/datalens/config/types.ts
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
  src/server/modes/charts/plugins/datalens/highcharts/index.ts
  src/server/modes/charts/plugins/datalens/js/index.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/module.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/server/modes/charts/plugins/datalens/private-module.ts
  src/server/modes/charts/plugins/datalens/url/build-sources/build-sources.ts
  src/server/modes/charts/plugins/datalens/url/build-sources/index.ts
Due: none

Small params refactor
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/paramsUtils.ts
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
