Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Fix unit test
  src/shared/schema/mix/helpers/__tests__/editor.test.ts
Due: none

Fix typo
  src/shared/schema/mix/helpers/__tests__/editor.test.ts
  src/shared/schema/mix/helpers/editor/validation.ts
Due: none

The markup type setting should be displayed only in the visualization sections
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add maxWorker options
  src/@types/nodekit.d.ts
  src/server/components/charts-engine/runners/wizard.ts
  src/server/modes/charts/plugins/ql/ql-chart-runner.ts
Due: none

Change meta tab links structure (#2126)
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/helpers/__tests__/editor.test.ts
  src/shared/schema/mix/helpers/editor/index.ts
  src/shared/schema/mix/helpers/editor/validation.ts
Due: none

Bump version to 0.2620.0 [release]
  package-lock.json
  package.json
Due: none

Add delete user button to profile
  src/ui/units/auth/components/DeleteUserDialog/DeleteUserDialog.tsx
  src/ui/units/auth/components/UserProfile/UserProfile.tsx
  src/ui/units/auth/store/actions/userProfile.ts
  src/ui/units/auth/store/selectors/userProfile.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

user delition dialog
  src/ui/units/auth/components/DeleteUserDialog/DeleteUserDialog.tsx
  src/ui/units/auth/store/actions/userProfile.ts
  src/ui/units/auth/store/constants/userProfile.ts
  src/ui/units/auth/store/reducers/userProfile.ts
  src/ui/units/auth/store/selectors/userProfile.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Hide delete profile btn in current user profile
  src/ui/units/auth/components/UserProfile/UserProfile.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix auth reload
  src/server/components/auth/middlewares/auth/ui-auth.ts
  src/shared/components/auth/constants/url.ts
  src/ui/units/auth/components/Reload/Reload.tsx
  src/ui/units/auth/store/selectors/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

User deletion dialog (#2132)
  src/ui/units/auth/components/DeleteUserDialog/DeleteUserDialog.tsx
  src/ui/units/auth/components/UserProfile/UserProfile.tsx
  src/ui/units/auth/store/actions/userProfile.ts
  src/ui/units/auth/store/constants/userProfile.ts
  src/ui/units/auth/store/reducers/userProfile.ts
  src/ui/units/auth/store/selectors/userProfile.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2621.0 [release]
  package-lock.json
  package.json
Due: none

The markup type setting should be displayed only in the visualization… (#2133)
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2622.0 [release]
  package-lock.json
  package.json
Due: none

refact reload page
  src/server/components/auth/middlewares/auth/ui-auth.ts
  src/ui/units/auth/components/Reload/Reload.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add maxWorker options for wizard/ql runners (#2135)
  src/@types/nodekit.d.ts
  src/server/components/charts-engine/runners/wizard.ts
  src/server/modes/charts/plugins/ql/ql-chart-runner.ts
Due: none

Bump version to 0.2623.0 [release]
  package-lock.json
  package.json
Due: none

Fix reload
  src/ui/units/auth/components/Reload/Reload.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix table bar
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix alignment of cells in a table using additional styles
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add hook useClearReloadedQuery
  src/ui/datalens/index.tsx
  src/ui/units/auth/hooks/useClearReloadedQuery.ts
  src/ui/units/auth/store/actions/signin.ts
  src/ui/units/auth/store/actions/signup.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix auth reload (#2136)
  src/server/components/auth/middlewares/auth/ui-auth.ts
  src/shared/components/auth/constants/url.ts
  src/ui/datalens/index.tsx
  src/ui/units/auth/components/Reload/Reload.tsx
  src/ui/units/auth/hooks/useClearReloadedQuery.ts
  src/ui/units/auth/store/actions/signin.ts
  src/ui/units/auth/store/actions/signup.ts
  src/ui/units/auth/store/selectors/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix the grouping of rows in tables
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2624.0 [release]
  package-lock.json
  package.json
Due: none

Fix table bar (#2137)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2625.0 [release]
  package-lock.json
  package.json
Due: none

Add another user profile page
  src/ui/components/SmartLoader/SmartLoader.scss
  src/ui/components/SmartLoader/SmartLoader.tsx
  src/ui/datalens/pages/UserProfilePage/UserProfilePage.scss
  src/ui/units/auth/containers/UserProfile/UserProfile.tsx
  src/ui/units/service-settings/containers/App/App.scss
  src/ui/units/service-settings/containers/App/App.tsx
  src/ui/units/service-settings/containers/UserProfilePage/UserProfilePage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

User name in breadcrumbs
  src/ui/datalens/index.tsx
  src/ui/datalens/pages/OwnUserProfilePage/OwnUserProfilePage.scss
  src/ui/datalens/pages/OwnUserProfilePage/OwnUserProfilePage.tsx
  src/ui/datalens/pages/UserProfilePage/UserProfilePage.tsx
  src/ui/units/auth/containers/UserProfile/UserProfile.tsx
  src/ui/units/auth/utils/userProfile.ts
  src/ui/units/service-settings/containers/UserProfilePage/UserProfilePage.scss
  src/ui/units/service-settings/containers/UserProfilePage/UserProfilePage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix spa link in breadcrumbs
  src/ui/datalens/pages/UserProfilePage/UserProfilePage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix displayed empty name
  src/ui/units/auth/components/UserProfile/UserProfile.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add auth create user page
  src/ui/units/auth/components/Signup/Signup.tsx
  src/ui/units/auth/components/Signup/components/Back.tsx
  src/ui/units/auth/components/Signup/components/Email.tsx
  src/ui/units/auth/components/Signup/components/FirstName.tsx
  src/ui/units/auth/components/Signup/components/LastName.tsx
  src/ui/units/auth/components/Signup/components/Login.tsx
  src/ui/units/auth/components/Signup/components/Password.tsx
  src/ui/units/auth/components/Signup/components/RepeatPassword.tsx
  src/ui/units/auth/components/Signup/components/Row.tsx
  src/ui/units/auth/components/formControls/Email.tsx
  src/ui/units/auth/components/formControls/FirstName.tsx
  src/ui/units/auth/components/formControls/LastName.tsx
  src/ui/units/auth/components/formControls/Login.tsx
  src/ui/units/auth/components/formControls/Password.tsx
  src/ui/units/auth/components/formControls/RepeatPassword.tsx
  src/ui/units/auth/components/formControls/Roles.tsx
  src/ui/units/auth/components/formControls/formControls.scss
  src/ui/units/auth/components/formControls/types.ts
  src/ui/units/auth/store/actions/index.ts
  src/ui/units/auth/store/actions/userInfoForm.ts
  src/ui/units/auth/store/constants/signup.ts
  src/ui/units/auth/store/constants/userInfoForm.ts
  src/ui/units/auth/store/reducers/index.ts
  src/ui/units/auth/store/reducers/signup.ts
  src/ui/units/auth/store/reducers/userInfoForm.ts
  src/ui/units/auth/store/selectors/signup.ts
  src/ui/units/auth/store/selectors/userInfoForm.ts
  src/ui/units/auth/store/typings/userInfoForm.ts
  src/ui/units/service-settings/components/CreateUserForm/CreateUserForm.scss
  src/ui/units/service-settings/components/CreateUserForm/CreateUserForm.tsx
  src/ui/units/service-settings/components/UsersList/UsersList.tsx
  src/ui/units/service-settings/containers/App/App.tsx
  src/ui/units/service-settings/containers/CreateProfilePage/CreateProfilePage.scss
  src/ui/units/service-settings/containers/CreateProfilePage/CreateProfilePage.tsx
  src/ui/units/service-settings/store/actions/serviceSettings.ts
  src/ui/units/service-settings/store/constants/serviceSettings.ts
  src/ui/units/service-settings/store/reducers/serviceSettings.ts
  src/ui/units/service-settings/store/selectors/serviceSettings.ts
  src/ui/units/service-settings/store/typings/serviceSettings.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add another user profile page (#2134)
  src/ui/components/SmartLoader/SmartLoader.scss
  src/ui/components/SmartLoader/SmartLoader.tsx
  src/ui/datalens/index.tsx
  src/ui/datalens/pages/OwnUserProfilePage/OwnUserProfilePage.scss
  src/ui/datalens/pages/OwnUserProfilePage/OwnUserProfilePage.tsx
  src/ui/datalens/pages/UserProfilePage/UserProfilePage.tsx
  src/ui/units/auth/components/UserProfile/UserProfile.tsx
  src/ui/units/auth/containers/UserProfile/UserProfile.tsx
  src/ui/units/auth/utils/userProfile.ts
  src/ui/units/service-settings/containers/App/App.scss
  src/ui/units/service-settings/containers/App/App.tsx
  src/ui/units/service-settings/containers/UserProfilePage/UserProfilePage.scss
  src/ui/units/service-settings/containers/UserProfilePage/UserProfilePage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2626.0 [release]
  package-lock.json
  package.json
Due: none

restore removed file
  src/ui/units/auth/components/Signup/components/Back.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Hide part of auth routes for logged in users
  src/ui/units/auth/components/AuthPage/AuthPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add Update password form
  src/ui/units/auth/components/ChangePasswordDialog/ChangePasswordDialog.scss
  src/ui/units/auth/components/ChangePasswordDialog/ChangePasswordDialog.tsx
  src/ui/units/auth/components/UserProfile/UserProfile.tsx
  src/ui/units/auth/constants/errors.ts
  src/ui/units/auth/store/actions/userProfile.ts
  src/ui/units/auth/store/constants/userProfile.ts
  src/ui/units/auth/store/reducers/userProfile.ts
  src/ui/units/auth/store/selectors/userProfile.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

[Ubuntu 24.04] [Node.js 22] Fix security container problems
  .github/workflows/build_application_docker.yaml
  .github/workflows/codeql.yml
  .github/workflows/e2e_build_application_docker.yaml
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_tests_report.yml
  .github/workflows/i18n-check.yml
  .github/workflows/labeler.yml
  .github/workflows/lint_typecheck_unit.yaml
  .github/workflows/publish_platform.yaml
  .github/workflows/publish_platform_hotfix.yaml
  .github/workflows/snyk_container.yaml
  .github/workflows/statoscope_tests.yml
  .github/workflows/statoscope_tests_report.yml
  .github/workflows/statoscope_upload_main_stats.yml
  Dockerfile
  tests/Dockerfile
Due: none

Up Node.js version to 22 in nvmrc
  .nvmrc
Due: none

Fix tests for Node.js 22
  package-lock.json
  package.json
  scripts/e2e/playwright-docker.sh
  tests/opensource-suites/__screenshots__/charts/preview/widget-width.test.ts/Charts-Preview-Table-widget-must-be-the-same-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/ql/visualizations/column/column.test.ts/QL-Column-chart-Check-that-fields-order-does-not-affect-axis-settings-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-column-background-color-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-manual-aee01-ax-value-is-less-than-the-actual-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/pinned-columns.test.ts/Wizard-Flat-table-Pinned-columns-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/pinned-columns.test.ts/Wizard-Flat-table-Pinned-columns-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/pinned-columns.test.ts/Wizard-Flat-table-Pinned-columns-screenshot-3.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Correct-order-of-rows-when-scrolling-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Correct-order-of-rows-when-scrolling-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Dynamic-column-width-during-row-virtualization-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-The-correct-placement-of-the-totals-row-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Coloring-zero-values-with-a-gradient-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Custom-palette-bar-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Two-colors-bar-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Two-colors-bar-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/column-settings.test.ts/Wizard-Pivot-table-Columns-width-for-complex-three-level-header-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/formatting.test.ts/Wizard-Pivot-table-Null-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Complex-three-level-header-in-the-table-head-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Complex-three-level-header-in-the-table-rows-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Grouping-rows-with-markup-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Grouping-rows-with-the-same-value-in-the-previous-column-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/old-pivot-table.test.ts/Wizard-Pivot-table-Table-with-Rows-only-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/totals.test.ts/Wizard-Pivot-table-Subtotals-for-Columns-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/totals.test.ts/Wizard-Pivot-table-Subtotals-for-Rows-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-Correct-order-of-rows-when-scrolling-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-Correct-order-of-rows-when-scrolling-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-Scroll-for-tables-with-row-grouping-and-fixed-column-width-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-The-correct-placement-of-the-totals-row-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/html-in-chart.test.ts/Wizard-Treemap-chart-Markdown-dimension-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/tooltip.test.ts/Wizard-Treemap-chart-Tooltip-when-hovering-chart-area-screenshot-1.png
Due: none

Fix lint
  src/ui/units/auth/store/reducers/userProfile.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
