Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

add AdditionalButtonsWrapper definition to registry
  src/ui/components/FieldEditor/components/Settings.tsx
  src/ui/registry/units/fieldEditor/components-map.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add new illustarations for empty state (#2859)
  src/ui/assets/images/new-illustrations/dark/403.svg
  src/ui/assets/images/new-illustrations/dark/404.svg
  src/ui/assets/images/new-illustrations/dark/500.svg
  src/ui/assets/images/new-illustrations/dark/bad_request.svg
  src/ui/assets/images/new-illustrations/dark/empty_directory.svg
  src/ui/assets/images/new-illustrations/dark/empty_state.svg
  src/ui/assets/images/new-illustrations/dark/no_accounts.svg
  src/ui/assets/images/new-illustrations/dark/no_permission.svg
  src/ui/assets/images/new-illustrations/dark/nothing_found.svg
  src/ui/assets/images/new-illustrations/dark/project.svg
  src/ui/assets/images/new-illustrations/dark/success_operation.svg
  src/ui/assets/images/new-illustrations/light/403.svg
  src/ui/assets/images/new-illustrations/light/404.svg
  src/ui/assets/images/new-illustrations/light/500.svg
  src/ui/assets/images/new-illustrations/light/bad_request.svg
  src/ui/assets/images/new-illustrations/light/empty_directory.svg
  src/ui/assets/images/new-illustrations/light/empty_state.svg
  src/ui/assets/images/new-illustrations/light/no_accounts.svg
  src/ui/assets/images/new-illustrations/light/no_permission.svg
  src/ui/assets/images/new-illustrations/light/nothing_found.svg
  src/ui/assets/images/new-illustrations/light/project.svg
  src/ui/assets/images/new-illustrations/light/success_operation.svg
  src/ui/components/ErrorContent/ErrorContent.tsx
  src/ui/components/Illustration/getIllustrationStore.ts
  src/ui/components/Illustration/getRebrandingIllustrationStore.ts
  src/ui/components/Illustration/types.ts
  src/ui/registry/units/common/register.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3231.0 [release]
  package-lock.json
  package.json
Due: none

add eng keys
  src/i18n-keysets/dash.main.view/en.json
Due: none

add eng test text
  src/i18n-keysets/dash.main.view/en.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dash.main.view/en.json
Due: none

Add no accounts empty state image
  src/ui/components/Illustration/getRebrandingIllustrationStore.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix spaces
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
Due: none

Fixes
  src/server/controllers/public-api.ts
Due: none

Update chartkit to v7.9.1
  package-lock.json
  package.json
Due: none

Add noAccounts
  src/ui/components/Illustration/getIllustrationStore.ts
  src/ui/components/Illustration/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix auto format error
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
Due: none

Hide "Open as table" chart menu item when export disabled and add tests (#2860)
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/libs/DatalensChartkit/menu/helpers.ts
  tests/suites/charts/export/forbiddenExport.test.ts
  tests/utils/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3232.0 [release]
  package-lock.json
  package.json
Due: none

Update chartkit to v7.9.1 (#2862)
  package-lock.json
  package.json
Due: none

Bump version to 0.3233.0 [release]
  package-lock.json
  package.json
Due: none

Add no accounts empty state image (#2861)
  src/ui/components/Illustration/getIllustrationStore.ts
  src/ui/components/Illustration/getRebrandingIllustrationStore.ts
  src/ui/components/Illustration/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3234.0 [release]
  package-lock.json
  package.json
Due: none

revert AdditionalButtonsWrapper to smooth merge with closed part
  src/ui/components/FieldEditor/components/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (Russian)
  src/i18n-keysets/dash.main.view/ru.json
Due: none

Fixes
  src/server/components/public-api/constants.ts
  src/shared/schema/bi/actions/connections.ts
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/bi/schemas/datasets.ts
  src/shared/schema/bi/schemas/index.ts
  src/shared/schema/bi/types/datasets.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/actions/entries.ts
  src/shared/schema/mix/actions/wizard.ts
  src/shared/sdk/zod-schemas/__tests__/dash-api.schema.test.ts
  src/shared/sdk/zod-schemas/dash-api.schema.ts
  src/shared/sdk/zod-schemas/dataset-api.schema.ts
  src/shared/sdk/zod-schemas/wizard-chart-api.schema.ts
Due: none

Fix apply color for unit for indicator
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Metric/renderer/MetricTile.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add support for displaying bottom placeholder in the menus (#2853)
  src/ui/components/Navigation/Base/configure.ts
  src/ui/components/Navigation/Core/CreateEntry/getCreateEntryItems.tsx
  src/ui/registry/units/chart/functions-map.ts
  src/ui/registry/units/chart/types/functions/getVisualSelectorBottomPlaceholder.ts
  src/ui/registry/units/fieldEditor/components-map.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationSelector/VisualizationSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3235.0 [release]
  package-lock.json
  package.json
Due: none

Fix apply color for unit for indicator (#2864)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Metric/renderer/MetricTile.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3236.0 [release]
  package-lock.json
  package.json
Due: none

disable revisions since 2024
  src/i18n-keysets/component.action-panel.view/en.json
  src/i18n-keysets/component.action-panel.view/ru.json
  src/i18n-keysets/component.dialog-revisions.view/en.json
  src/i18n-keysets/component.dialog-revisions.view/ru.json
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/Revisions/RevisionsList/RevisionsList.scss
  src/ui/components/Revisions/RevisionsList/RevisionsList.tsx
  src/ui/components/Revisions/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

refactor
  src/ui/components/ActionPanel/ActionPanel.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove unused type after removing old code
  src/ui/components/DashKit/helpers.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix e2e viewport test
  tests/opensource-suites/dash/base/loading.test.ts
  tests/suites/dash/base/loading.test.ts
Due: none

fix os viewport test
  tests/opensource-suites/dash/base/loading.test.ts
Due: none

enable swc
  app-builder.config.ts
Due: none

remove swc
  app-builder.config.ts
Due: none

Fixes
  src/shared/sdk/zod-schemas/dataset-api.schema.ts
Due: none

Fixes
  src/shared/schema/gateway-utils.ts
  src/shared/schema/mix/actions/navigation.ts
Due: none

Add merge job and e2e test job for self hosted runners (#2850)
  .github/workflows/e2e-tests-farm.yaml
  .github/workflows/e2e_tests.yml
  .github/workflows/tracker-ticket-farm-link.yaml
  .github/workflows/tracker-ticket-pr-merged.yaml
  scripts/ci/tracker-ticket-farm-link.sh
  scripts/ci/tracker-ticket-link.sh
  scripts/ci/tracker-ticket-pr-merged.sh
  tests/docker-compose.e2e.yml
  tests/opensource-suites/dash/base/loading.test.ts
  tests/playwright.config.ts
  tests/suites/dash/base/loading.test.ts
Due: none

Bump version to 0.3237.0 [release]
  package-lock.json
  package.json
Due: none

Fixes
  src/server/components/public-api/constants.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/actions/wizard.ts
Due: none

Fix PR comment prefix at ticket
  scripts/ci/tracker-ticket-farm-link.sh
  scripts/ci/tracker-ticket-pr-merged.sh
Due: none
