Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Move empty template type to regestry
  src/i18n-keysets/editor.common.view/en.json
  src/i18n-keysets/editor.common.view/ru.json
  src/server/components/charts-engine/components/chart-validator.ts
  src/server/components/charts-engine/runners/index.ts
  src/ui/registry/units/editor/functions-map.ts
  src/ui/registry/units/editor/register.tsx
  src/ui/units/editor/components/EntryLabel/EntryLabel.js
  src/ui/units/editor/components/NodeTemplates/List/List.js
  src/ui/units/editor/configs/chart/chart-editor-types.ts
  src/ui/units/editor/constants/common.ts
  src/ui/units/editor/constants/templates/index.ts
  src/ui/units/editor/store/reducers/editor/helper.js
  tests/suites/editor/errorProxy.test.ts
  tests/suites/editor/templateExistance.test.ts
  tests/utils/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Disable chart-chart filtering for treemap charts
  src/shared/schema/mix/helpers/entries.ts
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix bar-chart axis mode
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
Due: none

Fix YaDocument sources initial update
  src/ui/units/connections/store/actions/yadoc/utils.ts
  src/ui/units/connections/store/reducers/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix YaDocument sources initial update (#792)
  src/ui/units/connections/store/actions/yadoc/utils.ts
  src/ui/units/connections/store/reducers/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1455.0 [release]
  package-lock.json
  package.json
Due: none

Remove direct @doc-tools usage
  src/server/components/charts-engine/components/markdown.ts
Due: none

Remove direct @doc-tools usage (#793)
  src/server/components/charts-engine/components/markdown.ts
Due: none

Bump version to 0.1456.0 [release]
  package-lock.json
  package.json
Due: none

Update snyk_container.yaml
  .github/workflows/snyk_container.yaml
Due: none

Fix ql tabs styles
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.scss
Due: prettier --write, stylelint --fix --quiet

Add table component based on @tanstack/react-table (#775)
  package-lock.json
  package.json
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/components/SortIcon/SortIcon.tsx
  src/ui/components/Table/components/TableBody/TableBody.tsx
  src/ui/components/Table/components/TableFooter/TableFooter.tsx
  src/ui/components/Table/components/TableHead/TableHead.tsx
  src/ui/components/Table/types.ts
  src/ui/components/Table/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1457.0 [release]
  package-lock.json
  package.json
Due: none

страница авторизации
  src/shared/endpoints/constants/opensource.ts
  src/ui/datalens/index.tsx
  src/ui/datalens/pages/AuthPage/AuthPage.jsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Pluginize secure embedding token
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/registry/units/chart/functions-map.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixes after review
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/registry/units/chart/functions-map.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix ql tabs styles (#795)
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1458.0 [release]
  package-lock.json
  package.json
Due: none

Pluginize secure embedding token (#796)
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/registry/units/chart/functions-map.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1459.0 [release]
  package-lock.json
  package.json
Due: none

исправлена возможность поделиться ссылкой на график
  src/server/components/sdk/us.ts
  src/shared/endpoints/constants/opensource.ts
  src/shared/schema/us/actions/entries.ts
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

switch to 8080 port
  Dockerfile
  deploy/nginx/sites-enabled/app.conf
Due: none

fix e2e
  tests/docker-compose.e2e.yml
Due: none

Fix diffs with functions
  src/ui/store/actions/editHistory.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

up US
  tests/docker-compose.e2e.yml
Due: none

fix test
  src/server/modes/charts/plugins/datalens/preparers/bar-y/__tests__/bar-y.test.ts
Due: none

fix port
  src/shared/endpoints/constants/opensource.ts
  tests/docker-compose.e2e.yml
Due: none

Fix ignore path list
  src/ui/store/actions/editHistory.ts
  src/ui/store/reducers/editHistory.ts
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  tests/docker-compose.e2e.yml
Due: none

Доработан механизм для прокидования параметров запроса для поделиться
  src/shared/schema/us/actions/entries.ts
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

обновление описания
  CHANGELOG.md
Due: none

Switch to 8080 port (#797)
  Dockerfile
  deploy/nginx/sites-enabled/app.conf
  src/shared/endpoints/constants/opensource.ts
  tests/docker-compose.e2e.yml
Due: none

Bump version to 0.1460.0 [release]
  package-lock.json
  package.json
Due: none

PR fixes
  src/ui/store/actions/editHistory.ts
  src/ui/store/reducers/editHistory.ts
  src/ui/store/selectors/editHistory.ts
  src/ui/units/wizard/actions/preview.ts
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/WizardActionPanel.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix bar-chart axis mode (#791)
  src/server/modes/charts/plugins/datalens/preparers/bar-y/__tests__/bar-y.test.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
Due: none

Bump version to 0.1461.0 [release]
  package-lock.json
  package.json
Due: none

fix control template
  src/ui/units/editor/constants/templates/control.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fill js tab in d3 template
  src/ui/units/editor/constants/templates/d3-chart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add title text for d3 template
  src/i18n-keysets/editor.templates.view/en.json
  src/i18n-keysets/editor.templates.view/ru.json
Due: none
