Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.2561.0 [release]
  package-lock.json
  package.json
Due: none

fix geo tooltip html
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
Due: none

Remove re-export
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove markdown template
  src/ui/units/editor/constants/templates/markdown.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add default export settings for gravity-charts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chart-to-table.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/export/export.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix geo tooltip html (#2063)
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
Due: none

Bump version to 0.2562.0 [release]
  package-lock.json
  package.json
Due: none

Fix: bar does not respond to parameter changes
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add default export settings for gravity-charts (#2065)
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chart-to-table.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/export/export.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2563.0 [release]
  package-lock.json
  package.json
Due: none

Move filtration docs link
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix: bar does not respond to parameter changes (#2067)
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2564.0 [release]
  package-lock.json
  package.json
Due: none

Rename d3 to gravity-charts
  src/i18n-keysets/editor.templates.view/en.json
  src/i18n-keysets/editor.templates.view/ru.json
  src/server/components/charts-engine/components/__tests__/mocks/chart-validator.ts
  src/server/components/charts-engine/components/chart-validator.ts
  src/shared/constants/entry.ts
  src/shared/types/widget.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/utils.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/utils.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/utils.ts
  src/ui/libs/DatalensChartkit/modules/export/export.js
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/units/dash/containers/Dialogs/__tests__/utils.test.ts
  src/ui/units/dash/containers/Dialogs/utils.ts
  src/ui/units/editor/configs/chart/chart-editor-types.ts
  src/ui/units/editor/constants/common.ts
  src/ui/units/editor/constants/templates/control.ts
  src/ui/units/editor/constants/templates/d3-chart.ts
  src/ui/units/editor/constants/templates/index.ts
  src/ui/units/editor/constants/templates/markdown.ts
  src/ui/units/editor/constants/templates/markup.ts
  src/ui/units/editor/constants/templates/module.ts
  src/ui/units/editor/constants/templates/table.ts
  src/ui/units/wizard/reducers/__tests__/preview.test.ts
  src/ui/units/wizard/reducers/preview.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

update keyset
  src/i18n-keysets/editor.templates.view/en.json
  src/i18n-keysets/editor.templates.view/ru.json
Due: none

fix
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update @gravity-ui/dashkit 8.24.3 -> 8.25.0 and add multiple keys option for useBindHotkey hoook
  package-lock.json
  package.json
  src/ui/hooks/useBindHotkey.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix data type change after field duplication
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Use workbook from config (#2060)
  tests/constants/config/index.ts
  tests/opensource-suites/dash/selectors/autoupdateRelatedSelectors.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/types/config/index.ts
Due: none

Bump version to 0.2565.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/dashkit 8.24.3 -> 8.25.0 and add multiple keys option for useBindHotkey hoook (#2070)
  package-lock.json
  package.json
  src/ui/hooks/useBindHotkey.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2566.0 [release]
  package-lock.json
  package.json
Due: none

Fix data type change after field duplication (#2071)
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2567.0 [release]
  package-lock.json
  package.json
Due: none

fix
  tests/opensource-suites/dash/state/stateChange.test.ts
Due: none

Always show filtration docs link
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add hints for preset palette items
  src/i18n-keysets/dash.palette-background/en.json
  src/i18n-keysets/dash.palette-background/ru.json
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add JSON connector
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/utils.ts
  src/server/components/charts-engine/types.ts
Due: none

Update @gravity-ui/dashkit 8.25.0 -> 8.26.0
  package-lock.json
  package.json
Due: none

Add JSON connector (#2074)
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/utils.ts
  src/server/components/charts-engine/types.ts
Due: none

Bump version to 0.2568.0 [release]
  package-lock.json
  package.json
Due: none

Rename d3 to gravity-charts (#2069)
  src/i18n-keysets/editor.templates.view/en.json
  src/i18n-keysets/editor.templates.view/ru.json
  src/server/components/charts-engine/components/__tests__/mocks/chart-validator.ts
  src/server/components/charts-engine/components/chart-validator.ts
  src/shared/constants/entry.ts
  src/shared/types/widget.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/utils.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/utils.tsx
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/utils.ts
  src/ui/libs/DatalensChartkit/modules/export/export.js
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/units/dash/containers/Dialogs/__tests__/utils.test.ts
  src/ui/units/dash/containers/Dialogs/utils.ts
  src/ui/units/editor/configs/chart/chart-editor-types.ts
  src/ui/units/editor/constants/common.ts
  src/ui/units/editor/constants/templates/control.ts
  src/ui/units/editor/constants/templates/d3-chart.ts
  src/ui/units/editor/constants/templates/index.ts
  src/ui/units/editor/constants/templates/markdown.ts
  src/ui/units/editor/constants/templates/markup.ts
  src/ui/units/editor/constants/templates/module.ts
  src/ui/units/editor/constants/templates/table.ts
  src/ui/units/wizard/reducers/__tests__/preview.test.ts
  src/ui/units/wizard/reducers/preview.ts
  tests/opensource-suites/dash/state/stateChange.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2569.0 [release]
  package-lock.json
  package.json
Due: none

Task link test
  README.md
Due: none

Update @gravity-ui/dashkit 8.25.0 -> 8.26.0 (#2075)
  package-lock.json
  package.json
Due: none

Bump version to 0.2570.0 [release]
  package-lock.json
  package.json
Due: none

Add draft to editor
  src/i18n-keysets/component.dialog-revisions.view/en.json
  src/i18n-keysets/component.dialog-revisions.view/ru.json
  src/i18n-keysets/editor.button-save.view/en.json
  src/i18n-keysets/editor.button-save.view/ru.json
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/RevisionsPanel/utils.ts
  src/ui/constants/common.ts
  src/ui/units/editor/components/ActionPanel/ActionPanel.js
  src/ui/units/editor/components/ButtonSave/ButtonSave.js
  src/ui/units/editor/components/Dialogs/ConfirmWarning/ConfirmWarning.scss
  src/ui/units/editor/components/EditorPage/EditorPage.js
  src/ui/units/editor/components/EditorPage/EditorPage.scss
  src/ui/units/editor/components/Revisions/DropdownActions/DropdownActions.tsx
  src/ui/units/editor/components/Revisions/Revisions.tsx
  src/ui/units/editor/components/RevisionsDiff/ButtonNewWindow/ButtonNewWindow.tsx
  src/ui/units/editor/constants/common.ts
  src/ui/units/editor/containers/EditorPage/EditorPage.js
  src/ui/units/editor/libs/monaco/options.ts
  src/ui/units/editor/libs/monaco/utils.js
  src/ui/units/editor/store/reducers/editor/editor.js
  src/ui/units/editor/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove unused fragments
  src/ui/units/editor/components/ButtonSave/ButtonSave.js
  src/ui/units/editor/components/ButtonSave/ButtonSave.scss
  src/ui/units/editor/components/EditorPage/EditorPage.js
  src/ui/units/editor/store/reducers/editor/editor.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix case with new chart
  src/ui/units/editor/components/ButtonSave/ButtonSave.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update keysets
  src/i18n-keysets/editor.dialog-no-edit-rights.view/en.json
  src/i18n-keysets/editor.dialog-no-edit-rights.view/ru.json
Due: none
