Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add 'Copy ID' menu option for all entries
  src/i18n-keysets/component.entry-context-menu.view/en.json
  src/i18n-keysets/component.entry-context-menu.view/ru.json
  src/ui/assets/icons/id-square.svg
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.scss
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
  src/ui/components/EntitiesList/EntitiesList.scss
  src/ui/components/EntitiesList/EntitiesList.tsx
  src/ui/components/EntitiesList/types.ts
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/EntryContextMenu/test/withConfiguredEntryContextMenu.test.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/EntryRow/EntryRow.scss
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/utils/copyText.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix scopes
  src/ui/components/EntryContextMenu/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (English)
  src/i18n-keysets/new-workbooks/en.json
Due: none

Translations update from Weblate Gravity for PR #2305 (#2315)
  src/i18n-keysets/new-workbooks/en.json
  src/i18n-keysets/new-workbooks/ru.json
Due: none

Up quickjs-emscripten -> 0.31.0
  package-lock.json
  package.json
Due: none

Up quickjs-emscripten 0.29.1 -> 0.31.0 (#2316)
  package-lock.json
  package.json
Due: none

Bump version to 0.2762.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/component.entry-context-menu.view/en.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/component.entry-context-menu.view/ru.json
Due: none

Translations update from Weblate Gravity for PR #2314 (#2317)
  src/i18n-keysets/component.entry-context-menu.view/en.json
  src/i18n-keysets/component.entry-context-menu.view/ru.json
Due: none

Add WorkbookStatus type
  src/shared/constants/workbooks.ts
  src/shared/schema/constants.ts
  src/shared/schema/us/types/workbooks.ts
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix lint
  src/shared/schema/index.ts
Due: none

Add copy in workbooks
  src/ui/assets/icons/id-square.svg
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.scss
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
  src/ui/components/DropdownAction/DropdownAction.tsx
  src/ui/components/EntitiesList/EntitiesList.scss
  src/ui/components/EntitiesList/EntitiesList.tsx
  src/ui/components/EntitiesList/types.ts
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTableTabs.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix css
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.scss
Due: prettier --write, stylelint --fix --quiet

Add alert and row block for import (#2305)
  src/i18n-keysets/collections/en.json
  src/i18n-keysets/collections/ru.json
  src/i18n-keysets/new-workbooks/en.json
  src/i18n-keysets/new-workbooks/ru.json
  src/shared/constants/workbooks.ts
  src/shared/schema/constants.ts
  src/shared/schema/index.ts
  src/shared/schema/us/types/workbooks.ts
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.scss
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionCheckboxCell.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionLinkRow.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionTitleCell.tsx
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2763.0 [release]
  package-lock.json
  package.json
Due: none

Add 'Copy ID' menu option for all entries (#2314)
  src/i18n-keysets/component.entry-context-menu.view/en.json
  src/i18n-keysets/component.entry-context-menu.view/ru.json
  src/ui/assets/icons/id-square.svg
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.scss
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
  src/ui/components/DropdownAction/DropdownAction.tsx
  src/ui/components/EntitiesList/EntitiesList.scss
  src/ui/components/EntitiesList/EntitiesList.tsx
  src/ui/components/EntitiesList/types.ts
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/EntryContextMenu/test/withConfiguredEntryContextMenu.test.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/EntryRow/EntryRow.scss
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTableTabs.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/types.ts
  src/ui/utils/copyText.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2764.0 [release]
  package-lock.json
  package.json
Due: none

Add CreateEditorChartButton to connection forms
  src/shared/schema/bi/types/forms.ts
  src/ui/constants/common.ts
  src/ui/registry/units/connections/components-map.tsx
  src/ui/registry/units/connections/register.tsx
  src/ui/registry/units/connections/types/CreateEditorChartButtonProps.ts
  src/ui/registry/units/editor/functions-map.ts
  src/ui/registry/units/editor/types/functions/getEditorTemplates.ts
  src/ui/units/connections/components/Page/ConnPanelActions.tsx
  src/ui/units/connections/store/selectors/index.ts
  src/ui/units/editor/components/EditorPage/EditorPage.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Make Create entry optional in MainTabContent
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add CreateEditorChartButton to connection forms (#2318)
  src/shared/schema/bi/types/forms.ts
  src/ui/constants/common.ts
  src/ui/registry/units/connections/components-map.tsx
  src/ui/registry/units/connections/register.tsx
  src/ui/registry/units/connections/types/CreateEditorChartButtonProps.ts
  src/ui/registry/units/editor/functions-map.ts
  src/ui/registry/units/editor/types/functions/getEditorTemplates.ts
  src/ui/units/connections/components/Page/ConnPanelActions.tsx
  src/ui/units/connections/store/selectors/index.ts
  src/ui/units/editor/components/EditorPage/EditorPage.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2765.0 [release]
  package-lock.json
  package.json
Due: none

Fix changing widget height
  src/ui/components/DashKit/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix dumps
  tests/data/us-e2e-data
Due: none

Add fixed-header collapsing in edit-mode
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add missing data-qa
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update dumps
  tests/data/us-e2e-data
Due: none

Fix tests
  tests/data/us-e2e-data
  tests/opensource-suites/dash/base/fixedHeader.test.ts
  tests/page-objects/dashboard/FixedHeader.ts
Due: none

Tests on fixed header
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  tests/opensource-suites/dash/base/fixedHeader.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/page-objects/dashboard/FixedHeader.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix header height
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Overflow and pin fix
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix sticky controls
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix first render
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix sticky header with revisions panel and table of contents opened
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix refs
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Redesign dash fixed header
  src/shared/constants/qa/dash.ts
  src/ui/components/DashKit/utils.ts
  src/ui/styles/variables.scss
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  tests/data/us-e2e-data
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Next redesign iteration
  src/ui/styles/variables.scss
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix scrollable container width in small windows
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix margins
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
Due: prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
