Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Clean useless dependencies
  package-lock.json
  package.json
Due: none

Update expresskit to 2.0.0 and nodekit to 1.6.0 (#1686)
  package-lock.json
  package.json
Due: none

Bump version to 0.2235.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/server/modes/charts/plugins/ql/yagr.ts
Due: none

Clean useless dependencies (#1687)
  package-lock.json
  package.json
Due: none

Bump version to 0.2236.0 [release]
  package-lock.json
  package.json
Due: none

Remove CSP log headers from logs
  src/server/configs/opensource/common.ts
  src/shared/constants/header.ts
Due: none

Remove EntryScope.Report
  src/server/controllers/utils/handle-entry-redirect.ts
  src/shared/types/common.ts
  src/ui/components/EntryContextMenu/test/withConfiguredEntryContextMenu.test.ts
  src/ui/constants/common.ts
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTableTabs.tsx
  src/ui/utils/getScopeTypeIcon.ts
  src/ui/utils/getTopLevelEntryScopes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix E2E playwright install on Ubuntu 24.04
  .github/workflows/e2e_tests.yml
Due: none

Fix E2E playwright install on Ubuntu 24.04 (#1690)
  .github/workflows/e2e_tests.yml
Due: none

Bump version to 0.2237.0 [release]
  package-lock.json
  package.json
Due: none

Added language detection from expresskit
  src/server/configs/opensource/common.ts
  src/server/middlewares/before-auth-defaults.ts
  src/server/utils/language.ts
Due: none

Remove CSP log headers from logs (#1688)
  src/server/configs/opensource/common.ts
  src/shared/constants/header.ts
Due: none

Bump version to 0.2238.0 [release]
  package-lock.json
  package.json
Due: none

Fix the display of linear indicators (table) in emails
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/Bar.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/Bar.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix test
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/__tests__/bar-utils.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add setEntryKey to navigation
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/NavigationBreadcrumbs/BreadcrumbMenu.tsx
  src/ui/registry/units/common/register.tsx
  src/ui/utils/setEntryKey.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add a setting to disable the tooltip (#1648)
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/d3/index.ts
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
  src/server/modes/charts/plugins/ql/yagr.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/wizard/index.ts
  src/ui/constants/visualizations/index.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2239.0 [release]
  package-lock.json
  package.json
Due: none

Fix the display of linear indicators (table) in emails (#1691)
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/Bar.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/Bar.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/utils.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/__tests__/bar-utils.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2240.0 [release]
  package-lock.json
  package.json
Due: none

Rewrite QLActionPanel in FC
  src/shared/constants/qa/ql.ts
  src/ui/units/ql/constants/index.ts
  src/ui/units/ql/containers/QL/Header/Header.tsx
  src/ui/units/ql/containers/QL/Header/useQLActionPanel.ts
  src/ui/units/ql/containers/QL/QL.tsx
  src/ui/units/ql/containers/QL/QLActionPanel/QLActionPanel.scss
  src/ui/units/ql/containers/QL/QLActionPanel/QLActionPanel.tsx
  src/ui/units/ql/containers/QL/QLActionPanel/useQLActionPanel.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix incorrect table styles when pinning 2 or more columns
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add setEntryKey to navigation (#1692)
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/NavigationBreadcrumbs/BreadcrumbMenu.tsx
  src/ui/registry/units/common/register.tsx
  src/ui/utils/setEntryKey.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix scopes order for workbook entries table
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTableTabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2241.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
Due: prettier --write, stylelint --fix --quiet

Add screenshots for mobile
  src/shared/constants/qa/components.ts
  src/shared/constants/qa/dash.ts
  src/ui/components/Tabs/withDatalensSpecific.tsx
  src/ui/units/dash/containers/App/App.tsx
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
  tests/opensource-suites/dash/screenshots/mobile.test.ts
  tests/opensource-suites/utils.ts
  tests/page-objects/dashboard/DashTabs.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix scopes order for workbook entries table (#1694)
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTableTabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2242.0 [release]
  package-lock.json
  package.json
Due: none

Fix incorrect table styles when pinning 2 or more columns (#1693)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2243.0 [release]
  package-lock.json
  package.json
Due: none

Removed unused usetEntryKey
  src/ui/components/EntryContextMenu/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix chnageTab
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Fix changeTab one more time
  src/shared/constants/qa/dash.ts
  src/ui/components/Tabs/withDatalensSpecific.tsx
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix namings
  src/shared/constants/qa/components.ts
  src/shared/constants/qa/dash.ts
  src/ui/components/Tabs/withDatalensSpecific.tsx
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add table cell types - diff and diff_only
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/DiffCell/DiffCell.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Removed unused setEntryKey (#1695)
  src/ui/components/EntryContextMenu/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2244.0 [release]
  package-lock.json
  package.json
Due: none
