Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix extracting connection type
  src/ui/units/connections/components/Page/Page.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add deleteLock params validation (#2604)
  src/shared/schema/us/actions/locks.ts
Due: none

Bump version to 0.3003.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/ui/components/Navigation/Core/NavigationEntries.js
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/BackgroundTable.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.tsx
  tests/page-objects/wizard/FilterEditor.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix extracting connection type (#2605)
  src/ui/units/connections/components/Page/Page.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3004.0 [release]
  package-lock.json
  package.json
Due: none

Remove unused types (#2601)
  src/shared/types/marketplace/index.ts
  src/shared/types/marketplace/marketplace.ts
Due: none

Bump version to 0.3005.0 [release]
  package-lock.json
  package.json
Due: none

Rename constant
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add support docker dev mode with ports
  app-builder.config.ts
  src/server/local-dev.ts
Due: none

fix
  src/ui/components/Navigation/Core/CreateEntry/CreateEntry.tsx
  src/ui/components/Navigation/Core/CreateEntry/CreateEntrySwitcher.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationLayersControl/CombinedChartLayerTypeSwitcher.scss
  tests/page-objects/wizard/ColumnSettings.ts
  tests/page-objects/wizard/PlaceholderDialog.ts
  tests/suites/dataset/parameters/parametersTab.test.ts
  tests/suites/dataset/sourceEditorDialog.test.ts
  tests/suites/wizard/dialog-field/barsSettings.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Refactor isDisabled
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix condition
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add export menu item disabled state with description (#2592)
  src/i18n-keysets/chartkit.menu.export/en.json
  src/i18n-keysets/chartkit.menu.export/ru.json
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.js
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.scss
  src/ui/libs/DatalensChartkit/menu/Menu.tsx
  src/ui/libs/DatalensChartkit/menu/helpers.ts
  src/ui/registry/units/chart/components-map.tsx
  src/ui/registry/units/chart/register.tsx
  src/ui/registry/units/chart/types/components/ChartHeader.ts
  src/ui/registry/units/chart/types/functions/getWizardChartMenu.ts
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/register.tsx
  src/ui/registry/units/common/types/functions/csvExportAction.ts
  tests/suites/charts/export/forbiddenExport.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3006.0 [release]
  package-lock.json
  package.json
Due: none

Fix hint display
  src/shared/constants/print.ts
  src/ui/components/DashKit/DashKit.ts
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/mixins.scss
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix palette list button borders
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.scss
Due: prettier --write, stylelint --fix --quiet

fix toaster
  package.json
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/SharedLink/SharedLink.tsx
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/useDialogPublicState.ts
  src/ui/components/ErrorContent/DebugInfo/DebugInfo.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/ToastContent/ToastContent.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/utils.tsx
  src/ui/store/actions/toaster.ts
  src/ui/units/datasets/store/actions/creators/dataset.js
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
  src/ui/utils/copyText.ts
  src/ui/utils/readOnly.ts
  tests/page-objects/wizard/PlaceholderDialog.ts
  tests/suites/wizard/placeholder-settings/axisType.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix palette list button borders (#2607)
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.3007.0 [release]
  package-lock.json
  package.json
Due: none

fix test
  tests/page-objects/ql/QLPage.ts
  tests/page-objects/wizard/NavigationMinimal.ts
  tests/suites/wizard/datasets/datasetPopup.test.ts
Due: none

fix lock file
  package-lock.json
Due: none

Add enableAiAssistant for dash
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/registry/units/dash/components-map.tsx
  src/ui/registry/units/dash/types/DialogDashOtherSettingsPrepend.ts
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/OtherSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Rename enableAssistant
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add enableAssistant for dash (#2608)
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/registry/units/dash/components-map.tsx
  src/ui/registry/units/dash/types/DialogDashOtherSettingsPrepend.ts
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/OtherSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3008.0 [release]
  package-lock.json
  package.json
Due: none

Fix connection export setting submition
  src/ui/units/connections/components/Page/components/ConnSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add GetUsersById function template
  src/ui/components/UsersSuggest/types.ts
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/types/functions/GetUsersById.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add GetUsersById function template (#2610)
  src/ui/components/UsersSuggest/types.ts
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/types/functions/GetUsersById.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3009.0 [release]
  package-lock.json
  package.json
Due: none

fix
  tests/page-objects/connections/ConnectionsPage.ts
Due: none

fix tests
  src/shared/constants/qa/wizard.ts
  src/ui/units/connections/components/ConnectorForm/ConnectorForm.scss
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/Placeholder/Placeholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/SectionVisualization.scss
  tests/page-objects/wizard/SectionVisualization.ts
  tests/suites/dash/params/params.test.ts
  tests/suites/wizard/datasets/datasetPopup.test.ts
  tests/suites/wizard/filters/dashboardFilters.test.ts
  tests/suites/wizard/placeholder-settings/axisType.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Row selection in Dataset table (Ctrl / Shift keys)
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix connection export-prohibition setting type (#2609)
  src/ui/units/connections/components/Page/components/ConnSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3010.0 [release]
  package-lock.json
  package.json
Due: none

Add description text latex\mermaid support
  src/ui/components/DashKit/plugins/Widget/types.ts
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/WidgetFooter.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/registry/units/common/types/components/YfmWrapper.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add extensions for description markdown
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/registry/units/common/types/components/MarkdownControl.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix display hint in edit mode
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/mixins.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Simplified meta script set
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
