Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Translated using Weblate (English)
  src/i18n-keysets/component.collections-structure/en.json
  src/i18n-keysets/component.collections-structure/ru.json
Due: none

Translations update from Weblate Gravity for PR #1133 (#1152)
  src/i18n-keysets/component.dialog-related-entities.view/en.json
  src/i18n-keysets/component.dialog-related-entities.view/ru.json
  src/i18n-keysets/component.entry-context-menu.view/en.json
  src/i18n-keysets/component.entry-context-menu.view/ru.json
  src/i18n-keysets/component.entry-row.view/en.json
Due: none

Display debugging information on using html and js (#1145)
  src/server/components/charts-engine/components/utils.ts
  src/server/modes/charts/init-charts-engine.ts
  src/shared/modules/charts-shared.ts
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/ChartInfoIcon.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/constants/common.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/utils.ts
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1766.0 [release]
  package-lock.json
  package.json
Due: none

Translations update from Weblate Gravity for PR #1124 (#1153)
  src/i18n-keysets/component.collections-structure/en.json
  src/i18n-keysets/component.collections-structure/ru.json
Due: none

UI test os
  test-os.txt
Due: none

review fixes
  src/shared/schema/mix/actions/entries.ts
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.scss
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
  src/ui/components/DialogRelatedEntities/EntitiesList/EntitiesList.tsx
  src/ui/components/DialogShare/DialogShare.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fork-test-ui
  fork-test-ui.txt
Due: none

Add hotkey tooltips
  src/ui/components/ActionPanel/components/ChartSaveControls/types.ts
  src/ui/components/ActionPanel/components/ChartSaveControls/useAdditionalItems.tsx
  src/ui/constants/misc.ts
  src/ui/entries/dl-main.tsx
  src/ui/hooks/useBindHotkey.ts
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/useWizardActionPanel.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fixes in group controls loading logic
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add palette colors tooltips
  src/i18n-keysets/dash.palette-background/en.json
  src/i18n-keysets/dash.palette-background/ru.json
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.scss
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add modal with list of related entities (#1133)
  src/i18n-keysets/component.dialog-related-entities.view/en.json
  src/i18n-keysets/component.dialog-related-entities.view/ru.json
  src/i18n-keysets/component.entry-context-menu.view/en.json
  src/i18n-keysets/component.entry-context-menu.view/ru.json
  src/i18n-keysets/component.entry-row.view/en.json
  src/i18n-keysets/component.entry-row.view/ru.json
  src/server/components/features/features-list/RelatedEntitiesList.ts
  src/shared/schema/mix/actions/entries.ts
  src/shared/schema/mix/types/entries.ts
  src/shared/schema/us/types/entries.ts
  src/shared/schema/us/types/fields.ts
  src/shared/types/feature.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.scss
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
  src/ui/components/DialogRelatedEntities/EntitiesList/EntitiesList.scss
  src/ui/components/DialogRelatedEntities/EntitiesList/EntitiesList.tsx
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/RelationsList/RelationsList.tsx
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/useDialogPublicState.ts
  src/ui/components/EntryDialogues/EntryDialogues.tsx
  src/ui/components/EntryRow/EntryRow.scss
  src/ui/components/EntryRow/EntryRow.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/constants/common.ts
  src/ui/units/editor/components/Revisions/Revisions.tsx
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/types.ts
  src/ui/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1767.0 [release]
  package-lock.json
  package.json
Due: none

Add hotkey tooltips (#1156)
  src/ui/components/ActionPanel/components/ChartSaveControls/types.ts
  src/ui/components/ActionPanel/components/ChartSaveControls/useAdditionalItems.tsx
  src/ui/constants/misc.ts
  src/ui/entries/dl-main.tsx
  src/ui/hooks/useBindHotkey.ts
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/useWizardActionPanel.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1768.0 [release]
  package-lock.json
  package.json
Due: none

Add copy and duplicate for controls in group controls dialog (#1141)
  src/i18n-keysets/component.list-with-menu.view/en.json
  src/i18n-keysets/component.list-with-menu.view/ru.json
  src/shared/constants/qa/control.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/constants.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/utils.ts
  src/ui/components/ListWithMenu/ListWithMenu.scss
  src/ui/components/ListWithMenu/ListWithMenu.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/containers/Dialogs/Widget/TabMenu/TabMenu.tsx
  src/ui/units/dash/containers/Dialogs/Widget/TabMenu/types.ts
  src/ui/units/dash/modules/helpers.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1769.0 [release]
  package-lock.json
  package.json
Due: none

Fix crash group controls after adding select
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move the initialization of the scatter tooltip to the client
  src/server/modes/charts/plugins/datalens/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/helpers/tooltip.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/shared/constants/chartkit-handlers.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix crash group controls after adding select (#1157)
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1770.0 [release]
  package-lock.json
  package.json
Due: none

fix unit tests
  src/server/modes/charts/plugins/datalens/preparers/scatter/__tests__/mocks/scatter.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/helpers/tooltip.ts
Due: none

Move the initialization of the scatter tooltip to the client (#1158)
  src/server/modes/charts/plugins/datalens/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/__tests__/mocks/scatter.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/helpers/tooltip.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/shared/constants/chartkit-handlers.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1771.0 [release]
  package-lock.json
  package.json
Due: none

i18n and finished todos
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/columns/Hidden.tsx
  src/ui/units/datasets/components/DatasetTable/columns/IndexColumn.tsx
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/BatchActionPanel.tsx
  src/ui/units/datasets/components/DatasetTable/utils.ts
  src/ui/units/datasets/store/reducers/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Minor metodes rename
  src/ui/units/datasets/containers/DatasetEditor/DatasetEditor.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Revert methods changes
  src/ui/units/datasets/containers/DatasetEditor/DatasetEditor.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Removed TODO comment
  src/ui/units/datasets/store/reducers/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix Tooltip appearance e2e test
  tests/page-objects/wizard/ChartKit.ts
  tests/suites/wizard/geolayer/geopoints/addMeasure.test.ts
  tests/suites/wizard/geolayer/geopoints/addTooltip.test.ts
Due: none

Fix "Tooltip appearance" e2e test (#1159)
  tests/page-objects/wizard/ChartKit.ts
  tests/suites/wizard/geolayer/geopoints/addMeasure.test.ts
  tests/suites/wizard/geolayer/geopoints/addTooltip.test.ts
Due: none

Bump version to 0.1772.0 [release]
  package-lock.json
  package.json
Due: none

Add beforeUpdate property to basic select form item
  src/shared/schema/bi/types/forms.ts
  src/ui/units/connections/components/ConnectorForm/components/Select/Select.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (English)
  src/i18n-keysets/dash.palette-background/en.json
  src/i18n-keysets/dash.palette-background/ru.json
Due: none

Add beforeUpdate property to basic select form item (#1160)
  src/shared/schema/bi/types/forms.ts
  src/ui/units/connections/components/ConnectorForm/components/Select/Select.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1773.0 [release]
  package-lock.json
  package.json
Due: none

Translations update from Weblate Gravity for PR #1099 (#1161)
  src/i18n-keysets/dash.palette-background/en.json
  src/i18n-keysets/dash.palette-background/ru.json
Due: none

Remove ts-ignore on dependentSelectors field in controls
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix text
  src/i18n-keysets/dash.palette-background/en.json
  src/i18n-keysets/dash.palette-background/ru.json
Due: none

исправлена ошибка с интерфейсов "Поделиться" для объектов widget
  CHANGELOG.md
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/OpenDialogShare/OpenDialogShare.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add warning about unused items
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/AvailablePlaceholder/AvailablePlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/DashboardFiltersPlaceholder/DashboardFiltersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/Placeholder/Placeholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/SectionVisualization.scss
  src/ui/units/wizard/selectors/visualization.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet
