Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix
  src/ui/units/connections/components/Page/components/DescriptionButton.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix the discrete axis setting for the bar-y chart (#2923)
  src/server/modes/charts/plugins/datalens/preparers/bar-y/__tests__/bar-y.test.ts
  src/server/modes/charts/plugins/datalens/preparers/line/__tests__/mocks/line.mock.ts
  src/server/modes/charts/plugins/datalens/utils/misc-helpers.ts
  src/shared/modules/wizard/axis-mode.ts
Due: none

Bump version to 0.3283.0 [release]
  package-lock.json
  package.json
Due: none

Fix
  src/ui/units/connections/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixes
  src/server/components/public-api/types.ts
  src/server/components/public-api/utils/make-action.ts
Due: none

Add the color settings dialog in the dataset field
  src/shared/modules/fields.ts
  src/shared/types/dataset.ts
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/DefaultPaletteSelect/DefaultPaletteSelect.scss
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/DefaultPaletteSelect/DefaultPaletteSelect.tsx
  src/ui/components/ColorPaletteEditorContainer/ColorTextInput/ColorTextInput.tsx
  src/ui/components/ColorPaletteSelect/ColorPaletteSelect.scss
  src/ui/components/ColorPaletteSelect/ColorPaletteSelect.tsx
  src/ui/components/PaletteIcon/PaletteIcon.tsx
  src/ui/components/PaletteItem/PaletteItem.scss
  src/ui/components/PaletteItem/PaletteItem.tsx
  src/ui/components/ValuesList/ValuesList.scss
  src/ui/components/ValuesList/ValuesList.tsx
  src/ui/styles/mixins.scss
  src/ui/units/datasets/components/ColorsDialog/ColorsDialog.scss
  src/ui/units/datasets/components/ColorsDialog/ColorsDialog.tsx
  src/ui/units/datasets/components/FieldSettingsDialog/FieldSettingsDialog.scss
  src/ui/units/datasets/components/FieldSettingsDialog/FieldSettingsDialog.tsx
  src/ui/units/datasets/containers/DatasetEditor/DatasetEditor.js
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorPalette/DialogColorPalette.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorPalette/DialogColorPalette.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/BackgroundSettings/hooks/useBackgroundSettingsButtonColorDialog.ts
  src/ui/units/wizard/components/Dialogs/DialogField/components/BarsSettings/components/GradientColorControl/GradientColorControl.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/BarsSettings/components/PaletteColorControl/PaletteColorControl.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/ButtonColorDialog/ButtonColorDialog.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapesPalette/DialogShapesPalette.scss
  src/ui/units/wizard/components/MinifiedPalette/MinifiedPalette.scss
  src/ui/units/wizard/components/MinifiedPalette/MinifiedPalette.tsx
  src/ui/units/wizard/components/Palette/Palette.tsx
  src/ui/units/wizard/components/ValuesList/ValuesList.tsx
  src/ui/units/wizard/styles/mixins.scss
  src/ui/units/wizard/utils/palette.tsx
  src/ui/utils/index.ts
  src/ui/utils/palettes.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove EnableBackendExportInfo feature-flag (part 2) (#2924)
  src/server/components/features/features-list/EnableBackendExportInfo.ts
  src/shared/types/feature.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/registry/units/chart/components-map.tsx
  src/ui/registry/units/chart/types/components/ChartHeader.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3284.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/shared/utils/dataset.ts
Due: none

add user reducer export
  src/shared/types/common.ts
  src/ui/store/reducers/user.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixes
  src/shared/zod-schemas/dash.ts
Due: none

Fixes
  src/shared/components/sdk/index.ts
Due: none

Fixes
  src/shared/schema/gateway-utils.ts
Due: none

Clear revision in dump
  tests/data/us-e2e-data.sql
Due: none

Add description for datasets and connections (#2893)
  src/i18n-keysets/connections.form/en.json
  src/i18n-keysets/connections.form/ru.json
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/server/components/features/features-list/EnableConnectionDescription.ts
  src/server/components/features/features-list/EnableDatasetDescription.ts
  src/shared/types/dataset.ts
  src/shared/types/feature.ts
  src/shared/zod-schemas/dataset.ts
  src/ui/units/connections/components/Page/ConnPanelActions.tsx
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/Page/components/DescriptionButton.tsx
  src/ui/units/connections/components/Page/components/index.ts
  src/ui/units/connections/constants/form.ts
  src/ui/units/connections/store/actions/file.ts
  src/ui/units/connections/store/actions/gsheet/index.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/actions/yadoc/index.ts
  src/ui/units/connections/store/selectors/index.ts
  src/ui/units/datasets/components/DescriptionButton/DescriptionButton.tsx
  src/ui/units/datasets/containers/Dataset/ActionPanelRightItems.tsx
  src/ui/units/datasets/store/actions/creators/dataset.js
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/selectors/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3285.0 [release]
  package-lock.json
  package.json
Due: none

remove dataset revisions flag
  src/ui/components/RevisionsPanel/utils.ts
  src/ui/units/datasets/containers/Dataset/Dataset.js
  src/ui/units/datasets/store/actions/creators/dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update text widget with markdown screenshot test (#2904)
  tests/data/us-e2e-data.sql
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
Due: none

Bump version to 0.3286.0 [release]
  package-lock.json
  package.json
Due: none

Fix grouping selector
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldMainSection/DialogFieldMainSection.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldSelect/DialogFieldSelect.scss
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldSelect/DialogFieldSelect.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/ui/units/datasets/components/ColorsDialog/ColorsDialog.tsx
  src/ui/units/datasets/components/FieldSettingsDialog/FieldSettingsDialog.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

reset field settings
  src/i18n-keysets/dataset.field-settings-dialog.modify/en.json
  src/i18n-keysets/dataset.field-settings-dialog.modify/ru.json
  src/shared/utils/dataset.ts
  src/ui/units/datasets/components/ColorsDialog/ColorsDialog.tsx
  src/ui/units/datasets/components/DatasetTable/columns/FieldSettings.tsx
  src/ui/units/datasets/components/FieldSettingsDialog/FieldSettingsDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

replace to arrow fn
  src/ui/units/datasets/containers/Dataset/Dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add business label to connections
  src/shared/constants/connections.ts
  src/shared/schema/bi/types/connections.ts
  src/ui/registry/units/connections/components-map.tsx
  src/ui/registry/units/connections/functions-map.ts
  src/ui/registry/units/connections/register.tsx
  src/ui/registry/units/connections/types/BusinessConnectionLabel.ts
  src/ui/registry/units/connections/types/getIsShowBusinessConnectionLabel.ts
  src/ui/units/connections/components/ConnectorForm/FormActions/selectors.ts
  src/ui/units/connections/components/ConnectorsList/ConnectorsList.scss
  src/ui/units/connections/components/ConnectorsList/ListItem.tsx
  src/ui/units/connections/components/ConnectorsList/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove dataset revisions flag (#2925)
  src/ui/components/RevisionsPanel/utils.ts
  src/ui/units/datasets/containers/Dataset/Dataset.js
  src/ui/units/datasets/store/actions/creators/dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3287.0 [release]
  package-lock.json
  package.json
Due: none

Fix an empty block for requesting a dataset in the inspector
  src/server/modes/charts/plugins/datalens/js/js.ts
Due: none

Fix sorting
  src/ui/units/datasets/components/DatasetTable/columns/FieldSettings.tsx
  src/ui/units/datasets/components/FieldSettingsDialog/FieldSettingsDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix an empty block for requesting a dataset in the inspector (#2926)
  src/server/modes/charts/plugins/datalens/js/js.ts
Due: none

Bump version to 0.3288.0 [release]
  package-lock.json
  package.json
Due: none

Fix e2e us dump run (#2918)
  package.json
Due: none

Bump version to 0.3289.0 [release]
  package-lock.json
  package.json
Due: none

fix typo error
  src/i18n-keysets/wizard/ru.json
Due: none

Update en.json
  src/i18n-keysets/dataset.field-settings-dialog.modify/en.json
Due: none

Fix grouping selector 2
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldMainSection/DialogFieldMainSection.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldSelect/DialogFieldSelect.scss
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldSelect/DialogFieldSelect.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Translated using Weblate (Russian)
  src/i18n-keysets/dataset.field-settings-dialog.modify/ru.json
Due: none

Translations update from Weblate Gravity for PR #2927 (#2932)
  src/i18n-keysets/dataset.field-settings-dialog.modify/ru.json
Due: none

Add prop for passing custom navigation items
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add prop for passing custom navigation items (#2931)
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3290.0 [release]
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
