Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add custom error for workbook isolation interruption (#630)
  src/i18n-keysets/component.chartkit-error.codes/en.json
  src/i18n-keysets/component.chartkit-error.codes/ru.json
  src/shared/constants/error-codes.ts
  src/ui/libs/DatalensChartkit/Error/Error.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1356.0 [release]
  package-lock.json
  package.json
Due: none

refactor(control dialog): extract entry selector to separate component
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/EntrySelector/EntrySelector.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/EntrySelector/EntrySelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

refactoring
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/dash/modules/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

refactor(control dialog): add usage entry selector for dataset selector
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/EntrySelector/EntrySelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

add basic connection selector
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSelector/ConnectionSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/ConnectionSettings.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

refactor(control dialog): refactoring render entry selector
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSelector/ConnectionSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/EntrySelector/EntrySelector.tsx
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Moved isEntryId and extractEntryId functions to registry.common.functions
  src/server/registry/units/common/functions-map.ts
  src/server/registry/units/common/register.ts
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/register.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

use isEntryId and extractEntryId from registry.common.functions
  src/server/components/resolve-entry-by-link.ts
  src/server/modes/charts/plugins/runner-key-adapter.ts
  src/server/registry/units/common/functions-map.ts
  src/server/registry/units/common/register.ts
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/Navigation/hoc/resolveNavigationPath.js
  src/ui/components/SlugifyUrl/SlugifyUrl.tsx
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/Router/Router.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/store/actions/base/actions.ts
  src/ui/units/datasets/components/DatasetRouter/DatasetRouter.tsx
  src/ui/units/datasets/containers/DatasetPage/DatasetPage.tsx
  src/ui/units/datasets/store/reducers/index.ts
  src/ui/units/editor/components/EditorPage/EditorPage.js
  src/ui/units/preview/components/Preview/Preview.tsx
  src/ui/units/ql/containers/QL/QL.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix types
  src/server/registry/units/common/functions-map.ts
  src/ui/registry/units/common/functions-map.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix invalid popup height
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AliasesList/AliasesInvalidList.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix invalid popup height (#664)
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AliasesList/AliasesInvalidList.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1357.0 [release]
  package-lock.json
  package.json
Due: none

fixed registry usage
  src/server/components/resolve-entry-by-link.ts
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/Navigation/hoc/resolveNavigationPath.js
  src/ui/components/SlugifyUrl/SlugifyUrl.tsx
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/Router/Router.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/store/actions/base/actions.ts
  src/ui/units/datasets/components/DatasetRouter/DatasetRouter.tsx
  src/ui/units/datasets/containers/DatasetPage/DatasetPage.tsx
  src/ui/units/datasets/store/reducers/index.ts
  src/ui/units/editor/components/EditorPage/EditorPage.js
  src/ui/units/preview/components/Preview/Preview.tsx
  src/ui/units/ql/containers/QL/QL.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

refactor(connection settings): move selector
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/ConnectionSettings.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/ConnectionSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

feat(entry selector): add support error state
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/ConnectionSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/EntrySelector/EntrySelector.tsx
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (English)
  src/i18n-keysets/wizard/en.json
Due: none

Moved isEntryId and extractEntryId functions to registry.common.functions (#663)
  src/server/components/resolve-entry-by-link.ts
  src/server/modes/charts/plugins/runner-key-adapter.ts
  src/server/registry/units/common/functions-map.ts
  src/server/registry/units/common/register.ts
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/Navigation/hoc/resolveNavigationPath.js
  src/ui/components/SlugifyUrl/SlugifyUrl.tsx
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/register.tsx
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/Router/Router.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/store/actions/base/actions.ts
  src/ui/units/datasets/components/DatasetRouter/DatasetRouter.tsx
  src/ui/units/datasets/containers/DatasetPage/DatasetPage.tsx
  src/ui/units/datasets/store/reducers/index.ts
  src/ui/units/editor/components/EditorPage/EditorPage.js
  src/ui/units/preview/components/Preview/Preview.tsx
  src/ui/units/ql/containers/QL/QL.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

feat(connection selector): add support loading connection
  src/shared/constants/connections.ts
  src/shared/types/connections.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/ConnectionSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/helpers.ts
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

hide section when with configuration
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/ConnectionSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix publish platform external contrib
  .github/workflows/publish_platform.yaml
Due: none

Support multicontrol relations
  src/server/components/sdk/dash.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Control/constants.ts
  src/ui/components/DashKit/plugins/Control/prerenderMiddleware.js
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/types.ts
  src/ui/components/DashKit/plugins/types.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Content.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Row.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/helpers.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/useFilteredRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/useRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix publish platform external contrib (#667)
  .github/workflows/publish_platform.yaml
Due: none

Bump version to 0.1358.0 [release]
  package-lock.json
  package.json
Due: none

Add manual dispatch trigger to publish platform
  .github/workflows/publish_platform.yaml
Due: none

Fix metric tests
  tests/page-objects/ql/QLPage.ts
Due: none

refactor(entry-selector): replace popover to error under control
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/EntrySelector/EntrySelector.tsx
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add manual dispatch trigger to publish platform (#668)
  .github/workflows/publish_platform.yaml
Due: none

Bump version to 0.1359.0 [release]
  package-lock.json
  package.json
Due: none

Add connection selector for connection based control configuration tab (#666)
  src/shared/constants/connections.ts
  src/shared/types/connections.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/ConnectionSettings.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/ConnectionSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/helpers.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/EntrySelector/EntrySelector.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/EntrySelector/EntrySelector.tsx
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
  src/ui/units/dash/modules/constants.ts
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1360.0 [release]
  package-lock.json
  package.json
Due: none

fix: remove unused i18n keys
  src/i18n-keysets/common.data-types/en.json
  src/i18n-keysets/common.data-types/ru.json
  src/i18n-keysets/component.dl-field-editor.view/en.json
  src/i18n-keysets/component.dl-field-editor.view/ru.json
  src/i18n-keysets/component.field-editor.view/en.json
  src/i18n-keysets/component.field-editor.view/ru.json
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
Due: none

Fix enums
  src/server/configs/shared/ql-chart-template.ts
Due: none

Add markup support in ql charts (#633)
  src/server/configs/shared/ql-chart-template.ts
  src/server/modes/charts/plugins/datalens/preparers/metric/index.ts
  src/shared/constants/common.ts
  src/shared/constants/entry.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  tests/page-objects/ql/QLPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1361.0 [release]
  package-lock.json
  package.json
Due: none

fix: remove datetime from code
  src/server/modes/charts/plugins/datalens/preparers/__tests__/common.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepare-bar-x.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/getXAxisValue.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/server/modes/charts/plugins/datalens/url/build-request-body/index.ts
  src/shared/modules/bi-api/mappers/v2.ts
  src/shared/modules/config/wizard/v3/mapV3ConfigToV4.ts
  src/shared/types/dataset.ts
  src/shared/types/wizard/field.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DataTypeIcon/DataTypeIcon.tsx
  src/ui/components/DialogFilter/DateFilter/DateFilter.tsx
  src/ui/components/DialogFilter/utils.ts
  src/ui/components/DialogParameter/helpers.tsx
  src/ui/constants/misc.ts
  src/ui/store/actions/dialog.ts
  src/ui/units/dash/containers/Dialogs/Control/Date/Default/Default.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/InputTypeSelector/InputTypeSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.tsx
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldMainSection/DialogFieldMainSection.tsx
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
  src/ui/units/wizard/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Dialog relations fix & improve disconnect action
  src/i18n-keysets/component.dialog-relations.view/en.json
  src/i18n-keysets/component.dialog-relations.view/ru.json
  src/shared/constants/qa/dash.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix i18n
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
Due: none

Remove stub for workbook isolation interruption
  src/ui/libs/DatalensChartkit/Error/Error.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
