Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Fix adding chart date format
  src/ui/components/WorkbookNavigationMinimal/WorkbookNavigationMinimal.tsx
  src/ui/constants/misc.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix adding chart date format (#1793)
  src/ui/components/WorkbookNavigationMinimal/WorkbookNavigationMinimal.tsx
  src/ui/constants/misc.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2327.0 [release]
  package-lock.json
  package.json
Due: none

Add event listener
  src/ui/components/DashKit/plugins/Title/Title.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up @playwright/test 1.40.0 -> 1.48.2
  .dockerignore
  .github/workflows/e2e_build_application_docker.yaml
  .github/workflows/e2e_tests.yml
  .gitignore
  package-lock.json
  package.json
  scripts/e2e/playwright-docker.sh
  scripts/e2e/us-dump.sh
  tests/.dockerignore
  tests/.editorconfig
  tests/.eslintignore
  tests/.npmrc
  tests/.prettierignore
  tests/.prettierrc.js
  tests/README.md
  tests/docker-compose.e2e.yml
  tests/package-lock.json
  tests/package.json
  tests/playwright.config.ts
Due: none

fix
  .github/workflows/e2e_tests.yml
Due: none

Update gateway to v3
  package-lock.json
  package.json
Due: none

fix date picker fill
  tests/utils/index.ts
Due: none

fix flaky dropdown button
  tests/page-objects/workbook/Workbook.ts
Due: none

fix
  .github/workflows/e2e_tests.yml
  tests/docker-compose.e2e.yml
  tests/opensource-suites/dash/base/loading.test.ts
Due: none

fix timeout
  .github/workflows/e2e_tests.yml
Due: none

fix typecheck recursion
  package.json
Due: none

Up @playwright/test 1.40.0 -> 1.48.2 (#1794)
  .dockerignore
  .github/workflows/e2e_build_application_docker.yaml
  .github/workflows/e2e_tests.yml
  .gitignore
  package-lock.json
  package.json
  scripts/e2e/playwright-docker.sh
  scripts/e2e/us-dump.sh
  tests/.dockerignore
  tests/.editorconfig
  tests/.eslintignore
  tests/.npmrc
  tests/.prettierignore
  tests/.prettierrc.js
  tests/README.md
  tests/docker-compose.e2e.yml
  tests/opensource-suites/dash/base/loading.test.ts
  tests/package-lock.json
  tests/package.json
  tests/page-objects/workbook/Workbook.ts
  tests/playwright.config.ts
  tests/utils/index.ts
Due: none

Bump version to 0.2328.0 [release]
  package-lock.json
  package.json
Due: none

Fix deps us database for E2E test with healthcheck
  .github/workflows/e2e_tests.yml
  tests/docker-compose.e2e.yml
Due: none

fix
  tests/docker-compose.e2e.yml
Due: none

Fix deps us database for E2E test with healthcheck (#1797)
  .github/workflows/e2e_tests.yml
  tests/docker-compose.e2e.yml
Due: none

Bump version to 0.2329.0 [release]
  package-lock.json
  package.json
Due: none

Do not use duplicates for field updates
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/actions/preview.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update gateway to v3 (#1795)
  package-lock.json
  package.json
Due: none

Bump version to 0.2330.0 [release]
  package-lock.json
  package.json
Due: none

Do not use duplicates for field updates (#1798)
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/actions/preview.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2331.0 [release]
  package-lock.json
  package.json
Due: none

The _chart_type should not override the visualization type in wizard (#1788)
  src/ui/units/wizard/containers/Wizard/SectionPreview/SectionPreview.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2332.0 [release]
  package-lock.json
  package.json
Due: none

Fix 'Create QL chart' label translation
  src/i18n-keysets/sql/ru.json
Due: none

fix screenshots
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/Bar.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/utils.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-column-background-color-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-manual-aee01-ax-value-is-less-than-the-actual-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/no-data.test.ts/Wizard-Pivot-table-No-data-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-2.png
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix E2E test timeout
  .github/workflows/e2e_tests.yml
  tests/docker-compose.e2e.yml
  tests/playwright.config.ts
Due: none

Support exceptions for chart menu
  src/server/components/charts-engine/components/storage/types.ts
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/configs/opensource/common.ts
  src/shared/schema/us/types/embeds.ts
  src/shared/types/charts.ts
  src/shared/types/common.ts
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/constants/common.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/DownloadCsv/DownloadCsv.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.js
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/wizard.js
  src/ui/libs/DatalensChartkit/modules/export/export.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix E2E test timeout (#1800)
  .github/workflows/e2e_tests.yml
  tests/docker-compose.e2e.yml
  tests/playwright.config.ts
Due: none

Bump version to 0.2333.0 [release]
  package-lock.json
  package.json
Due: none

Fix extra space in group controls with autoheight
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix table size
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/BackgroundTable.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  tests/README.md
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

WIP: groupControl
  src/ui/components/DialogGroupControl/DialogGroupControl.tsx
  src/ui/components/DialogGroupControl/GroupControlBody/GroupControlBody.tsx
  src/ui/components/DialogGroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/components/DialogGroupControl/useGroupControlState.ts
  src/ui/units/dash/containers/Dialogs/Dialogs.js
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/actions/controls/types.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-column-background-color-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-manual-aee01-ax-value-is-less-than-the-actual-screenshot-1.png
Due: none

fix selectors elipsis strings hiding
  src/ui/units/wizard/components/DatasetSelect/DatasetSelectItem.scss
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationSelector/VisualizationSelector.scss
Due: prettier --write, stylelint --fix --quiet

Fix table head with totals
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/totals.test.ts/Wizard-Pivot-table-Subtotals-for-Columns-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pivot-table/totals.test.ts
Due: prettier --write, stylelint --fix --quiet

Fix dataset and visualization type selectors' text cutting (#1803)
  src/ui/units/wizard/components/DatasetSelect/DatasetSelectItem.scss
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationSelector/VisualizationSelector.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.2334.0 [release]
  package-lock.json
  package.json
Due: none

Update screenshots
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
Due: none
