Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Separate IllustrationComponent type
  src/ui/components/Illustration/types.ts
  src/ui/components/Illustration/utils.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

disable revisions for unsupported connections
  src/server/components/features/features-list/EnableConnectionRevisions.ts
  src/shared/schema/bi/types/connections.ts
  src/shared/types/feature.ts
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.tsx
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/RevisionsPanel/utils.ts
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update function
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/utils/dashkitProps.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Optimize dash with gridLayout memorization (#2984)
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/utils/dashkitProps.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3342.0 [release]
  package-lock.json
  package.json
Due: none

get connection data on error with rev id
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add env for sleep and retries to post-init e2e demo data script
  tests/data/post-init.sh
  tests/docker-compose.e2e.yml
Due: none

Add custom docker playwright image for tests (#2969)
  .github/workflows/e2e-tests-farm.yaml
  package.json
  scripts/ci/cached-npm-install.sh
  scripts/e2e/playwright-docker.sh
Due: none

fix
  tests/docker-compose.e2e.yml
Due: none

Add env for sleep and retries to post-init e2e demo data script (#2986)
  tests/data/post-init.sh
  tests/docker-compose.e2e.yml
Due: none

Bump version to 0.3343.0 [release]
  package-lock.json
  package.json
Due: none

Bump version to 0.3344.0 [release]
  package-lock.json
  package.json
Due: none

Dynamic input width in field editor
  src/ui/components/FieldEditor/FieldEditor.scss
  src/ui/components/FieldEditor/components/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Improve dash widgets meta info
  src/ui/components/DashKit/plugins/types.ts
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/libs/DatalensChartkit/helpers/convert-data-to-table.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Improve dash widgets meta info (#2987)
  src/ui/components/DashKit/plugins/types.ts
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/libs/DatalensChartkit/helpers/convert-data-to-table.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3345.0 [release]
  package-lock.json
  package.json
Due: none

Remove unused code
  src/ui/units/dash/utils/dashkitProps.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Improve behavior
  src/ui/components/Illustration/Illustration.scss
  src/ui/components/Illustration/Illustration.tsx
  src/ui/components/Illustration/utils.tsx
  src/ui/components/PlaceholderIllustration/PlaceholderIllustration.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update @gravity-ui/chartkit 7.12.0 -> 7.13.0
  package-lock.json
  package.json
Due: none

Update @gravity-ui/chartkit 7.12.0 -> 7.13.0 (#2990)
  package-lock.json
  package.json
Due: none

Bump version to 0.3346.0 [release]
  package-lock.json
  package.json
Due: none

Change width
  src/ui/components/FieldEditor/FieldEditor.scss
Due: prettier --write, stylelint --fix --quiet

Enable and remove EnableExportWorkbookFile flag usage
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/CreateWorkbookDialog.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContentTable/helpers.ts
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix appearing of background on auth page
  src/ui/units/auth/components/AuthPage/AuthPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove DashBoardAccessDescription flag usage
  src/ui/components/ErrorContent/ErrorContent.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/OtherSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixes
  src/ui/units/auth/components/AuthPage/AuthPage.tsx
  src/ui/units/auth/components/Signup/Signup.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix lint
  src/ui/units/auth/components/Signup/Signup.scss
Due: prettier --write, stylelint --fix --quiet

refactoring orderBy-filters
  src/ui/components/CollectionFilters/CollectionFilters.tsx
  src/ui/components/Navigation/Core/OrderSelect/OrderSelect.tsx
  src/ui/components/OrderBySelect/OrderBySelect.tsx
  src/ui/components/OrderBySelect/constants.ts
  src/ui/components/OrderBySelect/index.tsx
  src/ui/components/OrderBySelect/types.ts
  src/ui/units/workbooks/components/WorkbookFilters/WorkbookFilters.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Disable DashBoardSupportDescription
  src/server/components/features/features-list/DashBoardSupportDescription.ts
  src/ui/units/dash/containers/Dialogs/Settings/components/OtherSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix appearing of background on auth page (#2992)
  src/ui/units/auth/components/AuthPage/AuthPage.tsx
  src/ui/units/auth/components/Signup/Signup.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3347.0 [release]
  package-lock.json
  package.json
Due: none

Improve lodaded simple meta data
  src/ui/components/DashKit/plugins/types.ts
  src/ui/components/Widgets/Chart/helpers/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove unnecessary dash support description from settings (#2993)
  src/server/components/features/features-list/DashBoardSupportDescription.ts
  src/ui/components/ErrorContent/ErrorContent.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/OtherSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3348.0 [release]
  package-lock.json
  package.json
Due: none

Add orderBy-filter for minimal workbook navigation
  src/ui/components/WorkbookNavigationMinimal/WorkbookNavigationMinimal.scss
  src/ui/components/WorkbookNavigationMinimal/WorkbookNavigationMinimal.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Extend timeout
  src/ui/components/Illustration/Illustration.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Dynamic input width in field editor (#2988)
  src/ui/components/FieldEditor/FieldEditor.scss
  src/ui/components/FieldEditor/components/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3349.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/component.collections-structure/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/component.collections-structure/en.json
Due: none
