Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Review fixes
  src/server/components/auth/middlewares/auth/api-auth.ts
  src/server/components/auth/middlewares/auth/ui-auth.ts
Due: none

Set custom auth cookie name (#3469)
  src/@types/nodekit.d.ts
  src/server/components/auth/middlewares/auth/api-auth.ts
  src/server/components/auth/middlewares/auth/ui-auth.ts
  src/server/components/layout/opensource-layout-config.ts
  src/server/configs/opensource/common.ts
  src/shared/components/auth/constants/cookie.ts
  src/shared/components/auth/utils.ts
  src/shared/types/common.ts
  src/ui/constants/common.ts
  src/ui/libs/auth/refreshToken.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3773.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/ui/components/Widgets/Chart/components/Header.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix comments test
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/comments.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

skip some tests
  tests/suites/charts/inspector/inspector.test.ts
  tests/suites/wizard/chart-settings/navigator.test.ts
  tests/suites/wizard/labels/formatLabels.test.ts
  tests/suites/wizard/sort/sortPlaceholderActions.test.ts
Due: none

Fix gravity charts tests (#3471)
  src/shared/constants/qa/chart.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/comments.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
  tests/page-objects/common/ChartContainer.ts
  tests/page-objects/constants/chartkit.ts
  tests/page-objects/wizard/ChartKit.ts
  tests/suites/charts/comments/comments.test.ts
  tests/suites/charts/inspector/inspector.test.ts
  tests/suites/dash/mobile/mobileDash.test.ts
  tests/suites/wizard/chart-settings/navigator.test.ts
  tests/suites/wizard/combined-chart/labels.test.ts
  tests/suites/wizard/labels/formatLabels.test.ts
  tests/suites/wizard/placeholder-settings/autoScale.test.ts
  tests/suites/wizard/sort/sortPlaceholderActions.test.ts
  tests/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3774.0 [release]
  package-lock.json
  package.json
Due: none

Added SharedEntry to AccessDialog
  src/shared/schema/extensions/types/iam-access-dialog.ts
  src/ui/components/Interpolate/Interpolate.tsx
  src/ui/registry/units/common/types/components/AccessDialog.ts
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Reduce selector modal field width
  src/ui/components/DialogGroupControl/GroupExtendedSettings/GroupExtendedSettings.scss
  src/ui/components/DialogGroupControl/GroupExtendedSettings/GroupExtendedSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

wip
  src/shared/constants/qa/datasets.ts
  src/ui/units/datasets/components/SelectSourcePrototypes/SourcesTable.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/dataset/sources-list/dataset-sources-listing.test.ts
  tests/suites/dataset/sources-list/helpers.ts
  tests/suites/dataset/sources-list/mock-data.ts
  tests/utils/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add dataset sources pagination e2e tests
  tests/suites/dataset/sources-list/dataset-sources-listing.test.ts
  tests/suites/dataset/sources-list/helpers.ts
Due: none

Fix line tooltip formatting
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
Due: none

Review fixes
  src/server/modes/charts/plugins/ql/module/js/build-graph.ts
Due: none

Fix line tooltip formatting (#3474)
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
Due: none

Bump version to 0.3775.0 [release]
  package-lock.json
  package.json
Due: none

Fix old sql charts prepares for gravity (#3470)
  src/server/modes/charts/plugins/ql/module/js/build-graph.ts
Due: none

Bump version to 0.3776.0 [release]
  package-lock.json
  package.json
Due: none

DLAPI-783: add embed-usage actions
  src/shared/schema/us-private/actions/embed-usage/getEmbedUsage.ts
  src/shared/schema/us-private/actions/embed-usage/index.ts
  src/shared/schema/us-private/actions/embed-usage/updateEmbedUsage.ts
  src/shared/schema/us-private/types/embed-usage.ts
  src/shared/schema/us-private/types/embeds.ts
  src/shared/schema/us-private/types/index.ts
  src/shared/schema/us/actions/embed-usage/getEmbedUsage.ts
  src/shared/schema/us/actions/embed-usage/index.ts
  src/shared/schema/us/types/embed-usage.ts
  src/shared/schema/us/types/embeds.ts
  src/shared/schema/us/types/index.ts
Due: none

DLAPI-783: add embed-usage actions
  src/shared/schema/us-private/actions/embed-usage/index.ts
  src/shared/schema/us-private/actions/index.ts
  src/shared/schema/us/actions/embed-usage/index.ts
  src/shared/schema/us/actions/index.ts
Due: none

Fix combineLayersIntoSingleChart
  src/server/modes/charts/plugins/datalens/js/helpers/layer-chart/index.ts
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/wizard/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/wizard/en.json
Due: none

Translations update from Weblate Gravity for PR #3441 (#3476)
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
Due: none

Fix
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add preview label
  src/i18n-keysets/component.chart-modeling-settings/en.json
  src/i18n-keysets/component.chart-modeling-settings/ru.json
  src/shared/constants/chart-modeling.ts
  src/shared/types/charts.ts
  src/ui/components/ChartModelingSettings/ChartModelingSettings.scss
  src/ui/components/ChartModelingSettings/ChartModelingSettings.tsx
  src/ui/components/ChartModelingSettings/components/SmothSettings.tsx
  src/ui/components/ChartModelingSettings/components/TrendSettings.tsx
  src/ui/components/ChartModelingSettings/constants.ts
  src/ui/components/ChartModelingSettings/utils.ts
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/libs/DatalensChartkit/menu/Menu.tsx
  src/ui/libs/DatalensChartkit/menu/chart-modeling.tsx
  src/ui/utils/chart-modeling/add-chart-modeling-series.ts
  src/ui/utils/chart-modeling/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix tooltip text
  src/i18n-keysets/component.chart-modeling-settings/en.json
  src/i18n-keysets/component.chart-modeling-settings/ru.json
  src/ui/components/ChartModelingSettings/components/SmothSettings.tsx
  src/ui/components/ChartModelingSettings/components/TrendSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove react-data-table from dataset preview
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  src/ui/units/connections/components/custom-forms/utils/render.tsx
  src/ui/units/datasets/components/PreviewHeader/PreviewHeader.tsx
  src/ui/units/datasets/components/PreviewTable/PreviewTable.js
  src/ui/units/datasets/components/PreviewTable/PreviewTable.scss
  src/ui/units/datasets/components/PreviewTable/PreviewTable.tsx
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/containers/DatasetPreview/DatasetPreview.js
  src/ui/units/datasets/containers/DatasetPreview/DatasetPreview.tsx
  src/ui/units/datasets/store/constants.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add chroma-js + ml-regression-polynomial
  package-lock.json
  package.json
  src/server/components/features/features-list/ChartModeling.ts
  src/shared/types/feature.ts
  src/ui/libs/DatalensChartkit/menu/Menu.tsx
  src/ui/store/toolkit/chartkit/api.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add chroma-js + ml-regression-polynomial (#3477)
  package-lock.json
  package.json
  src/server/components/features/features-list/ChartModeling.ts
  src/shared/types/feature.ts
  src/ui/libs/DatalensChartkit/menu/Menu.tsx
  src/ui/store/toolkit/chartkit/api.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3777.0 [release]
  package-lock.json
  package.json
Due: none

Remove hardcoded selector width value
  src/ui/components/DialogGroupControl/GroupExtendedSettings/GroupExtendedSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix indicator settings UX (#3441)
  src/i18n-keysets/container.metric-dialog/en.json
  src/i18n-keysets/container.metric-dialog/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/shared/constants/qa/wizard.ts
  src/ui/constants/visualizations/metric.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/components/Dialogs/DialogMetricColors/DialogMetricColors.scss
  src/ui/units/wizard/components/Dialogs/DialogMetricColors/DialogMetricColors.tsx
  src/ui/units/wizard/components/Dialogs/DialogMetricSettings/DialogMetricSettings.tsx
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.tsx
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
  src/ui/units/wizard/components/PlaceholderActionIcon/PlaceholderActionIcon.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/MetricColorsPlaceholder/MetricColorsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/PlaceholdersContainer.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/VisualizationPlaceholder/VisualizationPlaceholder.tsx
  tests/opensource-suites/wizard/visualizations/metric/color.test.ts
  tests/page-objects/wizard/ChartSettings.ts
  tests/page-objects/wizard/MetricColorsDialog.ts
  tests/page-objects/wizard/SectionVisualization.ts
  tests/page-objects/wizard/WizardPage.ts
  tests/suites/wizard/metric/metricCustomization.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3778.0 [release]
  package-lock.json
  package.json
Due: none

fix lock file
  package-lock.json
Due: none

Reduce selector modal field width (#3472)
  src/ui/components/DialogGroupControl/GroupExtendedSettings/GroupExtendedSettings.scss
  src/ui/components/DialogGroupControl/GroupExtendedSettings/GroupExtendedSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3779.0 [release]
  package-lock.json
  package.json
Due: none

Move chroma-js to dependencies
  package-lock.json
  package.json
Due: none

Fix texts for indicator
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
Due: none
