Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

обновление описания
  README.md
Due: none

Add current tab highlight
  src/ui/units/dash/containers/Dialogs/Tabs/TabItem.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/Tabs.scss
  src/ui/units/dash/containers/Dialogs/Tabs/Tabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Disable close by click outside tabs
  src/ui/units/dash/containers/Dialogs/Tabs/Tabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Change color for selected tab like in navigation
  src/ui/units/dash/containers/Dialogs/Tabs/Tabs.scss
Due: prettier --write, stylelint --fix --quiet

CHARTS-9273-workbooks-ui-improvements
  src/ui/datalens/index.tsx
  src/ui/datalens/pages/CollectionsNavigationPage/CollectionsNavigationPage.tsx
  src/ui/datalens/pages/WorkbookPage/WorkbookPage.tsx
  src/ui/units/collections-navigation/components/CollectionNavigationRouter/CollectionsNavigationRouter.tsx
  src/ui/units/collections-navigation/components/CollectionNavigationRouter/index.ts
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.scss
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.tsx
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayoutContext.ts
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/index.ts
  src/ui/units/collections/components/AddDemoWorkbookDialog/AddDemoWorkbookDialog.tsx
  src/ui/units/collections/components/AddDemoWorkbookDialog/index.ts
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContent/index.ts
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.scss
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.scss
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/CollectionPage/constants.ts
  src/ui/units/collections/components/CollectionPage/hooks/index.ts
  src/ui/units/collections/components/CollectionPage/hooks/useCollectionsNavigationLayout.tsx
  src/ui/units/collections/components/CollectionPage/hooks/useSelectionMode.tsx
  src/ui/units/collections/components/CollectionPage/utils.ts
  src/ui/units/collections/components/DeleteCollectionDialog/DeleteCollectionDialog.tsx
  src/ui/units/collections/components/DeleteCollectionDialog/index.ts
  src/ui/units/collections/components/DeleteWorkbookDialog/DeleteWorkbookDialog.tsx
  src/ui/units/collections/components/DeleteWorkbookDialog/index.ts
  src/ui/units/collections/components/types.ts
  src/ui/units/collections/containers/AddDemoWorkbookDialogContainer/AddDemoWorkbookDialogContainer.tsx
  src/ui/units/collections/containers/CollectionContentContainer/CollectionContentContainer.tsx
  src/ui/units/collections/containers/CollectionPageContainer/CollectionPageContainer.tsx
  src/ui/units/collections/containers/DeleteCollectionDialogContainer/DeleteCollectionDialogContainer.tsx
  src/ui/units/collections/containers/DeleteWorkbookDialogContainer/DeleteWorkbookDialogContainer.tsx
  src/ui/units/collections/store/selectors/index.tsx
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add current tab highlight (#706)
  src/ui/units/dash/containers/Dialogs/Tabs/TabItem.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/Tabs.scss
  src/ui/units/dash/containers/Dialogs/Tabs/Tabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1392.0 [release]
  package-lock.json
  package.json
Due: none

Support migration from old selectors
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/DashKit/plugins/DebugInfoTool/DebugInfoTool.scss
  src/ui/components/DashKit/plugins/DebugInfoTool/DebugInfoTool.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/store/reducer.ts
  src/ui/components/DashKit/plugins/GroupControl/Control/store/types.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/types.ts
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.scss
  src/ui/libs/DatalensChartkit/components/Control/Items/withWrapForControls.js
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/actions/controls/types.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/actions/index.ts
  src/ui/units/dash/store/reducers/controls/helpers.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix Ql chart config mapping
  src/shared/modules/config/ql/v4/mapV3ConfigToV4.ts
Due: none

Fix adding extra defaults in control modal
  src/ui/units/dash/store/actions/controls/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix pie chart labels(ql)
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
Due: none

Fix adding extra defaults in control modal (#709)
  src/ui/units/dash/store/actions/controls/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1393.0 [release]
  package-lock.json
  package.json
Due: none

Fix pie chart labels(ql) (#710)
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
Due: none

Fix Ql chart config mapping (#708)
  src/shared/modules/config/ql/v4/mapV3ConfigToV4.ts
Due: none

Bump version to 0.1394.0 [release]
  package-lock.json
  package.json
Due: none

add statoscope
  .github/workflows/statoscope-comment.jora
  .github/workflows/statoscope-comment.mustache
  .github/workflows/statoscope_tests.yml
  .github/workflows/statoscope_upload_main_stats.yml
  .gitignore
  package-lock.json
  package.json
  scripts/ci/lint-typecheck/createPRComment.js
  scripts/ci/lint-typecheck/createStatoscopeComment.js
  statoscope.config.js
Due: none

fix
  src/server/modes/charts/plugins/control/js/helpers/process-content.ts
Due: none

fix private path help text
  src/i18n-keysets/connections.yadocs.view/en.json
  src/i18n-keysets/connections.yadocs.view/ru.json
  src/ui/units/connections/components/custom-forms/Yadocs/components/DialogAddDocument/DialogAddDocument.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (Russian)
  src/i18n-keysets/connections.yadocs.view/ru.json
Due: none

replace usage fake i18n to normal i18n
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/InnerTitleRow/InnerTitleRow.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/ConnectionSettings.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/ConnectionSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/helpers.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/QueryTypeControl/QueryTypeControl.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/QueryTypeControl/components/EditLabelControl/EditLabelControl.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/QueryTypeControl/components/EditQueryControl/EditQueryControl.tsx
  src/ui/units/dash/containers/Dialogs/Control2/SelectorTypeSelect/SelectorTypeSelect.tsx
  src/ui/units/dash/containers/Dialogs/DialogEditQuery/DialogEditQuery.tsx
  src/ui/units/dash/containers/Dialogs/DialogEditQuery/QueryError/QueryError.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

replace usage fake i18n to normal i18n (#712)
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/InnerTitleRow/InnerTitleRow.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/ConnectionSettings.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/ConnectionSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/helpers.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/QueryTypeControl/QueryTypeControl.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/QueryTypeControl/components/EditLabelControl/EditLabelControl.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ConnectionSettings/components/QueryTypeControl/components/EditQueryControl/EditQueryControl.tsx
  src/ui/units/dash/containers/Dialogs/Control2/SelectorTypeSelect/SelectorTypeSelect.tsx
  src/ui/units/dash/containers/Dialogs/DialogEditQuery/DialogEditQuery.tsx
  src/ui/units/dash/containers/Dialogs/DialogEditQuery/QueryError/QueryError.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1395.0 [release]
  package-lock.json
  package.json
Due: none

wip
  .github/workflows/statoscope_tests.yml
  scripts/ci/createPRComment.js
  scripts/ci/createStatoscopeComment.js
Due: none

Fix column width setting in QL charts
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/VisualizationPlaceholder/VisualizationPlaceholder.tsx
  tests/opensource-suites/ql/visualizations/flat-table/column-settings.test.ts
  tests/opensource-suites/wizard/visualizations/flat-table/coloring.test.ts
  tests/opensource-suites/wizard/visualizations/flat-table/column-settings.test.ts
  tests/page-objects/ql/QLPage.ts
  tests/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (English)
  src/i18n-keysets/connections.yadocs.view/en.json
Due: none

Fix snapshot path
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/axis.test.ts/Wizard-Line-chart-Date-and-time-on-the-Y-axis-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/line/axis.test.ts
  tests/opensource-suites/wizard/visualizations/metric/basic.test.ts
Due: none

Translations update from Weblate Gravity for PR #701 (#714)
  src/i18n-keysets/connections.yadocs.view/en.json
  src/i18n-keysets/connections.yadocs.view/ru.json
Due: none

Chart-chart filtration for D3 wizard charts (#703)
  package-lock.json
  package.json
  src/server/components/charts-engine/components/chart-generator.ts
  src/server/modes/charts/plugins/datalens/config.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/line/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/shared/constants/common.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkitAdapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/d3-chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/d3-event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/d3-utils.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
  src/ui/registry/units/chart/register.tsx
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1396.0 [release]
  package-lock.json
  package.json
Due: none

Add statoscope (#711)
  .github/workflows/statoscope-comment.jora
  .github/workflows/statoscope-comment.mustache
  .github/workflows/statoscope_tests.yml
  .github/workflows/statoscope_upload_main_stats.yml
  .gitignore
  package-lock.json
  package.json
  scripts/ci/createPRComment.js
  scripts/ci/createStatoscopeComment.js
  statoscope.config.js
Due: none

Bump version to 0.1397.0 [release]
  package-lock.json
  package.json
Due: none

Fix old params in dash state for controls and chart-chart
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update statoscope_tests.yml
  .github/workflows/statoscope_tests.yml
Due: none

Fix column width setting in QL charts (#713)
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/VisualizationPlaceholder/VisualizationPlaceholder.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/axis.test.ts/Wizard-Line-chart-Date-and-time-on-the-Y-axis-screenshot-1.png
  tests/opensource-suites/ql/visualizations/flat-table/column-settings.test.ts
  tests/opensource-suites/wizard/visualizations/flat-table/coloring.test.ts
  tests/opensource-suites/wizard/visualizations/flat-table/column-settings.test.ts
  tests/opensource-suites/wizard/visualizations/line/axis.test.ts
  tests/opensource-suites/wizard/visualizations/metric/basic.test.ts
  tests/page-objects/ql/QLPage.ts
  tests/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1398.0 [release]
  package-lock.json
  package.json
Due: none
