Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Fix bg color for empty string color
  src/ui/components/DashKit/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Refactor plugins (#3146)
  src/shared/types/dash.ts
  src/ui/components/DashKit/DashKit.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3486.0 [release]
  package-lock.json
  package.json
Due: none

Review fixes
  src/server/components/charts-engine/controllers/embeds.ts
  src/ui/components/DashKit/plugins/Control/constants.ts
  src/ui/components/DashKit/plugins/Control/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix farm errored
  .github/workflows/e2e-tests-farm.yaml
Due: none

Fix
  src/server/components/charts-engine/controllers/embeds.ts
Due: none

Fix limit
  src/ui/components/DashKit/plugins/Control/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix farm errored (#3151)
  .github/workflows/e2e-tests-farm.yaml
Due: none

Bump version to 0.3487.0 [release]
  package-lock.json
  package.json
Due: none

Fix bg-color of charts on dash & table head in reports
  src/shared/constants/widgets.ts
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix bg-color of charts on dash & table head in reports (#3152)
  src/shared/constants/widgets.ts
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3488.0 [release]
  package-lock.json
  package.json
Due: none

Fix combined chart
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/js/helpers/layer-chart/index.ts
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/shared/utils/visualization-check.ts
Due: none

do not show action if fake entry
  src/ui/units/connections/components/Page/Page.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Pass options for getDistincts request for controls (#3141)
  src/server/components/charts-engine/controllers/embeds.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/DashKit/plugins/Control/utils.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3489.0 [release]
  package-lock.json
  package.json
Due: none

Remove deprecated chart actions (#3108)
  src/server/components/charts-engine/components/storage/types.ts
  src/server/components/features/features-list/ChartActions.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.3490.0 [release]
  package-lock.json
  package.json
Due: none

Add new localization keys for author and public access features
  src/i18n-keysets/component.dialog-switch-public.view/en.json
  src/i18n-keysets/component.dialog-switch-public.view/ru.json
  src/i18n-keysets/component.iam-access-dialog/en.json
  src/i18n-keysets/component.iam-access-dialog/ru.json
  src/ui/components/AccessDialog/index.tsx
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/AuthorSection/AuthorSection.tsx
  src/ui/registry/units/common/types/components/AccessDialog.ts
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionPage/hooks/useLayout.tsx
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove mock from shared entry bindings dialog (#3147)
  src/shared/schema/us/actions/entries/index.ts
  src/shared/schema/us/types/entries.ts
  src/ui/components/DialogSharedEntryBindings/DialogSharedEntryBindings.tsx
  src/ui/components/DialogSharedEntryBindings/mock.ts
  src/ui/components/DialogSharedEntryPermissions/DialogSharedEntryPermissions.tsx
  src/ui/components/DialogSharedEntryUnbind/DialogSharedEntryUnbind.tsx
  src/ui/components/EntityLink/EntityLink.tsx
  src/ui/components/EntityRow/EntityRow.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/SharedBindingsList/SharedBindingsList.tsx
  src/ui/units/collections/components/constants.ts
  src/ui/units/connections/components/Page/Page.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3491.0 [release]
  package-lock.json
  package.json
Due: none

Add ff EnableNewDashSettings (#3150)
  src/server/components/features/features-list/EnableNewDashSettings.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.3492.0 [release]
  package-lock.json
  package.json
Due: none

Fix combined chart (gravity-charts) (#3153)
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/js/helpers/layer-chart/index.ts
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/shared/utils/visualization-check.ts
Due: none

Bump version to 0.3493.0 [release]
  package-lock.json
  package.json
Due: none

Fire event when dash is empty
  src/ui/units/dash/components/EmptyState/EmptyState.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Openapi fixes
  src/server/components/public-api/config/v0.ts
  src/server/components/public-api/types.ts
  src/server/components/public-api/utils/register-action-to-open-api.ts
Due: none

Fire event when dash is empty
  src/ui/units/dash/components/EmptyState/EmptyState.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/utils/customEvents.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Openapi fixes (#3154)
  src/server/components/public-api/config/v0.ts
  src/server/components/public-api/types.ts
  src/server/components/public-api/utils/register-action-to-open-api.ts
Due: none

Bump version to 0.3494.0 [release]
  package-lock.json
  package.json
Due: none

Format chart-activity error
  src/shared/types/charts.ts
  src/ui/components/Widgets/Chart/hooks/useChartActivities.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix review comments
  src/ui/components/CollectionsStructure/CollectionStructureDialog/CollectionStructureDialog.tsx
  src/ui/components/DialogSelectSharedEntry/DialogSelectSharedEntry.tsx
  src/ui/store/selectors/collectionsStructure.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Format chart-activity error (#3155)
  src/shared/types/charts.ts
  src/ui/components/Widgets/Chart/hooks/useChartActivities.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3495.0 [release]
  package-lock.json
  package.json
Due: none

Fix DejaVuSans fonts
  tests/Dockerfile
Due: none

Bump version to 0.3496.0 [release]
  package-lock.json
  package.json
Due: none

Fix deja-vu font
  tests/Dockerfile
Due: none

Update screenshot with mono font
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
Due: none

Extend ListSuggestUser type
  src/ui/components/UsersSuggest/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
