Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Remove unused component (#3104)
  src/ui/registry/units/dash/components-map.tsx
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3453.0 [release]
  package-lock.json
  package.json
Due: none

Dash public api actions
  src/shared/schema/mix/actions/dash/update-dashboard-v1.ts
Due: none

Rename ChartActions -> ChartActivities
  src/server/components/charts-engine/components/storage/types.ts
  src/server/components/features/features-list/ChartActions.ts
  src/shared/types/feature.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/helpers/chart-activities.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/components/Control/Control.tsx
  src/ui/libs/DatalensChartkit/components/Control/types.ts
  src/ui/libs/DatalensChartkit/modules/constants/constants.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/types/control.ts
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

remove key in list
  src/ui/components/SharedBindingsList/SharedBindingsList.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add workbook and collection api
  src/server/components/public-api/config/v0.ts
  src/server/components/public-api/constants/common.ts
  src/shared/schema/us/actions/workbooks.ts
  src/shared/schema/us/actions/workbooks/copy-workbook.ts
  src/shared/schema/us/actions/workbooks/create-workbook.ts
  src/shared/schema/us/actions/workbooks/delete-workbook.ts
  src/shared/schema/us/actions/workbooks/delete-workbooks.ts
  src/shared/schema/us/actions/workbooks/get-workbook.ts
  src/shared/schema/us/actions/workbooks/get-workbooks-list.ts
  src/shared/schema/us/actions/workbooks/index.ts
  src/shared/schema/us/actions/workbooks/move-workbook.ts
  src/shared/schema/us/actions/workbooks/move-workbooks.ts
  src/shared/schema/us/actions/workbooks/update-workbook.ts
  src/shared/schema/us/schemas/operation/index.ts
  src/shared/schema/us/schemas/workbooks/index.ts
Due: none

implement invitation management features including resend and delete actions, update access dialog translations, and enhance invitation types
  src/i18n-keysets/component.iam-access-dialog/en.json
  src/i18n-keysets/component.iam-access-dialog/ru.json
  src/shared/schema/extensions/actions/organization-manager.ts
  src/shared/schema/extensions/types/invitations.ts
  src/ui/components/AccessDialog/index.tsx
  src/ui/registry/units/common/components-map.tsx
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/types/components/AccessDialog.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

remove EnableConnectionRevisions conditions in code
  src/ui/components/RevisionsPanel/utils.ts
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/utils/connectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add EnableNewAccessDialog feature and integrate into useActions
  src/server/components/features/features-list/EnableNewAccessDialog.ts
  src/shared/types/feature.ts
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/shared/types/charts.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/helpers/chart-activities.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/components/Control/Control.tsx
  src/ui/libs/DatalensChartkit/components/Control/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

test
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

Add types for not auth pages on PageConstructor layout
  src/shared/constants/error-codes.ts
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add types for not auth pages on PageConstructor layout (#3113)
  src/shared/constants/error-codes.ts
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3454.0 [release]
  package-lock.json
  package.json
Due: none

fix review comments
  src/i18n-keysets/shared-entries.view/ru.ts
  src/ui/components/CollectionsStructure/CreateEntryInCollectionDialog.tsx
  src/ui/components/DialogSharedEntryBindings/DialogSharedEntryBindings.scss
  src/ui/components/DialogSharedEntryBindings/DialogSharedEntryBindings.tsx
  src/ui/components/DialogSharedEntryBindings/constants.ts
  src/ui/components/EntityRow/EntityRow.tsx
  src/ui/components/SharedBindingsList/ListSearch.tsx
  src/ui/components/SharedBindingsList/SharedBindingsList.tsx
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix i18check
  src/i18n-keysets/shared-entries.view/ru.ts
  src/ui/units/collections/components/constants.ts
  src/ui/units/collections/components/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix types
  src/ui/components/DialogSharedEntryBindings/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add popup action
  src/shared/types/chartkit/dl-chartkit.ts
  src/shared/types/charts.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/helpers/chart-activities.tsx
  src/ui/components/Widgets/Chart/hooks/useChartActivities.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/ChartKitBase.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Chart/Chart.tsx
  src/ui/libs/DatalensChartkit/components/Control/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

wip
  src/ui/components/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/App/App.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/containers/TableOfContent/TableOfContent.tsx
  src/ui/units/dash/containers/Tabs/Tabs.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add shared entry bindings dialog (#3100)
  src/ui/components/CollectionIcon/CollectionIcon.tsx
  src/ui/components/CollectionsStructure/CreateEntryInCollectionDialog.tsx
  src/ui/components/DialogSharedEntryBindings/DialogSharedEntryBindings.scss
  src/ui/components/DialogSharedEntryBindings/DialogSharedEntryBindings.tsx
  src/ui/components/DialogSharedEntryBindings/constants.ts
  src/ui/components/DialogSharedEntryBindings/mock.ts
  src/ui/components/EntitiesList/EntitiesList.tsx
  src/ui/components/EntitiesList/types.ts
  src/ui/components/EntityRow/EntityRow.scss
  src/ui/components/EntityRow/EntityRow.tsx
  src/ui/components/SharedBindingsList/ListSearch.tsx
  src/ui/components/SharedBindingsList/SharedBindingsList.scss
  src/ui/components/SharedBindingsList/SharedBindingsList.tsx
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/constants.ts
  src/ui/units/collections/components/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3455.0 [release]
  package-lock.json
  package.json
Due: none

Update locale and add updateAccessBindings action to organization manager.
  src/i18n-keysets/component.iam-access-dialog/en.json
  src/i18n-keysets/component.iam-access-dialog/ru.json
  src/shared/schema/extensions/actions/organization-manager.ts
  src/shared/schema/extensions/types/iam-access-dialog.ts
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add isEditMode prop for DashActionPanelAdditionalButtons
  src/ui/registry/units/dash/types/DashActionPanelAdditionalButtons.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove EnableConnectionRevisions conditions in code (#3111)
  src/ui/components/RevisionsPanel/utils.ts
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/utils/connectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3456.0 [release]
  package-lock.json
  package.json
Due: none

Add isEditMode prop for DashActionPanelAdditionalButtons (#3114)
  src/ui/registry/units/dash/types/DashActionPanelAdditionalButtons.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3457.0 [release]
  package-lock.json
  package.json
Due: none

add description invitation sending in IAM access dialog
  src/i18n-keysets/component.iam-access-dialog/en.json
  src/i18n-keysets/component.iam-access-dialog/ru.json
Due: none

Fix chart recipe to config mapping (bar-y visualization)
  src/ui/units/wizard/utils/chart-recipe/map-from-recipe.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Workbook actions
  src/shared/schema/us/actions/workbooks/copy-workbook.ts
  src/shared/schema/us/actions/workbooks/create-workbook.ts
  src/shared/schema/us/actions/workbooks/delete-workbook.ts
  src/shared/schema/us/actions/workbooks/delete-workbooks.ts
  src/shared/schema/us/actions/workbooks/move-workbook.ts
  src/shared/schema/us/actions/workbooks/move-workbooks.ts
  src/shared/schema/us/actions/workbooks/update-workbook.ts
  src/shared/schema/us/types/workbooks.ts
Due: none

Fix chart recipe to config mapping (bar-y visualization) (#3115)
  src/ui/units/wizard/utils/chart-recipe/map-from-recipe.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3458.0 [release]
  package-lock.json
  package.json
Due: none

Workbook actions
  api/server/components.ts
  src/server/components/public-api/config/v0.ts
  src/server/components/public-api/types.ts
  src/server/components/public-api/utils/index.ts
  src/server/components/public-api/utils/prepare-public-api-base-config.ts
Due: none

Workbook actions
  src/shared/schema/us/actions/workbooks/get-workbook.ts
  src/shared/schema/us/types/workbooks.ts
Due: none

Fix DialogChartWidget height
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix DialogChartWidget height (#3116)
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3459.0 [release]
  package-lock.json
  package.json
Due: none

remove EnableConnectionRevisions flag
  src/server/components/features/features-list/EnableConnectionRevisions.ts
  src/shared/types/feature.ts
Due: none

fix
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/hooks/useChartActivities.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/ChartKitBase.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Chart/Chart.tsx
  src/ui/libs/DatalensChartkit/components/Control/Control.tsx
  src/ui/libs/DatalensChartkit/components/Control/types.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix
  src/server/components/public-api/config/v0.ts
  src/shared/schema/us/actions/workbooks/copy-workbook.ts
  src/shared/schema/us/types/workbooks.ts
Due: none
