Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix file form uploading buttons
  src/ui/units/connections/components/custom-forms/File/File.scss
  src/ui/units/connections/components/custom-forms/File/components/AddFileButton.tsx
  src/ui/units/connections/components/custom-forms/File/components/ReplaceSourceButton.tsx
  src/ui/units/connections/components/custom-forms/File/components/Workspace/Workspace.tsx
  src/ui/units/connections/components/custom-forms/File/utils.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove FieldHint flag usage (#1030)
  src/server/components/features/features-list/DatasetFieldHint.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/AppearanceSection.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlBody/GroupControlBody.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1666.0 [release]
  package-lock.json
  package.json
Due: none

Fix file form uploading buttons (#1031)
  src/ui/units/connections/components/custom-forms/File/File.scss
  src/ui/units/connections/components/custom-forms/File/components/AddFileButton.tsx
  src/ui/units/connections/components/custom-forms/File/components/ReplaceSourceButton.tsx
  src/ui/units/connections/components/custom-forms/File/components/Workspace/Workspace.tsx
  src/ui/units/connections/components/custom-forms/File/utils.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1667.0 [release]
  package-lock.json
  package.json
Due: none

Fix fillDatePicker helper
  tests/page-objects/wizard/FilterEditor.ts
  tests/utils/index.ts
Due: none

Move RelativeDatesPicker to new DatePicker component (#1024)
  src/shared/modules/dash-scheme-converter.ts
  src/ui/components/RelativeDatesPicker/RelativeDatesPicker.scss
  src/ui/components/RelativeDatesPicker/RelativeDatesPicker.tsx
  src/ui/components/RelativeDatesPicker/constants.ts
  src/ui/components/RelativeDatesPicker/types.ts
  src/ui/components/RelativeDatesPicker/utils.ts
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabParams/utils.ts
  src/ui/utils/date.ts
  src/ui/utils/index.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/page-objects/ql/QLPage.ts
  tests/page-objects/wizard/FilterEditor.ts
  tests/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1668.0 [release]
  package-lock.json
  package.json
Due: none

Create worker chart builder
  package-lock.json
  package.json
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/charts-engine/components/worker/index.ts
  src/server/components/charts-engine/components/worker/types.ts
  src/server/constants/index.ts
  src/server/modes/charts/plugins/datalens/config.ts
  src/server/modes/charts/plugins/datalens/js/helpers/colors/index.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/types.ts
  src/shared/utils/feature.ts
Due: none

Add ability to delete collection and workbook in detail page (#1016)
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/units/collections/components/CollectionActions/CollectionActions.scss
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionPage/hooks/useLayout.tsx
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.scss
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1669.0 [release]
  package-lock.json
  package.json
Due: none

Code review fixes
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/controllers/charts.ts
  src/server/configs/common.ts
  src/server/controllers/navigate.ts
  src/server/controllers/navigation.ts
  src/server/modes/charts/plugins/request-with-dataset/request-dataset.ts
Due: none

Added logout button
  src/i18n-keysets/component.aside-header.view/en.json
  src/i18n-keysets/component.aside-header.view/ru.json
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Rename modules to acc inside reduce (#1026)
  src/server/components/charts-engine/components/processor/sandbox-chart-builder.ts
Due: none

Bump version to 0.1670.0 [release]
  package-lock.json
  package.json
Due: none

Unify share on dash (#1025)
  src/ui/components/DashKit/plugins/Widget/components/Header.tsx
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/units/dash/components/DashActionPanel/DashActionPanelMobile.tsx
  src/ui/units/dash/components/ShareButton/ShareButton.scss
  src/ui/units/dash/components/ShareButton/ShareButton.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1671.0 [release]
  package-lock.json
  package.json
Due: none

changed dash migration warning text
  src/i18n-keysets/component.dialog-copy-entry.view/en.json
  src/i18n-keysets/component.dialog-copy-entry.view/ru.json
Due: none

Refactoring the use of palettes in the charts processing
  src/server/constants/index.ts
  src/server/modes/charts/plugins/datalens/js/helpers/colors/index.ts
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/js/js-v1.5.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/preparers/__tests__/common.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/__tests__/mocks/color.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/backgroundColor.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/color.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-head-generator.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-rows-generator.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/__tests__/mocks/flat-table.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/__tests__/background-settings/get-background-colors-map-by-continuous-column.test.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/__tests__/footer/getFooter.test.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/background-settings/get-background-colors-map-by-continuous-column.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/background-settings/get-flat-table-background-styles.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/background-settings/types.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/footer/types.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/color-helpers/colorizeByGradient.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/color-helpers/types.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
  src/server/modes/charts/plugins/datalens/types.ts
  src/server/modes/charts/plugins/datalens/utils/__tests__/color-helpers.test.ts
  src/server/modes/charts/plugins/datalens/utils/color-helpers.ts
  src/server/modes/charts/plugins/datalens/utils/constants.ts
  src/server/modes/charts/plugins/datalens/utils/geo-helpers.ts
  src/server/modes/charts/plugins/datalens/utils/misc-helpers.ts
  src/server/modes/charts/plugins/ql/js.ts
  src/shared/utils/feature.ts
Due: none

Revert redundant adjustLayout dependencies
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Normalize yfm styles
  src/ui/components/DashKit/DashKit.scss
  src/ui/components/DialogParameter/DialogParameter.scss
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.scss
  src/ui/styles/mixins.scss
Due: prettier --write, stylelint --fix --quiet

Revert redundant adjustLayout dependencies (#1035)
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1672.0 [release]
  package-lock.json
  package.json
Due: none

Normalize yfm styles (#1036)
  src/ui/components/DashKit/DashKit.scss
  src/ui/components/DialogParameter/DialogParameter.scss
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.scss
  src/ui/styles/mixins.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1673.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/dash.group-controls-dialog.edit/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dash.group-controls-dialog.edit/en.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/component.dialog-copy-entry.view/en.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/component.dialog-copy-entry.view/ru.json
Due: none

fix types
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/index.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-head-generator.ts
Due: none

Translations update from Weblate Gravity for PR #1028 (#1037)
  src/i18n-keysets/dash.group-controls-dialog.edit/en.json
  src/i18n-keysets/dash.group-controls-dialog.edit/ru.json
Due: none

Translations update from Weblate Gravity for PR #1033 (#1038)
  src/i18n-keysets/component.dialog-copy-entry.view/en.json
  src/i18n-keysets/component.dialog-copy-entry.view/ru.json
Due: none

Changed dash migration warning text (#1033)
  src/i18n-keysets/component.dialog-copy-entry.view/en.json
  src/i18n-keysets/component.dialog-copy-entry.view/ru.json
Due: none

Bump version to 0.1674.0 [release]
  package-lock.json
  package.json
Due: none

Review fixes
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/HintRow/HintRow.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControl.scss
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControl.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Support option UpdateControlsOnChange in GroupControls (#1028)
  src/i18n-keysets/dash.group-controls-dialog.edit/en.json
  src/i18n-keysets/dash.group-controls-dialog.edit/ru.json
  src/shared/constants/qa/control.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/HintRow/HintRow.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControl.scss
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControl.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/actions/controls/types.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1675.0 [release]
  package-lock.json
  package.json
Due: none

Support mobile view of collections
  src/ui/components/CollectionFilters/CollectionFilters.tsx
  src/ui/components/Navigation/Core/NavigationEntries.scss
  src/ui/components/WorkbookIcon/WorkbookIcon.tsx
  src/ui/units/collections-navigation/components/CollectionsNavigationApp/CollectionsNavigationApp.tsx
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.scss
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.tsx
  src/ui/units/collections-navigation/contexts/LayoutContext.ts
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.scss
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionCheckboxCell.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionLinkRow.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionTitleCell.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.scss
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/CollectionPage/hooks/useLayout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Log chartSizeStats after tab execution
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/types.ts
  src/server/modes/charts/init-charts-engine.ts
Due: none

Replace created at with updated at
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
