Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add multi platform build
  .github/workflows/build_application_docker.yaml
  .github/workflows/build_application_docker_multiplatform.yaml
Due: none

Fix expose port
  Dockerfile
Due: none

fix
  src/server/index.ts
Due: none

Fix build trigger
  .github/workflows/e2e_build_application_docker.yaml
  tests/Dockerfile
Due: none

Add multiplatform image build for amd64 and arm (#1717)
  .github/workflows/build_application_docker.yaml
  Dockerfile
Due: none

Bump version to 0.2259.0 [release]
  package-lock.json
  package.json
Due: none

Add expresskit language detection (#1718)
  api/server/utils.ts
  package-lock.json
  package.json
  src/server/configs/opensource/common.ts
  src/server/index.ts
  src/server/middlewares/before-auth-defaults.ts
  src/server/utils/language.ts
Due: none

Bump version to 0.2260.0 [release]
  package-lock.json
  package.json
Due: none

fix type
  src/server/modes/charts/plugins/datalens/preparers/treemap/d3.ts
  src/ui/constants/visualizations/treemap.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix lint
  src/ui/units/wizard/utils/visualization.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add build e2e docker image (#1719)
  .github/workflows/e2e_build_application_docker.yaml
  tests/Dockerfile
Due: none

Bump version to 0.2261.0 [release]
  package-lock.json
  package.json
Due: none

Fix simultaneous display of the fill indicator and the linear indicator
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/Bar.scss
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-column-background-color-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/flat-table/linear-indicator.test.ts
Due: prettier --write, stylelint --fix --quiet

fix test
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/Bar.scss
Due: prettier --write, stylelint --fix --quiet

Fix creating aliases for ql-indicators
  src/shared/constants/common.ts
Due: none

Add resize handler to lower left corner of dash widgets (#1720)
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/utils/dashkitProps.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2262.0 [release]
  package-lock.json
  package.json
Due: none

Fix simultaneous display of the fill indicator and the linear indicator (#1721)
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/Bar.scss
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-column-background-color-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/flat-table/linear-indicator.test.ts
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.2263.0 [release]
  package-lock.json
  package.json
Due: none

Publish entries on create (#1702)
  src/server/components/charts-engine/components/storage/united-storage/provider.ts
  src/server/components/charts-engine/controllers/charts.ts
  src/server/components/sdk/dash.ts
  src/shared/schema/us/actions/editor.ts
  src/shared/schema/us/types/editor.ts
Due: none

Bump version to 0.2264.0 [release]
  package-lock.json
  package.json
Due: none

tooltip + export
  src/server/modes/charts/plugins/datalens/preparers/treemap/d3.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  src/ui/libs/DatalensChartkit/ChartKit/helpers/d3-chart-to-table.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/tooltip.test.ts/Wizard-Treemap-chart-Tooltip-when-hovering-chart-area-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/treemap/export.test.ts
  tests/opensource-suites/wizard/visualizations/treemap/tooltip.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Support external libs in ui-sandbox
  package-lock.json
  package.json
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/utils.ts
  src/shared/types/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox-runtime.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add e2e test workflow form docker image
  .github/workflows/build_application_docker.yaml
  .github/workflows/e2e_build_application_docker.yaml
  .github/workflows/e2e_tests.yml
  tests/docker-compose.e2e-dev.yml
  tests/docker-compose.e2e.yml
  tests/package.json
Due: none

fix container_name directive
  tests/docker-compose.e2e.yml
Due: none

Remove old sandbox
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-modules-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-tab-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/sandbox.ts
  src/server/components/charts-engine/components/processor/sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/sandbox.ts
  src/shared/modules/charts-shared.ts
Due: none

fix npm run
  .github/workflows/e2e_tests.yml
Due: none

fix tty
  .github/workflows/e2e_tests.yml
  tests/package.json
Due: none

check docker run test
  .github/workflows/e2e_tests.yml
Due: none

fix working dir
  .github/workflows/e2e_tests.yml
Due: none

remove tty
  tests/package.json
Due: none

remove ui version
  .github/workflows/e2e_tests.yml
Due: none

fix pull progress
  tests/package.json
Due: none

try check docker run test
  .github/workflows/e2e_tests.yml
Due: none

Remove old sandbox (#1725)
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-modules-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-tab-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/sandbox.ts
  src/server/components/charts-engine/components/processor/sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/sandbox.ts
  src/shared/modules/charts-shared.ts
Due: none

Bump version to 0.2265.0 [release]
  package-lock.json
  package.json
Due: none

Support external libs in ui-sandbox (#1723)
  package-lock.json
  package.json
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/utils.ts
  src/shared/types/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox-runtime.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2266.0 [release]
  package-lock.json
  package.json
Due: none

Md in labels
  src/server/modes/charts/plugins/datalens/preparers/treemap/d3.ts
  src/shared/constants/qa/wizard.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/utils/misc.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/html-in-chart.test.ts/Wizard-Treemap-chart-Markdown-dimension-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/treemap/html-in-chart.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add docker compose down
  .github/workflows/e2e_tests.yml
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
