Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2549.0 [release]
  package-lock.json
  package.json
Due: none

Bump version to 0.2550.0 [release]
  package-lock.json
  package.json
Due: none

Update statoscope_tests_report.yml
  .github/workflows/statoscope_tests_report.yml
Due: none

Update statoscope_tests_report.yml (#2055)
  .github/workflows/statoscope_tests_report.yml
Due: none

Bump version to 0.2551.0 [release]
  package-lock.json
  package.json
Due: none

Fix attention message in DialogPublic (#2036)
  src/i18n-keysets/component.dialog-switch-public.view/en.json
  src/i18n-keysets/component.dialog-switch-public.view/ru.json
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/AlertTooltip/AlertTooltip.scss
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/DialogPublic.scss
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/DialogPublic.tsx
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/types.ts
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/useDialogPublicState.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2552.0 [release]
  package-lock.json
  package.json
Due: none

Support murkup TOOLTIP formula function
  src/shared/types/wizard/misc.ts
  src/ui/components/Markup/Markup.tsx
  src/ui/components/Markup/components/MarkupTooltip/MarkupTooltip.scss
  src/ui/components/Markup/components/MarkupTooltip/MarkupTooltip.tsx
  src/ui/components/Markup/components/index.ts
  src/ui/components/Markup/index.ts
  src/ui/components/Markup/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add ColorPickerInput component
  package-lock.json
  package.json
  src/ui/components/ColorPickerInput/ColorPickerInput.scss
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
  src/ui/components/ColorPickerInput/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Support markup TOOLTIP formula function (#2056)
  src/shared/types/wizard/misc.ts
  src/ui/components/Markup/Markup.tsx
  src/ui/components/Markup/components/MarkupTooltip/MarkupTooltip.scss
  src/ui/components/Markup/components/MarkupTooltip/MarkupTooltip.tsx
  src/ui/components/Markup/components/index.ts
  src/ui/components/Markup/index.ts
  src/ui/components/Markup/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2553.0 [release]
  package-lock.json
  package.json
Due: none

Add some markdown features in text widget and hints (#2030)
  src/@types/global.d.ts
  src/shared/modules/markdown/emoji-defs.ts
  src/shared/modules/markdown/markdown.ts
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
  src/ui/components/YfmWrapper/YfmWrapperContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2554.0 [release]
  package-lock.json
  package.json
Due: none

Add links to the manifest while saving wizard as editor
  src/server/components/charts-engine/components/chart-generator.ts
Due: none

Add ColorPickerInput component (#2057)
  package-lock.json
  package.json
  src/ui/components/ColorPickerInput/ColorPickerInput.scss
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
  src/ui/components/ColorPickerInput/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2555.0 [release]
  package-lock.json
  package.json
Due: none

Add vars
  src/ui/units/dash/containers/TableOfContent/TableOfContent.scss
Due: prettier --write, stylelint --fix --quiet

add var
  src/ui/units/dash/containers/TableOfContent/TableOfContent.scss
Due: prettier --write, stylelint --fix --quiet

Fix workbookId lack in editor
  src/ui/units/editor/components/EditorPage/EditorPage.js
  src/ui/units/editor/components/NewChart/NewChart.js
  src/ui/units/editor/store/reducers/editor/editor.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Make sticky dash table of content (#1864)
  src/ui/units/dash/containers/TableOfContent/TableOfContent.scss
  src/ui/units/dash/containers/TableOfContent/TableOfContent.tsx
  src/ui/units/dash/containers/TableOfContent/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2556.0 [release]
  package-lock.json
  package.json
Due: none

Use workbook from config
  tests/constants/config/index.ts
  tests/opensource-suites/dash/selectors/autoupdateRelatedSelectors.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/types/config/index.ts
Due: none

Add links to the manifest while saving wizard as editor (#2058)
  src/server/components/charts-engine/components/chart-generator.ts
Due: none

Bump version to 0.2557.0 [release]
  package-lock.json
  package.json
Due: none

Support superscript in markdown
  src/shared/modules/markdown/markdown.ts
Due: none

Fix lack of workbookId in editor (#2059)
  src/ui/units/editor/components/EditorPage/EditorPage.js
  src/ui/units/editor/components/NewChart/NewChart.js
  src/ui/units/editor/store/reducers/editor/editor.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2558.0 [release]
  package-lock.json
  package.json
Due: none

Support superscript in markdown (#2061)
  src/shared/modules/markdown/markdown.ts
Due: none

Bump version to 0.2559.0 [release]
  package-lock.json
  package.json
Due: none

fix deleteDash
  tests/opensource-suites/dash/selectors/autoupdateRelatedSelectors.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Fix dash sorting on mobile
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

New color-palette
  src/ui/components/ColorPicker/ColorPicker.scss
  src/ui/components/ColorPicker/ColorPicker.tsx
  src/ui/constants/widgets.ts
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.scss
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.scss
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/utils/colors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Support custom widgets bg-color
  src/ui/components/ColorPicker/ColorPicker.scss
  src/ui/components/ColorPicker/ColorPicker.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.scss
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/BarsSettings/components/PaletteColorControl/PaletteColorControl.scss
  src/ui/utils/colors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Change bg on copy
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/constants/widgets.ts
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

migrate duplicated colors
  src/ui/constants/widgets.ts
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.scss
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/store/actions/helpers.ts
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Replace chroma-js usage with d3
  package-lock.json
  package.json
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
  src/ui/components/ColorPickerInput/utils.ts
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Custom bg color for other widgets
  src/shared/types/dash.ts
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/dash/store/actions/helpers.ts
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix dash sorting on mobile (#2062)
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2560.0 [release]
  package-lock.json
  package.json
Due: none

Support custom widgets bg-color (#2025)
  package-lock.json
  package.json
  src/shared/types/dash.ts
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
  src/ui/components/ColorPickerInput/utils.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/constants/widgets.ts
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.scss
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.scss
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/store/actions/helpers.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/wizard/components/Dialogs/DialogField/components/BarsSettings/components/PaletteColorControl/PaletteColorControl.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
