Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Basic papi tests (#3309)
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/shared/constants/common.ts
  src/shared/endpoints/sources/types.ts
Due: none

Bump version to 0.3661.0 [release]
  package-lock.json
  package.json
Due: none

Fix incorrect positioning of the axis title for the Y2 axis
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
Due: none

Fix naming
  src/shared/constants/common.ts
  src/shared/endpoints/sources/types.ts
Due: none

Fix incorrect positioning of the axis title for the Y2 axis (#3338)
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
Due: none

Bump version to 0.3662.0 [release]
  package-lock.json
  package.json
Due: none

Fix naming (#3339)
  src/shared/constants/common.ts
  src/shared/endpoints/sources/types.ts
Due: none

Bump version to 0.3663.0 [release]
  package-lock.json
  package.json
Due: none

Add translates for new service settings page
  src/i18n-keysets/service-settings.main.view/en.json
  src/i18n-keysets/service-settings.main.view/ru.json
  src/i18n-keysets/service-settings.users-list.view/en.json
  src/i18n-keysets/service-settings.users-list.view/ru.json
Due: none

Fix the display of the KaTeX formula with a vertical line inside the table
  src/shared/modules/markdown/markdown.ts
  tests/opensource-suites/__screenshots__/dash/widgets/katex.test.ts/Dashboards-Text-widget-KaTeX-formula-inside-the-table-screenshot-1.png
  tests/opensource-suites/dash/widgets/katex.test.ts
Due: none

Up @gravity-ui/dashkit@9.3.1
  package-lock.json
  package.json
Due: none

fix
  tests/opensource-suites/__screenshots__/dash/widgets/katex.test.ts/Dashboards-Text-widget-KaTeX-formula-inside-the-table-screenshot-1.png
  tests/opensource-suites/dash/widgets/katex.test.ts
Due: none

Up @gravity-ui/dashkit@9.3.1 (#3341)
  package-lock.json
  package.json
Due: none

Bump version to 0.3664.0 [release]
  package-lock.json
  package.json
Due: none

Support custom settings icon for global selectors
  src/ui/units/dash/containers/Body/components/DashkitWrapper/DashkitWrapper.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useOverlay/OverlayControls.scss
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useOverlay/getGearGlobalIcon.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useOverlay/helpers.ts
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useOverlay/useOverlay.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add more translations
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ImpactTypeSelect/useTabVisibilityValidation.ts
  src/ui/units/dash/store/actions/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix the display of the KaTeX formula with a vertical line inside the table (#3340)
  src/shared/modules/markdown/markdown.ts
  tests/opensource-suites/__screenshots__/dash/widgets/katex.test.ts/Dashboards-Text-widget-KaTeX-formula-inside-the-table-screenshot-1.png
  tests/opensource-suites/dash/widgets/katex.test.ts
Due: none

Bump version to 0.3665.0 [release]
  package-lock.json
  package.json
Due: none

refactor dataset sources to ts
  src/ui/units/datasets/components/RelationDialog/RelationDialog.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SourcesTable.tsx
  src/ui/units/datasets/components/SourceEditorDialog/SourceEditorDialog.tsx
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.tsx
  src/ui/units/datasets/containers/DatasetTabViewer/DatasetTabViewer.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/typings/redux.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Support custom settings icon for global selectors (#3342)
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ImpactTypeSelect/useTabVisibilityValidation.ts
  src/ui/units/dash/containers/Body/components/DashkitWrapper/DashkitWrapper.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useOverlay/OverlayControls.scss
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useOverlay/getGearGlobalIcon.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useOverlay/helpers.ts
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useOverlay/useOverlay.tsx
  src/ui/units/dash/store/actions/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3666.0 [release]
  package-lock.json
  package.json
Due: none

fix test
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix chart-chart filtering for values with special characters
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix chart-chart filtering for values with special characters (#3344)
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3667.0 [release]
  package-lock.json
  package.json
Due: none

Refactor dataset sources to typescript (#3343)
  src/ui/units/datasets/components/RelationDialog/RelationDialog.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SourcesTable.tsx
  src/ui/units/datasets/components/SourceEditorDialog/SourceEditorDialog.tsx
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.tsx
  src/ui/units/datasets/containers/DatasetTabViewer/DatasetTabViewer.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/typings/redux.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3668.0 [release]
  package-lock.json
  package.json
Due: none

Add test & separate vars
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/mapDataToDimensionColoredLines.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/prepareLines.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/types.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/types.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/utils.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/axis.test.ts/Wizard-Line-chart-The-right-Y-axis-only-with-2-lines-and-shape-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/line/axis.test.ts
Due: none

Fix
  src/ui/styles/rebranding-theme.scss
  src/ui/styles/variables.scss
Due: prettier --write, stylelint --fix --quiet

Fix test
  tests/opensource-suites/wizard/visualizations/line/axis.test.ts
Due: none

Refactor and fix getIllustrationStore
  src/ui/assets/images/illustration/dark/403.svg
  src/ui/assets/images/illustration/dark/404.svg
  src/ui/assets/images/illustration/dark/500.svg
  src/ui/assets/images/illustration/dark/bad_request.svg
  src/ui/assets/images/illustration/dark/barchar.png
  src/ui/assets/images/illustration/dark/empty_directory.svg
  src/ui/assets/images/illustration/dark/empty_state.svg
  src/ui/assets/images/illustration/dark/folder.svg
  src/ui/assets/images/illustration/dark/identity.svg
  src/ui/assets/images/illustration/dark/no_accounts.svg
  src/ui/assets/images/illustration/dark/no_permission.svg
  src/ui/assets/images/illustration/dark/nothing_found.svg
  src/ui/assets/images/illustration/dark/project.svg
  src/ui/assets/images/illustration/dark/success_operation.svg
  src/ui/assets/images/illustration/dark/template.svg
  src/ui/assets/images/illustration/light/403.svg
  src/ui/assets/images/illustration/light/404.svg
  src/ui/assets/images/illustration/light/500.svg
  src/ui/assets/images/illustration/light/bad_request.svg
  src/ui/assets/images/illustration/light/barchar.png
  src/ui/assets/images/illustration/light/empty_directory.svg
  src/ui/assets/images/illustration/light/empty_state.svg
  src/ui/assets/images/illustration/light/folder.svg
  src/ui/assets/images/illustration/light/identity.svg
  src/ui/assets/images/illustration/light/no_accounts.svg
  src/ui/assets/images/illustration/light/no_permission.svg
  src/ui/assets/images/illustration/light/nothing_found.svg
  src/ui/assets/images/illustration/light/project.svg
  src/ui/assets/images/illustration/light/success_operation.svg
  src/ui/assets/images/illustration/light/template.svg
  src/ui/components/AsideHeaderAdapter/LogoText/LogoText.tsx
  src/ui/components/Illustration/getIllustrationStore.ts
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix
  src/server/components/layout/opensource-layout-config.ts
  src/server/configs/common.ts
  src/ui/components/Illustration/getIllustrationStore.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix
  src/ui/components/Illustration/getIllustrationStore.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add disableThemeRoot
  src/ui/entries/dl-main.tsx
  src/ui/styles/overrides.scss
  src/ui/styles/rebranding-theme.scss
  src/ui/styles/theme.scss
  src/ui/styles/variables.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix
  src/ui/styles/theme.scss
Due: prettier --write, stylelint --fix --quiet

Rename
  src/ui/styles/theme.scss
  src/ui/styles/variables.scss
Due: prettier --write, stylelint --fix --quiet

Fix ts
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Switch from request to axios
  src/server/components/charts-engine/components/request/index.ts
  src/server/components/charts-engine/index.ts
Due: none

Fix
  src/ui/entries/dl-main.tsx
  src/ui/styles/theme.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
