Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Translated using Weblate (Russian)
  src/i18n-keysets/dash.popup-widgets-order.view/ru.json
  src/i18n-keysets/new-workbooks/ru.json
  src/i18n-keysets/sql/ru.json
Due: none

Up @gravity-ui/expresskit (#568)
  package-lock.json
  package.json
Due: none

Bump version to 0.1280.0 [release]
  package-lock.json
  package.json
Due: none

Fix for opacity leaking (#567)
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1281.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/dash.control-dialog.edit/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dash.control-dialog.edit/en.json
Due: none

Redesign workbook page
  src/shared/schema/us/types/entries.ts
  src/ui/units/ql/store/utils/grid.ts
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/constants.ts
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/types.ts
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/useChunkedEntries.ts
  src/ui/units/workbooks/components/WorkbookContent/WorkbookContent.tsx
  src/ui/units/workbooks/components/WorkbookMainTabContent/WorkbookMainTabContent.tsx
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
  src/ui/units/workbooks/components/WorkbookTabContent/WorkbookTabContent.scss
  src/ui/units/workbooks/components/WorkbookTabContent/WorkbookTabContent.tsx
  src/ui/units/workbooks/components/WorkbookTabs/WorkbookTabs.tsx
  src/ui/units/workbooks/store/actions/index.ts
  src/ui/units/workbooks/store/constants/index.ts
  src/ui/units/workbooks/store/reducers/workbook-page.ts
  src/ui/units/workbooks/store/selectors/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add logic with loader
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/WorkbookMainTabContent/WorkbookMainTabContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Translated using Weblate (Russian)
  src/i18n-keysets/new-workbooks/ru.json
Due: none

обновлена конфигурация cors
  deploy/nginx/include/opensource/cors.conf
Due: none

добавлено описание изменений
  CHANGELOG.md
Due: none

добавлено описание для тестирования на локальном компе
  README.md
Due: none

хранение токена перенесено с sessionStorage в LocalStorage
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed validation in maps for multi-data charts
  src/shared/types/wizard/index.ts
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/actions/utils/mutateAndValidateItem.ts
  src/ui/units/wizard/reducers/preview.ts
  src/ui/units/wizard/reducers/visualization.ts
  src/ui/units/wizard/utils/mappers/mapChartsToClientConfig.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix import
  src/shared/types/wizard/index.ts
  src/shared/utils/index.ts
  src/shared/utils/wizard.ts
  src/ui/units/wizard/actions/preview.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix import(2)
  src/shared/modules/config/wizard/v4/mapV4ConfigToV5.ts
  src/shared/modules/config/wizard/v6/mapV6ConfigToV7.ts
Due: none

fix
  .github/workflows/i18n-check.yml
Due: none

feat(chartkit): up version
  package-lock.json
  package.json
Due: none

Revert "Remove publish report from e2e"
  .github/workflows/e2e_tests.yml
Due: none

Fix report publish folder
  .github/workflows/e2e_tests_report.yml
Due: none

Remove publish report from exist step
  .github/workflows/e2e_tests.yml
Due: none

Fix autoHeight calculation on selector update without affecting dashboard (#565)
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/components/Control/Control.tsx
  src/ui/libs/DatalensChartkit/components/Control/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1282.0 [release]
  package-lock.json
  package.json
Due: none

upd
  .github/workflows/i18n-check.yml
Due: none

Add className support in Markup, add old metric emulation
  src/server/modes/charts/plugins/datalens/preparers/metric/variants/markup.ts
  src/ui/components/Markup/Markup.tsx
  src/ui/components/Markup/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Markup/renderer/MarkupWidget.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

add .nvmrc
  .nvmrc
Due: none

Fix i18n flow (instruction md)
  .github/workflows/i18n-check.yml
Due: none

Fix axis order for split section
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/__tests__/getSegmentsYAxis.test.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/segments/getSegmentsYAxis.ts
Due: none

Fix i18n flow (instruction md) (#573)
  .github/workflows/i18n-check.yml
Due: none

Bump version to 0.1283.0 [release]
  package-lock.json
  package.json
Due: none

Исправлена ошибка с передачей заголовка
  src/server/components/charts-engine/components/storage/united-storage/provider.ts
  src/server/middlewares/patch-logger.ts
  src/ui/libs/sdk/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed validation in maps for multi-data charts (#571)
  src/shared/modules/config/wizard/v4/mapV4ConfigToV5.ts
  src/shared/modules/config/wizard/v6/mapV6ConfigToV7.ts
  src/shared/types/wizard/index.ts
  src/shared/utils/index.ts
  src/shared/utils/wizard.ts
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/actions/preview.ts
  src/ui/units/wizard/actions/utils/mutateAndValidateItem.ts
  src/ui/units/wizard/reducers/preview.ts
  src/ui/units/wizard/reducers/visualization.ts
  src/ui/units/wizard/utils/mappers/mapChartsToClientConfig.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1284.0 [release]
  package-lock.json
  package.json
Due: none

Store dash actions js -> ts migration (purgeData)
  src/ui/components/EntryDialogues/DialogEntrySaveAsNew/DialogEntrySaveAsNew.tsx
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/store/actions/dash.js
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

feat(ql): add support utc timezone
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/ql/preparers/line-time.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
Due: none

добапвлена возможность авторизации в api/dash/v1/dashboards
  src/server/utils/index.ts
Due: none

fix(ql): replace new date to parsing in utc timezone
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/ql/preparers/line-time.ts
Due: none

fix(ql): add timezone to mocked result
  src/server/modes/charts/plugins/datalens/preparers/line-time/__tests__/mocks/line-time.mock.ts
Due: none

Update en.json
  src/i18n-keysets/chartkit.button-spin-input/en.json
Due: none
