Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.2070.0 [release]
  package-lock.json
  package.json
Due: none

Widgets update optimizations
  src/ui/components/DashKit/context/WidgetContext.tsx
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/components/Widgets/Chart/types.ts
  src/ui/components/YfmWrapper/YfmWrapper.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Removed commented code
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Editor menu fix (#1490)
  src/ui/libs/DatalensChartkit/menu/Menu.tsx
  src/ui/libs/DatalensChartkit/menu/constants.ts
  src/ui/registry/units/chart/types/functions/getChartkitMenuByType.ts
  src/ui/units/editor/components/Preview/Preview.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2071.0 [release]
  package-lock.json
  package.json
Due: none

Remove dialog text (#1499)
  src/ui/registry/units/dash/components-map.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2072.0 [release]
  package-lock.json
  package.json
Due: none

Issues fixes, migration fixes
  src/server/controllers/navigation.ts
  src/ui/components/EntryIcon/EntryIcon.tsx
  src/ui/constants/common.ts
  src/ui/units/workbooks/components/EmptyWorkbook/EmptyWorkbook.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/WorkbookMainTabContent/useChunkedEntries.ts
  src/ui/units/workbooks/components/WorkbookTabContent/useChunkedEntries.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add fromScope to copyContext
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/modules/helpers.ts
  src/ui/units/dash/store/actions/controls/actions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed errors in sorting new tables
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/tree.ts
  tests/opensource-suites/wizard/visualizations/flat-table/sorting.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Enable new table plugin
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
Due: none

Add migrate function for paste
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/register.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/utils/migrateItemDataOnPaste.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add workbooks support for new entry scope (#1501)
  src/i18n-keysets/new-workbooks.empty-table/en.json
  src/i18n-keysets/new-workbooks.empty-table/ru.json
  src/i18n-keysets/new-workbooks/en.json
  src/i18n-keysets/new-workbooks/ru.json
  src/server/controllers/navigation.ts
  src/shared/constants/navigation.ts
  src/shared/types/common.ts
  src/ui/components/EntityIcon/EntityIcon.tsx
  src/ui/components/EntryIcon/EntryIcon.tsx
  src/ui/components/Navigation/Base/NavigationBase.scss
  src/ui/constants/common.ts
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/registry/units/workbooks/register.tsx
  src/ui/units/workbooks/components/CreateEntry/CreateEntry.tsx
  src/ui/units/workbooks/components/CreateEntry/utils.tsx
  src/ui/units/workbooks/components/CreateEntryDialog/CreateEntryDialog.tsx
  src/ui/units/workbooks/components/EmptyWorkbook/EmptyWorkbook.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/WorkbookMainTabContent/WorkbookMainTabContent.tsx
  src/ui/units/workbooks/components/WorkbookMainTabContent/useChunkedEntries.ts
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
  src/ui/units/workbooks/components/WorkbookTabContent/useChunkedEntries.ts
  src/ui/units/workbooks/constants/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2073.0 [release]
  package-lock.json
  package.json
Due: none

Fixed errors in sorting new tables (#1506)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/tree.ts
  tests/opensource-suites/wizard/visualizations/flat-table/sorting.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2074.0 [release]
  package-lock.json
  package.json
Due: none

Fixed incorrect application of color(markup) in the table when updating filters
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/MarkupCell/MarkupCell.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/MarkupCell/MarkupCell.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix incorrect application of color(markup) in the table when updating filters (#1508)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/MarkupCell/MarkupCell.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2075.0 [release]
  package-lock.json
  package.json
Due: none

Update charts on reload
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move routine to migrate
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/utils/migrateItemDataOnPaste.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Hide ChartEngine select version switch
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/features/features-list/SandboxEngineSelectSwitch.ts
  src/shared/types/feature.ts
  src/ui/units/editor/components/ActionPanel/ActionPanel.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add fromScope to copyContext (#1505)
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/register.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/modules/helpers.ts
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/utils/migrateItemDataOnPaste.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2076.0 [release]
  package-lock.json
  package.json
Due: none

Hide ChartEngine select version switch (#1509)
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/features/features-list/SandboxEngineSelectSwitch.ts
  src/shared/types/feature.ts
  src/ui/units/editor/components/ActionPanel/ActionPanel.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2077.0 [release]
  package-lock.json
  package.json
Due: none

Revert Type and Aggregation selects, changed Dialog
  src/ui/components/DialogParameter/helpers.tsx
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/columns/Aggregation.tsx
  src/ui/units/datasets/components/DatasetTable/columns/Cast.tsx
  src/ui/units/datasets/components/DatasetTable/components/AggregationSelect/AggregationSelect.tsx
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/components/DialogChangeDatasetFields/DialogChangeDatasetFields.scss
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/components/DialogChangeDatasetFields/DialogChangeDatasetFields.tsx
  src/ui/units/datasets/components/DatasetTable/components/TypeSelect/TypeSelect.tsx
  src/ui/units/datasets/components/DatasetTable/types.ts
  src/ui/units/datasets/components/DatasetTable/utils.ts
  src/ui/utils/getTypeSelectOptions.tsx
  src/ui/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix types, add method for open batch dialog
  src/ui/components/DialogParameter/helpers.tsx
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translate key
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
Due: none

Removed unused imports
  src/ui/units/datasets/components/DatasetTable/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

исправлен механизм построения выгрузки дашбоарда в Excel, если одна из вкладок пуста
  CHANGELOG.md
  export/Опросный лист-1726122837872.xlsx
  src/server/controllers/export-entries.ts
Due: none

исправлен механизм построения выгрузки дашбоарда в Excel, если одна из вкладок пуста
  .gitignore
  export/Опросный лист-1726122837872.xlsx
Due: none

tmp
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/register.tsx
  src/ui/registry/units/common/types/functions/checkCreateEntryButtonVisibility.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add checkCreateEntryButtonVisibility to registry
  src/shared/constants/error-codes.ts
  src/ui/components/ErrorContent/ErrorContent.js
  src/ui/components/Navigation/Core/CreateEntry/CreateEntry.tsx
  src/ui/store/reducers/asideHeader.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Changed link
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix types
  src/ui/store/actions/openDialogTypes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Enable dash auto refresh
  src/server/components/features/features-list/DashAutorefresh.ts
Due: none

Changed md to Interpolate
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/components/DialogChangeDatasetFields/DialogChangeDatasetFields.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (English)
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
Due: none
