Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Fixes
  tests/opensource-suites/dash/widgets/autoheightDynamicCases.test.ts
Due: none

Add waitForCondition in checkNoScroll
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Add chart-modeling store
  src/i18n-keysets/component.chart-modeling-settings/en.json
  src/i18n-keysets/component.chart-modeling-settings/ru.json
  src/shared/constants/chart-modeling.ts
  src/shared/types/charts.ts
  src/ui/components/ChartModelingSettings/ChartModelingSettings.tsx
  src/ui/components/ChartModelingSettings/SmothSettings.tsx
  src/ui/components/ChartModelingSettings/TrendSettings.tsx
  src/ui/components/ChartModelingSettings/constants.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/helpers/analytics.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.js
  src/ui/libs/DatalensChartkit/menu/chart-modeling.tsx
  src/ui/store/chart-modeling/reducer.ts
  src/ui/store/chart-modeling/selectors.ts
  src/ui/store/chart-modeling/typings.ts
  src/ui/store/reducers/index.tsx
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add widget name
  src/i18n-keysets/component.chart-modeling-settings/en.json
  src/i18n-keysets/component.chart-modeling-settings/ru.json
  src/shared/constants/chart-modeling.ts
  src/shared/types/charts.ts
  src/ui/components/ChartModelingSettings/ChartModelingSettings.scss
  src/ui/components/ChartModelingSettings/ChartModelingSettings.tsx
  src/ui/components/ChartModelingSettings/TrendSettings.tsx
  src/ui/components/ChartModelingSettings/components/ShapeSelect/ShapeSelect.tsx
  src/ui/components/ChartModelingSettings/components/ShapeSelect/utils.tsx
  src/ui/components/ChartModelingSettings/components/SmothSettings.tsx
  src/ui/components/ChartModelingSettings/components/TrendSettings.tsx
  src/ui/components/ChartModelingSettings/constants.ts
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/helpers/analytics.ts
  src/ui/libs/DatalensChartkit/menu/chart-modeling.tsx
  src/ui/store/chart-modeling/reducer.ts
  src/ui/store/chart-modeling/typings.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix trend colorMode
  src/ui/components/ChartModelingSettings/components/TrendSettings.tsx
  src/ui/components/Widgets/Chart/helpers/analytics.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (Russian)
  src/i18n-keysets/wizard/ru.json
Due: none

Add chart icon
  src/ui/components/Widgets/Chart/components/Header.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

close dialog on widget change
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/store/chart-modeling/reducer.ts
  src/ui/store/chart-modeling/selectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/i18n-keysets/component.chart-modeling-settings/en.json
  src/i18n-keysets/component.chart-modeling-settings/ru.json
  src/shared/types/charts.ts
  src/ui/components/ChartModelingSettings/ChartModelingSettings.scss
  src/ui/components/ChartModelingSettings/ChartModelingSettings.tsx
  src/ui/components/ChartModelingSettings/components/SmothSettings.tsx
  src/ui/components/ChartModelingSettings/components/TrendSettings.tsx
  src/ui/components/Widgets/Chart/helpers/analytics.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

add shared entries creation test
  src/shared/constants/qa/collections.ts
  src/shared/constants/qa/datasets.ts
  src/shared/constants/qa/index.ts
  src/shared/constants/qa/shared-entries.ts
  src/ui/components/DialogSharedEntryBindings/components/SharedBindingsFooter.tsx
  src/ui/components/DialogSharedEntryPermissions/DialogSharedEntryPermissions.tsx
  src/ui/components/DialogSharedEntryPermissions/components/PermissionButton/PermissionButton.tsx
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionActions/utils.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/datasets/components/Source/Source.js
  tests/constants/constants.ts
  tests/page-objects/collections/CollectionsPage.ts
  tests/page-objects/connections/ConnectionsPage.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/dataset/avatars/avatars.test.ts
  tests/suites/dataset/sourceEditorDialog.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

WIP: add shared entry to workbook test
  src/shared/constants/qa/collections.ts
  src/shared/constants/qa/shared-entries.ts
  src/shared/constants/qa/workbooks.ts
  src/ui/components/DialogAddSharedEntryFromLink/DialogAddSharedEntryFromLink.tsx
  src/ui/components/DialogSelectSharedEntry/DialogSelectSharedEntry.tsx
  src/ui/components/DialogSharedRelatedEntities/DialogSharedRelatedEntities.tsx
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/connections/components/Page/useAdditionalContextMenuItems.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/utils.ts
  tests/constants/constants.ts
  tests/page-objects/collections/CollectionsPage.ts
  tests/page-objects/workbook/Workbook.ts
  tests/suites/shared-entries/add-shared-entry-to-workbook.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
  tests/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add test check shared dataset create from connection
  src/shared/constants/qa/connections.ts
  src/ui/units/connections/components/Page/components/CreateDatasetButton.tsx
  tests/opensource-suites/connections/clickhouse.test.ts
  tests/opensource-suites/connections/postgres.test.ts
  tests/opensource-suites/connections/ytsaurus.test.ts
  tests/page-objects/connections/ConnectionsPage.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/shared-entries/add-shared-entry-to-workbook.test.ts
  tests/suites/shared-entries/check-creation-root-collection.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

refactor creation test, add constants
  tests/constants/constants.ts
  tests/page-objects/collections/CollectionsPage.ts
  tests/page-objects/connections/ConnectionsPage.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/shared-entries/add-shared-entry-to-workbook.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
Due: none

add shared entries qa constants
  src/shared/constants/qa/datasets.ts
  src/shared/constants/qa/ql.ts
  src/shared/constants/qa/shared-entries.ts
  src/shared/constants/qa/wizard.ts
  src/ui/constants/common.ts
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/datasets/components/Avatar/Avatar.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.tsx
  src/ui/units/datasets/components/Source/Source.js
  src/ui/units/datasets/containers/Dataset/Dataset.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.tsx
  src/ui/units/wizard/components/DatasetSelect/DatasetSelectItem.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/utils.ts
  tests/constants/constants.ts
  tests/page-objects/connections/ConnectionsPage.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/page-objects/ql/QLPage.ts
  tests/page-objects/workbook/Workbook.ts
  tests/suites/dataset/avatars/avatars.test.ts
  tests/suites/dataset/avatars/avatarsHandle.test.ts
  tests/suites/dataset/sourceEditorDialog.test.ts
  tests/suites/shared-entries/add-shared-entry-to-workbook.test.ts
  tests/suites/shared-entries/check-creation-root-collection.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
  tests/suites/wizard/datasets/requestDataset.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix getAxisMode for hierarchy field
  src/shared/modules/wizard/axis-mode.ts
  src/ui/units/wizard/reducers/visualization.ts
  src/ui/units/wizard/utils/placeholder.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove request-promise-native and useAxiosRequest flag
  package-lock.json
  package.json
  src/server/components/charts-engine/components/request/index.ts
  src/server/components/features/features-list/UseAxiosRequest.ts
  src/shared/types/feature.ts
Due: none

wip
  src/server/components/charts-engine/components/processor/data-fetcher.ts
Due: none

fix Preview
  src/ui/components/ChartModelingSettings/ChartModelingSettings.scss
  src/ui/components/ChartModelingSettings/ChartModelingSettings.tsx
  src/ui/components/ChartModelingSettings/components/SmothSettings.tsx
  src/ui/components/ChartModelingSettings/components/TrendSettings.tsx
  src/ui/components/ChartModelingSettings/constants.ts
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/helpers/analytics.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/libs/DatalensChartkit/menu/chart-modeling.tsx
  src/ui/store/chart-modeling/selectors.ts
  src/ui/units/preview/components/Preview/Preview.scss
  src/ui/units/preview/components/Preview/Preview.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add chroma-js to devDependencies
  package-lock.json
  package.json
Due: none

Add @types/chroma-js
  package-lock.json
  package.json
Due: none

DLAPI-741: Remove redundant headers
  src/server/utils/index.ts
Due: none

Bump version to 0.3768.0 [release]
  package-lock.json
  package.json
Due: none

Remove request-promise-native and useAxiosRequest flag (#3462)
  package-lock.json
  package.json
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/request/index.ts
  src/server/components/features/features-list/UseAxiosRequest.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.3769.0 [release]
  package-lock.json
  package.json
Due: none

Add e2e-test for dynamic content with autoheight (#2357)
  src/shared/constants/qa/components.ts
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  tests/opensource-suites/dash/widgets/autoheight.test.ts
  tests/opensource-suites/dash/widgets/autoheightDynamicCases.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3770.0 [release]
  package-lock.json
  package.json
Due: none

Add normalization workbook title when importing from file
  src/ui/store/actions/collectionsStructure/export.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

DLAPI-783: add embed-usage actions
  src/shared/schema/us-private/actions/embeds/getEmbedUsage.ts
  src/shared/schema/us-private/actions/embeds/index.ts
  src/shared/schema/us-private/actions/embeds/updateEmbedUsage.ts
  src/shared/schema/us-private/types/embeds.ts
  src/shared/schema/us-private/types/index.ts
  src/shared/schema/us/actions/embeds.ts
  src/shared/schema/us/actions/embeds/createEmbed.ts
  src/shared/schema/us/actions/embeds/deleteEmbed.ts
  src/shared/schema/us/actions/embeds/getEmbedUsage.ts
  src/shared/schema/us/actions/embeds/index.ts
  src/shared/schema/us/actions/embeds/listEmbeds.ts
  src/shared/schema/us/types/embeds.ts
Due: none

Up @gravity-ui/app-builder to 0.38.0
  package-lock.json
  package.json
Due: none

Up @gravity-ui/app-builder to 0.38.0 (#3468)
  package-lock.json
  package.json
Due: none

Bump version to 0.3771.0 [release]
  package-lock.json
  package.json
Due: none

Add normalization workbook title when importing from file (#3466)
  src/ui/store/actions/collectionsStructure/export.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3772.0 [release]
  package-lock.json
  package.json
Due: none

Add warning
  src/i18n-keysets/component.chart-modeling-settings/en.json
  src/i18n-keysets/component.chart-modeling-settings/ru.json
  src/server/components/features/features-list/ChartModeling.ts
  src/shared/constants/chart-modeling.ts
  src/shared/types/charts.ts
  src/ui/components/ChartModelingSettings/ChartModelingSettings.tsx
  src/ui/components/Widgets/Chart/helpers/analytics.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/libs/DatalensChartkit/menu/helpers.ts
  src/ui/store/chart-modeling/reducer.ts
  src/ui/store/chart-modeling/typings.ts
  src/ui/store/toolkit/chartkit/api.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/i18n-keysets/component.chart-modeling-settings/en.json
  src/i18n-keysets/component.chart-modeling-settings/ru.json
Due: none

Set custom auth cookie name
  src/@types/nodekit.d.ts
  src/server/components/auth/middlewares/auth/api-auth.ts
  src/server/components/auth/middlewares/auth/ui-auth.ts
  src/server/components/layout/opensource-layout-config.ts
  src/server/configs/opensource/common.ts
  src/shared/components/auth/constants/cookie.ts
  src/shared/components/auth/utils.ts
  src/shared/types/common.ts
  src/ui/constants/common.ts
  src/ui/libs/auth/refreshToken.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix old sql charts prepares for gravity
  src/server/modes/charts/plugins/ql/module/js/build-graph.ts
Due: none

Remove redundand commets
  src/server/modes/charts/plugins/ql/module/js/build-graph.ts
Due: none

Fix constants
  src/server/modes/charts/plugins/ql/module/js/build-graph.ts
Due: none
