Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Move condition to const
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix scrollable container usage
  src/ui/components/FloatMenu/FloatMenu.tsx
  src/ui/components/MobileHeader/MobileHeaderComponent/MobileHeaderComponent.tsx
  src/ui/entries/dl-main.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Body/context.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeaderMobile.scss
  src/ui/utils/scrollableContainerContext.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix mobile float menu with navigation overlap
  src/ui/components/FloatMenu/FloatMenu.scss
  src/ui/components/FloatMenu/FloatMenu.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  src/ui/units/dash/containers/MobileFloatMenu/MobileFloatMenu.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add mobile styles to dash description content
  src/ui/components/DialogEntryDescription/DialogEntryDescription.scss
Due: prettier --write, stylelint --fix --quiet

Add float-menu to mobile dash
  src/server/components/features/features-list/EnableMobileFixedHeader.ts
  src/shared/types/feature.ts
  src/ui/components/FloatMenu/FloatMenu.scss
  src/ui/components/FloatMenu/FloatMenu.tsx
  src/ui/units/dash/components/DashActionPanel/Description/Description.tsx
  src/ui/units/dash/components/ShareButton/ShareButton.scss
  src/ui/units/dash/components/ShareButton/ShareButton.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeaderMobile.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeaderMobile.tsx
  src/ui/units/dash/containers/Header/Header.tsx
  src/ui/units/dash/containers/MobileFloatMenu/MobileFloatMenu.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix widget fullscreen view in mobile fixed header
  src/ui/components/Widgets/Chart/Chart.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeaderMobile.scss
Due: prettier --write, stylelint --fix --quiet

fix z-index
  src/ui/components/FloatMenu/FloatMenu.scss
Due: prettier --write, stylelint --fix --quiet

fix widgets fullscreen in fixed header
  src/ui/components/Widgets/Chart/Chart.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeaderMobile.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeaderMobile.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix floating menu styles & behaviour
  src/ui/components/FloatMenu/FloatMenu.scss
  src/ui/components/FloatMenu/FloatMenu.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Autoopen mobile fixed header if its widget is focused
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeaderMobile.tsx
  src/ui/units/dash/containers/MobileFloatMenu/MobileFloatMenu.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

formatting in wizard
  src/shared/modules/fields.ts
  src/shared/modules/wizard-helpers.ts
Due: none

fix
  src/ui/units/wizard/containers/Wizard/SectionVisualization/SectionVisualization.scss
Due: prettier --write, stylelint --fix --quiet

Review fixes
  api/server/components.ts
  api/server/types.ts
  src/server/components/public-api/config/index.ts
  src/server/components/public-api/config/v0.ts
  src/server/components/public-api/constants/common.ts
  src/server/components/public-api/index.ts
  src/server/components/public-api/types.ts
  src/server/controllers/public-api/index.ts
  src/server/registry/index.ts
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/schemas/editor.ts
  src/shared/schema/mix/types/editor.ts
  src/shared/schema/us/schemas/editor.ts
  src/shared/schema/us/types/editor.ts
Due: none

Use the field setting from the dataset as default value (#2957)
  src/server/modes/charts/plugins/datalens/preparers/__tests__/common.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepare-bar-x.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/__tests__/mocks/geopoints.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/__tests__/prepareGeopoint.test.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/geopolygon.ts
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/datalens/preparers/line/__tests__/mocks/line.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/mocks/pie.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/pie.test.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
  src/server/modes/charts/plugins/datalens/preparers/polyline.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/__tests__/mocks/scatter.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepare-scatter.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap/highcharts.ts
  src/server/modes/charts/plugins/datalens/utils/color-helpers.ts
  src/server/modes/charts/plugins/datalens/utils/constants.ts
  src/server/modes/charts/plugins/datalens/utils/geo-helpers.ts
  src/server/modes/charts/plugins/helpers/color-palettes.ts
  src/shared/modules/fields.ts
  src/shared/modules/wizard-helpers.ts
  src/shared/types/config/wizard/v14.ts
  src/shared/utils/dataset.ts
  src/ui/units/wizard/actions/dialogColor.ts
  src/ui/units/wizard/components/Dialogs/DialogColor/ColorSettingsContainer/ColorSettingsContainer.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/utils/backgroundSettings.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3318.0 [release]
  package-lock.json
  package.json
Due: none

Add Get endpoints to public-api (#2950)
  api/server/components.ts
  api/server/types.ts
  src/server/components/charts-engine/components/chart-validator.ts
  src/server/components/public-api/config/index.ts
  src/server/components/public-api/config/v0.ts
  src/server/components/public-api/constants/common.ts
  src/server/components/public-api/index.ts
  src/server/components/public-api/types.ts
  src/server/components/sdk/dash.ts
  src/server/controllers/navigate.ts
  src/server/controllers/public-api/index.ts
  src/server/controllers/public-api/utils.ts
  src/server/registry/index.ts
  src/shared/constants/entry.ts
  src/shared/constants/error/index.ts
  src/shared/schema/bi/actions/connections.ts
  src/shared/schema/bi/schemas/connections.ts
  src/shared/schema/bi/types/connections.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/actions/index.ts
  src/shared/schema/mix/actions/ql.ts
  src/shared/schema/mix/schemas/editor.ts
  src/shared/schema/mix/schemas/ql.ts
  src/shared/schema/us/actions/entries.ts
  src/shared/utils/entry.ts
  src/shared/zod-schemas/entry.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/utils.ts
  src/ui/utils/urlUtils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3319.0 [release]
  package-lock.json
  package.json
Due: none

Support remove menu item for workbooks in creating status (#2960)
  src/ui/store/actions/collectionsStructure/export.ts
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.scss
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionLinkRow.tsx
  src/ui/units/collections/components/CollectionContentTable/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3320.0 [release]
  package-lock.json
  package.json
Due: none

Add annotation to dashApiValidation (#2952)
  src/server/modes/charts/plugins/data-api-json-schema.ts
Due: none

Bump version to 0.3321.0 [release]
  package-lock.json
  package.json
Due: none

fix lint
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/MobileFloatMenu/MobileFloatMenu.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (English)
  src/i18n-keysets/wizard/en.json
Due: none

Translations update from Weblate Gravity for PR #2929 (#2961)
  src/i18n-keysets/wizard/en.json
Due: none

Fix field formatting from dataset settings
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/format.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-head-generator.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-rows-generator.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepare-bar-x.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/geopolygon.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/get-axis-formatting.ts
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/prepareLines.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/utils.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/server/modes/charts/plugins/datalens/preparers/metric/variants/basic.ts
  src/server/modes/charts/plugins/datalens/preparers/metric/variants/markup.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepare-scatter.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap/highcharts.ts
  src/server/modes/charts/plugins/helpers/misc.ts
  src/shared/modules/fields.ts
  src/ui/units/datasets/components/ColorsDialog/ColorsDialog.tsx
  src/ui/units/datasets/components/FieldSettingsDialog/FieldSettingsDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

remove test
  src/server/modes/charts/plugins/datalens/preparers/flat-table/__tests__/flat-table.test.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/__tests__/mocks/flat-table.mock.ts
Due: none

Disable multiple dataset chart sort (#2929)
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/containers/Wizard/SectionVisualization/AddField/AddField.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/Placeholder/Placeholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/PlaceholdersContainer.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/SortPlaceholder/SortPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3322.0 [release]
  package-lock.json
  package.json
Due: none

Remove the checks to enable the NewDefaultPalette feature
  src/server/components/charts-engine/components/utils.ts
  src/ui/components/ColorPaletteEditorContainer/ColorPaletteEditorContainer.tsx
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/ColorPalettesCard.tsx
  src/ui/constants/common.ts
  src/ui/entries/dl-main.tsx
  src/ui/styles/variables.scss
  src/ui/units/service-settings/components/GeneralSettings/GeneralSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet
