Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  .github/workflows/e2e-tests-farm.yaml
Due: none

test time
  .github/workflows/e2e-tests-farm.yaml
Due: none

test
  .github/workflows/e2e-tests-farm.yaml
Due: none

Start saving description in annotation object for editor chart (#2844)
  src/shared/schema/us-private/types/entries.ts
  src/shared/schema/us/actions/editor.ts
  src/shared/schema/us/types/editor.ts
  src/shared/types/common.ts
  src/ui/components/EntryDialogues/DialogCreateEditorChart/DialogCreateEditorChart.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3223.0 [release]
  package-lock.json
  package.json
Due: none

Fix
  src/ui/components/EntryDialogues/DialogCreateEditorChart/DialogCreateEditorChart.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Improve accessibility for a gallery page
  src/i18n-keysets/gallery.all-page.view/en.json
  src/i18n-keysets/gallery.all-page.view/ru.json
  src/i18n-keysets/gallery.card-page.view/en.json
  src/i18n-keysets/gallery.card-page.view/ru.json
  src/ui/units/gallery/components/blocks/GalleryCardPreview/GalleryCardPreview.scss
  src/ui/units/gallery/components/blocks/GalleryCardPreview/GalleryCardPreview.tsx
  src/ui/units/gallery/components/blocks/PageHeader/PageHeader.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/CardPage/ImportDropdown/ImportDropdown.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Refactor swagger paths registration
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/server/controllers/public-api.ts
  src/server/registry/index.ts
Due: none

fix e2e max failures
  .github/workflows/e2e-tests-farm.yaml
  .github/workflows/e2e_tests.yml
  tests/docker-compose.e2e.yml
  tests/playwright.config.ts
Due: none

add report
  .github/workflows/e2e-tests-farm.yaml
Due: none

fix
  tests/playwright.config.ts
Due: none

Stop removing description in data
  src/server/components/sdk/dash.ts
Due: none

fix report link
  .github/workflows/e2e-tests-farm.yaml
Due: none

Fix
  src/server/components/sdk/dash.ts
  src/server/controllers/workbook-transfer.ts
  src/shared/types/common.ts
Due: none

fix
  .github/workflows/e2e_tests.yml
Due: none

fix farm timeout wait
  .github/workflows/e2e-tests-farm.yaml
Due: none

Add button props for a share popover trigger
  src/ui/units/dash/components/ShareButton/ShareButton.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add workflow dispatch with skip farm creation
  .github/workflows/e2e-tests-farm.yaml
Due: none

Support VALIDATION_ERROR error for getEntryMetaStatus
  src/shared/schema/mix/actions/entries.ts
Due: none

Fix
  src/server/components/sdk/dash.ts
  src/server/controllers/workbook-transfer.ts
Due: none

Fix
  src/shared/schema/us-private/actions/entries.ts
Due: none

Fix
  src/server/components/sdk/dash.ts
Due: none

Add aria-label attribute to a link, add aria-hidden attribute to a button to a public gallery examples header
  src/i18n-keysets/gallery.landing.view/en.json
  src/i18n-keysets/gallery.landing.view/ru.json
  src/ui/units/gallery/components/blocks/SectionHeader/SectionHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add support for displaying BusinessLabel in menus
  src/ui/components/Navigation/Base/configure.ts
  src/ui/components/Navigation/Core/CreateEntry/getCreateEntryItems.tsx
  src/ui/registry/units/chart/functions-map.ts
  src/ui/registry/units/chart/types/functions/getVisualSelectorBottomPlaceholder.ts
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationSelector/VisualizationSelector.tsx
  src/ui/units/workbooks/components/CreateEntry/CreateEntry.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Stop removing description in data for Dash (#2851)
  src/server/components/sdk/dash.ts
  src/server/controllers/workbook-transfer.ts
  src/shared/schema/us-private/actions/entries.ts
  src/shared/types/common.ts
Due: none

Bump version to 0.3224.0 [release]
  package-lock.json
  package.json
Due: none

Remove unused add-holidays logic
  src/ui/libs/DatalensChartkit/ChartKit/modules/graph/add-holidays.js
  src/ui/libs/DatalensChartkit/ChartKit/modules/graph/config/config.js
  src/ui/libs/DatalensChartkit/ChartKit/modules/graph/graph.js
  src/ui/libs/DatalensChartkit/ChartKit/modules/graph/prepare-data.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove unused dash old relations components
  src/i18n-keysets/dash.connections-dialog.edit/en.json
  src/i18n-keysets/dash.connections-dialog.edit/ru.json
  src/shared/constants/qa/components.ts
  src/ui/assets/icons/arrows-opposite.svg
  src/ui/assets/icons/bar-chart.svg
  src/ui/assets/icons/cancel.svg
  src/ui/assets/icons/control.svg
  src/ui/assets/icons/table.svg
  src/ui/constants/dialogs.ts
  src/ui/units/dash/containers/Dialogs/Connections/ConnectByAlias/ConnectByAlias.js
  src/ui/units/dash/containers/Dialogs/Connections/ConnectByAlias/ConnectByAlias.scss
  src/ui/units/dash/containers/Dialogs/Connections/Connections.js
  src/ui/units/dash/containers/Dialogs/Connections/Connections.scss
  src/ui/units/dash/containers/Dialogs/Connections/Context/Context.js
  src/ui/units/dash/containers/Dialogs/Connections/Item/Item.js
  src/ui/units/dash/containers/Dialogs/Connections/Item/Item.scss
  src/ui/units/dash/containers/Dialogs/Connections/ManageAlias/ManageAlias.js
  src/ui/units/dash/containers/Dialogs/Connections/ManageAlias/ManageAlias.scss
  src/ui/units/dash/containers/Dialogs/Connections/Param/Param.js
  src/ui/units/dash/containers/Dialogs/Connections/Param/Param.scss
  src/ui/units/dash/containers/Dialogs/Dialogs.js
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/utils/getActionPanelItems.tsx
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove unused old meta, relations logic on store and etc
  src/ui/components/DashKit/helpers.tsx
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/types.ts
  src/ui/components/DashKit/plugins/Widget/types.ts
  src/ui/components/DashKit/plugins/types.ts
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/store/actions/index.ts
  src/ui/units/dash/store/actions/relations/actions.ts
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/units/dash/utils/context.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
