Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Add title options for indicator chart (#1105)
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/preparers/metric/utils.ts
  src/server/modes/charts/plugins/datalens/preparers/metric/variants/basic.ts
  src/server/modes/charts/plugins/datalens/preparers/metric/variants/markup.ts
  src/server/modes/charts/plugins/ql/library-config.ts
  src/shared/constants/qa/wizard.ts
  src/shared/modules/config/wizard/__test__/mapChartsConfigToLatestVersion.test.ts
  src/shared/modules/config/wizard/mapChartsConfigToLatestVersion.ts
  src/shared/modules/config/wizard/v10/mapV10ConfigToV11.ts
  src/shared/types/config/wizard/index.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/wizard/index.ts
  src/shared/types/wizard/versions.ts
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.scss
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.tsx
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
  src/ui/units/wizard/reducers/__tests__/preview.test.ts
  src/ui/units/wizard/reducers/utils/getConfigData.ts
  tests/opensource-suites/wizard/visualizations/metric/title.test.ts
  tests/page-objects/wizard/ChartKit.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1751.0 [release]
  package-lock.json
  package.json
Due: none

Fix error of selector execution (#1110)
  src/i18n-keysets/chartkit.control/en.json
  src/i18n-keysets/chartkit.control/ru.json
  src/ui/components/DashKit/plugins/Control/Error/Error.tsx
  src/ui/libs/DatalensChartkit/ChartKit/modules/i18n/keysets/en.js
  src/ui/libs/DatalensChartkit/ChartKit/modules/i18n/keysets/ru.js
  src/ui/libs/DatalensChartkit/components/Control/Control.scss
  src/ui/libs/DatalensChartkit/components/Control/Control.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1752.0 [release]
  package-lock.json
  package.json
Due: none

Fix error view for PLATFORM_PERMISSION_REQUIRED
  src/shared/constants/error-codes.ts
  src/ui/units/connections/components/ErrorView/ErrorView.tsx
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/Page/useApiErrors.ts
  src/ui/units/datasets/containers/Dataset/Dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add scope management
  src/ui/components/DialogManager/DialogManagerContainer.tsx
  src/ui/components/EntryDialogues/EntryDialogues.tsx
  src/ui/entries/dl-main.tsx
  src/ui/hoc/withHotkeysHook.tsx
  src/ui/hooks/useSetHotkeysScope.ts
  src/ui/units/wizard/containers/App.tsx
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/useWizardActionPanel.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Finilize dialog, add deleteCollections action
  src/i18n-keysets/component.collections-structure/en.json
  src/i18n-keysets/component.collections-structure/ru.json
  src/shared/schema/us/actions/collections.ts
  src/shared/schema/us/types/collections.ts
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksContent/DeleteCollectionsWorkbooksContent.scss
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksContent/DeleteCollectionsWorkbooksContent.tsx
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksContent/index.ts
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksDialog.tsx
  src/ui/components/CollectionsStructure/DeleteDialog/DeleteDialog.tsx
  src/ui/store/actions/collectionsStructure.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/store/reducers/collectionsStructure.ts
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix error view for PLATFORM_PERMISSION_REQUIRED (#1138)
  src/shared/constants/error-codes.ts
  src/ui/units/connections/components/ErrorView/ErrorView.tsx
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/Page/useApiErrors.ts
  src/ui/units/datasets/containers/Dataset/Dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1753.0 [release]
  package-lock.json
  package.json
Due: none

Fixed the display of the hint depending on the enabled checkbox
  src/server/components/features/features-list/GroupControls.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

disable feature
  src/server/components/features/features-list/GroupControls.ts
Due: none

Fix init worker chart builder
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
Due: none

Add bar-y d3 visualization (#1122)
  src/server/modes/charts/plugins/datalens/d3/index.ts
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/index.ts
  src/shared/constants/visualization.ts
  src/shared/types/wizard/index.ts
  src/shared/utils/visualization-check.ts
  src/ui/constants/visualizations/bar-y.ts
  src/ui/constants/visualizations/index.ts
  src/ui/constants/visualizations/line.ts
  src/ui/constants/visualizations/pie.ts
  src/ui/constants/visualizations/treemap.ts
  src/ui/constants/visualizations/utils.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
  src/ui/units/wizard/reducers/__tests__/preview.test.ts
  src/ui/units/wizard/reducers/visualization.ts
  src/ui/units/wizard/utils/visualization.ts
  tests/suites/wizard/chart-settings/navigator.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1754.0 [release]
  package-lock.json
  package.json
Due: none

Toggle dataset preview by default (#1046)
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/shared/schema/bi/types/datasets.ts
  src/shared/types/dataset.ts
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.scss
  src/ui/units/datasets/containers/Dataset/Dataset.js
  src/ui/units/datasets/containers/Dataset/Dataset.scss
  src/ui/units/datasets/store/actions/creators/dataset.js
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/creators/utils.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/constants.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/selectors/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1755.0 [release]
  package-lock.json
  package.json
Due: none

PR comments fixes
  src/ui/constants/misc.ts
  src/ui/hoc/withHotkeys.tsx
  src/ui/hooks/useAutodetectHotkeysScope.ts
  src/ui/hooks/useBindHotkey.ts
  src/ui/units/wizard/containers/App.tsx
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/useWizardActionPanel.ts
  src/ui/utils/os.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Finalize actions, dialog
  src/shared/schema/us/actions/workbooks.ts
  src/shared/schema/us/types/workbooks.ts
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksDialog.tsx
  src/ui/store/actions/collectionsStructure.ts
  src/ui/store/constants/collectionsStructure.ts
  src/ui/store/reducers/collectionsStructure.ts
  src/ui/store/selectors/collectionsStructure.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add copy and duplicate for controls in group controls dialog
  src/i18n-keysets/component.list-with-menu.view/en.json
  src/i18n-keysets/component.list-with-menu.view/ru.json
  src/shared/constants/qa/control.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/constants.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/ListWithMenu/ListWithMenu.scss
  src/ui/components/ListWithMenu/ListWithMenu.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/containers/Dialogs/Widget/TabMenu/TabMenu.tsx
  src/ui/units/dash/containers/Dialogs/Widget/TabMenu/types.ts
  src/ui/units/dash/modules/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix hooks usage
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/useWizardActionPanel.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add wrapper to workbook action panel left block
  src/ui/units/workbooks/components/WorkbookPage/hooks/useLayout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Adopt ErrorContent for federation user on community (#1097)
  src/shared/types/common.ts
  src/ui/components/ErrorContent/ErrorContent.js
  src/ui/constants/common.ts
  src/ui/store/reducers/asideHeader.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1756.0 [release]
  package-lock.json
  package.json
Due: none

Fix copy for old selectors
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/containers/Dialogs/Widget/TabMenu/TabMenu.tsx
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add count for move and delete
  src/ui/components/Navigation/components/BatchPanel/BatchPanel.tsx
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

e2e test for editor page
  src/ui/units/editor/components/ButtonDrawPreview/ButtonDrawPreview.js
  src/ui/units/editor/components/ButtonSave/ButtonSave.js
  tests/page-objects/constants/common-selectors.ts
  tests/page-objects/editor/EditorPage.ts
  tests/suites/editor/errorProxy.test.ts
  tests/utils/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add wrapper to workbook action panel left block (#1142)
  src/ui/units/workbooks/components/WorkbookPage/hooks/useLayout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1757.0 [release]
  package-lock.json
  package.json
Due: none

fix import
  src/shared/constants/qa/editor.ts
  src/ui/units/editor/components/ButtonDrawPreview/ButtonDrawPreview.js
  src/ui/units/editor/components/ButtonSave/ButtonSave.js
  tests/page-objects/editor/EditorPage.ts
  tests/suites/editor/errorProxy.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix worker chart builder initialization (#1140)
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
Due: none

Bump version to 0.1758.0 [release]
  package-lock.json
  package.json
Due: none

Dataset batch action panel
  src/shared/types/dataset.ts
  src/ui/units/datasets/components/DatasetTable/DatasetTable.scss
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/columns/IndexColumn.tsx
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/BatchActionPanel.tsx
  src/ui/units/datasets/components/DatasetTable/constants.ts
  src/ui/units/datasets/components/DatasetTable/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Dataset batch delete operation
  src/ui/units/datasets/components/DatasetTable/DatasetTable.scss
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/containers/DatasetEditor/DatasetEditor.js
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Use mouse events
  src/ui/components/DialogManager/DialogManagerContainer.tsx
  src/ui/components/EntryDialogues/EntryDialogues.tsx
  src/ui/hoc/withHotkeys.tsx
  src/ui/hoc/withHotkeysContext.tsx
  src/ui/hooks/useSetHotkeysScope.ts
  src/ui/units/wizard/containers/App.tsx
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed the display of the hint depending on the enabled checkbox (#1139)
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1759.0 [release]
  package-lock.json
  package.json
Due: none

Remove useAutodotectHotkeysScope
  src/ui/components/EntryDialogues/EntryDialogues.tsx
  src/ui/hooks/useAutodetectHotkeysScope.ts
  src/ui/units/wizard/containers/App.tsx
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add condition for edit history
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/useWizardActionPanel.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Some fixes
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/units/dash/containers/Dialogs/Widget/TabMenu/TabMenu.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix lost id and namespace in group control
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
