Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.2707.0 [release]
  package-lock.json
  package.json
Due: none

Remove Ql feature-flag (#2233)
  src/server/modes/opensource/routes.ts
  src/ui/components/Navigation/Core/CreateEntry/CreateEntry.tsx
  src/ui/units/connections/components/Page/components/CreateQlChartButton.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2708.0 [release]
  package-lock.json
  package.json
Due: none

Rermove Ql-flag configs
  src/server/components/features/features-list/Ql.ts
  src/shared/types/feature.ts
Due: none

Rename chart entry tabs (#2244)
  src/server/components/charts-engine/components/chart-generator.ts
  src/server/components/charts-engine/components/chart-validator.ts
  src/server/components/charts-engine/controllers/run.ts
  src/shared/constants/common.ts
  src/ui/units/editor/configs/chart/chart-editor-types.ts
  src/ui/units/editor/constants/common.ts
  src/ui/units/editor/store/reducers/editor/helper.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2709.0 [release]
  package-lock.json
  package.json
Due: none

Add EnableExportWorkbookFile flag
  src/i18n-keysets/collections/en.json
  src/i18n-keysets/collections/ru.json
  src/i18n-keysets/component.workbook-export-dialog.view/en.json
  src/i18n-keysets/component.workbook-export-dialog.view/ru.json
  src/i18n-keysets/new-workbooks/en.json
  src/i18n-keysets/new-workbooks/ru.json
  src/server/components/features/features-list/EnableExportWorkbookFile.ts
  src/shared/types/feature.ts
  src/ui/components/CollectionsStructure/ExportWorkbookDialog/ExportInfo/ExportInfo.tsx
  src/ui/components/CollectionsStructure/ExportWorkbookDialog/ExportWorkbookDialog.scss
  src/ui/components/CollectionsStructure/ExportWorkbookDialog/ExportWorkbookDialog.tsx
  src/ui/components/InterpolatedText/InterpolatedText.tsx
  src/ui/components/Navigation/dialogs/BatchMove/MoveError/MoveError.scss
  src/ui/components/Progress/DialogCounterProgress.scss
  src/ui/components/Progress/DialogCounterProgress.tsx
  src/ui/components/ProgressBar/ProgressBar.scss
  src/ui/components/ProgressBar/ProgressBar.tsx
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Rename chart entry tabs
  src/server/components/charts-engine/controllers/run.ts
Due: none

Add alias for ChartEditor(ui-sandbox)
  src/server/components/charts-engine/controllers/embeds.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/server/components/charts-engine/controllers/embeds.ts
Due: none

Add alias for ChartEditor(ui-sandbox) (#2251)
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/controllers/run.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2710.0 [release]
  package-lock.json
  package.json
Due: none

Change modal width
  src/ui/components/CollectionsStructure/ExportWorkbookDialog/ExportWorkbookDialog.scss
Due: prettier --write, stylelint --fix --quiet

Fix editing in the Editor сhart
  src/ui/units/editor/store/reducers/editor/editor.js
  src/ui/units/editor/store/reducers/editor/editorTypedReducer.ts
  src/ui/units/editor/store/reducers/editor/helper.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove Ql-flag configs (#2249)
  src/server/components/features/features-list/Ql.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.2711.0 [release]
  package-lock.json
  package.json
Due: none

Rename and reorder Editor tabs
  src/ui/units/editor/configs/chart/chart-editor-types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/units/editor/store/reducers/editor/helper.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Rename and reorder Editor tabs (#2253)
  src/ui/units/editor/configs/chart/chart-editor-types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix editing in the Editor сhart (#2252)
  src/ui/units/editor/store/reducers/editor/editor.js
  src/ui/units/editor/store/reducers/editor/editorTypedReducer.ts
  src/ui/units/editor/store/reducers/editor/helper.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2712.0 [release]
  package-lock.json
  package.json
Due: none

Remove window.open method
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/shared/types/charts.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix type
  src/shared/types/charts.ts
Due: none

Disable color settings for string measures
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/ui/units/wizard/components/AddField/AddField.tsx
  src/ui/units/wizard/components/PlaceholderActionIcon/PlaceholderActionIcon.scss
  src/ui/units/wizard/components/PlaceholderActionIcon/PlaceholderActionIcon.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/DashboardFiltersPlaceholder/DashboardFiltersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/FiltersPlaceholder/FiltersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/Placeholder/Placeholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/VisualizationPlaceholder/VisualizationPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix Editor initial state check
  src/ui/units/editor/store/reducers/editor/editor.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove window.open method (#2254)
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2713.0 [release]
  package-lock.json
  package.json
Due: none

Fix Editor initial state check (#2256)
  src/ui/units/editor/store/reducers/editor/editor.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2714.0 [release]
  package-lock.json
  package.json
Due: none

Make dash data optional if possible
  api/server/plugins.ts
  src/server/components/sdk/dash.ts
  src/server/modes/charts/plugins/dash-api.ts
  src/server/modes/charts/plugins/data-api-json-schema.ts
  src/shared/constants/dash.ts
  src/shared/constants/index.ts
  src/shared/constants/widgets.ts
  src/shared/modules/dash-scheme-converter.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/constants/widgets.ts
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/store/actions/base/actions.ts
  src/ui/units/dash/store/actions/helpers.ts
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Renamed editor in texts
  src/i18n-keysets/chartkit.menu/en.json
  src/i18n-keysets/chartkit.menu/ru.json
  src/i18n-keysets/component.chartkit-alerts.view/en.json
  src/i18n-keysets/component.chartkit-alerts.view/ru.json
  src/i18n-keysets/component.dialog-relations.view/en.json
  src/i18n-keysets/component.dialog-relations.view/ru.json
  src/server/components/charts-engine/components/chart-generator.ts
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/utils.ts
  src/server/components/charts-engine/controllers/charts.ts
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/controllers/run.ts
  src/shared/modules/charts-shared.ts
  src/shared/schema/mix/actions/editor.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/units/editor/libs/monaco/types/types.js
  tests/suites/editor/actions/resetButton.test.ts
  tests/suites/editor/common/initialLoad.test.ts
  tests/suites/editor/errorProxy.test.ts
  tests/suites/editor/templateExistance.test.ts
  tests/suites/sql/common/loadChart.test.ts
  tests/suites/wizard/common/initialLoad.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Rename Editor pane
  src/ui/units/editor/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Switch from error stack to errorDetails stackTrace
  src/ui/components/DialogErrorWithTabs/Tabs/DebugTab/DebugTab.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

wip
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.scss
  src/ui/components/DialogErrorWithTabs/Tabs/DebugTab/DebugTab.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Tests on fixed header
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  tests/opensource-suites/dash/base/fixedHeader.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/page-objects/dashboard/FixedHeader.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update dumps
  tests/data/us-e2e-data
Due: none

Redesign dash fixed header
  src/shared/constants/qa/dash.ts
  src/ui/components/DashKit/utils.ts
  src/ui/styles/variables.scss
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  tests/data/us-e2e-data
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix sticky header with revisions panel and table of contents opened
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Next redesign iteration
  src/ui/styles/variables.scss
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet
