Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Hide hint field when hint is not enabled (#1061)
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/HintRow/HintRow.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1696.0 [release]
  package-lock.json
  package.json
Due: none

Add function as argument (#1062)
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1697.0 [release]
  package-lock.json
  package.json
Due: none

Add HC as global variable to ui-sandbox
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix ignore nulls behaviour
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
Due: none

Add HC as global variable to ui-sandbox (#1064)
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1698.0 [release]
  package-lock.json
  package.json
Due: none

initialFetchDataset refactoring
  src/ui/units/datasets/store/actions/creators/dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Review fixes
  src/ui/components/Tabs/Tabs.scss
  src/ui/components/Tabs/withDatalensSpecific.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix order of checks
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
Due: none

Add wizard-builder feature flag
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/charts-engine/index.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/wizard.ts
  src/server/components/features/features-list/WorkerChartBuilder.ts
  src/server/modes/charts/init-charts-engine.ts
  src/shared/types/feature.ts
Due: none

Fix ignore nulls behaviour (#1065)
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
Due: none

Bump version to 0.1699.0 [release]
  package-lock.json
  package.json
Due: none

Add secondary layers list to ignore
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix value '0' in select
  src/ui/components/common/YCSelect/YCSelect.js
  src/ui/components/common/YCSelect/utils.js
  src/ui/units/dash/modules/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix value '0' in select (#1067)
  src/ui/components/common/YCSelect/YCSelect.js
  src/ui/components/common/YCSelect/utils.js
  src/ui/units/dash/modules/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1700.0 [release]
  package-lock.json
  package.json
Due: none

Add secondary layers list to ignore (#1066)
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1701.0 [release]
  package-lock.json
  package.json
Due: none

Code review fixes
  src/server/middlewares/auth-zitadel.ts
  src/server/modes/opensource/app.ts
  src/server/utils/zitadel.ts
  src/shared/schema/gateway-utils.ts
Due: none

Some changes
  dev/env/opensource/development.env
  src/server/modes/opensource/routes.ts
Due: none

Some changes
  dev/env/opensource/development.env
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Some changes
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/configs/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (English)
  src/i18n-keysets/component.aside-header.view/en.json
Due: none

Use old chartRunner for dash controls
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/charts-engine/components/worker/index.ts
  src/server/components/charts-engine/components/worker/types.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/modes/charts/plugins/datalens/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/__tests__/table-head-generator.test.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/__tests__/flat-table.test.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/__tests__/prepareGeopoint.test.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/metric/__tests__/metric.test.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/pie.test.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/__tests__/scatter.test.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap.ts
  src/server/modes/charts/plugins/datalens/url/build-sources/index.ts
  src/server/modes/charts/plugins/datalens/url/helpers/color-palettes.ts
  src/server/modes/charts/plugins/datalens/url/helpers/index.ts
  src/server/modes/charts/plugins/helpers/color-palettes.ts
Due: none

Translated using Weblate (English)
  src/i18n-keysets/new-workbooks/en.json
Due: none

fix types
  src/server/components/charts-engine/runners/wizard.ts
  src/server/modes/charts/plugins/datalens/highcharts.ts
  src/server/modes/charts/plugins/ql/url.ts
Due: none

fix unit tests
  src/server/modes/charts/plugins/datalens/preparers/geopoint/__tests__/mocks/geopoints.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/__tests__/mocks/scatter.mock.ts
Due: none

Translations update from Weblate Gravity for PR #1059 (#1070)
  src/i18n-keysets/new-workbooks/en.json
Due: none

fix unit test(2)
  src/server/modes/charts/plugins/datalens/preparers/scatter/__tests__/mocks/scatter.mock.ts
Due: none

Bump version to 0.1702.0 [release]
  package-lock.json
  package.json
Due: none

Fix lint
  src/ui/units/collections-navigation/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix lint
  src/server/components/charts-engine/components/processor/worker-chart-builder.ts
  src/server/components/charts-engine/components/worker/index.ts
  src/server/components/charts-engine/components/worker/types.ts
  src/server/components/charts-engine/runners/wizard.ts
Due: none

fix import
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
Due: none

Support mobile in workbook page (#1059)
  src/i18n-keysets/new-workbooks/en.json
  src/i18n-keysets/new-workbooks/ru.json
  src/ui/components/NavigationTabs/NavigationTabs.tsx
  src/ui/components/Tabs/Tabs.scss
  src/ui/components/Tabs/withDatalensSpecific.tsx
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.scss
  src/ui/units/collections-navigation/utils/index.ts
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.scss
  src/ui/units/collections/components/CollectionPage/hooks/useLayout.tsx
  src/ui/units/workbooks/components/EmptyWorkbook/EmptyWorkbook.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/constants.ts
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.scss
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
  src/ui/units/workbooks/components/WorkbookPage/hooks/useLayout.tsx
  src/ui/units/workbooks/components/WorkbookTabs/WorkbookTabs.tsx
  src/ui/units/workbooks/components/WorkbookTabs/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1703.0 [release]
  package-lock.json
  package.json
Due: none

Merge conflict fix
  src/server/components/charts-engine/controllers/charts.ts
  src/server/controllers/zitadel.ts
  src/server/middlewares/auth-zitadel.ts
  src/server/modes/opensource/app.ts
  src/server/modes/opensource/routes.ts
  src/server/utils/index.ts
  src/server/utils/zitadel.ts
  src/shared/schema/gateway-utils.ts
Due: none
