Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

add workbook context to requests in ql chart with shared entry
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.tsx
  src/ui/units/ql/containers/QL/ViewSetup/ViewSetup.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/typings/ql.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix date format
  src/server/modes/charts/plugins/datalens/utils/export-helpers.ts
  src/shared/types/wizard/export.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chart-to-table.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add impact control fields to dash zod-schema
  src/shared/zod-schemas/dash.ts
Due: none

Fix chart export with date field (#3416)
  src/server/modes/charts/plugins/datalens/utils/export-helpers.ts
  src/shared/types/wizard/export.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chart-to-table.ts
  tests/opensource-suites/wizard/visualizations/line/export.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3737.0 [release]
  package-lock.json
  package.json
Due: none

Add like-dash checkbox
  src/i18n-keysets/dash.dashkit-plugin-common.view/en.json
  src/i18n-keysets/dash.dashkit-plugin-common.view/ru.json
  src/shared/types/dash.ts
  src/ui/components/DashKit/DashKit.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogEditItem/DialogEditItem.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.scss
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.scss
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/units/dash/containers/Dialogs/Dialogs.tsx
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
  src/ui/units/dash/containers/Dialogs/components/InternalMarginsToggler/InternalMarginsToggler.tsx
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/utils/widgets/internalMargins.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix layout & validation scope fields for global selectors
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ImpactTypeSelect/ImpactTypeSelect.scss
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ImpactTypeSelect/ImpactTypeSelect.tsx
  src/ui/store/actions/controlDialog/controlDialog.ts
  src/ui/store/utils/controlDialog.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update types
  src/shared/zod-schemas/dash.ts
Due: none

Add workbook context to requests in ql chart with shared entry (#3420)
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.tsx
  src/ui/units/ql/containers/QL/ViewSetup/ViewSetup.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/typings/ql.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3738.0 [release]
  package-lock.json
  package.json
Due: none

Apply margins setting on chart widget
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

remove default
  src/ui/components/DashKit/DashKit.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add impact control fields to dash zod-schema (#3419)
  src/shared/zod-schemas/dash.ts
Due: none

Bump version to 0.3739.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dash.dashkit-plugin-common.view/en.json
Due: none

Translations update from Weblate Gravity for PR #3367 (#3422)
  src/i18n-keysets/dash.dashkit-plugin-common.view/en.json
Due: none

Fix paddings for old chart widgets
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Enable cross-tab (global) selectors
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ImpactTypeSelect/ImpactTypeSelect.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/units/dash/store/actions/base/helpers.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/utils/selectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Restrict fields in some wizard sections
  src/ui/constants/visualizations/pie.ts
  src/ui/constants/visualizations/pivotTable.ts
  src/ui/constants/visualizations/treemap.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix layout & validation scope fields for global selectors (#3421)
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ImpactTypeSelect/ImpactTypeSelect.scss
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ImpactTypeSelect/ImpactTypeSelect.tsx
  src/ui/store/actions/controlDialog/controlDialog.ts
  src/ui/store/utils/controlDialog.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3740.0 [release]
  package-lock.json
  package.json
Due: none

separate type imports
  src/ui/components/DashKit/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/constants/visualizations/treemap.ts
  tests/opensource-suites/wizard/visualizations/pie/drag-n-drop.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add paddings toggler (#3367)
  src/i18n-keysets/dash.dashkit-plugin-common.view/en.json
  src/i18n-keysets/dash.dashkit-plugin-common.view/ru.json
  src/i18n-keysets/dash.settings-dialog.edit/en.json
  src/i18n-keysets/dash.settings-dialog.edit/ru.json
  src/ui/components/DashKit/DashKit.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.scss
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogEditItem/DialogEditItem.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.scss
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.scss
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/units/dash/containers/Dialogs/Dialogs.tsx
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/Display.tsx
  src/ui/units/dash/containers/Dialogs/components/InternalMarginsToggler/InternalMarginsToggler.tsx
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/utils/widgets/internalMargins.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump @gravity-ui/i18n
  package-lock.json
  package.json
Due: none

Bump version to 0.3741.0 [release]
  package-lock.json
  package.json
Due: none

Restrict fields in some wizard sections (#3424)
  src/ui/constants/visualizations/pie.ts
  src/ui/constants/visualizations/pivotTable.ts
  src/ui/constants/visualizations/treemap.ts
  tests/opensource-suites/wizard/visualizations/pie/drag-n-drop.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3742.0 [release]
  package-lock.json
  package.json
Due: none

temporarily mark commonVisualSettings as optional
  src/ui/components/DialogEditItem/DialogEditItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add no binding state for connection in dataset
  src/ui/components/SharedEntryIcon/SharedEntryIcon.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Temporarily mark commonVisualSettings as optional (#3427)
  src/ui/components/DialogEditItem/DialogEditItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3743.0 [release]
  package-lock.json
  package.json
Due: none

Enable cross-tab global selectors (#3423)
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ImpactTypeSelect/ImpactTypeSelect.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/units/dash/store/actions/base/helpers.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/utils/selectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3744.0 [release]
  package-lock.json
  package.json
Due: none

Mark commonVisualSettings prop as required
  src/ui/components/DialogEditItem/DialogEditItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Mark commonVisualSettings prop as required (#3430)
  src/ui/components/DialogEditItem/DialogEditItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3745.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/gravity-charts.ts
  src/shared/modules/wizard/axis-settings.ts
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add no binding state for connection in dataset (#3428)
  src/ui/components/SharedEntryIcon/SharedEntryIcon.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.tsx
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3746.0 [release]
  package-lock.json
  package.json
Due: none
