Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update ru.json
  src/i18n-keysets/chartkit.button-spin-input/ru.json
Due: none

Remove publish report from e2e (#546)
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_tests_report.yml
Due: none

Bump version to 0.1285.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/chartkit.button-spin-input/ru.json
Due: none

upd
  src/i18n-keysets/chartkit.insights/en.json
  src/i18n-keysets/chartkit.insights/ru.json
Due: none

upd
  src/i18n-keysets/chartkit.error-details/en.json
  src/i18n-keysets/chartkit.error-details/ru.json
Due: none

upd
  src/i18n-keysets/component.chart-save-controls/en.json
  src/i18n-keysets/component.chart-save-controls/ru.json
Due: none

гзв
  src/i18n-keysets/component.collection-filters/en.json
  src/i18n-keysets/component.collection-filters/ru.json
Due: none

Fix axis order for split section (#574)
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/__tests__/getSegmentsYAxis.test.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/segments/getSegmentsYAxis.ts
Due: none

Bump version to 0.1286.0 [release]
  package-lock.json
  package.json
Due: none

гзв
  src/i18n-keysets/component.dashkit.view/en.json
  src/i18n-keysets/component.dashkit.view/ru.json
Due: none

upd
  src/i18n-keysets/component.dl-dialog-confirm.view/en.json
  src/i18n-keysets/component.dl-dialog-confirm.view/ru.json
Due: none

ffff
  src/i18n-keysets/component.workbook.navigation.view/en.json
  src/i18n-keysets/component.workbook.navigation.view/ru.json
Due: none

add .nvmrc (#572)
  .nvmrc
Due: none

Bump version to 0.1287.0 [release]
  package-lock.json
  package.json
Due: none

upd
  src/i18n-keysets/dash.params-setting.view/en.json
  src/i18n-keysets/dash.params-setting.view/ru.json
Due: none

Add markup metric test
  tests/opensource-suites/wizard/visualizations/metric.test.ts
Due: none

Enable MarkupMetric
  src/server/components/features/features-list/MarkupMetric.ts
Due: none

Add GroupControl with broken logic
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/Control/Error/Error.tsx
  src/ui/components/DashKit/plugins/Control/constants.ts
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/DashKit/plugins/Control/utils.ts
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/store/reducer.ts
  src/ui/components/DashKit/plugins/GroupControl/Control/store/types.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/types.ts
  src/ui/components/DashKit/plugins/GroupControl/utils.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/constants.js
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ListValueControl/ValueSelector/DynamicValueSelect.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ListValueControl/ValueSelector/StaticValueSelect.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix report path creation
  .github/workflows/e2e_tests_report.yml
Due: none

Removed toggleFullScreen action
  src/ui/units/dash/containers/Header/Header.tsx
  src/ui/units/dash/store/actions/dash.js
  src/ui/units/dash/store/constants/dashActionTypes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Set to true if dash settings.loadOnlyVisibleCharts is undefined
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Refactored dash settings dialog emty state check
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Revert feature settings
  src/server/components/features/features-list/MarkupMetric.ts
Due: none

Add skip tests
  tests/opensource-suites/wizard/visualizations/metric.test.ts
Due: none

Fix request id slice logic
  src/ui/libs/schematic-sdk/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Refactoring setLock, deleteLock, cleanLock dash actions
  src/ui/components/EntryDialogues/DialogDeleteEntry/DialogDeleteEntry.tsx
  src/ui/datalens/pages/DashAndWizardQLPages/DashAndWizardQLPages.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/store/actions/dash.js
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Cleanup unused code and comments
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix hasSettings flag for markup
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/VisualizationPlaceholder/VisualizationPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix report path creation (#577)
  .github/workflows/e2e_tests_report.yml
Due: none

Bump version to 0.1288.0 [release]
  package-lock.json
  package.json
Due: none

Fix pr comment test report permission
  .github/workflows/e2e_tests_report.yml
Due: none

up chartkit(4.19.0)
  package-lock.json
  package.json
Due: none

docs: fix tests README port to be consistent with copmpose file
  tests/README.md
Due: none

Fix request id slice logic (#578)
  src/ui/libs/schematic-sdk/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1289.0 [release]
  package-lock.json
  package.json
Due: none

up chartkit(4.19.0) (#581)
  package-lock.json
  package.json
Due: none

Bump version to 0.1290.0 [release]
  package-lock.json
  package.json
Due: none

Fix pr comment test report permission (#580)
  .github/workflows/e2e_tests_report.yml
Due: none

Bump version to 0.1291.0 [release]
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
