Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix holidays error
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add ignoreSafeChartWarningParam (#3435)
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3756.0 [release]
  package-lock.json
  package.json
Due: none

refactor
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

disable apply button for delegation dialog, fallback to root collection when user has no access
  src/ui/components/CollectionsStructure/hooks/useCollectionStructureDialogState.ts
  src/ui/components/DialogSharedEntryBindings/components/Relations.tsx
  src/ui/components/DialogSharedEntryPermissions/DialogSharedEntryPermissions.tsx
  src/ui/store/actions/collectionsStructure/common.ts
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/Page/useAdditionalContextMenuItems.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.tsx
  src/ui/units/datasets/containers/Dataset/getAdditionalContextMenuItems.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add workbookId to base global actions test
  tests/opensource-suites/dash/selectors/global/baseActions.test.ts
Due: none

Refactor and fix tests
  src/shared/constants/qa/wizard.ts
  src/ui/constants/visualizations/metric.ts
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/components/Dialogs/DialogMetricColors/DialogMetricColors.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/MetricColorsPlaceholder/MetricColorsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/PlaceholdersContainer.tsx
  tests/opensource-suites/wizard/visualizations/metric/color.test.ts
  tests/page-objects/wizard/ChartSettings.ts
  tests/page-objects/wizard/MetricColorsDialog.ts
  tests/page-objects/wizard/WizardPage.ts
  tests/suites/wizard/metric/metricCustomization.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix holidays error (#3443)
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3757.0 [release]
  package-lock.json
  package.json
Due: none

Fix test
  src/ui/units/wizard/components/Dialogs/DialogMetricColors/DialogMetricColors.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fallback to root collection when user has no access (#3444)
  src/ui/components/CollectionsStructure/hooks/useCollectionStructureDialogState.ts
  src/ui/components/DialogSharedEntryBindings/components/Relations.tsx
  src/ui/components/DialogSharedEntryPermissions/DialogSharedEntryPermissions.tsx
  src/ui/store/actions/collectionsStructure/common.ts
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/Page/useAdditionalContextMenuItems.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.tsx
  src/ui/units/datasets/containers/Dataset/getAdditionalContextMenuItems.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3758.0 [release]
  package-lock.json
  package.json
Due: none

Fix test and refactor
  src/shared/constants/qa/wizard.ts
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.tsx
  tests/page-objects/wizard/ChartSettings.ts
  tests/page-objects/wizard/MetricColorsDialog.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix test again
  src/ui/units/wizard/components/Dialogs/DialogMetricColors/DialogMetricColors.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Pass extraOptions to export menu item config
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/DownloadCsv/DownloadCsv.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/CsvExport/CsvExport.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/types.ts
  src/ui/libs/DatalensChartkit/menu/Menu.tsx
  src/ui/units/ql/containers/PanePreview/PanePreview.tsx
  src/ui/units/wizard/containers/Wizard/SectionPreview/SectionPreview.tsx
  src/ui/utils/custom-export-menu-item.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

change confirmation header
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/ui/store/actions/dialog.ts
  src/ui/utils/custom-export-menu-item.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix test
  tests/page-objects/wizard/SectionVisualization.ts
Due: none

Fix test
  tests/suites/wizard/metric/metricCustomization.test.ts
Due: none

Add i18n-keysets
  src/i18n-keysets/container.metric-dialog/en.json
  src/i18n-keysets/container.metric-dialog/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/ui/units/wizard/components/Dialogs/DialogMetricColors/DialogMetricColors.scss
  src/ui/units/wizard/components/Dialogs/DialogMetricColors/DialogMetricColors.tsx
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/MetricColorsPlaceholder/MetricColorsPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove unused images and forgotten rebranding
  src/ui/assets/images/new-illustrations/dark/403.svg
  src/ui/assets/images/new-illustrations/dark/404.svg
  src/ui/assets/images/new-illustrations/dark/500.svg
  src/ui/assets/images/new-illustrations/dark/bad_request.svg
  src/ui/assets/images/new-illustrations/dark/empty_directory.svg
  src/ui/assets/images/new-illustrations/dark/empty_state.svg
  src/ui/assets/images/new-illustrations/dark/no_accounts.svg
  src/ui/assets/images/new-illustrations/dark/no_permission.svg
  src/ui/assets/images/new-illustrations/dark/nothing_found.svg
  src/ui/assets/images/new-illustrations/dark/project.svg
  src/ui/assets/images/new-illustrations/dark/success_operation.svg
  src/ui/assets/images/new-illustrations/light/403.svg
  src/ui/assets/images/new-illustrations/light/404.svg
  src/ui/assets/images/new-illustrations/light/500.svg
  src/ui/assets/images/new-illustrations/light/bad_request.svg
  src/ui/assets/images/new-illustrations/light/empty_directory.svg
  src/ui/assets/images/new-illustrations/light/empty_state.svg
  src/ui/assets/images/new-illustrations/light/no_accounts.svg
  src/ui/assets/images/new-illustrations/light/no_permission.svg
  src/ui/assets/images/new-illustrations/light/nothing_found.svg
  src/ui/assets/images/new-illustrations/light/project.svg
  src/ui/assets/images/new-illustrations/light/success_operation.svg
  src/ui/components/Illustration/getRebrandingIllustrationStore.ts
  src/ui/constants/common.ts
  src/ui/styles/rebranding-theme.scss
  src/ui/styles/variables.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

add context menu for revision row
  src/ui/assets/icons/file-diff.svg
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/Revisions/Revisions.tsx
  src/ui/components/Revisions/RevisionsList/RevisionsList.tsx
  src/ui/components/Revisions/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Use data_export info from metadata node in connections
  src/server/components/charts-engine/components/processor/index.ts
  src/server/modes/charts/plugins/control/url/constants.ts
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
Due: none

Use data_export info from metadata node in connections (#3450)
  src/server/components/charts-engine/components/processor/index.ts
  src/server/modes/charts/plugins/control/url/constants.ts
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
Due: none

Bump version to 0.3759.0 [release]
  package-lock.json
  package.json
Due: none

Remove unused images and forgotten rebranding (#3447)
  src/ui/assets/images/new-illustrations/dark/403.svg
  src/ui/assets/images/new-illustrations/dark/404.svg
  src/ui/assets/images/new-illustrations/dark/500.svg
  src/ui/assets/images/new-illustrations/dark/bad_request.svg
  src/ui/assets/images/new-illustrations/dark/empty_directory.svg
  src/ui/assets/images/new-illustrations/dark/empty_state.svg
  src/ui/assets/images/new-illustrations/dark/no_accounts.svg
  src/ui/assets/images/new-illustrations/dark/no_permission.svg
  src/ui/assets/images/new-illustrations/dark/nothing_found.svg
  src/ui/assets/images/new-illustrations/dark/project.svg
  src/ui/assets/images/new-illustrations/dark/success_operation.svg
  src/ui/assets/images/new-illustrations/light/403.svg
  src/ui/assets/images/new-illustrations/light/404.svg
  src/ui/assets/images/new-illustrations/light/500.svg
  src/ui/assets/images/new-illustrations/light/bad_request.svg
  src/ui/assets/images/new-illustrations/light/empty_directory.svg
  src/ui/assets/images/new-illustrations/light/empty_state.svg
  src/ui/assets/images/new-illustrations/light/no_accounts.svg
  src/ui/assets/images/new-illustrations/light/no_permission.svg
  src/ui/assets/images/new-illustrations/light/nothing_found.svg
  src/ui/assets/images/new-illustrations/light/project.svg
  src/ui/assets/images/new-illustrations/light/success_operation.svg
  src/ui/components/Illustration/getRebrandingIllustrationStore.ts
  src/ui/constants/common.ts
  src/ui/styles/rebranding-theme.scss
  src/ui/styles/variables.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3760.0 [release]
  package-lock.json
  package.json
Due: none

Hide settings for markup field
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.tsx
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/PlaceholdersContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add texts to i18n
  src/i18n-keysets/component.revisions-panel.view/en.json
  src/i18n-keysets/component.revisions-panel.view/ru.json
  src/ui/components/Revisions/RevisionsList/RevisionsList.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add shared entries creation test
  src/shared/constants/qa/collections.ts
  src/shared/constants/qa/datasets.ts
  src/shared/constants/qa/index.ts
  src/shared/constants/qa/shared-entries.ts
  src/ui/components/DialogSharedEntryBindings/components/SharedBindingsFooter.tsx
  src/ui/components/DialogSharedEntryPermissions/DialogSharedEntryPermissions.tsx
  src/ui/components/DialogSharedEntryPermissions/components/PermissionButton/PermissionButton.tsx
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionActions/utils.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/datasets/components/Source/Source.js
  tests/constants/constants.ts
  tests/page-objects/collections/CollectionsPage.ts
  tests/page-objects/connections/ConnectionsPage.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/dataset/avatars/avatars.test.ts
  tests/suites/dataset/sourceEditorDialog.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

WIP: add shared entry to workbook test
  src/shared/constants/qa/collections.ts
  src/shared/constants/qa/shared-entries.ts
  src/shared/constants/qa/workbooks.ts
  src/ui/components/DialogAddSharedEntryFromLink/DialogAddSharedEntryFromLink.tsx
  src/ui/components/DialogSelectSharedEntry/DialogSelectSharedEntry.tsx
  src/ui/components/DialogSharedRelatedEntities/DialogSharedRelatedEntities.tsx
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionContent/hooks/useActions.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/connections/components/Page/useAdditionalContextMenuItems.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/utils.ts
  tests/constants/constants.ts
  tests/page-objects/collections/CollectionsPage.ts
  tests/page-objects/workbook/Workbook.ts
  tests/suites/shared-entries/add-shared-entry-to-workbook.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
  tests/utils/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add test check shared dataset create from connection
  src/shared/constants/qa/connections.ts
  src/ui/units/connections/components/Page/components/CreateDatasetButton.tsx
  tests/opensource-suites/connections/clickhouse.test.ts
  tests/opensource-suites/connections/postgres.test.ts
  tests/opensource-suites/connections/ytsaurus.test.ts
  tests/page-objects/connections/ConnectionsPage.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/shared-entries/add-shared-entry-to-workbook.test.ts
  tests/suites/shared-entries/check-creation-root-collection.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/ui/units/wizard/components/Dialogs/Settings/IndicatorTitleSetting/IndicatorTitleSetting.tsx
  src/ui/units/wizard/components/PlaceholderActionIcon/PlaceholderActionIcon.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/MetricColorsPlaceholder/MetricColorsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/PlaceholdersContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

refactor creation test, add constants
  tests/constants/constants.ts
  tests/page-objects/collections/CollectionsPage.ts
  tests/page-objects/connections/ConnectionsPage.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/shared-entries/add-shared-entry-to-workbook.test.ts
  tests/suites/shared-entries/create-shared-entries.test.ts
Due: none

Up @gravity-ui/expresskit to 2.11.1
  package-lock.json
  package.json
Due: none

Up @gravity-ui/expresskit to 2.11.1 (#3452)
  package-lock.json
  package.json
Due: none

Bump version to 0.3761.0 [release]
  package-lock.json
  package.json
Due: none

Address review issues
  src/ui/components/NumberFormatSettings/NumberInput/NumberInput.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapes.tsx
  tests/opensource-suites/wizard/visualizations/line/shapes.test.ts
  tests/suites/wizard/placeholders/shapesPlaceholder.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add i18n and line width settings scopes test
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/shared/constants/qa/wizard.ts
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineWidth/DialogLineWidth.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapes.tsx
  src/ui/units/wizard/components/LineWidthSelect/LineWidthSelect.tsx
  tests/opensource-suites/wizard/visualizations/line/shapes.test.ts
  tests/page-objects/wizard/ShapeDialog.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Address more review issues
  src/shared/constants/qa/wizard.ts
  src/ui/components/NumberFormatSettings/NumberInput/NumberInput.scss
  src/ui/components/NumberFormatSettings/NumberInput/NumberInput.tsx
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineWidth/DialogLineWidth.scss
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogLineWidth/DialogLineWidth.tsx
  src/ui/units/wizard/components/LineWidthSelect/LineWidthSelect.tsx
  tests/page-objects/wizard/ShapeDialog.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
