Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Add pivot inline sort
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/index.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/wizard/index.ts
  src/ui/constants/visualizations/index.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix scroll collection structure dialog (#1556)
  src/ui/components/CollectionsStructure/CollectionStructureDialog/StructureItemSelect/StructureItemSelect.scss
  src/ui/components/CollectionsStructure/CollectionStructureDialog/StructureItemSelect/StructureItemSelect.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2113.0 [release]
  package-lock.json
  package.json
Due: none

Fix window reload on navigate to reports
  src/ui/components/Navigation/Base/NavigationBase.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix not configured pivots sorting
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/index.ts
Due: none

Remove flags for changing sandbox version
  src/server/components/charts-engine/runners/editor.ts
Due: none

Remove flags for switching sandbox versions
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/features/features-list/NewSandbox_100p.ts
  src/server/components/features/features-list/NewSandbox_10p.ts
  src/server/components/features/features-list/NewSandbox_1p.ts
  src/server/components/features/features-list/NewSandbox_33p.ts
  src/server/components/features/features-list/NewSandbox_50p.ts
  src/server/components/features/features-list/NewSandbox_75p.ts
  src/shared/types/feature.ts
Due: none

Pinned columns for pivot table (#1535)
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/components/features/features-list/PinnedColumnsForPivotTables.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/index.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-head-generator.ts
  src/shared/types/feature.ts
  src/ui/units/wizard/components/Dialogs/DialogColumnSettings/DialogColumnSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2114.0 [release]
  package-lock.json
  package.json
Due: none

wip
  src/server/components/features/features-list/NewSandbox_100p.ts
  src/shared/types/feature.ts
Due: none

Add tooltip
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/ui/units/ql/containers/Header/Header.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix sorting in pivot tables
  src/server/components/features/features-list/NewPluginForPivotTables.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  tests/opensource-suites/wizard/visualizations/pivot-table/sorting.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix sorting in pivot tables (#1561)
  src/server/components/features/features-list/NewPluginForPivotTables.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  tests/opensource-suites/wizard/visualizations/pivot-table/sorting.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2115.0 [release]
  package-lock.json
  package.json
Due: none

Add workbook empty state text fn to registry
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/registry/units/workbooks/register.tsx
  src/ui/units/workbooks/components/EmptyWorkbook/EmptyWorkbook.tsx
  src/ui/units/workbooks/components/EmptyWorkbook/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix window reload on navigate to reports (#1558)
  src/ui/components/Navigation/Base/NavigationBase.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2116.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/dashkit 8.15.1 -> 8.15.3
  package-lock.json
  package.json
Due: none

Add workbook empty state text fn to registry (#1562)
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/registry/units/workbooks/register.tsx
  src/ui/units/workbooks/components/EmptyWorkbook/EmptyWorkbook.tsx
  src/ui/units/workbooks/components/EmptyWorkbook/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2117.0 [release]
  package-lock.json
  package.json
Due: none

Support onBeforeChartLoad event in useLoadingChart
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove flags for switching sanbox version (#1559)
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/features/features-list/NewSandbox_10p.ts
  src/server/components/features/features-list/NewSandbox_1p.ts
  src/server/components/features/features-list/NewSandbox_33p.ts
  src/server/components/features/features-list/NewSandbox_50p.ts
  src/server/components/features/features-list/NewSandbox_75p.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.2118.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/dashkit 8.15.1 -> 8.15.3 (#1563)
  package-lock.json
  package.json
Due: none

Bump version to 0.2119.0 [release]
  package-lock.json
  package.json
Due: none

Remove unnecessary scope from open part
  src/ui/units/workbooks/components/EmptyWorkbook/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove unnecessary scope from open part (#1565)
  src/ui/units/workbooks/components/EmptyWorkbook/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2120.0 [release]
  package-lock.json
  package.json
Due: none

isRendered check added for charts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add Image widget to Reports
  src/i18n-keysets/dash.image-dialog.edit/en.json
  src/i18n-keysets/dash.image-dialog.edit/ru.json
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
  src/i18n-keysets/dash.popup-widgets-order.view/en.json
  src/i18n-keysets/dash.popup-widgets-order.view/ru.json
  src/shared/constants/qa/components.ts
  src/shared/constants/qa/dash.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/DashKit.ts
  src/ui/components/DashKit/plugins/Image/Image.scss
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.scss
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogImageWidget/index.ts
  src/ui/constants/dialogs.ts
  src/ui/registry/units/common/components-map.tsx
  src/ui/registry/units/common/register.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/PopupWidgetsOrder.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/helpers.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/utils/getActionPanelItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Enable markup and markdown in fields without using the flag (#1554)
  src/server/components/features/features-list/MarkupInLabels.ts
  src/server/components/features/features-list/WizardMarkdownFields.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepare-bar-x.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/prepare-bar-y-data.ts
  src/server/modes/charts/plugins/datalens/preparers/line/__tests__/mocks/line.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/mocks/pie.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap.ts
  src/shared/types/feature.ts
  src/ui/constants/visualizations/pie.ts
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/utils/visualizations/line.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2121.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/wizard/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/wizard/en.json
Due: none

Fix update on background change
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translations update from Weblate Gravity for PR #1560 (#1568)
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
Due: none

Add dialog
  src/ui/units/ql/containers/PanePreview/PanePreview.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Support markup for a tooltip in a scatter chart
  src/server/modes/charts/plugins/datalens/preparers/scatter/__tests__/scatter.test.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepare-scatter.ts
  src/server/modes/charts/plugins/datalens/utils/color-helpers.ts
  src/shared/types/chartkit/d3/scatter.ts
  src/ui/constants/visualizations/scatter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Marginy review fixes
  src/ui/components/DialogImageWidget/DialogImageWidget.scss
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet
