Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.3790.0 [release]
  package-lock.json
  package.json
Due: none

Remove i18n mocks
  src/ui/components/ChartModelingSettings/i18n.ts
  src/ui/libs/DatalensChartkit/menu/chart-modeling.tsx
  src/ui/utils/chart-modeling/add-chart-modeling-series.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/libs/DatalensChartkit/menu/chart-modeling.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add chart modeling settings (#3479)
  package-lock.json
  src/shared/types/menu.ts
  src/ui/components/ChartModelingSettings/ChartModelingSettings.scss
  src/ui/components/ChartModelingSettings/ChartModelingSettings.tsx
  src/ui/components/ChartModelingSettings/components/ShapeSelect/ShapeSelect.tsx
  src/ui/components/ChartModelingSettings/components/ShapeSelect/utils.tsx
  src/ui/components/ChartModelingSettings/components/SmothSettings.tsx
  src/ui/components/ChartModelingSettings/components/TrendSettings.tsx
  src/ui/components/ChartModelingSettings/constants.ts
  src/ui/components/ChartModelingSettings/i18n.ts
  src/ui/components/ChartModelingSettings/utils.ts
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Content/store/types.ts
  src/ui/libs/DatalensChartkit/menu/chart-modeling.tsx
  src/ui/libs/DatalensChartkit/menu/helpers.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/preview/components/Preview/Preview.scss
  src/ui/units/preview/components/Preview/Preview.tsx
  src/ui/utils/chart-modeling/add-chart-modeling-series.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3791.0 [release]
  package-lock.json
  package.json
Due: none

Up api/run res to controller
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/controllers/run.ts
  src/server/components/charts-engine/runners/common.ts
  src/server/components/charts-engine/runners/control.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/wizard.ts
  src/server/components/charts-engine/runners/worker.ts
  src/server/modes/charts/plugins/ql/ql-chart-runner.ts
Due: none

Use addChartModelingSeries with dynamic loading
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up api/run res to controller
  src/server/components/charts-engine/runners/common.ts
Due: none

Use addChartModelingSeries with dynamic loading (#3494)
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3792.0 [release]
  package-lock.json
  package.json
Due: none

Up api/run res to controller (#3495)
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/controllers/run.ts
  src/server/components/charts-engine/runners/common.ts
  src/server/components/charts-engine/runners/control.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/wizard.ts
  src/server/components/charts-engine/runners/worker.ts
  src/server/modes/charts/plugins/ql/ql-chart-runner.ts
Due: none

Bump version to 0.3793.0 [release]
  package-lock.json
  package.json
Due: none

Fix
  src/shared/schema/us/actions/embed-usage/getEmbedUsage.ts
  src/shared/schema/us/actions/embeds/getEmbedUsage.ts
Due: none

Fix useLoadingChart
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix useLoadingChart (#3496)
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3794.0 [release]
  package-lock.json
  package.json
Due: none

Fix types
  src/server/components/charts-engine/runners/common.ts
  src/server/components/charts-engine/runners/index.ts
Due: none

Fix types
  src/server/components/charts-engine/runners/common.ts
Due: none

Fix types (#3498)
  src/server/components/charts-engine/runners/common.ts
  src/server/components/charts-engine/runners/index.ts
Due: none

Bump version to 0.3795.0 [release]
  package-lock.json
  package.json
Due: none

Bump @gravity-ui/dashkit
  package-lock.json
  package.json
Due: none

Remove res
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/controllers/run.ts
  src/server/components/charts-engine/runners/common.ts
  src/server/components/charts-engine/runners/control.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/worker.ts
Due: none

fix test
  tests/opensource-suites/wizard/visualizations/pie/dataset-field-settings.test.ts
Due: none

Remove res (#3500)
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/controllers/run.ts
  src/server/components/charts-engine/runners/common.ts
  src/server/components/charts-engine/runners/control.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/worker.ts
Due: none

Bump version to 0.3796.0 [release]
  package-lock.json
  package.json
Due: none

fix
  tests/opensource-suites/wizard/visualizations/pie/dataset-field-settings.test.ts
Due: none

Some chart modeling fixes
  src/ui/components/ChartModelingSettings/components/SmothSettings.tsx
  src/ui/components/ChartModelingSettings/components/TrendSettings.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/store/toolkit/chart-modeling/reducer.ts
  src/ui/utils/chart-modeling/add-chart-modeling-series.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix source alias conversion to respect config method and unwrap API Connector response
  src/server/components/charts-engine/components/__tests__/source-alias.test.ts
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/processor/source-alias.ts
  src/server/components/charts-engine/components/processor/sources.ts
  src/server/components/charts-engine/types.ts
Due: none

Simplify unwrapAPIConnectorResponse and source URL removal
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/processor/source-alias.ts
Due: none

Implement source alias conversion module
  src/server/components/charts-engine/components/processor/source-alias.ts
Due: none

Add aliasTo field to SourceConfig type
  src/server/components/charts-engine/types.ts
Due: none

Fix TypeScript errors in data-fetcher: sourceType and return types
  src/server/components/charts-engine/components/processor/data-fetcher.ts
Due: none

Add failing tests for source alias conversion
  src/server/components/charts-engine/components/__tests__/source-alias.test.ts
Due: none

Wire source alias logic into DataFetcher
  src/server/components/charts-engine/components/processor/data-fetcher.ts
Due: none

fix
  src/ui/components/ChartModelingSettings/ChartModelingSettings.scss
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/utils/chart-modeling/add-chart-modeling-series.ts
  src/ui/utils/chart-modeling/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Some chart modeling fixes (#3501)
  src/ui/components/ChartModelingSettings/ChartModelingSettings.scss
  src/ui/components/ChartModelingSettings/components/SmothSettings.tsx
  src/ui/components/ChartModelingSettings/components/TrendSettings.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/store/toolkit/chart-modeling/reducer.ts
  src/ui/utils/chart-modeling/add-chart-modeling-series.ts
  src/ui/utils/chart-modeling/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3797.0 [release]
  package-lock.json
  package.json
Due: none
