Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix tabs
  src/ui/components/common/Datepicker/PopupContent/PopupContent.js
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/units/service-settings/containers/MainPage/MainPage.tsx
  src/ui/units/wizard/components/Dialogs/DialogFieldInspector/DialogFieldInspector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

wip
  package-lock.json
  package.json
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/EntryContextMenuBase/EntryContextMenuBase.tsx
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/Navigation/Core/CreateEntry/CreateEntry.scss
  src/ui/components/Navigation/Core/CreateEntry/CreateEntry.tsx
  src/ui/components/Navigation/Core/NavigationBreadcrumbs/BreadcrumbMenu.tsx
  src/ui/components/Navigation/Core/NavigationBreadcrumbs/NavigationBreadcrumbs.tsx
  src/ui/components/SelectMigrationToWorkbookDialog/Body/Body.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/AdvancedChart/renderer/components/Tooltip/Tooltip.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/ChartsInsights/ChartsInsights.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/ToastContent/ToastContent.tsx
  src/ui/libs/DatalensChartkit/components/Drill/Drill.tsx
  src/ui/registry/units/common/types/components/PlaceholderIllustrationImage.ts
  src/ui/units/auth/components/Signin/Signin.tsx
  src/ui/units/collections-navigation/components/CollectionBreadcrumbs/CollectionBreadcrumbs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

register Trino
  src/server/modes/charts/plugins/ql/utils/connection.ts
  src/shared/modules/ql-helpers.ts
Due: none

Update ru.json
  src/i18n-keysets/auth.dialog-change-password/ru.json
Due: none

Update en.json
  src/i18n-keysets/auth.dialog-change-password/en.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/auth.dialog-change-password/en.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/auth.dialog-change-password/ru.json
Due: none

Enable QL-charts for Trino connector (#2563)
  src/server/modes/charts/plugins/ql/utils/connection.ts
  src/shared/modules/ql-helpers.ts
Due: none

Bump version to 0.2974.0 [release]
  package-lock.json
  package.json
Due: none

Fix IPv6 listen after restart
  deploy/nginx/entrypoint.sh
Due: none

wip
  src/ui/components/ButtonAttach/ButtonAttach.tsx
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.scss
  src/ui/components/ErrorContent/ErrorContent.tsx
  src/ui/components/ErrorPage/ErrorPage.tsx
  src/ui/registry/units/common/types/components/OAuthTokenButton.ts
  src/ui/styles/base.scss
  src/ui/units/connections/components/ConnectorForm/FormActions/CheckParamsButton/CheckParamsButton.scss
  src/ui/units/connections/components/ConnectorForm/FormActions/CheckParamsButton/CheckParamsButton.tsx
  src/ui/units/connections/components/ConnectorForm/components/FileInput/FileInput.tsx
  src/ui/units/connections/components/custom-forms/File/File.scss
  src/ui/units/wizard/components/DatasetSelect/DatasetSelectItem.scss
  src/ui/units/wizard/components/DatasetSelect/DatasetSelectItem.tsx
  src/ui/units/wizard/containers/Wizard/Wizard.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix ui-sandbox rerender
  src/ui/libs/DatalensChartkit/ChartKit/plugins/AdvancedChart/renderer/AdvancedChartWidget.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix IPv6 listen after restart (#2566)
  deploy/nginx/entrypoint.sh
Due: none

Bump version to 0.2975.0 [release]
  package-lock.json
  package.json
Due: none

Add reload in chart forwardRef
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove PreWrapTableSetting feature flag
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix ui-sandbox rerender (#2567)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/AdvancedChart/renderer/AdvancedChartWidget.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2976.0 [release]
  package-lock.json
  package.json
Due: none

Fix line-break setting in ql table widget
  src/server/modes/charts/plugins/ql/module/config/build-chart-config.ts
Due: none

Remove PreWrapTableSetting feature flag (#2569)
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2977.0 [release]
  package-lock.json
  package.json
Due: none

wip
  src/ui/units/connections/components/ErrorView/ErrorView.tsx
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/datasets/components/DatasetTable/components/AggregationSelect/AggregationSelect.tsx
  src/ui/units/datasets/components/DatasetTable/components/DisplaySettings.tsx
  src/ui/units/datasets/components/DatasetTable/components/TypeSelect/TypeSelect.tsx
  src/ui/units/datasets/components/RelationDialog/RelationDialog.tsx
  src/ui/units/datasets/components/SourceEditorDialog/components/ParamSelector.tsx
  src/ui/units/datasets/components/SourceEditorDialog/utils/validation.ts
  src/ui/units/datasets/containers/Dataset/ActionPanelRightItems.tsx
  src/ui/units/gallery/components/blocks/PageHeader/PageHeader.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/wizard/containers/Wizard/SectionDataset/DatasetItem/DatasetItem.tsx
  src/ui/utils/validation.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove unused flags
  src/server/components/features/features-list/BlankChart.ts
  src/server/components/features/features-list/PreWrapTableSetting.ts
  src/shared/types/feature.ts
Due: none

Supported some svg attributes and tags
  src/ui/libs/DatalensChartkit/modules/html-generator/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix line-break setting in ql table widget (#2570)
  src/server/modes/charts/plugins/ql/module/config/build-chart-config.ts
Due: none

Bump version to 0.2978.0 [release]
  package-lock.json
  package.json
Due: none

Remove unused flags (#2571)
  src/server/components/features/features-list/BlankChart.ts
  src/server/components/features/features-list/PreWrapTableSetting.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.2979.0 [release]
  package-lock.json
  package.json
Due: none

Fix dl-gallery technical after release issues
  src/i18n-keysets/gallery.all-page.view/en.json
  src/i18n-keysets/gallery.all-page.view/ru.json
  src/i18n-keysets/gallery.view/en.json
  src/i18n-keysets/gallery.view/ru.json
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/styles/mixins.scss
  src/ui/units/gallery/components/blocks/GalleryCardLabels/GalleryCardLabels.scss
  src/ui/units/gallery/components/blocks/GalleryCardLabels/GalleryCardLabels.tsx
  src/ui/units/gallery/components/blocks/GalleryCardPreview/GalleryCardPreview.scss
  src/ui/units/gallery/components/pages/AllPage/AllPage.scss
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/AllPage/hooks.ts
  src/ui/units/gallery/components/pages/CardPage/CardPage.scss
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/CardPage/hooks/useErrorLayoutAdjustment.ts
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
  src/ui/units/gallery/components/pages/hooks/useActionPanelLayout.ts
  src/ui/units/gallery/components/pages/hooks/useElementRect.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/ui/units/auth/utils/validation.ts
  src/ui/units/connections/components/custom-forms/GSheetsV2/components/AdditionalTitleContent/index.tsx
  src/ui/units/connections/components/custom-forms/components/ListItem/ActionErrorView.tsx
  src/ui/units/connections/store/utils/validation.ts
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix package.json
  package-lock.json
  package.json
Due: none

Pass cart revId to widget menu
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/components/storage/types.ts
  src/server/components/charts-engine/runners/common.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Pass revId in chart data (#2574)
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/components/storage/types.ts
  src/server/components/charts-engine/runners/common.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2980.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/ui/components/DropdownAction/DropdownAction.tsx
  src/ui/components/Select/hooks/useSelectAsyncFetch/useSelectAsyncFetch.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  src/ui/registry/units/chart/functions-map.ts
  src/ui/registry/units/chart/types/functions/get-chartkit-holidays.ts
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/types/components/Banner.ts
  src/ui/tsconfig.json
  src/ui/units/auth/components/Signup/Signup.tsx
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/connections/components/custom-forms/GSheetsV2/components/AdditionalTitleContent/index.tsx
  src/ui/units/connections/components/custom-forms/components/ListItem/ActionErrorView.tsx
  src/ui/units/service-settings/containers/CreateProfilePage/CreateProfilePage.tsx
  src/ui/units/service-settings/containers/UserProfilePage/UserProfilePage.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add reload in chart forwardRef (#2568)
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2981.0 [release]
  package-lock.json
  package.json
Due: none

fix
  package-lock.json
  package.json
Due: none

Refactoring of chartkit refs types
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/DashKit/plugins/Widget/types.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/ChartKitBase.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/types.ts
  src/ui/libs/DatalensChartkit/types/charts.ts
  src/ui/units/preview/components/Preview/Preview.tsx
  src/ui/units/ql/containers/PanePreview/PanePreview.tsx
  src/ui/units/wizard/containers/Wizard/SectionPreview/SectionPreview.tsx
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/WizardActionPanel.tsx
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/useWizardActionPanel.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix disabled button in workbook import if you click on row with importing status
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/CreateWorkbookDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
