Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Temp enable GroupControls for os
  src/server/components/features/features-list/GroupControls.ts
Due: none

fix requesting typed query data (#756)
  src/server/modes/charts/plugins/control/url/typed-query/index.ts
Due: none

Bump version to 0.1427.0 [release]
  package-lock.json
  package.json
Due: none

Fix fillSelectorSettingsDialogFields
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

версия 0.1410.0
  CHANGELOG.md
  README.md
Due: none

Bar and backgroundColors in flat table
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/components/Bar/Bar.scss
  src/ui/components/Table/components/Bar/Bar.tsx
  src/ui/components/Table/components/Bar/types.ts
  src/ui/components/Table/components/Bar/utils.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Sticky header
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

markup
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/MarkupCell/MarkupCell.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add widgetRendering time
  src/ui/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Hierarchy click handler
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/BarCell/BarCell.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add tree click handler
  src/shared/constants/qa/chart.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/MarkupCell/MarkupCell.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/TreeCell/TreeCell.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/TreeCell/TreeCell.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/tree.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix table column width
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/utils.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add some qa attributes
  src/shared/constants/qa/chart.ts
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/tree.ts
  tests/opensource-suites/wizard/visualizations/flat-table/coloring.test.ts
  tests/opensource-suites/wizard/visualizations/flat-table/column-settings.test.ts
  tests/page-objects/ql/QLPage.ts
  tests/page-objects/wizard/ChartKit.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix typings
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/components/Bar/Bar.scss
  src/ui/components/Table/components/Bar/Bar.tsx
  src/ui/components/Table/components/Bar/types.ts
  src/ui/components/Table/components/Bar/utils.ts
  src/ui/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add Table component based on @tanstack/react-table
  package-lock.json
  package.json
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/components/Paginator/Paginator.scss
  src/ui/components/Table/components/Paginator/Paginator.tsx
  src/ui/components/Table/components/SortIcon/SortIcon.tsx
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/init.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Chart-chart
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/action-params.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/action-params.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/migrate-to-old-format.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Use new TableWidget only for flat tables
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix test
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/BarCell/BarCell.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix footer styles
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  tests/page-objects/wizard/ChartKit.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix number formatting
  src/shared/constants/qa/chart.ts
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/components/Paginator/Paginator.scss
  src/ui/components/Table/components/Paginator/Paginator.tsx
  src/ui/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Paginator/Paginator.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Paginator/Paginator.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
  tests/page-objects/wizard/ChartKit.ts
  tests/suites/wizard/flatTable/pagination.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix test
  src/shared/constants/qa/chart.ts
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  tests/opensource-suites/ql/visualizations/flat-table/column-settings.test.ts
  tests/page-objects/wizard/ChartKit.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix drilldown test
  src/ui/components/Table/Table.tsx
  tests/suites/wizard/flatTable/sort.test.ts
  tests/suites/wizard/hierarchy/drillDownReset.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix table export
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Change @tanstack/react-table version
  package-lock.json
  package.json
Due: none

Fix column width test
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/types.ts
  src/ui/components/Table/utils.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add showing error when entry duplication failed. (#721)
  src/i18n-keysets/new-workbooks/en.json
  src/i18n-keysets/new-workbooks/ru.json
  src/ui/units/workbooks/components/DuplicateEntryDialog/DuplicateEntryDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1428.0 [release]
  package-lock.json
  package.json
Due: none

Disable GroupControls for os
  src/server/components/features/features-list/GroupControls.ts
Due: none

External sorting
  src/ui/components/Table/Table.scss
  src/ui/components/Table/Table.tsx
  src/ui/components/Table/components/SortIcon/SortIcon.tsx
  src/ui/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/TableWidget.tsx
  tests/suites/wizard/flatTable/sort.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add indirect relation unknown relations support
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpersControls.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix typo, optimize filter
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpersControls.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

indirectRelation -> IsIndirectRelation
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpersControls.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix workbook page loading, when breadcrumbs error (#747)
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
  src/ui/units/workbooks/store/reducers/workbook-page.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1429.0 [release]
  package-lock.json
  package.json
Due: none

Fix displaying saved new dash relation
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpersChart.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpersControls.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Disable close relations by click outside and by esc
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Use ButtonFavorite from registry in WorkbookPage
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

indirectAliases popup fix
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix displaying saved new dash relation, disable close relations modal by esc and click by outside (#759)
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpersChart.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpersControls.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
