Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Rm ts-ignore
  src/ui/units/workbooks/components/WorkbookMainTabContent/WorkbookMainTabContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix MarkupWidget
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Markup/renderer/MarkupWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Refactor
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/WorkbookMainTabContent/WorkbookMainTabContent.tsx
  src/ui/units/workbooks/components/WorkbookTabContent/WorkbookTabContent.scss
  src/ui/units/workbooks/components/WorkbookTabContent/WorkbookTabContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix incorrect processing of a parameter in the chart after renaming
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkitAdapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  src/ui/units/wizard/actions/utils/__tests__/getDatasetUpdates.test.ts
  src/ui/units/wizard/actions/utils/getDatasetUpdates.ts
  src/ui/units/wizard/containers/Wizard/SectionDataset/DatasetItem/DatasetItem.tsx
  tests/opensource-suites/wizard/fields/parameters.test.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/page-objects/wizard/SectionVisualization.ts
  tests/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Incorrect processing of a parameter in the chart after renaming
  tests/opensource-suites/wizard/fields/parameters.test.ts
  tests/page-objects/wizard/FilterEditor.ts
Due: none

feat(ql): add support filling colors with multiple values (#536)
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/utils/autofill-helpers.ts
  src/server/modes/charts/plugins/ql/utils/colors.ts
  src/server/modes/charts/plugins/ql/utils/visualization-utils.ts
Due: none

Bump version to 0.1255.0 [release]
  package-lock.json
  package.json
Due: none

Fix incorrect processing of a parameter in the chart after renaming (#540)
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkitAdapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  src/ui/units/wizard/actions/utils/__tests__/getDatasetUpdates.test.ts
  src/ui/units/wizard/actions/utils/getDatasetUpdates.ts
  src/ui/units/wizard/containers/Wizard/SectionDataset/DatasetItem/DatasetItem.tsx
  tests/opensource-suites/wizard/fields/parameters.test.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/page-objects/wizard/FilterEditor.ts
  tests/page-objects/wizard/SectionVisualization.ts
  tests/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1256.0 [release]
  package-lock.json
  package.json
Due: none

Fixes
  src/shared/constants/qa/action-panel.ts
  src/ui/units/dash/components/DashActionPanel/EditControls/EditControls.tsx
  src/ui/units/dash/components/DashActionPanel/SaveDropDown/SaveDropDown.tsx
  tests/opensource-suites/dash/base/actionPanel.test.ts
  tests/opensource-suites/dash/base/relations.test.ts
  tests/opensource-suites/dash/revisions/revisionsListCopyDashboards.test.ts
  tests/opensource-suites/dash/selectors/datetimeSelectors.test.ts
  tests/opensource-suites/dash/tabs/tabsWidgetOrder.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/base/actionPanel.test.ts
  tests/suites/dash/revisions/revisionsListCopyDashboards.test.ts
  tests/suites/dash/tabs/tabsWidgetOrder.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add link to Yandex Documents in DialogAddDocument (#530)
  src/i18n-keysets/connections.yadocs.view/en.json
  src/i18n-keysets/connections.yadocs.view/ru.json
  src/ui/units/connections/components/custom-forms/Yadocs/components/DialogAddDocument/DialogAddDocument.scss
  src/ui/units/connections/components/custom-forms/Yadocs/components/DialogAddDocument/DialogAddDocument.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1257.0 [release]
  package-lock.json
  package.json
Due: none

Move another deleteDash in afterEach
  tests/opensource-suites/dash/base/relations.test.ts
  tests/opensource-suites/dash/selectors/datetimeSelectors.test.ts
Due: none

Fix after review
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
  src/ui/units/workbooks/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove afterEach hook from relations
  tests/opensource-suites/dash/base/relations.test.ts
Due: none

Fix e2e report publish for external contributors
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_tests_report.yml
Due: none

Migrate docs endpoints to single host (#517)
  src/ui/components/FieldEditor/components/DocSection.tsx
  src/ui/utils/__tests__/docs.test.ts
  src/ui/utils/docs/helpers.ts
  src/ui/utils/docs/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1258.0 [release]
  package-lock.json
  package.json
Due: none

Add report comment
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_tests_report.yml
Due: none

Fix e2e report publish for external contributors (#541)
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_tests_report.yml
Due: none

Bump version to 0.1259.0 [release]
  package-lock.json
  package.json
Due: none

Remove publish report from PR E2E job
  .github/workflows/e2e_tests.yml
Due: none

logging-visualization-draft
  src/server/components/charts-engine/components/chart-validator.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/constants/index.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/configs/shared/ql-chart-template.ts
  src/server/modes/charts/plugins/ql/index.ts
  src/shared/constants/entry.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkitAdapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix report workflow
  .github/workflows/e2e_tests_report.yml
Due: none

Return check duplicates for getting workbook entries
  src/ui/units/workbooks/store/reducers/workbook-page.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Support workbookId in Control
  src/server/modes/charts/plugins/request-with-dataset/middlewareAdapters/charts-with-dataset.ts
  src/server/modes/charts/plugins/request-with-dataset/middlewareAdapters/controls-with-dataset.ts
  src/server/modes/charts/plugins/request-with-dataset/request-dataset.ts
  src/shared/schema/bi/actions/datasets.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

e2e(wizard): Date and time for the Y axis in a line chart
  package.json
  tests/data/us-e2e-data
  tests/opensource-suites/__screenshots__/wizard/visualizations/line.test.ts/Wizard-Line-chart-Date-and-time-on-the-Y-axis-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/line.test.ts
  tests/package.json
  tests/page-objects/ChartPage.ts
  tests/playwright.config.ts
Due: none

Revert old publish
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_tests_report.yml
Due: none

Bump version to 0.1260.0 [release]
  package-lock.json
  package.json
Due: none

Add config tab for markup chart
  src/server/components/charts-engine/components/chart-generator.ts
  src/server/components/charts-engine/components/chart-validator.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/units/editor/configs/chart/chart-editor-types.ts
  src/ui/units/editor/types/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Layout fixes
  src/ui/units/dash/components/TwoColumnDialog/TwoColumnDialog.scss
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControl.scss
  src/ui/units/dash/containers/Dialogs/Widget/TabMenu/TabMenu.scss
  src/ui/units/dash/containers/Dialogs/Widget/TabMenu/TabMenu.tsx
  src/ui/units/dash/containers/Dialogs/Widget/Widget.scss
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

PR fixes
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Markup/renderer/MarkupWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Markup/types.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix config tab id for markup
  src/server/components/charts-engine/components/chart-generator.ts
  src/server/components/charts-engine/components/chart-validator.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/units/editor/configs/chart/chart-editor-types.ts
  src/ui/units/editor/types/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix report publish for E2E (#542)
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_tests_report.yml
Due: none

Bump version to 0.1261.0 [release]
  package-lock.json
  package.json
Due: none

Remove publish report from e2e
  .github/workflows/e2e_tests.yml
Due: none

Support br, color & size in Markup
  src/ui/components/Markup/Markup.tsx
  src/ui/components/Markup/types.ts
  src/ui/components/Markup/utils.test.ts
  src/ui/components/Markup/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add Markup plugin for Chartkit (#538)
  src/server/components/charts-engine/components/chart-generator.ts
  src/server/components/charts-engine/components/chart-validator.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/constants/index.ts
  src/server/components/charts-engine/runners/index.ts
  src/shared/constants/entry.ts
  src/shared/constants/qa/editor.ts
  src/shared/types/widget.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkitAdapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Markup/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Markup/renderer/MarkupWidget.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Markup/renderer/MarkupWidget.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Markup/renderer/markupHelpers.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Markup/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/types.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/units/editor/components/NodeTemplates/config.ts
  src/ui/units/editor/configs/chart/chart-editor-types.ts
  src/ui/units/editor/types/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1262.0 [release]
  package-lock.json
  package.json
Due: none
