Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Comment
  src/ui/components/DashKit/plugins/Title/Title.scss
Due: prettier --write, stylelint --fix --quiet

fix
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add padding-top only when showBgColor
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Title/constants.ts
  src/ui/components/DashKit/plugins/Title/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix hint tooltip in TableOfContent
  src/ui/units/dash/containers/TableOfContent/TableOfContent.scss
  src/ui/units/dash/containers/TableOfContent/TableOfContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix pie chart tooltip (gravity charts) (#2723)
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3115.0 [release]
  package-lock.json
  package.json
Due: none

Refactor getTopOffsetBySize
  src/ui/components/DashKit/plugins/Title/constants.ts
  src/ui/components/DashKit/plugins/Title/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add stats fot the dash API
  src/server/modes/charts/plugins/dash-api.ts
Due: none

Swagger
  src/server/components/app-docs/index.ts
  src/server/components/sdk/dash.ts
  src/server/controllers/public-api.ts
  src/server/expresskit.ts
  src/server/types/public-api.ts
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/gateway-utils.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/sdk/zod-shemas/dash-api.schema.ts
  src/shared/sdk/zod-shemas/dataset-api.schema.ts
Due: none

Update hint icon sizes in dash and report
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Title/utils.ts
  src/ui/components/MarkdownHelpPopover/MarkdownHelpPopover.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/server/modes/charts/plugins/dash-api.ts
Due: none

Update @gravity-ui/chartkit to 7.3.0
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

update screenshots
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  tests/opensource-suites/__screenshots__/ql/visualizations/pie/labels.test.ts/QL-Pie-chart-Column-names-in-Labels-section-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-3.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-4.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-5.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-6.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/hierarchy.test.ts/Wizard-Pie-chart-Go-to-the-next-level-when-clicking-on-a-chart-with-a-hierarchy-screenshot-1.png
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

update screenshots
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
Due: none

Rename
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Title/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix title hints position in dash (#2726)
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Title/constants.ts
  src/ui/components/DashKit/plugins/Title/utils.ts
  src/ui/units/dash/containers/TableOfContent/TableOfContent.scss
  src/ui/units/dash/containers/TableOfContent/TableOfContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3116.0 [release]
  package-lock.json
  package.json
Due: none

Revert "Fix categories (combined chart) (#2681)"
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
Due: none

wip
  src/server/modes/charts/plugins/dash-api.ts
Due: none

Update hint icon sizes in dash (#2727)
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Title/utils.ts
  src/ui/components/MarkdownHelpPopover/MarkdownHelpPopover.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3117.0 [release]
  package-lock.json
  package.json
Due: none

Revert "Fix categories (combined chart)" (#2730)
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
Due: none

Bump version to 0.3118.0 [release]
  package-lock.json
  package.json
Due: none

Fix scrollable container usage
  src/ui/components/FloatMenu/FloatMenu.tsx
  src/ui/components/MobileHeader/MobileHeaderComponent/MobileHeaderComponent.tsx
  src/ui/entries/dl-main.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Body/context.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeaderMobile.scss
  src/ui/utils/scrollableContainerContext.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update @gravity-ui/chartkit to 7.3.0 (#2729)
  package-lock.json
  package.json
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  tests/opensource-suites/__screenshots__/ql/visualizations/pie/labels.test.ts/QL-Pie-chart-Column-names-in-Labels-section-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-3.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-4.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-5.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-6.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/hierarchy.test.ts/Wizard-Pie-chart-Go-to-the-next-level-when-clicking-on-a-chart-with-a-hierarchy-screenshot-1.png
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3119.0 [release]
  package-lock.json
  package.json
Due: none

Move condition to const
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add "Headers with hints" screenshot test
  tests/data/us-e2e-data.sql
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Headers-with-hints-screenshot-1.png
  tests/opensource-suites/dash/screenshots/baseWidgets.test.ts
Due: none

Fix dl-tooltip
  src/ui/libs/DatalensChartkit/ChartKit/components/ChartKitTooltip/ChartKitTooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add stats fot the dash API (#2728)
  src/server/modes/charts/plugins/dash-api.ts
Due: none

Bump version to 0.3120.0 [release]
  package-lock.json
  package.json
Due: none

Update screenshots
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
Due: none

some gallery fixes
  src/ui/units/gallery/components/blocks/GalleryCardLabels/GalleryCardLabels.scss
  src/ui/units/gallery/components/pages/CardPage/CardPage.scss
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update screenshots
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
Due: none

fix tooltip
  src/ui/libs/DatalensChartkit/ChartKit/components/ChartKitTooltip/ChartKitTooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
