Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add ymap to filtering charts list of relations (#1467)
  src/ui/units/dash/modules/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2043.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/dashkit 8.12.0 -> 8.13.0
  package-lock.json
  package.json
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix: pagination control is not displayed in tables with hierarchies (#1468)
  src/server/modes/charts/plugins/datalens/config/config.ts
Due: none

Bump version to 0.2044.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/dashkit 8.12.0 -> 8.13.0 (#1469)
  package-lock.json
  package.json
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2045.0 [release]
  package-lock.json
  package.json
Due: none

Fix null value formatting
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/formatting.test.ts/Wizard-Pivot-table-Null-values-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pivot-table/formatting.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix row grouping
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Grouping-rows-with-the-same-value-in-the-previous-column-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pivot-table/header.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

disable flag
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
Due: none

enable flag
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
Due: none

remove comments
  tests/opensource-suites/wizard/visualizations/pivot-table/header.test.ts
Due: none

Update NewTablePluginForWizardAndQl.ts
  src/server/components/features/features-list/NewTablePluginForWizardAndQl.ts
Due: none

Add collectChartkitStats to sdk
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/types/dash.ts
  src/shared/types/charts.ts
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/ChartsInsights/ChartsInsights.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Inspector/Timings/Timings.tsx
  src/ui/libs/DatalensChartkit/components/SideMarkdown/SideMarkdown.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/register.tsx
  src/ui/units/dash/modules/pushStats.ts
  src/ui/utils/getDistinctsApiV2.ts
  src/ui/utils/renderMarkdown.ts
  src/ui/utils/sdkRequests.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove status type
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/types/dash.ts
Due: none

Fixed calculation of categories for two fields on the x axis
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepare-bar-x.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/getXAxisValue.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/types.ts
Due: none

Fix null value formatting (#1470)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/formatting.test.ts/Wizard-Pivot-table-Null-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Grouping-rows-with-the-same-value-in-the-previous-column-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pivot-table/formatting.test.ts
  tests/opensource-suites/wizard/visualizations/pivot-table/header.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2046.0 [release]
  package-lock.json
  package.json
Due: none

Update url for test
  tests/suites/dash/statistics/collectChartStats.test.ts
Due: none

Fixed calculation of categories for two fields on the x axis (#1473)
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepare-bar-x.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/getXAxisValue.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/types.ts
Due: none

Bump version to 0.2047.0 [release]
  package-lock.json
  package.json
Due: none

Fix table cell width (with parent scale)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/useCellSizes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix table cell width (with parent scale) (#1474)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/useCellSizes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2048.0 [release]
  package-lock.json
  package.json
Due: none

Fix styles
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
Due: prettier --write, stylelint --fix --quiet

Remove unused flag
  src/server/components/features/features-list/ControlBuilder.ts
  src/shared/types/feature.ts
Due: none

Connector form fixes
  src/ui/units/connections/components/ConnectorForm/ConnectorForm.tsx
  src/ui/units/connections/components/ConnectorForm/FormActions/selectors.ts
  src/ui/units/connections/components/ConnectorForm/components/Select/Select.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (Russian)
  src/i18n-keysets/dash.empty-state.view/ru.json
Due: none

Add changeInitialForm action
  src/ui/units/connections/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (English)
  src/i18n-keysets/dash.empty-state.view/en.json
Due: none

Filter unused fields for api/run
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/runners/chart.ts
  src/server/components/charts-engine/runners/common.ts
  src/server/components/charts-engine/runners/control.ts
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/worker.ts
Due: none

Remove unused flag (#1476)
  src/server/components/features/features-list/ControlBuilder.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.2049.0 [release]
  package-lock.json
  package.json
Due: none

Translations update from Weblate Gravity for PR #1466 (#1477)
  src/i18n-keysets/dash.empty-state.view/en.json
  src/i18n-keysets/dash.empty-state.view/ru.json
Due: none

Filter unused fields for secure api/run (#1478)
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/types.ts
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/runners/chart.ts
  src/server/components/charts-engine/runners/common.ts
  src/server/components/charts-engine/runners/control.ts
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/worker.ts
Due: none

Bump version to 0.2050.0 [release]
  package-lock.json
  package.json
Due: none

Dash fixed area improvements (#1466)
  src/i18n-keysets/dash.empty-state.view/en.json
  src/i18n-keysets/dash.empty-state.view/ru.json
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
