Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.2947.0 [release]
  package-lock.json
  package.json
Due: none

Bump version to 0.2948.0 [release]
  package-lock.json
  package.json
Due: none

work of month
  src/shared/schema/anonymous-schema/public-gallery/actions.ts
  src/ui/units/gallery/components/blocks/WorkOfMonth/WorkOfMonth.scss
  src/ui/units/gallery/components/blocks/WorkOfMonth/WorkOfMonth.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
  src/ui/units/gallery/components/pages/constants.ts
  src/ui/units/gallery/components/utils/navigation.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Gallery: work of the month (#2530)
  src/shared/schema/anonymous-schema/public-gallery/actions.ts
  src/ui/units/gallery/components/blocks/WorkOfMonth/WorkOfMonth.scss
  src/ui/units/gallery/components/blocks/WorkOfMonth/WorkOfMonth.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
  src/ui/units/gallery/components/pages/constants.ts
  src/ui/units/gallery/components/utils/navigation.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2949.0 [release]
  package-lock.json
  package.json
Due: none

Fix iframe height
  src/ui/units/gallery/components/pages/CardPage/CardPage.scss
Due: prettier --write, stylelint --fix --quiet

Fix pages width
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/units/gallery/components/App.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.scss
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.scss
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
  src/ui/units/gallery/components/pages/hooks/useActionPanelLayout.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix spacings on non-promo page
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add spacing to retry button
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix loader for external selectors
  src/ui/components/Widgets/Chart/ChartSelector.tsx
  src/ui/components/Widgets/Chart/ChartWidget.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Use DL.IS_NOT_AUTHENTICATED for checking promo-page
  src/ui/units/gallery/components/App.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix promo-page gallery-subpages width (#2532)
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.scss
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.scss
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
  src/ui/units/gallery/components/pages/hooks/useActionPanelLayout.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2950.0 [release]
  package-lock.json
  package.json
Due: none

Fix show details button for export
  src/ui/components/CollectionsStructure/components/EntriesNotificationCut/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

wip
  src/shared/modules/markdown/markdown.ts
  src/shared/schema/bi/types/forms.ts
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogExternalControl/DialogExternalControl.tsx
  src/ui/components/DialogFilter/DialogFilter.scss
  src/ui/components/DialogFilter/DialogFilter.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/components/EntryDialogues/DialogDashMeta/DialogDashMeta.tsx
  src/ui/components/EntryDialogues/DialogEditFavoritesAlias/DialogEditFavoritesAlias.tsx
  src/ui/components/EntryDialogues/EntryDialogBase/EntryDialogBase.tsx
  src/ui/components/FieldEditor/FieldEditor.tsx
  src/ui/components/Navigation/Core/NavigationModal.js
  src/ui/components/Widgets/Chart/components/ChartInfoIcon.tsx
  src/ui/datalens/pages/OwnUserProfilePage/OwnUserProfilePage.tsx
  src/ui/units/connections/components/ConnectorForm/FormActions/CheckParamsButton/CheckParamsButton.tsx
  src/ui/units/connections/components/custom-forms/GSheetsV2/components/AdditionalTitleContent/index.tsx
  src/ui/units/connections/components/custom-forms/components/ListItem/ActionErrorView.tsx
  src/ui/units/dash/containers/Dialogs/Connections/ConnectByAlias/ConnectByAlias.js
  src/ui/units/dash/containers/Dialogs/Connections/Connections.js
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
  src/ui/units/datasets/components/SourceEditorDialog/SourceEditorDialog.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/service-settings/containers/CreateProfilePage/CreateProfilePage.tsx
  src/ui/units/service-settings/containers/UserProfilePage/UserProfilePage.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorGradient/DialogColorGradient.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorGradient/DialogColorGradient.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/units/wizard/components/Dialogs/Settings/SettingSwitcher/SettingSwitcher.tsx
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix show details button for export (#2535)
  src/ui/components/CollectionsStructure/components/EntriesNotificationCut/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2951.0 [release]
  package-lock.json
  package.json
Due: none

Fix markup
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/ColorAccentRow/ColorAccentRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/InnerTitleRow/InnerTitleRow.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ParameterNameInput/ParameterNameInput.tsx
  src/ui/components/ControlComponents/Sections/OperationSelector/OperationSelector.tsx
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogExtendedSettings/DialogExtendedSettings.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogParameter/DialogParameter.tsx
  src/ui/components/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/components/FieldEditor/components/SourceSection.tsx
  src/ui/components/MarkdownHelpPopover/MarkdownHelpPopover.tsx
  src/ui/components/RelativeDatesPicker/RelativeDatesPicker.tsx
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Inspector/Timings/Timings.tsx
  src/ui/units/connections/components/ConnectorForm/components/Label/Label.tsx
  src/ui/units/connections/components/custom-forms/File/components/AddFileButton.tsx
  src/ui/units/connections/components/custom-forms/GSheetsV2/components/AdditionalTitleContent/GAuthButton.tsx
  src/ui/units/connections/components/custom-forms/GSheetsV2/components/AdditionalTitleContent/index.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/AdditionalTitleContent.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/DialogAddDocument/DialogAddDocument.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/LoadPriority.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/MaxConnection.tsx
  src/ui/units/dash/containers/Dialogs/Settings/components/OtherSettings.tsx
  src/ui/units/datasets/components/DatasetPanel/DatasetPanel.tsx
  src/ui/units/datasets/components/ParametersSection/components/HeaderWithTooltip/HeaderWithTooltip.tsx
  src/ui/units/datasets/components/RelationDialog/RelationDialog.tsx
  src/ui/units/datasets/components/SourceEditorDialog/components/SourceHelpTooltip.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorGradient/DialogColorGradient.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorGradient/DialogColorGradient.tsx
  src/ui/units/wizard/components/Dialogs/DialogColumnSettings/components/Subheader/Subheader.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.scss
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/components/Dialogs/components/TitleWithTooltip/TitleWithTooltip.scss
  src/ui/units/wizard/components/Dialogs/components/TitleWithTooltip/TitleWithTooltip.tsx
  src/ui/units/wizard/components/HierarchyEditor/HierarchyEditor.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Translated using Weblate (English)
  src/i18n-keysets/component.aside-header.view/en.json
  src/i18n-keysets/component.aside-header.view/ru.json
  src/i18n-keysets/gallery.all-page.view/en.json
  src/i18n-keysets/gallery.all-page.view/ru.json
  src/i18n-keysets/gallery.card-page.view/en.json
  src/i18n-keysets/gallery.card-page.view/ru.json
  src/i18n-keysets/gallery.landing.view/en.json
  src/i18n-keysets/gallery.landing.view/ru.json
  src/i18n-keysets/gallery.view/en.json
  src/i18n-keysets/gallery.view/ru.json
Due: none

Fis status in entries resolve of export workbook
  src/ui/store/actions/collectionsStructure/export.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translations update from Weblate Gravity for PR #2520 (#2538)
  src/i18n-keysets/component.aside-header.view/en.json
  src/i18n-keysets/component.aside-header.view/ru.json
  src/i18n-keysets/gallery.all-page.view/en.json
  src/i18n-keysets/gallery.all-page.view/ru.json
  src/i18n-keysets/gallery.card-page.view/en.json
  src/i18n-keysets/gallery.card-page.view/ru.json
  src/i18n-keysets/gallery.landing.view/en.json
  src/i18n-keysets/gallery.landing.view/ru.json
  src/i18n-keysets/gallery.view/en.json
  src/i18n-keysets/gallery.view/ru.json
Due: none

Fix interpolated text
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add texts to WorkOfTheMonth
  src/ui/units/gallery/components/blocks/WorkOfMonth/WorkOfMonth.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add gallery main texts (#2520)
  src/i18n-keysets/component.aside-header.view/en.json
  src/i18n-keysets/component.aside-header.view/ru.json
  src/i18n-keysets/gallery.all-page.view/en.json
  src/i18n-keysets/gallery.all-page.view/ru.json
  src/i18n-keysets/gallery.card-page.view/en.json
  src/i18n-keysets/gallery.card-page.view/ru.json
  src/i18n-keysets/gallery.landing.view/en.json
  src/i18n-keysets/gallery.landing.view/ru.json
  src/i18n-keysets/gallery.view/en.json
  src/i18n-keysets/gallery.view/ru.json
  src/ui/units/gallery/components/blocks/WorkOfMonth/WorkOfMonth.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
  src/ui/units/gallery/components/utils/i18n.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2952.0 [release]
  package-lock.json
  package.json
Due: none

AllPage and LandingPage paublic gallery fixes
  src/shared/types/public-gallery.ts
  src/ui/units/gallery/components/blocks/WorkOfMonth/WorkOfMonth.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Enable public gallery import
  src/server/types/gateway.ts
  src/shared/schema/index.ts
  src/shared/types/public-gallery.ts
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/CreateWorkbookDialog.tsx
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/ImportFileField/ImportFileField.tsx
  src/ui/store/actions/collectionsStructure/export.ts
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix typo
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/CreateWorkbookDialog.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix List
  src/shared/modules/markdown/markdown.ts
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/components/DatasetFieldList/DatasetFieldList.scss
  src/ui/components/DatasetFieldList/DatasetFieldList.tsx
  src/ui/components/UserMenu/UserAvatar.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix CardPage errors handling
  src/shared/utils/manualError.ts
  src/ui/components/ErrorContent/ErrorContent.tsx
  src/ui/typings/error.ts
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/utils/errors/manual.ts
  src/ui/utils/errors/parse.ts
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add workbook public gallery import (#2541)
  src/server/types/gateway.ts
  src/shared/schema/index.ts
  src/shared/types/public-gallery.ts
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/CreateWorkbookDialog.tsx
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/ImportFileField/ImportFileField.tsx
  src/ui/store/actions/collectionsStructure/export.ts
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2953.0 [release]
  package-lock.json
  package.json
Due: none

wip
  src/ui/components/Breadcrumbs/CollectionsStructureBreadcrumbs/CollectionsStructureBreadcrumbs.tsx
  src/ui/components/ButtonAttach/ButtonAttach.tsx
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/ColorPalettesCard.tsx
  src/ui/components/ControlComponents/Dialog/Dialog.tsx
  src/ui/components/ControlComponents/Sections/ValueSelector/ListValueControl/Acceptable/Acceptable.tsx
  src/ui/components/DialogCommon/DialogCommon.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Rename styles to style
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/hooks/useActionPanelLayout.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Replace ActionPanel prop pageOffset to styles
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
  src/ui/units/gallery/components/pages/hooks/useActionPanelLayout.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

AllPage and LandingPage paublic gallery fixes (#2540)
  src/shared/types/public-gallery.ts
  src/ui/units/gallery/components/blocks/WorkOfMonth/WorkOfMonth.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2954.0 [release]
  package-lock.json
  package.json
Due: none

Add gallery dropdown menu
  src/i18n-keysets/gallery.card-page.view/en.json
  src/i18n-keysets/gallery.card-page.view/ru.json
  src/ui/units/gallery/components/pages/CardPage/CardPage.scss
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update texts
  src/i18n-keysets/gallery.card-page.view/en.json
  src/i18n-keysets/gallery.card-page.view/ru.json
  src/ui/units/gallery/components/pages/CardPage/CardPage.scss
  src/ui/units/gallery/components/pages/CardPage/CardPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Translated using Weblate (Russian)
  src/i18n-keysets/gallery.card-page.view/ru.json
Due: none
