Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Unify markdown defenitions
  src/server/components/charts-engine/components/markdown-plugins/unify-terms.ts
  src/server/components/charts-engine/components/markdown.ts
Due: none

Fix Inspector dialog styles
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Inspector/Inspector.scss
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Inspector/Inspector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix Inspector dialog styles (#910)
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Inspector/Inspector.scss
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Inspector/Inspector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1562.0 [release]
  package-lock.json
  package.json
Due: none

Fix autoheight
  src/ui/components/DashKit/plugins/Text/Text.scss
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/YfmWrapper/YfmWrapper.tsx
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
  src/ui/constants/yfm.ts
  src/ui/registry/units/common/types/components/YfmWrapper.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove extra rerenders on text widgets
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/YfmWrapper/YfmWrapper.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove extra rerenders on text widgets (#911)
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/YfmWrapper/YfmWrapper.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1563.0 [release]
  package-lock.json
  package.json
Due: none

Fix autoheight in texts widgets with formula & magiclinks
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Due: prettier --write, stylelint --fix --quiet

Fix autoheight in texts widgets with formula & magiclinks (#912)
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1564.0 [release]
  package-lock.json
  package.json
Due: none

For wizard/ql charts, store only shared config in entry (#903)
  src/server/components/charts-engine/controllers/charts.ts
Due: none

Bump version to 0.1565.0 [release]
  package-lock.json
  package.json
Due: none

Add feature flag and dialog stubs
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/server/components/features/features-list/DatasetFieldSettings.ts
  src/shared/types/feature.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/constants.ts
  src/ui/units/datasets/components/dialogs/DatasetFieldColors/DatasetFieldColors.scss
  src/ui/units/datasets/components/dialogs/DatasetFieldColors/DatasetFieldColors.tsx
  src/ui/units/datasets/components/dialogs/DatasetFieldFormatting/DatasetFieldFormatting.scss
  src/ui/units/datasets/components/dialogs/DatasetFieldFormatting/DatasetFieldFormatting.tsx
  src/ui/units/datasets/components/dialogs/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove some old heders
  src/ui/store/reducers/asideHeader.ts
  src/ui/units/datasets/containers/Dataset/Dataset.js
  src/ui/units/wizard/containers/App.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add focusable property for dashkit
  package-lock.json
  package.json
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove local RangeDatepicker
  src/i18n-keysets/components.common.RangeDatepicker/en.json
  src/i18n-keysets/components.common.RangeDatepicker/ru.json
  src/ui/components/common/RangeDatepicker/RangeDatepicker.scss
  src/ui/components/common/RangeDatepicker/RangeDatepicker.tsx
  src/ui/components/common/RangeDatepicker/RangeDatepickerProvider.tsx
  src/ui/components/common/RangeDatepicker/components/Content/Container.tsx
  src/ui/components/common/RangeDatepicker/components/Content/Content.tsx
  src/ui/components/common/RangeDatepicker/components/Content/index.ts
  src/ui/components/common/RangeDatepicker/components/Control/Actions.tsx
  src/ui/components/common/RangeDatepicker/components/Control/Control.tsx
  src/ui/components/common/RangeDatepicker/components/Control/Label.tsx
  src/ui/components/common/RangeDatepicker/components/Control/index.ts
  src/ui/components/common/RangeDatepicker/components/Pickers/Pickers.tsx
  src/ui/components/common/RangeDatepicker/components/Pickers/index.ts
  src/ui/components/common/RangeDatepicker/components/Presets/DocTooltip.tsx
  src/ui/components/common/RangeDatepicker/components/Presets/Presets.tsx
  src/ui/components/common/RangeDatepicker/components/Presets/TabsContent.tsx
  src/ui/components/common/RangeDatepicker/components/Presets/index.ts
  src/ui/components/common/RangeDatepicker/components/ZonesList/Switcher.tsx
  src/ui/components/common/RangeDatepicker/components/ZonesList/ZonesList.tsx
  src/ui/components/common/RangeDatepicker/components/ZonesList/index.ts
  src/ui/components/common/RangeDatepicker/components/index.ts
  src/ui/components/common/RangeDatepicker/constants.ts
  src/ui/components/common/RangeDatepicker/index.tsx
  src/ui/components/common/RangeDatepicker/store/index.ts
  src/ui/components/common/RangeDatepicker/store/reducer.ts
  src/ui/components/common/RangeDatepicker/store/types.ts
  src/ui/components/common/RangeDatepicker/types.ts
  src/ui/components/common/RangeDatepicker/useOnClickOutside.ts
  src/ui/components/common/RangeDatepicker/useOnFocusOutside.ts
  src/ui/components/common/RangeDatepicker/utils/flip-dates.ts
  src/ui/components/common/RangeDatepicker/utils/helpers.ts
  src/ui/components/common/RangeDatepicker/utils/index.ts
  src/ui/components/common/RangeDatepicker/utils/presets.ts
  src/ui/registry/units/common/components-map.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove local SimpleDatepicker
  src/shared/schema/bi/types/forms.ts
  src/ui/components/common/SimpleDatepicker/SimpleDatepicker.scss
  src/ui/components/common/SimpleDatepicker/SimpleDatepicker.tsx
  src/ui/components/common/SimpleDatepicker/components/Calendar/Calendar.tsx
  src/ui/components/common/SimpleDatepicker/components/Calendar/Content.tsx
  src/ui/components/common/SimpleDatepicker/components/Calendar/Month.tsx
  src/ui/components/common/SimpleDatepicker/components/Calendar/Year.tsx
  src/ui/components/common/SimpleDatepicker/components/Calendar/Years.tsx
  src/ui/components/common/SimpleDatepicker/components/Calendar/index.ts
  src/ui/components/common/SimpleDatepicker/components/Calendar/types.ts
  src/ui/components/common/SimpleDatepicker/components/Control/Actions.tsx
  src/ui/components/common/SimpleDatepicker/components/Control/Control.tsx
  src/ui/components/common/SimpleDatepicker/components/Control/Input.tsx
  src/ui/components/common/SimpleDatepicker/components/Control/index.ts
  src/ui/components/common/SimpleDatepicker/components/Switcher/Switcher.tsx
  src/ui/components/common/SimpleDatepicker/components/Switcher/SwitcherButton.tsx
  src/ui/components/common/SimpleDatepicker/components/Switcher/index.ts
  src/ui/components/common/SimpleDatepicker/components/index.ts
  src/ui/components/common/SimpleDatepicker/constants.ts
  src/ui/components/common/SimpleDatepicker/index.tsx
  src/ui/components/common/SimpleDatepicker/store/index.ts
  src/ui/components/common/SimpleDatepicker/store/reducer.ts
  src/ui/components/common/SimpleDatepicker/store/types.ts
  src/ui/components/common/SimpleDatepicker/types.ts
  src/ui/components/common/SimpleDatepicker/useOnFocusOutside.ts
  src/ui/components/common/SimpleDatepicker/usePreviousValue.ts
  src/ui/components/common/SimpleDatepicker/utils/calendar-data.ts
  src/ui/components/common/SimpleDatepicker/utils/helpers.ts
  src/ui/components/common/SimpleDatepicker/utils/index.ts
  src/ui/components/common/SimpleDatepicker/utils/types.ts
  src/ui/registry/units/common/components-map.tsx
  src/ui/registry/units/common/types/components/SimpleDatepicker.ts
  src/ui/units/connections/components/ConnectorForm/components/Datepicker/Datepicker.scss
  src/ui/units/connections/components/ConnectorForm/components/Datepicker/Datepicker.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add @gravity-ui/date-components v2.3.0
  package-lock.json
  package.json
Due: none

Fix term display
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Due: prettier --write, stylelint --fix --quiet

Fix term display (#914)
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1566.0 [release]
  package-lock.json
  package.json
Due: none

Support limited-width labels
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  src/ui/components/common/YCSelect/YCSelect.js
  src/ui/components/common/YCSelect/YCSelect.scss
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/libs/DatalensChartkit/components/Control/Items/withWrapForControls.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Updated dashkit
  package-lock.json
  package.json
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Comments and z-index transition description
  src/ui/components/DashKit/DashKit.scss
Due: prettier --write, stylelint --fix --quiet

Moved keys to constants
  src/server/components/charts-engine/components/markdown-plugins/unify-terms.ts
  src/shared/constants/yfm.ts
Due: none

Add focus grid item z-index (#905)
  package-lock.json
  package.json
  src/server/components/charts-engine/components/markdown-plugins/unify-terms.ts
  src/server/components/charts-engine/components/markdown.ts
  src/shared/constants/yfm.ts
  src/ui/components/DashKit/DashKit.scss
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1567.0 [release]
  package-lock.json
  package.json
Due: none

Enable focusable elements for dashkit
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Enable focusable elements for dashkit (#915)
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1568.0 [release]
  package-lock.json
  package.json
Due: none

Remove new relations & dash filtering flags
  src/ui/components/DashKit/helpers.tsx
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
  tests/opensource-suites/dash/base/loading.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1569.0 [release]
  package-lock.json
  package.json
Due: none

Remove new relations & dash filtering flags (#916)
  src/ui/components/DashKit/helpers.tsx
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
  tests/opensource-suites/dash/base/loading.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1570.0 [release]
  package-lock.json
  package.json
Due: none

Remove os flags: new relations & dash filtering
  src/server/components/features/features-list/ShowFilteringChartSetting.ts
  src/server/components/features/features-list/ShowNewRelations.ts
  src/shared/types/feature.ts
Due: none

Fix on all pages
  package-lock.json
  package.json
  src/ui/components/ActionPanel/ActionPanel.scss
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/ActionPanel/components/ChartSaveControls/ChartSaveControl.scss
  src/ui/components/ActionPanel/components/ChartSaveControls/ChartSaveControl.tsx
  src/ui/components/LandingPage/LandingPage.tsx
  src/ui/components/MobileHeader/MobileHeader.scss
  src/ui/components/MobileHeader/MobileHeaderComponent/MobileHeaderComponent.tsx
  src/ui/components/MobileTocToggle/MobileTocToggle.scss
  src/ui/datalens/index.tsx
  src/ui/units/connections/index.tsx
  src/ui/units/editor/components/EditorPage/EditorPage.js
  src/ui/units/main/containers/ServiceSettings/ServiceSettings.tsx
  src/ui/units/ql/containers/App/App.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix vars
  src/ui/components/MobileHeader/MobileHeader.scss
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.scss
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
