Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Third step replace gallery dialog (#3249)
  src/ui/components/CollectionsStructure/CreatePublicGalleryWorkbookDialog.tsx
  src/ui/registry/units/collections/register.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/CollectionPage/hooks/useBaseCreateWorkbookDialogHandlers.ts
  src/ui/units/collections/components/CollectionPage/hooks/useCreateWorkbookDialogHandlers.ts
  src/ui/units/collections/components/CollectionPage/hooks/useOpenCreateWorkbookDialog.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3584.0 [release]
  package-lock.json
  package.json
Due: none

fix review comments
  src/ui/units/connections/components/ConnectorForm/ConnectorForm.tsx
  src/ui/units/connections/components/Page/filterContextMenuItems.ts
  src/ui/units/connections/components/custom-forms/ChOverYT/ChOverYT.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add shared connection readonly state (#3248)
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.tsx
  src/ui/components/DialogSharedEntryBindings/types.ts
  src/ui/components/DialogSharedEntryPermissions/DialogSharedEntryPermissions.tsx
  src/ui/components/SharedEntryIcon/SharedEntryIcon.tsx
  src/ui/constants/common.ts
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/units/collections/components/constants.ts
  src/ui/units/connections/components/ConnectorForm/ConnectorForm.tsx
  src/ui/units/connections/components/ConnectorForm/FormRow/FormRow.tsx
  src/ui/units/connections/components/Page/ConnPanelActions.tsx
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/Page/components/CreateDatasetButton.tsx
  src/ui/units/connections/components/Page/constants.ts
  src/ui/units/connections/components/Page/filterContextMenuItems.ts
  src/ui/units/connections/components/Page/useAdditionalContextMenuItems.tsx
  src/ui/units/connections/components/Page/utils.ts
  src/ui/units/connections/components/Router/Router.tsx
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/base.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/reducers/index.ts
  src/ui/units/connections/store/typings/index.ts
  src/ui/units/workbooks/components/DeleteSharedEntryDialog/DeleteSharedEntryDialog.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/types/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3585.0 [release]
  package-lock.json
  package.json
Due: none

Refactoring Body
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Body/components/Content/Content.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/DashkitWrapper.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useConfig.ts
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useDashKitContext.ts
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useDashkitRef.ts
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useDataProviderContext.ts
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useHashStates.ts
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useOverlay.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/usePreparedCopyItemOptions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

code improvement
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Body/components/Content/Content.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/DashkitWrapper.tsx
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useDashkitRef.ts
  src/ui/units/dash/containers/Body/components/DashkitWrapper/hooks/useHashStates.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

refactor
  src/ui/units/wizard/actions/dataset.ts
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/reducers/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fifth step replace gallery dialog
  src/ui/registry/units/collections/functionts-map.ts
  src/ui/registry/units/collections/register.ts
  src/ui/registry/units/collections/types/getPublicGalleryEntry.ts
  src/ui/registry/units/collections/types/index.ts
  src/ui/units/collections/components/CollectionContent/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Audit for get endpoints (#3255)
  api/server/types.ts
  src/server/components/public-api/config/v0.ts
  src/server/components/public-api/types.ts
  src/shared/schema/mix/actions/ql.ts
  src/shared/schema/mix/actions/wizard.ts
  src/shared/schema/us/actions/entries/get-entry.ts
  src/shared/schema/us/actions/entries/index.ts
Due: none

Bump version to 0.3586.0 [release]
  package-lock.json
  package.json
Due: none

Improve a11y of RelationDialog field selectors
  src/ui/units/datasets/components/RelationDialog/RelationDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fifth step replace gallery dialog (#3258)
  src/ui/registry/units/collections/functionts-map.ts
  src/ui/registry/units/collections/register.ts
  src/ui/registry/units/collections/types/getPublicGalleryEntry.ts
  src/ui/registry/units/collections/types/index.ts
  src/ui/units/collections/components/CollectionContent/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3587.0 [release]
  package-lock.json
  package.json
Due: none

Add shared entry from link dialog (#3256)
  src/ui/components/DialogAddSharedEntryFromLink/DialogAddSharedEntryFromLink.tsx
  src/ui/components/DialogSelectSharedEntry/DialogSelectSharedEntry.tsx
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/collections/components/constants.ts
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.tsx
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.js
  src/ui/units/workbooks/components/CreateEntry/CreateEntry.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3588.0 [release]
  package-lock.json
  package.json
Due: none

Add entry argument to getSelectStateMenuItem (#3247)
  src/ui/registry/units/common/functions-map.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3589.0 [release]
  package-lock.json
  package.json
Due: none

Add e2e tests
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/html.test.ts/Wizard-Area-chart-Html-legend-color-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/html.test.ts/Wizard-Bar-x-chart-Html-legend-color-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/html.test.ts/Wizard-Line-chart-Html-legend-color-field-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/area/html.test.ts
  tests/opensource-suites/wizard/visualizations/bar-x/html.test.ts
  tests/opensource-suites/wizard/visualizations/line/html.test.ts
Due: none

Add shared dataset icon to wizard (#3244)
  src/shared/types/dataset.ts
  src/ui/units/wizard/actions/dataset.ts
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/components/DatasetSelect/DatasetSelect.tsx
  src/ui/units/wizard/components/DatasetSelect/DatasetSelectItem.scss
  src/ui/units/wizard/components/DatasetSelect/DatasetSelectItem.tsx
  src/ui/units/wizard/reducers/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3590.0 [release]
  package-lock.json
  package.json
Due: none

Fix html legend (#3254)
  src/server/modes/charts/plugins/datalens/preparers/area/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/gravity-charts.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/area/html.test.ts/Wizard-Area-chart-Html-legend-color-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/html.test.ts/Wizard-Bar-x-chart-Html-legend-color-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/html.test.ts/Wizard-Line-chart-Html-legend-color-field-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/area/html.test.ts
  tests/opensource-suites/wizard/visualizations/bar-x/html.test.ts
  tests/opensource-suites/wizard/visualizations/line/html.test.ts
Due: none

Bump version to 0.3591.0 [release]
  package-lock.json
  package.json
Due: none

Improve a11y of RelationDialog field selectors (#3259)
  src/ui/units/datasets/components/RelationDialog/RelationDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3592.0 [release]
  package-lock.json
  package.json
Due: none

Fixes
  api/server/utils.ts
  src/server/configs/opensource/common.ts
Due: none

Bump version to 0.3593.0 [release]
  package-lock.json
  package.json
Due: none

Fixes
  src/server/modes/opensource/app.ts
Due: none

Fix
  src/server/components/public-api/config/v0.ts
  src/server/components/sdk/us.ts
  src/shared/schema/mix/actions/dash/get-dashboard-v1.ts
Due: none

Move type-checking functions from types to utils
  src/shared/modules/dash-scheme-converter.ts
  src/shared/types/dash.ts
  src/shared/utils/dash.ts
  src/shared/utils/index.ts
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/units/dash/containers/Dialogs/components/ColorInputsGroup/ColorInputsGroup.tsx
  src/ui/utils/copyItems.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix editor validation
  src/server/components/charts-engine/components/chart-validator.ts
Due: none

Support new widgets color pickers (#3199)
  src/server/components/features/features-list/EnableDashColorPickersByTheme.ts
  src/shared/constants/widgets.ts
  src/shared/modules/dash-scheme-converter.ts
  src/shared/types/dash.ts
  src/shared/types/feature.ts
  src/shared/utils/dash.ts
  src/shared/utils/index.ts
  src/ui/components/DashKit/DashKit.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Widget/WidgetPlugin.tsx
  src/ui/components/DashKit/plugins/Widget/types.ts
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/components/DialogTitleWidget/useColorSettings.ts
  src/ui/units/dash/containers/App/App.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/containers/Dialogs/components/ColorInputsGroup/ColorInputsGroup.scss
  src/ui/units/dash/containers/Dialogs/components/ColorInputsGroup/ColorInputsGroup.tsx
  src/ui/units/dash/containers/Dialogs/components/ColorPickerInputWithPreset/ColorPickerInputWithPreset.scss
  src/ui/units/dash/containers/Dialogs/components/ColorPickerInputWithPreset/ColorPickerInputWithPreset.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteText/PaletteText.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/utils/copyItems.ts
  src/ui/utils/widgetColors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3594.0 [release]
  package-lock.json
  package.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/dash.control-dialog.edit/ru.json
Due: none

Translated using Weblate (English)
  src/i18n-keysets/dash.control-dialog.edit/en.json
Due: none

Temporarily return getUpdatedBackgroundValue function
  src/ui/utils/copyItems.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translations update from Weblate Gravity for PR #3234 (#3262)
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
Due: none
