Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2318.0 [release]
  package-lock.json
  package.json
Due: none

Remove CE (#1783)
  package-lock.json
  package.json
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/__tests__/dependencies.test.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/dependencies.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/function-timeout.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-modules-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-sandbox-chart-builder.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/isolated-tab-sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/prepare.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/require-shim.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/sandbox.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/utils.ts
  src/server/components/charts-engine/runners/editor.ts
  src/server/components/charts-engine/runners/serverlessEditor.ts
Due: none

Bump version to 0.2319.0 [release]
  package-lock.json
  package.json
Due: none

Small fixes
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.tsx
  src/ui/hooks/useUpdateEffect.ts
  src/ui/units/dash/containers/TableOfContent/TableOfContent.tsx
  src/ui/units/dash/utils/scrollUtils.ts
  src/ui/utils/scrollUtils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Translated using Weblate (English)
  src/i18n-keysets/dash.title-dialog.edit/en.json
Due: none

Translated using Weblate (Russian)
  src/i18n-keysets/dash.title-dialog.edit/ru.json
Due: none

Translations update from Weblate Gravity for PR #1784 (#1785)
  src/i18n-keysets/dash.title-dialog.edit/en.json
  src/i18n-keysets/dash.title-dialog.edit/ru.json
Due: none

Fix pinned subtotal cells
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-2.png
  tests/opensource-suites/wizard/visualizations/pivot-table/pinned-columns.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox-runtime.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix relations for widget tabs with the same chartId
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/useRelations.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Improving the api for working with the chart in the ui-sandbox (#1778)
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox-runtime.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/constants.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2320.0 [release]
  package-lock.json
  package.json
Due: none

size setting for old tables
  src/server/components/features/features-list/TableSize.ts
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/shared/constants/charts.ts
  src/shared/types/charts.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/feature.ts
  src/shared/types/wizard/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/BackgroundTable.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.scss
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add initial value for widgetsCurrentTab
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix relations for widget tabs with the same chartId (#1787)
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/useRelations.tsx
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2321.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
Due: prettier --write, stylelint --fix --quiet

Update screenshots
  tests/opensource-suites/__screenshots__/charts/preview/widget-width.test.ts/Charts-Preview-Table-widget-must-be-the-same-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-for-null-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-for-zero-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-column-background-color-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-manual-aee01-ax-value-is-less-than-the-actual-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/pinned-columns.test.ts/Wizard-Flat-table-Pinned-columns-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/pinned-columns.test.ts/Wizard-Flat-table-Pinned-columns-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/pinned-columns.test.ts/Wizard-Flat-table-Pinned-columns-screenshot-3.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Correct-order-of-rows-when-scrolling-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Correct-order-of-rows-when-scrolling-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Dynamic-column-width-during-row-virtualization-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Dynamic-column-width-during-row-virtualization-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-The-correct-placement-of-the-totals-row-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Coloring-zero-values-with-a-gradient-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Custom-palette-bar-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Two-colors-bar-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Two-colors-bar-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/column-settings.test.ts/Wizard-Pivot-table-Columns-width-for-complex-three-level-header-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/formatting.test.ts/Wizard-Pivot-table-Null-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Complex-three-level-header-in-the-table-head-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Complex-three-level-header-in-the-table-rows-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Grouping-rows-with-markup-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Grouping-rows-with-the-same-value-in-the-previous-column-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/totals.test.ts/Wizard-Pivot-table-Subtotals-for-Rows-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-Correct-order-of-rows-when-scrolling-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-Correct-order-of-rows-when-scrolling-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-Scroll-for-tables-with-row-grouping-and-fixed-column-width-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-The-correct-placement-of-the-totals-row-screenshot-1.png
Due: none

Fix pinned subtotal cells (#1786)
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-2.png
  tests/opensource-suites/wizard/visualizations/pivot-table/pinned-columns.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.2322.0 [release]
  package-lock.json
  package.json
Due: none

The _chart_type parameter should not override the visualization type in wizard
  src/ui/units/wizard/containers/Wizard/SectionPreview/SectionPreview.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Allow override E2E tests action timeout
  tests/playwright.config.ts
Due: none

Allow override E2E tests action timeout (#1789)
  tests/playwright.config.ts
Due: none

Bump version to 0.2323.0 [release]
  package-lock.json
  package.json
Due: none

Fix the display of negative Y values in the bar-x chart
  src/server/modes/charts/plugins/datalens/preparers/bar-x/d3.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/negative-values.test.ts/Wizard-Bar-x-chart-Negative-Y-values-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/bar-x/negative-values.test.ts
Due: none

Cleanup ce files
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/bundled-libs.ts
Due: none

Update negative-values.test.ts
  tests/opensource-suites/wizard/visualizations/bar-x/negative-values.test.ts
Due: none

Fix view
  src/i18n-keysets/dash.title-dialog.edit/en.json
  src/i18n-keysets/dash.title-dialog.edit/ru.json
  src/shared/constants/qa/components.ts
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.tsx
  src/ui/components/DashKit/plugins/Title/AnchorLink/AnchorLink.tsx
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/units/dash/utils/scrollUtils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix lint
  src/shared/schema/us/types/embeds.ts
  src/ui/components/DashKit/plugins/Title/Title.scss
Due: prettier --write, stylelint --fix --quiet

Add ability to hide asideHeader
  src/ui/store/actions/asideHeader/index.ts
  src/ui/store/reducers/asideHeader.ts
  src/ui/store/selectors/asideHeader.ts
  src/ui/store/typings/asideHeader.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add ability to hide asideHeader (#1792)
  src/ui/store/actions/asideHeader/index.ts
  src/ui/store/reducers/asideHeader.ts
  src/ui/store/selectors/asideHeader.ts
  src/ui/store/typings/asideHeader.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.2324.0 [release]
  package-lock.json
  package.json
Due: none

Fix the display of negative Y values in the bar-x chart (d3) (#1790)
  src/server/modes/charts/plugins/datalens/preparers/bar-x/d3.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/negative-values.test.ts/Wizard-Bar-x-chart-Negative-Y-values-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/bar-x/negative-values.test.ts
Due: none

Bump version to 0.2325.0 [release]
  package-lock.json
  package.json
Due: none

Refactoring
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Title/AnchorLink/AnchorLink.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/utils/scrollUtils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Cleanup CE files (#1791)
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/bundled-libs.ts
Due: none

Bump version to 0.2326.0 [release]
  package-lock.json
  package.json
Due: none

Fixes
  src/shared/schema/us/types/embeds.ts
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fixes in logic
  src/shared/schema/us/types/embeds.ts
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/Title/AnchorLink/AnchorLink.tsx
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/mixins.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
