Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ],
    "src/i18n-keysets/**/!({keyset,context}).json": [
      "node scripts/i18n-keysets-sort.js"
    ]
}

Bump version to 0.3358.0 [release]
  package-lock.json
  package.json
Due: none

Some improvements in the bar-y charts
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/comments.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/coloring.test.ts/Wizard-Bar-y-chart-Coloring-by-measure-field-gradient-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add sources pagination to datasets
  src/server/components/features/features-list/EnableDatasetSourcesPagination.ts
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/bi/types/datasets.ts
  src/shared/types/dataset.ts
  src/shared/types/feature.ts
  src/shared/zod-schemas/dataset.ts
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.scss
  src/ui/units/datasets/components/SelectSourcePrototypes/SourcesTable.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/constants.ts
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.js
  src/ui/units/datasets/store/actions/creators/dataset.js
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/creators/utils.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/constants.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/selectors/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
Due: none

disable lint warning, rename action, set revision only entri exist
  src/ui/units/connections/components/ConnectorForm/FormActions/FormActions.tsx
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

remove export
  src/ui/units/connections/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Some improvements in the bar-y charts + reload option for chart widget (#3000)
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/comments.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/coloring.test.ts/Wizard-Bar-y-chart-Coloring-by-measure-field-gradient-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3359.0 [release]
  package-lock.json
  package.json
Due: none

Update chartkit 7.31.1 -> 7.14.0
  package-lock.json
  package.json
Due: none

Add await for editor handlers (#3006)
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/components/charts-engine/controllers/run.ts
  src/server/components/charts-engine/runners/common.ts
  src/server/components/charts-engine/runners/control.ts
  src/server/components/charts-engine/runners/index.ts
  src/server/components/charts-engine/runners/worker.ts
Due: none

Bump version to 0.3360.0 [release]
  package-lock.json
  package.json
Due: none

Add connection revisions (#2985)
  src/i18n-keysets/component.revisions-panel.view/en.json
  src/i18n-keysets/component.revisions-panel.view/ru.json
  src/server/components/features/features-list/EnableConnectionRevisions.ts
  src/shared/schema/bi/actions/connections.ts
  src/shared/schema/bi/schemas/connections.ts
  src/shared/schema/bi/types/common.ts
  src/shared/schema/bi/types/connections.ts
  src/shared/types/feature.ts
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.tsx
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/RevisionsPanel/utils.ts
  src/ui/units/connections/components/ConnectorForm/FormActions/FormActions.tsx
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/typings/index.ts
  src/ui/units/connections/utils/connectors.ts
  src/ui/utils/getRevisionsPanelEntryScopesTexts.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.3361.0 [release]
  package-lock.json
  package.json
Due: none

Update chartkit 7.13.1 -> 7.14.0 (#3010)
  package-lock.json
  package.json
Due: none

Bump version to 0.3362.0 [release]
  package-lock.json
  package.json
Due: none

replace types
  src/shared/schema/bi/types/datasets.ts
  src/ui/units/datasets/components/SourceEditorDialog/components/InputFormItem.tsx
  src/ui/units/datasets/components/SourceEditorDialog/components/SelectFormItem.tsx
  src/ui/units/datasets/components/SourceEditorDialog/utils/helpers.ts
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/types/dataset.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Allow html in scatter and bar-y axes labels
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/gravity-charts.ts
Due: none

Allow html in scatter and bar-y axes labels (#3011)
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/gravity-charts.ts
Due: none

Bump version to 0.3363.0 [release]
  package-lock.json
  package.json
Due: none

Add ff EnableCommonChartDashSettings
  src/server/components/features/features-list/EnableCommonChartDashSettings.ts
  src/shared/types/feature.ts
Due: none

Change default dashboard bg-colors
  src/ui/libs/DatalensChartkit/Error/Error.scss
  src/ui/styles/variables.scss
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

leave fallback color variable
  src/ui/libs/DatalensChartkit/Error/Error.scss
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

Fix the legend display with custom thresholds
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/legend.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/highcharts.ts
  src/server/modes/charts/plugins/datalens/utils/__tests__/get-gradient-stops.test.ts
  src/server/modes/charts/plugins/datalens/utils/get-gradient-stops.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
Due: prettier --write, stylelint --fix --quiet

Change default dashboard bg-colors (#2998)
  src/server/components/features/features-list/EnableCommonChartDashSettings.ts
  src/shared/types/feature.ts
  src/ui/libs/DatalensChartkit/Error/Error.scss
  src/ui/styles/variables.scss
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.3364.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/chartkit 7.14.0 -> 7.15.0
  package-lock.json
  package.json
Due: none

fix
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/legend.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/gravity-charts.ts
Due: none

Increase E2E_MAX_WORKERS (6 -> 12)
  .github/workflows/e2e_tests.yml
Due: none

Update @gravity-ui/chartkit 7.14.0 -> 7.15.0 (#3013)
  package-lock.json
  package.json
Due: none

Bump version to 0.3365.0 [release]
  package-lock.json
  package.json
Due: none

fix
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-2.png
Due: prettier --write, stylelint --fix --quiet

Remove multisource field
  src/shared/schema/bi/types/datasets.ts
  src/ui/units/datasets/store/actions/creators/dataset.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix the legend display with custom thresholds (#3012)
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/legend.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/highcharts.ts
  src/server/modes/charts/plugins/datalens/utils/__tests__/get-gradient-stops.test.ts
  src/server/modes/charts/plugins/datalens/utils/get-gradient-stops.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-2.png
Due: none

Bump version to 0.3366.0 [release]
  package-lock.json
  package.json
Due: none

bar-y with percent stacking - tooltip
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  tests/utils/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

bar-y with percent stacking - tooltip (#3015)
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  tests/utils/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.3367.0 [release]
  package-lock.json
  package.json
Due: none

sort bar-y series by stack and group values
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
Due: none

fix
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
Due: none

Update dev readme
  README.md
Due: none
